{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "hub_reset_router"
      },
      {
        text: "Manure imports and exports"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Livestock manure imports and exports</h1>

<div class="govuk-grid-row">
  <div id="all-plans-table" class="govuk-grid-column-two-thirds">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Harvest year</th>
            <th scope="col" class="govuk-table__header">Last modified</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body"> 
          {% if data.oaktree_farm.exports_added == true %} 
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2026</td>
              <td class="govuk-table__cell">{{data.content.todays_date}}</td>
              <td class="govuk-table__cell"><a href="export_year_handler?harvest_date=2026">Update 2026 imports or exports</a></td>
            </tr>
          {% else %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2026</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a href="export_year_handler?harvest_date=2026">Add 2026 imports or exports</a></td>
            </tr>
          {% endif %}
          {% if data.oaktree_farm.exports_added == true %} 
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2025</td>
                <td class="govuk-table__cell">{{data.content.todays_date}}</td>
                <!-- <td class="govuk-table__cell">{{data.content.todays_date}}</td> -->
                <td class="govuk-table__cell"><a href="export_year_handler?harvest_date=2025">Update 2025 imports or exports</a></td>
                <!-- <td class="govuk-table__cell"><a href="crop_plan_year_handler?">Add 2025 livestock</a></td> -->
              </tr>
            {% else %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2025</td>
                <td class="govuk-table__cell">-</td>
                <!-- <td class="govuk-table__cell">{{data.content.todays_date}}</td> -->
                <td class="govuk-table__cell"><a href="export_year_handler?harvest_date=2025">Add 2025 imports or exports</a></td>
                  <!-- <td class="govuk-table__cell"><a href="crop_plan_year_handler?">Add 2025 livestock</a></td> -->
              </tr>
            {% endif %}
            {% if data.oaktree_farm.exports_added == true %}   
              <th scope="row" class="govuk-table__header">2024</td>
                <td class="govuk-table__cell">{{data.content.todays_date}}</td>
                <!-- <td class="govuk-table__cell">{{data.content.todays_date}}</td> -->
                <td class="govuk-table__cell"><a href="export_year_handler?harvest_date=2024">Update 2024 imports or exports</a></td>
              </tr>
            {% else %}  
              <th scope="row" class="govuk-table__header">2024</td>
                <td class="govuk-table__cell">-</td>
                <!-- <td class="govuk-table__cell">{{data.content.todays_date}}</td> -->
                <td class="govuk-table__cell"><a href="export_year_handler?harvest_date=2024">Add 2024 imports or exports</a></td>
              </tr>
            {% endif %}  
          </tbody>
      </table>     

  </div>
</div>

{% endblock %}