{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a farm - farm name – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  <!-- {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <h1 class="govuk-heading-l">Find weather data based on postcode</h1>

      <p class="govuk-body">We can't find weather data for NE1 111. You can find rainfall and other weather information by entering a postcode near to Oaktree Lane Farm.</p>
      
      <p class="govuk-body"> You can use the Post office lookup service to find a postcode in your location</p>
      
      <p class="govuk-body margin-bottom-forty"><a target="_blank" href='https://www.royalmail.com/find-a-postcode'>Find a postcode in your location</a> (opens in a new window)</p>
      
      <form action="" method="post" novalidate="" autocomplete="off">      

          <div class="govuk-form-group">
          <label class="govuk-label" for="farm_postcode">What is the nearest postcode?</label>

          <input class="govuk-input govuk-input--width-5" id="farm_postcode" name="farm_postcode" type="text" autocomplete="">
        </div>

        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
          
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

      </div>
  </div>

{% endblock %}
