{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add crops -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What is the sward in these fields in {{data.oaktree_farm.harvest_year -1}}?
    </h1>

    <form class="form" action="sowdate_question" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spring" name="season_name" type="radio" value="spring">
              <label class="govuk-label govuk-radios__label" for="spring">
                Spring sown (April to June)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="summer" name="season_name" type="radio" value="summer">
              <label class="govuk-label govuk-radios__label" for="summer">
                Summer or autumn sown (July to mid-October)
              </label>
            </div>
          </div>
        </fieldset>
                    
      </div>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>


{% endblock %}
