{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add crops -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% if data.manure_spreads == 0 %}
    {% set manure_count = "first" %}
  {% else %}
    {% set manure_count = "Continue" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <h1 class="govuk-heading-l">
        {% if data.sow_option_one == "single" %}
        What is the sowing date for {{data.chosen_crop | nameconverter}} in these fields?
      {% else %}
        What is the sowing date for {{data.chosen_crop | nameconverter}} in {{data.crop_fields[0].name | nameconverter}}?
      {% endif %}
      </h1>

      <p class="govuk-hint">If you do not know the exact sowing date enter an estimate. You can change it later.
      <p class="govuk-hint">The date format is 21 06 2025</p>

      <form class="form" action="sward_type" method="post">

        <div class="govuk-form-group">
            <div class="govuk-date-input" id="sow-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="sow_date_day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sow_date_day" name="sow_date_day" type="number" autocomplete="off" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="sow_date_month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sow_date_month" name="sow_date_month" type="number" autocomplete="off" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="sow_date_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sow_date_year" name="sow_date_year" type="number" autocomplete="off" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- <div class="govuk-form-group">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="alldate" name="alldate" type="checkbox" value="yes">
            <label class="govuk-label govuk-checkboxes__label" for="alldate">
              Use this date for the rest of the fields in this plan
            </label>
          </div>
        </div> -->

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
