<table class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Crop</th>
      <th scope="col" class="govuk-table__header">N-max compliant</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Winter Wheat</td>
      <td class="col_2 govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Grass</td>
      <td class="col_2 govuk-table__cell">No</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Vegetable group 1 fields</td>
      <td class="col_2 govuk-table__cell">Yes</td>
    </tr>
  </tbody>
</table>