{% macro monthitem(name) %}
  <tr>
    <td class="govuk-table__cell">{{name}}</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell"><a href="">Change</a></td>
  </tr>
{% endmacro %}



<div class="margin-bottom-thirty">
  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Month</th>
        <th scope="col" class="govuk-table__header">Number</th>
        <th scope="col" class="govuk-table__header">Manure system</th>
        <th scope="col" class="govuk-table__header">Occupancy</th>
        <th scope="col" class="govuk-table__header">Bedding factor</th>
        <th scope="col" class="govuk-table__header">Bedding per month</th>
        <th scope="col" class="govuk-table__header">Slurry separated</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>				
      </thead>
      <tbody class="govuk-table__body">
        {{ monthitem("October") }}
        {{ monthitem("November") }}
        {{ monthitem("December") }}
        {{ monthitem("January") }}
        {{ monthitem("February") }}
        {{ monthitem("March") }}
        {{ monthitem("April") }}
        {{ monthitem("May") }}
        {{ monthitem("June") }}
        {{ monthitem("July") }}
        {{ monthitem("August") }}
        {{ monthitem("September") }}

      </tbody>
  </table>
</div>