{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.show_manure_notification == true %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              The date you entered is inside the closed spreading period of 1 October to 31 January.
            </p>
            <p class="govuk-body"><a class="govuk-notification-banner__link" target="_blank" href="https://www.gov.uk/guidance/using-nitrogen-fertilisers-in-nitrate-vulnerable-zones#:~:text=If%20the%20land%20is%20irrigated,500kg%20of%20nitrogen%20per%20hectare.">Find out more (opens in a  new window)</a></p>
          </div>
        </div>
      {% endif %}

      <!-- <h1 class="govuk-heading-l">
        {% if data.manure_count == 0 %}
          {% if data.manure_journey == 'multi' %}
            When are you applying {{data.manure_type.name}} on these fields?
          {% else %}
            When are you applying {{data.manure_type.name}} on {{data.chosen_field.name}}?
          {% endif %}
        {% else %}
          {% if data.manure_journey == 'multi' %}
            When are you applying {{data.manure_type.name}} on these fields?
          {% else %}
            When are you applying {{data.manure_type.name}} on {{data.chosen_field.name}}?
          {% endif %}
        {% endif %}
      </h1> -->

      <h1 class="govuk-heading-l">
        Your closed period for spreading organic manures with high readily available nitrogen is:<br> 1 October 2024 to 31 January 2025
      </h1>

      <p class="govuk-body">Based on your crop, soil type and farm details.</p>

      <h2 class="govuk-heading-m">
        When are you applying poultry manure on these fields?
      </h2>

      <!-- <p>Enter the estimated date you first plan to apply {{data.content.organic_term | lower}} to the Winter Wheat fields, you can change the date for individual fields later.</p> -->

      <form class="form" action="manure_date_handler" method="post">

        <div class="govuk-form-group">

          <p class="govuk-body">
            If you don't know the exact application date enter an estimate. You can change it later.
          </p>
          <div class="govuk-hint">
            The date format is '21 06 2024'.
          </div>

          <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
