{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Conditions affecting the loss of nutrients from your organic materials
      </h1>

      <p class="govuk-body">
        These values are used to calculate how effective this organic material application is.
      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About these values
          </span>
        </summary>
        <div class="govuk-details__text explanations">

          <!-- <p>The effectiveness of your organic material application, and the amount of inorganic fertiliser you need, will vary depending on these conditions.</p> -->

          <h3 class="govuk-heading-s">Autumn crop Nitrogen uptake</h3>
          <p class="govuk-body">Amount of N from the application taken up by the crop in the autumn.</p>

          <h3 class="govuk-heading-s">End of soil drainage</h3>
          <p class="govuk-body">Date when soil drainage ends and the soil begins to dry out.</p>
              

          <h3 class="govuk-heading-s">Rainfall within 6 hours of application</h3>
          <p class="govuk-body">Amount of rain that falls in the 6 hours after the material is applied.</p>


          <h3 class="govuk-heading-s">Effective rainfall after application</h3>
          <p class="govuk-body">Average rainfall between manure application and end of soil drainage.</p>

                
          <h3 class="govuk-heading-s">Windspeed during application</h3>
          <p class="govuk-body">Windspeed when the material is applied.</p>

          <h3 class="govuk-heading-s">Topsoil moisture</h3>
          <p">How moist the topsoil is when the material is applied.</p>

          </div>
      </details>

      <table id="conditions_table" class="govuk-table">
        <tbody class="govuk-table__body">
          {% if data.manure_journey == 'multi' %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Autumn crop Nitrogen uptake</th>
              <td class="govuk-table__cell">The amount is different for each of these fields</td>
              <td class="govuk-table__cell"><a href="manure_uptake_total">Change</a></td>
            </tr>
          {% else %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Autumn crop Nitrogen uptake</th>
              <td class="govuk-table__cell">10kg per per hectare</td>
              <td class="govuk-table__cell"><a href="manure_nitrogen">Change</a></td>
            </tr>
          {% endif %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">End of soil drainage</th>
            <td class="govuk-table__cell">31 March 2024</td>
            <td class="govuk-table__cell"><a href="manure_drainage">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rainfall within 6 hours of application</th>
            <td class="govuk-table__cell">0 mm</td>
            <td class="govuk-table__cell"><a href="manure_rain_six">Change</a></td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell">Effective rainfall after application</th>
            <td class="govuk-table__cell">This is different for each of these fields, the average is 326mm</td>
            <td class="govuk-table__cell"><a href="manure_rain_total">View</a></td>
          </tr> -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Windspeed during application</th>
            <td class="govuk-table__cell">Calm/gentle (0 - 3 Beaufort scale)</td>
            <td class="govuk-table__cell"><a href="manure_wind">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Topsoil moisture</th>
            <td class="govuk-table__cell">Moist</td>
            <td class="govuk-table__cell"><a href="manure_moisture">Change</a></td>
          </tr>
        </tbody>
      </table>

      <form action="check" method="post" novalidate="">
        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

  </div>

</div>

{% endblock %}