{% extends "layouts/main.html" %}

{% block pageTitle %}
Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

{% set back_url = 'hub_message_reset' %}

{% if data.export_type == 8 %}
  {% set back_url = '/outputs/inventory/checklist' %}
{% elif data.export_type == 4 %}
  {% set back_url = '/outputs/n_loading/checklist' %}
{% endif %}  

{{ govukBackLink({
  text: "Back",
  href: back_url
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}
      {% include "./templates/manage/success_message.html" ignore missing %}
    {% endif %}
    
    <span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span>
    <h1 class="govuk-heading-l add_sub" id="header">Livestock details</h1>
    <h2 class="govuk-heading-m margin-bottom-thirty">
        October 2024 and September 2025
    </h2>
    
    {% if data.show_success_message != true %}
      <div class="govuk-inset-text margin-bottom-forty">
        <p class="govuk-body">
          To create an organic manures inventory and NVZ organic material storage report, enter the livestock on {{data.oaktree_farm.name}} between October 2024 and September 2025.
        </p>
        <p class="govuk-body">
          <a href="/outputs/inventory/checklist">Create an organic manures inventory and NVZ organic material storage report</a>
        </p>
      </div>
    {% endif %}   
    
    <form class="margin-bottom-ten" action="reset_add_inventory_lstock" method="post" novalidate="">    
      <button class="govuk-button" data-module="govuk-button">
        Add a livestock type
      </button>
    </form>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="margin-bottom-thirty">
    {% include "./templates/manage/livestock_tables.html" ignore missing %}

  </div>
</div>

{% endblock %}