{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is the main manure system in October for this livestock type?
      </h1>

      <p class="govuk-body">
        Selected livestock type: {{data.chosen_livestock.name | capitalize}}
      </p>

      <form action="separated" method="post" novalidate="">

        <div class="govuk-form-group margin-bottom-thirty">
          <!-- <label class="govuk-label" for="livestock_occupancy">
            What is the manure system in January?
          </label> -->
          <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive"  type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Mostly solid manure
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Mostly slurry
                </label>
              </div>
          </div>
        </div>
        
        <div class="margin-bottom-forty">
          <p></p>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
