{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

{{ govukBackLink({
  text: "Create an Create an organic manure inventory and NVZ storage requirement report for 2025",
  href: "/outputs/inventory/checklist"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- {% if data.show_success_message == true %}
        {% include "./templates/system/success_message.html" ignore missing %}
      {% endif %} -->

      <h1 class="govuk-heading-l">Add the manure collection details for each livestock type</h1>
      <form action="numbers" method="post" novalidate="">
        <button type="submit" class="govuk-button govuk-button--secondary margin-bottom-fifty" data-module="govuk-button">
          Add or remove livestock
        </button>
      </form>

      <!-- <h2 class="govuk-heading-m">Mechanical separation</h2>
      <div class="margin-bottom-forty">
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/outputs/inventory/separator" aria-describedby="task-list-1-status">
                Mechanical separation
              </a>
            </div>
            <div class="govuk-task-list__status" id="task-list-1-status">
              Completed
            </div>
          </li>
        </ul>
      </div> -->

      <!-- <h2 class="govuk-heading-m">Livestock types</h2> -->
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m non-standard">Manure collection details</h2>
        {% include "./templates/system/livestock_system_tables.html" ignore missing %}

        <form action="../checklist" method="post" novalidate="">
          <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
            Save and continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}