{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        October 2024 slurry and bedding totals for this cattle type
      </h1>

      <p class="govuk-body">
        Selected livestock type: {{data.chosen_livestock.name | capitalize}}
      </p>

      <form action="water_volume" method="post" novalidate="">

                  <div class="govuk-form-group">
                              <label class="govuk-label" for="livestock_number">
            Hose type
          </label>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" checked="checked" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Solid manure (mainly)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Slurry (mainly)
                </label>
              </div>
          </div>

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            Daily volume
          </label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" value="40" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
          </div>
        </div>

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            Number of wash days
          </label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" value="1.30" type="text" spellcheck="false" autocomplete="off">
            <!-- <div class="govuk-input__suffix" aria-hidden="true">%</div> -->
          </div>
        </div>

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            Floor area washed
          </label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" value="14.4" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
          </div>
        </div>

        <div class="govuk-form-group margin-bottom-forty">
          <h3 class="govuk-heading-s">Use these answers for the following months</h3>
          <p class="govuk-hint">Select this box to use these numbers for all following months. You can change the copied numbers.</p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Use these answers for the following months
              </label>
            </div>
          </div>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
