{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add crops -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How do you want to enter the expected yield?
    </h1>

    <form class="form" action="yield_questiontwo_router" method="post">

      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="single" name="yield_option_two" type="radio" value="single">
            <label class="govuk-label govuk-radios__label" for="single">
              Enter a single figure for all these fields
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="different" name="yield_option_two" type="radio" value="different">
            <label class="govuk-label govuk-radios__label" for="different">
              Enter different figures for each field
            </label>
          </div>

          {% if data.crop_group != 'other' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rb209" name="yield_option_two" type="radio" value="rb209">
              <label class="govuk-label govuk-radios__label" for="rb209">
                Use the standard figure of 4 Tonnes per hectare for all these fields
              </label>
            </div>
          {% endif %}
      
        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>


{% endblock %}