{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you want to move this field to another crop group, or create a new one?
      </h1>

      <!-- <p>You can add or change a planting date later.</p> -->

      <form class="form" action="group_name" method="post">

        <div class="govuk-form-group">

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="single" name="change_group" type="radio" value="single">
                <label class="govuk-label govuk-radios__label" for="single">
                  Add to crop group 2
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="different" name="change_group" type="radio" value="different">
                <label class="govuk-label govuk-radios__label" for="different">
                  Add to crop group 4 (My Great Group)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="change_group" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">
                  Create a new crop group
                </label>
              </div>
            
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}










