<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Crop type</td>
      <td class="govuk-table__cell">{{data.chosen_crop | nameconverter}}</td>
    </tr>   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Field use</td>
      <td class="govuk-table__cell">Grazing and Hay</td>
    </tr>         
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Defoliations</td>
      <td class="govuk-table__cell">
        1. Cut</br>
        2. Cut</br>
        3. Graze</br>
        4. Graze
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Dry matter yield</td>
      <td class="govuk-table__cell">10 - 13 tonnes per hectare</td>
    </tr>      
  </tbody>
</table>  