{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.manure_system == 'slurry' %}
  {% set manurevalue = 100  %}
{% else %}
  {% set manurevalue = 40  %}
{% endif %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <form action="bedding" method="post" novalidate="">

        <h1 class="govuk-heading-l">
          How much is of this livestock type's manure is collected as slurry?
        </h1>
        
        <p>Selected livestock type: {{data.chosen_livestock.name | capitalize}}</p>
        

        <div class="margin-bottom-thirty"></div>

          <div class="govuk-form-group">
            <!-- <label class="govuk-label" for="slurry_percentage">
              What is the Nitrogen (N) standard per animal, per year?
            </label> -->
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="slurry_percentage" name="slurry_percentage" value={{manurevalue}} type="text" spellcheck="false" autocomplete="off">
              <div class="govuk-input__suffix" aria-hidden="true">percent</div>
            </div>
          </div>

        <div class="margin-bottom-forty"></div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/version_7/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
