{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{data.oaktree_farm.name}} {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check your 2025 data
      </h1>

      <h3 class="govuk-heading-s">
        Your 2025 plan was last updated on 22 September 2025.
      </h3>

      <p class="govuk-body">
       Your 2026 recommendations will be based on your 2025 data, so it is important that it is up to date.
      </p>

      <p class="govuk-body">You should check:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>soil analysis for each field</li>
        <li>organic and inorganic material applications</li>
        <li>crop planting dates</li>
        <li>yields of any arable crops</li>
        <li>cuts, grazings and the yield of any grass fields</li>
      </ul>

      <p class="govuk-body">
        <a href="../farm/crop_plan/plan_view">Check your 2025 plan</a>
      </p>

      <p class="govuk-body">
        <a href="create_next">Continue to create a plan for 2026</a>
      </p>


      <br>
      <!-- <form class="form" action="" method="post">
        {{ govukButton({
          text: "Continue to"
        }) }}
      </form> -->

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
