{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farmer's name"
      },
      value: {
        text: "Mr Smith"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Business name"
      },
      value: {
        text: "Smith and Sons"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Single Business Identifier"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Total farm area (hectares)"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Average altitude (metres)"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm average annual rainfall (mm)
        "
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Are you a registered organic producer?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}