{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farm name"
      },
      value: {
        text: "Oaktree Lane Farm"
      }
    },
    {
      key: {
        text: "Farm address"
      },
      value: {
        text: "South Road, Hexham, Northumberland"
      }
    },
    {
      key: {
        text: "Post code"
      },
      value: {
        text: "NE46 7LQ"
      }
    },
    {
      key: {
        text: "CPH Number"
      },
      value: {
        text: " "
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm STD code"
      },
      value: {
        text: "01954"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm average annual rainfall"
      },
      value: {
        text: "40 mm"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}