{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_signed_in_first.html" ignore missing %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% if data.show_success_message == true %}
      {% include "./templates/success_messages" ignore missing %}
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Plan and manage nutrient applications
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- no farms added -->
    {% if data.oaktree_farm.setup == false %}

      <p class="govuk-body margin-bottom-thirty">
        To create nutrient management plans or NVZ reports, add a farm.
      </p>
      
      <form class="form" action="about_nmpt" method="post">
        {{ govukButton({
          text: "Add a farm"
        }) }}
      </form>

    {% else %}

      <!-- farms added -->
      <p class="govuk-hint">
        To create or update a nutrient management plan, or to save an NVZ report, select an existing farm, or add a new one.
      </p>
      
      <form class="form" action="/add-farm/name" method="post">
        {{ govukButton({
          text: "Add a farm"
        }) }}
      </form>

      <h2 class="govuk-heading-m">Your farms</h2>
      <ul class="govuk-list govuk-list--spaced">
        <li>          
          <a class="govuk-notification-banner__link" href="hub_message_reset"> {{data.oaktree_farm.name}}</a> 
        </li>              
        <li>          
          <a class="govuk-notification-banner__link" href="hub_message_reset"> Dusty Farm</a> 
        </li>
        <li>          
          <a class="govuk-notification-banner__link" href="hub_message_reset"> Hopper's Farm</a> 
        </li>              
      </ul>
      
    {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s margin-bottom-ten padding-top-five">Options</h2>
    <p class="govuk-body">You can also
        {% if data.manner_applications.length == 0 %}
          <a class="govuk-link" href="/manner/about_manner">estimate nutrient supply from organic material</a> <br>using MANNER-NPK
        {% else %}
          <a class="govuk-link" href="/manner/previous_calculations">Create a nutrient supply estimate (MANNER-NPK)</a> <br>using MANNER-NPK
        {% endif %}
      </p> 
      <p class="govuk-body margin-bottom-ten">
        
      </p> 
  </div>
</div>

{% endblock %}