{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in_first.html" ignore missing %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div id="all-plans-table" class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}
      {% include "./templates/success_messages" ignore missing %}
    {% endif %}

    <h1 class="govuk-heading-xl margin-bottom-forty">
      Plan and manage nutrient applications
    </h1>

    <h2 class="govuk-heading-m">Your farms</h2>
    <!-- <p>Create a nutrient management plan, or an NVZ report, for a farm.</p> -->

      {% if data.oaktree_farm.setup == false %}
        <p class="govuk-body">
          You have not added any farms.
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="../add-farm/name">Manually add a farm</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="">Import data from a PLANET file</a>
        </p>

        <!-- <form class="form" action="/add-farm/name" method="post">
          {{ govukButton({
            text: "Add a farm"
          }) }}
        </form> -->
      {% else %}

        <!-- <p class="govuk-hint">You have 7 farms.</p> -->
        <div class="margin-bottom-forty">
          <p class="govuk-body">
            <a class="govuk-notification-banner__link" href="hub_message_reset">{{data.oaktree_farm.name}}</a> 
          </p>
          <!-- <p class="govuk-body">
            <a class="govuk-notification-banner__link" href="farm_name_setter?name=Shaw House">Shaw House</a> 
          </p>
          <p class="govuk-body">
            <a class="govuk-notification-banner__link" href="farm_name_setter?name=Bonnie farm">Bonnie farm</a> 
          </p>
          <p class="govuk-body">
            <a class="govuk-notification-banner__link" href="farm_name_setter?name=Hooper's">Hooper's</a> 
          </p>
          <p class="govuk-body">
            <a class="govuk-notification-banner__link" href="farm_name_setter?name=Longridge">Longridge</a> 
          </p> -->
        </div>

        <!-- <nav class="govuk-pagination" aria-label="Pagination">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
 -->
        <hr class="separator_forty">

        <div class="margin-bottom-forty">
          <h3 class="govuk-heading-m">Add a new farm</h3>
          <p class="govuk-body">
            <a class="govuk-link" href="../add-farm/name">Manually add a farm</a>
          </p>
          <p class="govuk-body">
            <a class="govuk-link" href="">Import data from a PLANET file</a>
          </p>
        </div>
        

      {% endif %}

      <hr class="separator_forty">

      <!-- MANNER -->
      <div>
        <h2 class="govuk-heading-m">Estimate nutrient supply from organic materials (MANNER-NPK)</h2>
        <p class="govuk-body">Estimate crop-available nitrogen (N), phosphate (P2O5), potash (K2O), magnesium (MgO) and sulphur (SO3) supply from organic manures. Calculate the financial value of manure nutrients.</p>
        {% if data.oaktree_farm.fields_added == true  %}
          <ul class="menu-list govuk-list govuk-list--spaced">
            <li>
              <a class="govuk-link" href="../manner/about">Create a nutrient supply estimate</a>
            </li>
          </ul>
          {% else %}
            <p><a href="field_add_reset_handler">Create a nutrient estimate</a></p>
          {% endif %}
      </div>

      
  </div>
</div>

{% endblock %}