{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block content %}

{% set plan_2025 = false %}
{% set plan_2026 = false %}
{% set plan_2027 = false %}
{% for x in data.oaktree_farm.years_planned %}
 <!-- {{x}} -->
  {% if x == 2025 %}
    {% set plan_2025 = true %}
  {% elif x == 2026 %}
    {% set plan_2026 = true %}
  {% elif x == 2027 %}
    {% set plan_2027 = true %}
  {% endif %}
{% endfor %}

<span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span>

<h1 class="govuk-heading-l">Plan and record crops and nutrient use</h1>

<div class="govuk-grid-row">
  <div id="all-plans-table" class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Harvest year</th>
          <!-- <th scope="col" class="govuk-table__header">Status</th> -->
          <th scope="col" class="govuk-table__header">Last modified</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">  

      <!-- 2027 -->
      {% if plan_2026 == true %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">2027</td>
          {% if plan_2027 == true %}
            <td class="govuk-table__cell">22 September 2025</td>
            <td class="govuk-table__cell"><a href="crop_plan_year_handler?date=2027">View or edit the 2027 plan</a></td>
          {% else %}
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell"><a href="check_prompt">Start a 2027 plan</a></td>
          {% endif %}
        </tr>
      {% endif %}

      <!-- 2026 -->
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">2026</td>
        {% if plan_2026 == true %}
          <td class="govuk-table__cell">22 September 2026</td>
          <td class="govuk-table__cell"><a href="crop_plan_year_handler?date=2026">View or edit the 2026 plan</a></td>
        {% else %}
          <td class="govuk-table__cell">-</td>
          {% if plan_2025 == true %}
            <td class="govuk-table__cell"><a href="check_prompt">Start a 2026 plan</a></td>
          {% else %}
            <td class="govuk-table__cell"><a href="start_plan_handler?date=2026">Start a 2026 plan</a></td>
          {% endif %}
        {% endif %}
      </tr>

      <!-- 2025 -->
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">2025</td>
        {% if plan_2025 == true %}
          <td class="govuk-table__cell">22 September 2025</td>
          <td class="govuk-table__cell"><a href="crop_plan_year_handler?date=2025">View or edit the 2025 plan</a></td>
        {% else %}
          <td class="govuk-table__cell">-</td>
          {% if plan_2025 == true or plan_2027 == true %}
            <td class="govuk-table__cell"><a href="create_next_handler?date=2025">Start a 2025 plan</a></td>
          {% else %}
            <td class="govuk-table__cell"><a href="start_plan_handler?date=2025">Start a 2025 plan</a></td>
          {% endif %}
        {% endif %}
      </tr>

        {% set currentCropCount = 0 %}
        {% set lastCropCount = 0 %}
        {% for x in data.cropGroups %}
          {% set currentCropCount = currentCropCount + 1 %}
        {% endfor %}

        <!-- 2026 and 2025 -->
        <!-- {% if currentCropCount != 0 %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2026</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell"><a href="check_prompt">Start a 2026 plan</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2025</td>
            <td class="govuk-table__cell">22 September 2025</td>
            <td class="govuk-table__cell"><a href="crop_plan_year_handler?date=2025">View or edit the 2025 plan</a></td>
          </tr>
        {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2025</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell"><a href="start_plan_handler?date=2025">Start a 2025 plan</a></td>
          </tr>
        {% endif %} -->
        <!-- 2024 -->
        <!-- {% if lastCropCount != 0 %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2024</td>
            <td class="govuk-table__cell">22 September 2025</td>
            <td class="govuk-table__cell"><a href="crop_plan_year_handler?date=2024">View or edit the 2024 plan</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2023</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell"><a href="">Start a 2023 plan</a></td>
          </tr>
        {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2024</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell"><a href="start_plan_handler?date=2024">Start a 2024 plan</a></td>
          </tr>
        {% endif %} -->

        <!-- <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">2023</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell"><a href="">Enter details for 2023</a></td>
        </tr> -->
      </tbody>
    </table>     

  </div>
</div>

{% endblock %}