{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Field"
      },
      value: {
        text: data.chosenfield
      },
      actions: {
        items: [
          {
            href: "date",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Date sample taken"
      },
      value: {
        text: "02/11/2022"
      },
      actions: {
        items: [
          {
            href: "date",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "pH level"
      },
      value: {
        text: "6.0"
      },
      actions: {
        items: [
          {
            href: "date",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Is the soil Sulphur (S) deficient?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "date",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Potassium (K) per litre of soil"
      },
      value: {
        text: "95mg (Index 2)"
      },
      actions: {
        items: [
          {
            href: "values",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Magnesium (Mg) per litre of soil"
      },
      value: {
        text: "65mg (Index 2)"
      },
      actions: {
        items: [
          {
            href: "values",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Phosphorus (P) per litre of soil"
      },
      value: {
        text: "30mg (Index 1)"
      },
      actions: {
        items: [
          {
            href: "values",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Phosphorus (P) analysis type"
      },
      value: {
        text: "Olsen's"
      },
      actions: {
        items: [
          {
            href: "values",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}