{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Add soil analysis for {{data.chosen_field}}</h1>

      <form action="Sulphur" method="post" novalidate="">
        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Add soil analysis for Long Field</h1>
        </legend> -->
        
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  

      <h2 class="govuk-heading-m">Nitrogen (N)</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="weight">
          Soil Nitrogen Supply (SNS) per hectare
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Kilograms</div>
        </div>
      </div>
<!-- 
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">Soil Nitrogen Supply SNS index</label>
        <input class="govuk-input govuk-input--width-5" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
      </div> -->

    </div>
  </div>
  <br>
  

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <br>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </fieldset>
        </div>
        
          </div>
      </div>
    </form>
  </div>

{% endblock %}