{% macro nutrients() %}
  <ul class="manner_nutrient_values">
    <li>Dry matter content: <span>6%</span></span>
    <li>Total Nitrogen: <span>2.6kg</span></span>
    <li>Ammonium-N:	<span>1.2kg</span></span>
    <li>Uric acid N:	<span>0kg</span></span>
    <li>Nitrate-N:	<span>0kg</span></span>
    <li>Total phosphate (P2O5):	<span>1.2kg</span></span>
    <li>Total potassium (K2O):	<span>3.2kg</span></span>
    <li>Total sulphur (SO3):	<span>0.7g</span></span>
    <li>Total magnesium oxide (MgO):	<span>0.6kg</span></li>
  </ul>  
{% endmacro %}

{% macro answer_row(key, value, link) %}
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{{key}}</th>
    <td class="govuk-table__cell">{{value}}</td>
    <td class="govuk-table__cell">
      <a class="govuk-link" href={{link}}>Change<span class="govuk-visually-hidden"> Question 1</span></a>
    </td>
  </tr>  
{% endmacro %}

<!-- Check your answers -->

<table class="govuk-table data-table manner-answers-table">
  <tbody class="govuk-table__body">

    {% if chosen_application.reference != 0 %}
      {{ answer_row ( 'What type of organic material would you like to use?', chosen_application.manuretype.name, '/update/manner/manure_group' ) }}
    {% else %}
      {{ answer_row ( 'What type of organic material would you like to use?', chosen_application.manuretype.name ) }}
    {% endif %}

    {{ answer_row ( 'When are you applying this organic material?', chosen_application.date | formatdate ) }}
    {{ answer_row ( 'Do you want to use the typical nutrient values?', 'Yes' ) }}
    {{ answer_row ( 'Nutrient values for ' + chosen_application.manuretype.name, nutrients() ) }}
    {{ answer_row ( 'How would you like to enter the application rate?', 'Use a typical application rate' ) }}
    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Application rate</th>
      <td class="govuk-table__cell">
        {% if data.manure_type.liquid == true %}
          30 metres cubed per hectare</td>
        {% else %}
          30 tonnes per hectare
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link"  href="">Change<span class="govuk-visually-hidden"> Question 1</span></a>
      </td>
    </tr>
    
    {% if data.manure_type.liquid == true %}
      {{ answer_row ( 'How will the manure be incorporated?', 'Discs' ) }}
    {% endif %}

    {{ answer_row ( 'How would you like to enter the application rate?', 'Use a typical application rate' ) }}
    {{ answer_row ( 'How many days will there be before the manure is incorporated?', '1 to 2 days' ) }}
    {{ answer_row ( 'Autumn crop nitrogen (N) uptake', '10kg per hectare' ) }}
    {{ answer_row ( 'End of soil drainage', '31 March ' +data.farm.planning_year ) }}
    {{ answer_row ( 'Rainfall within 6 hours of application', '0' ) }}
    {{ answer_row ( 'Total rainfall since application', '328mm' ) }}
    {{ answer_row ( 'Windspeed at application', 'Calm/gentle (0 - 3 Beaufort scale)' ) }}
    {{ answer_row ( 'Topsoil moisture', 'Moist' ) }}

  </tbody>
</table>