<div class="check-answers">
  <dl class="govuk-summary-list margin-bottom-forty">
    {% include "./type_1.html ignore missing" %}
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">When are you applying this organic material?</dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">
          {{chosen_application.date}}        
        </p>
      </dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Do you want to use the standard nutrient values for this organic material?</dt>
      <dd class="govuk-summary-list__value">Yes</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>  

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Nutrient values for {{data.manure_type.name}}</dt>
      <dd class="govuk-summary-list__value">
        <ul class="nutrient_values">
          <li>Dry Matter content: <span>6%</span></span>
          <li>Total Nitrogen: <span>2.6kg</span></span>
          <li>Ammonium-N:	<span>1.2kg</span></span>
          <li>Uric acid N:	<span>0kg</span></span>
          <li>Nitrate-N:	<span>0kg</span></span>
          <li>Total phosphate (P2O5):	<span>1.2kg</span></span>
          <li>Total potassium (K2O):	<span>3.2kg</span></span>
          <li>Total sulphur (SO3):	<span>0.7g</span></span>
          <li>Total magnesium oxide (MgO):	<span>0.6kg</span></li>
        </ul>  
      </dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>  

    {% include "./rate_1.html ignore missing" %}
    
    {% if data.manure_type.liquid == true %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">How will this organic material be applied?</dt>
        <dd class="govuk-summary-list__value">Trailing hose</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
      </div>
    {% endif %}
        
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">How will the manure be incorporated?</dt>
      <dd class="govuk-summary-list__value">Discs</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">How many days will there be before the manure is incorporated?</dt>
      <dd class="govuk-summary-list__value">1 to 2 days</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Autumn crop nitrogen(N) uptake</dt>
      <dd class="govuk-summary-list__value">10kg per hectare</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">End of soil drainage</dt>
      <dd class="govuk-summary-list__value">31 March {{data.oaktree_farm.planning_year}}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Rainfall within 6 hours of application</dt>
      <dd class="govuk-summary-list__value">0</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Total rainfall since application</dt>
      <dd class="govuk-summary-list__value">328mm</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Windspeed at application</dt>
      <dd class="govuk-summary-list__value">Calm/gentle (0 - 3 Beaufort scale)</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Topsoil moisture</dt>
      <dd class="govuk-summary-list__value">Moist</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    <!-- {% if data.manure_count != 0 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">When will you next apply {{data.manure_type}} to these fields?</dt>
        <dd class="govuk-summary-list__value">30 August {{data.oaktree_farm.planning_year}}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#answers1">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
      </div>
    {% endif %} -->

  </dl>
</div>