	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header"> </th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for item in data.manner_applications %}
			<tr>
				<td class="govuk-table__cell">Cattle Farmyard manure - Fresh</td>
				<td class="govuk-table__cell">21/06/{{data.oaktree_farm.planning_year}}</td>
				<td class="govuk-table__cell"><a href="">Change</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

