<table class="govuk-table data-table manner-answers-table margin-bottom-forty">
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Farm name</th>
      <td class="govuk-table__cell">
        {{data.farm.name}}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#farm">Change
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Country</th>
      <td class="govuk-table__cell">
        England
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Postcode</th>
      <td class="govuk-table__cell">
        NE46 7LQ
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Registered organic producer</th>
      <td class="govuk-table__cell">
        No
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Average annual rainfall for NE46 7LQ</th>
      <td class="govuk-table__cell">
        600mm
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Field name</th>
      <td class="govuk-table__cell">
        {{data.temp_field_name}}
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">In a Nitrate Vulnerable Zone (NVZ)</th>
      <td class="govuk-table__cell">
        Yes
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Topsoil</th>
      <td class="govuk-table__cell">
        Peat
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Subsoil</th>
      <td class="govuk-table__cell">
        Silty clay loam
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Crop type</th>
      <td class="govuk-table__cell">
        {{data.chosen_crop | nameconverter}}
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    {% if data.chosen_crop == 'Winter Wheat' or data.chosen_crop == 'Wheat-Winter' %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Planting date</th>
        <td class="govuk-table__cell">
          25th August 2026
        </td>
        <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
      </tr>
    {% endif%}
      
  </tbody>
</table>