<table class="govuk-table data-table manner-answers-table margin-bottom-forty">
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Farm name</th>
      <td class="govuk-table__cell">
        {{data.farm.name}}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#farm">Change
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Country</th>
      <td class="govuk-table__cell">
        England
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Postcode</th>
      <td class="govuk-table__cell">
        NE46 7LQ
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Are you a registered organic producer?</th>
      <td class="govuk-table__cell">
        No
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Average annual rainfall for NE46 7LQ</th>
      <td class="govuk-table__cell">
        600mm
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">What is the field name?</th>
      <td class="govuk-table__cell">
        {{data.temp_field_name}}
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Is {{data.chosen_field | fieldnameconverter}} inside a Nitrate Vulnerable Zone (NVZ)?</th>
      <td class="govuk-table__cell">
        Yes
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">What is the soil type in {{data.chosen_field | fieldnameconverter}}?</th>
      <td class="govuk-table__cell">
        Medium
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Which crop type would you like to use?</th>
      <td class="govuk-table__cell">
        {{data.chosen_crop | nameconverter}}
      </td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
    </tr>

    {% if data.chosen_crop == 'Winter Wheat' or data.chosen_crop == 'Wheat-Winter' %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Is the wheat early or late sown?</th>
        <td class="govuk-table__cell">
          Early sown (25th August to 14th September)
        </td>
        <td class="govuk-table__cell"><a class="govuk-link" href="#farm">Change</a></td>
      </tr>
    {% endif%}
      
  </tbody>
</table>