<h2 class="govuk-heading-l">Financial value</h2>
<h3 class="govuk-heading-s">
	The potential financial value of the nutrients applied is  
	{% if data.manner_applications | length == 1 %}
		£125 per hectare
	{% else %}
		£336 per hectare
	{% endif %}
</h3>

<h3 class="govuk-heading-m">
	Value breakdown
</h3>
	
<div class="margin-bottom-forty">
	<table class="govuk-table margin-bottom-forty data-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				{% if (data.manner_applications | length) > 1 %}
					<th scope="row" class="govuk-table__header">Application</th>
				{% endif %}
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header">Crop available N</th>
				<th scope="row" class="govuk-table__header">Total P2O5</th>
				<th scope="row" class="govuk-table__header">Total K2O</th>
				<th scope="row" class="govuk-table__header">Total potential value</th>
			</tr>
		</thead>
		<tbody>
			<tr class="govuk-table__row">
				{% if (data.manner_applications | length) > 1 %}
					<td class="govuk-table__cell">1</td>
				{% endif %}
				<td class="govuk-table__cell">{{data.manner_applications[0].manuretype.name}}</td>
				<td class="govuk-table__cell">21/06/{{data.oaktree_farm.planning_year}}</td>
				<td class="govuk-table__cell">£10</td>
				<td class="govuk-table__cell">£79</td>
				<td class="govuk-table__cell">£36</td>
				<td class="govuk-table__cell">£125</td>
			</tr>
			{% if (data.manner_applications | length) == 2 %}
				<tr class="govuk-table__row">
				<td class="govuk-table__cell">2</td>
				<td class="govuk-table__cell">{{data.manner_applications[1].manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/{{data.oaktree_farm.planning_year}}</td>
					<td class="govuk-table__cell">£10</td>
					<td class="govuk-table__cell">£79</td>
					<td class="govuk-table__cell">£36</td>
					<td class="govuk-table__cell">£125</td>
				</tr>
			{% endif %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<td class="govuk-table__cell">Totals</td>
					<td class="govuk-table__cell">-</td>
					<td class="govuk-table__cell">-</td>
					<td class="govuk-table__cell">£20</td>
					<td class="govuk-table__cell">£158</td>
					<td class="govuk-table__cell">£72</td>
					<td class="govuk-table__cell">£250</td>
				</tr>
			{% endif %}
		</tbody>
  </table>
</div>
