<h2 class="govuk-heading-m">Nutrient price data</h2>
<table class="govuk-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Product</th>
      <th scope="col" class="govuk-table__header">Percentage of nutrient</th>
      <th scope="col" class="govuk-table__header">Price of product</th>
      <th scope="col" class="govuk-table__header">Price of nutrient</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {% if data.n_product == 'calcium' %}
          Calcium ammonium nitrate
        {% else %}
          Ammonium nitrate
        {% endif %}
      </td>
      <td class="govuk-table__cell">34.5% Nitrogen (N)</td>
      <td class="govuk-table__cell">£311 per tonne</td>
      <td class="govuk-table__cell">90p per kg</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Triple superphosphate</td>
      <td class="govuk-table__cell">46% phosphate (P2O5)</td>
      <td class="govuk-table__cell">£360 per tonne</td>
      <td class="govuk-table__cell">80p per kg</td>
      <td class="govuk-table__cell"><a href="phosphate_value">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Muriate of potash</td>
      <td class="govuk-table__cell">60% potash (K2O)</td>
      <td class="govuk-table__cell">£360 per tonne</td>
      <td class="govuk-table__cell">60p per kg</td>
      <td class="govuk-table__cell"><a href="potash_value">Change</a></td>
    </tr>
  </tbody>
</table>


<!-- 

<div>
  <h2 class="govuk-heading-s">Nitrogen</h2>
  <table class="govuk-table data-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Product</td>
        <td class="govuk-table__cell">Ammonium nitrate</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Percentage of nitrogen (N)</td>
        <td class="govuk-table__cell">34.5%</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Product price</td>
        <td class="govuk-table__cell">£311 per tonne</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Nitrogen (N) price</td>
        <td class="govuk-table__cell">90p per kg</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2 class="govuk-heading-s">Phosphate</h2>
  <table class="govuk-table data-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Product</td>
        <td class="govuk-table__cell">Triple superphosphate</td>
        <td class="govuk-table__cell"> </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Percentage of phosphate (P2O5)</td>
        <td class="govuk-table__cell">46%</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Product price</td>
        <td class="govuk-table__cell">£360 per tonne</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Phosphate (P2O5) price</td>
        <td class="govuk-table__cell">80p per kg</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2 class="govuk-heading-s">Phosphate</h2>
  <table class="govuk-table data-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Product</td>
        <td class="govuk-table__cell">Muriate of potash</td>
        <td class="govuk-table__cell"> </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Percentage of potash (K2O)</td>
        <td class="govuk-table__cell">60%</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Product price</td>
        <td class="govuk-table__cell">£360 per tonne</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Potash (K2O) price</td>
        <td class="govuk-table__cell">80p per kg</td>
      <td class="govuk-table__cell"><a href="nitrogen_value_one">Change</a></td>
      </tr>
    </tbody>
  </table>
</div>

 -->