{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Oaktree Lane Farm</h1>
<!-- <h1 class="govuk-heading-xl">{{data.farm_details.plan_status}}</h1> -->

<div class="status-header">
  <p class="govuk-table__body">Planning status</p>
  {% if data.farm_details.plan_status == "none" %}
  <h2 class="govuk-heading-m">No nutrient application plan for 2024</h2>
  <p class="govuk-body">
    <a href="/create /fields.html" class="govuk-link">Create a nutrient application plan</a>
  </p>
{% else %}
  <h2 class="govuk-heading-m">Plan started for 2024</h2>
  <p class="govuk-body">
    <a href="/create /fields.html" class="govuk-link">View or edit nutrient application plan</a>
  </p>
{% endif %}
</div>  

<hr class="medium_seperator">

<div>
  <h2 class="govuk-heading-m">Update farm data</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Update farm details</a>
      </li>
      <li>
        <a class="govuk-link" href="manage-fields">Manage field details</a>
      <li>
        <a class="govuk-link" href="#">Add soil analysis</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Update livestock data</a>
      </a>
      <li>
        <a class="govuk-link" href="#">Manage manure</a>
      </li>
      <!-- <li>
        <a class="govuk-link" href="#">Manage commonly used crops, manures and fertilisers</a>
      </li> -->
  </uli>
</div>

<hr class="medium_seperator">

<div>
  <h2 class="govuk-heading-m">View previous plans and records</h2>
  <p class="govuk-body">
    <a class="govuk-link" href="#">View all previous plans and records</a>
  </p>
</div>

{% endblock %}