  <div class="tab-left">
    <h2 class="govuk-heading-m margin-bottom-ten">
      Grass 
      <span class="nonbold">
        {% if group.variety.length > 0 %}
          ({{group.variety}})
        {% endif %}
      </span>
    </h2>
    <p class="govuk-body">{{group.groupname}}</p>
    <!-- <p class="govuk-body"><a href="change_cropgroup_handler?groupref={{group.reference}}&fieldref={{field.reference}}">Update this group</a></p> -->
  </div>

  <div class="tab-right">
    <form class="update-button" action="" method="post" novalidate="">    
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Manage grass fields
      </button>
    </form>
  </div>
  <table class="govuk-table govuk-table-small margin-bottom-forty">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field</th>
        <th scope="col" class="govuk-table__header">Management</th>
        <th scope="col" class="govuk-table__header">Total annual target yield<br>(per hectare)</th>
        <th scope="col" class="govuk-table__header">Units</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell field-name">Long Field</td>
        <td class="govuk-table__cell">Not entered</td>
        <td class="govuk-table__cell">Not entered</td>
        <td class="govuk-table__cell">-</td>
        <td class="govuk-table__cell"><a href="">Update this field</a></td>
      </tr> 
      <tr class="govuk-table__row">
        <td class="govuk-table__cell field-name">Short Field</td>
        <td class="govuk-table__cell">Not entered</td>
        <td class="govuk-table__cell">Not entered</td>
        <td class="govuk-table__cell">-</td>
        <td class="govuk-table__cell"><a href="">Update this field</a></td>
      </tr> 
    </tbody>
</table>