{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What is the bulk density of your poultry manure?
    </h1>

    <p class="govuk-hint">We use this to calculate the capacity of {{data.storage_name}}</p>

    <form action="sizes" method="post" novalidate="">

    <div class="govuk-form-group margin-bottom-thirty">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="80" name="bulk_density_value" type="radio" value="80">
            <label class="govuk-label govuk-radios__label" for="80">
              80% solid material
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="60" name="bulk_density_value" type="radio" value="60">
            <label class="govuk-label govuk-radios__label" for="60">
              60% solid material
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="40" name="bulk_density_value" type="radio" value="40">
            <label class="govuk-label govuk-radios__label" for="40">
              40% solid material
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="20" name="bulk_density_value" type="radio" value="20">
            <label class="govuk-label govuk-radios__label" for="20">
              20% solid material
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
      Continue
    </button>

  </form>

  <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}