{% extends "layouts/main.html" %}

{% block pageTitle %}
Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What kind of storage is {{data.storage_name}}?
    </h1>

    <p class="govuk-hint">Choose one option.</p>

    <form class="form" action="sizes" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">

            {% if data.material_type != 'solid manure' %}

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="square" name="storage_type" type="radio" value="square">
                <label class="govuk-label govuk-radios__label" for="square">
                  Square or rectangular tank
                </label>
              </div>

              <!-- <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rectangular" name="storage_type" type="radio" value="rectangular">
                <label class="govuk-label govuk-radios__label" for="rectangular">
                  Rectangular
                </label>
              </div> -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circular" name="storage_type" type="radio" value="circular">
                <label class="govuk-label govuk-radios__label" for="circular">
                  Circular tank
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="banked" name="storage_type" type="radio" value="earth banked">
                <label class="govuk-label govuk-radios__label" for="banked">
                  Earth banked lagoon
                </label>
              </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="bag" name="storage_type" type="radio" value="storage bag">
                  <label class="govuk-label govuk-radios__label" for="bag">
                    Storage bag
                  </label>
                </div>

            {% else %}

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="square" name="storage_type" type="radio" value="poultry litter">
                <label class="govuk-label govuk-radios__label" for="square">
                  Poultry manure with bedding (usually from layers)
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rectangular" name="storage_type" type="radio" value="Other poultry litter">
                <label class="govuk-label govuk-radios__label" for="rectangular">
                  Poultry manure without bedding
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circular" name="storage_type" type="radio" value="Other solid manures">
                <label class="govuk-label govuk-radios__label" for="circular">
                  Other solid manures
                </label>
              </div>

            {% endif %}
          </div>
        </fieldset>
      </div>
        {{ govukButton({
          text: "Continue"
        }) }}
    </form>

<p class="govuk-body">
  <a href="fields.html">Cancel</a>
</p>
  
</div>
</div>
{% endblock %}
