{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span>
      <h1 class="govuk-heading-l">
        Select the crop you will you plant in these fields?
      </h1>

      <form class="form" action="crop_when" method="post">

        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">Select from favourites</h2>
          <fieldset class="govuk-fieldset">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="oilseed_spring" name="crop_type" type="radio" value="oilseed_spring">
                <label class="govuk-label govuk-radios__label" for="oilseed_spring">
                  Wheat, winter
                </label>
              </div>              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="oilseed_winter" name="crop_type" type="radio" value="oilseed_winter">
                <label class="govuk-label govuk-radios__label" for="oilseed_winter">
                  Oilseed rape, winter
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="peas" name="crop_type" type="radio" value="peas">
                <label class="govuk-label govuk-radios__label" for="peas">
                  Peas
                </label>
              </div>
            </div>          
          </fieldset>
          <br>
          <h2 class="govuk-heading-m">Or</h2>
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="peas" name="crop_type" type="radio" value="peas">
              <label class="govuk-label govuk-radios__label" for="peas">
                Select another crop
              </label>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}










