{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% include "templates/title_span.html" %}

      <h1 class="govuk-heading-l">
        How much of each nutrient do you plan to include in this application for Long field?
      </h1>

      <form class="form" action="fertiliser_again" method="post">

        {% if data.chosen_nitrogen == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Nitrogen (N)</strong><br>
            Total inorganic recommendation: 180kg per hectare<br>
            Planned for year: 0kg per hectare<br>
            Remaining need: 180kg per hectare<br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
      {% endif %}

      {% if data.chosen_phosphate == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Phosphate (P2O5)</strong><br>
            Total inorganic recommendation: 95kg per hectare<br>
            Planned for year: 0kg per hectare<br>
            Remaining need: 95kg per hectare<br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {% if data.chosen_potash == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Potash (K2O)</strong><br>
            Total inorganic recommendation: 55kg per hectare<br>
            Planned for year: 0kg per hectare<br>
            Remaining need: 55kg per hectare<br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {% if data.chosen_sulphur == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Sulphur (SO3)	</strong><br>
            Total inorganic recommendation: 40kg per hectare<br>
            Planned for year: 0kg per hectare<br>
            Remaining need: 40kg per hectare<br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {% if data.chosen_lime == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Lime</strong><br>
            Total inorganic recommendation: 7kg per hectare<br>
            Planned for year: 0kg per hectare<br>
            Remaining need: 7kg per hectare<br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
