<!-- <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
    </tr>
  </tbody>
</table>


<h2>Slurry stores</h2>
Liquid capacity
(volume)
m³
Solid capacity
(volume)
m³
Capacity
(fresh weight)
t
Surface area
m²

Tin tank
438
199
Slurry sub total
438 199


Dirty water stores
Liquid capacity
(volume)
m³
Solid capacity
(volume)
m³
Capacity
(fresh weight)
t
Surface area
m²

Lagoon
150
120
Dirty water sub total 150
120


Solid manure stores on a concrete base or in poultry houses
Solid manure sub total 0
0
TOTAL
588
0
0
319

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
    </tr>
  </tbody>
</table> -->