<h2 class="govuk-heading-l margin-top-thirty">Slurry storage</h2>
<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <!-- <th scope="col" class="govuk-table__header">Shape</th> -->
        <th scope="col" class="govuk-table__header">Dimensions</th>
        <th scope="col" class="govuk-table__header">Capacity volume</th>
        <th scope="col" class="govuk-table__header">Surface area</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Tin Tank</td>
        <!-- <td class="govuk-table__cell">Square</td> -->
        <td class="govuk-table__cell">Length: 20m, Width: 20m, Depth: 20m.</td>
        <td class="govuk-table__cell">60 meters cubed</td>
        <td class="govuk-table__cell">32 metres squared
        <td class="govuk-table__cell"><a href="">Change</a></td>
      </tr>
    </tbody>
  </table>
