<!-- farm added -->
{% if data.successMessage == 1 %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                You have added {{data.oaktree_farm.name}}
            </h3>
            <p class="govuk-body"><a class="govuk-notification-banner__link" href="field_add_reset_handler">Add fields for {{data.oaktree_farm.name}}</a> </p>
        </div>
    </div>
{% endif %}

<!-- farm removed -->
{% if data.successMessage == 2 %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                You have removed {{data.oaktree_farm.name}}.
            </h3>
        </div>
    </div>
{% endif %}