<div class="margin-bottom-thirty">   

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header livestock_name">Type</th>
        <th scope="col" class="govuk-table__header">Average total for the year</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for animal in data.livestock_record_2025 %}
        {% if animal.type == livestock_type %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{animal.name | capitalize}}</td>
            <td class="govuk-table__cell">100</td>
            <td class="govuk-table__cell">
              <a href="">Change</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  
</div>