{% extends "layouts/main.html" %}

{% block pageTitle %}
Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <h1 class="govuk-heading-l">
      Update crop group {{data.chosen_group.reference}} for harvest year 2025
    </h1>

    <div class="govuk-inset-text margin-bottom-forty">
      <p class="govuk-body">
        Changes here will be applied to all of these fields. To change a single field select it from your crop plan. <a href="planview_reset_handler">View the 2025 crop plan</a>.
      </p>
    </div>

    <div class="check-answers">

      <dl class="govuk-summary-list">     

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What type of crop would you like to plan?</dt>
          <dd class="govuk-summary-list__value">Grass</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which fields would you like to plan Grass for?</dt>
          <dd class="govuk-summary-list__value">
            Long Field<br>
            Short Field<br>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What would you like to call this crop group (optional)?</dt>
          <dd class="govuk-summary-list__value">Crop group 1</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Are these new swards or existing swards in these fields?</dt>
          <dd class="govuk-summary-list__value">Existing swards</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the sward in these fields in 2025?</dt>
          <dd class="govuk-summary-list__value">Spring sown</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you have a date for when you sowed your grass, or when you will sow it?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.new_planting_date_day == '' or data.new_planting_date_day == null %}
              {% if data.chosen_group.planting_date == '' or data.chosen_group.planting_date == null %}
                No, I'll enter the date later
              {% else %}
                {{data.chosen_group.planting_date}}            
              {% endif %}            
            {% else %}
              {{data.new_planting_date_day}}/{{data.new_planting_date_month}}/{{data.new_planting_date_year}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="update_question_handler?update_type=date">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the sward type in these fields in 2025?</dt>
          <dd class="govuk-summary-list__value">Grass</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How will these fields be managed?</dt>
          <dd class="govuk-summary-list__value">Grazing and hay</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How many cuts and grazings will you have in these fields?</dt>
          <dd class="govuk-summary-list__value">Four</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the cut and grazing order in these fields?</dt>
          <dd class="govuk-summary-list__value">Cut, graze, graze, graze</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the total annual target dry matter yield for Long Field?</dt>
          <dd class="govuk-summary-list__value">10 Tonnes per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the total annual target dry matter yield for Short Field?</dt>
          <dd class="govuk-summary-list__value">9 Tonnes per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

      </dl>    
    </div>
    
    <p class="govuk-body margin-bottom-forty">You can also <a href="">remove this crop group</a>.</p>


    <form action="crop_group_update_v7_handler" method="post" novalidate>
      {{ govukButton({
        text: "Update this crop group"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
