<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="crops">

  <h2 class="govuk-heading-m non-standard margin-bottom-forty">
    Crop, field and soil details for {{data.chosen_field.field_name}}
  </h2>

  <!-- <p class="govuk-body"><a href="../../farm/field/split_merge">Split this field, or merge it with others</a></p> -->
  
  <!-- current year crops -->
  <div class="tabs-thirds">
    <h2 class="govuk-heading-m">
      {{data.oaktree_farm.planning_year}} crop details 
    </h2>
    {% if data.chosen_field.crop_id != 'Grass' and data.chosen_field.crop_id != 'grass' %}
      {% if data.oaktree_farm.planning_year == 2025 %}
        {% include "./arable_crop_details_empty.html" ignore missing %}
      {% else %}
        {% include "./arable_crop_details.html" ignore missing %}
      {% endif %}
    {% else %}
      {% include "./grass-details.html" ignore missing %}
    {% endif %}
  </div>

  {% if data.chosen_field.crop_id != 'Grass' and data.chosen_field.crop_id != 'grass' %}
    <p class="govuk-body"><a href="updates/crop/change_crop">Change the {{data.chosen_field.crop_id | nameconverter}} details for {{data.chosen_field.field_name}} in {{data.oaktree_farm.planning_year}}</a></p>
  {% else %}
    <p class="govuk-body"><a href="updates/grass/change_crop">Change the {{data.chosen_field.crop_id | nameconverter}} details for {{data.chosen_field.field_name}} </a></p>
    <p class="govuk-body"><a href="/farm/field/field-details">View previous crop information for 2025</a></p>
  {% endif %}

  <hr class="separator_forty">

  <!-- previous year crops -->
  <div class="tabs-thirds margin-bottom-forty">
    <h2 class="govuk-heading-m">
      Field, previous crop and soil analysis details 
    </h2>
    <p class="govuk-body">
      <a href="field-select-handler?chosen_field={{data.chosen_field.field_name}}">View field details, previous crop, and soil analysis for {{data.chosen_field.field_name}}</a>
    </p>
  </div>

  <hr class="separator_forty">

  <!-- sns -->
  <div class="tabs-thirds margin-bottom-forty">
    <h2 class="govuk-heading-m">
      Soil Nitrogen Supply (SNS) analysis
    </h2>
    {% if data.chosen_field.sns == true  %}
      {% include "./sns_details.html" ignore missing %}
      <p class="govuk-body">
        <a href="sns/update_sns">Change the Soil Nitrogen Supply (SNS) analysis for {{data.oaktree_farm.planning_year}}</a>
      </p>
    {% else %}
      <p class="govuk-body">
        <a href="sns/date">Add a soil mineral nitrogen analysis result for {{data.oaktree_farm.planning_year}}</a>
      </p>
  {% endif %}
  </div>

</div>

  <!-- TESTS IMPORTANT
  <p>group = {{data.chosen_field.reference}}</p>
  <p>field = {{data.chosen_field.field_name}}</p>

  <p>appears_in_other_groups? = {{appears_in_other_groups}}</p>
  <p>reference? = {{second_crop_id}}</p> -->

  <!-- /farm/field_plan/sns/check.html /farm/field_plan/sns/check-details-sns.html -->