<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    {% if data.chosen_group.crop_reference != 'Grass' and data.chosen_group.crop_reference != 'grass' %}
      <p class="govuk-notification-banner__heading">
      Recommendations not available
      </p>
      <p class="govuk-body">
        You need to add the crop details for 2023, or Soil Mineral Nitrogen supply (SNS) analysis results to create recommendations for this field.
      </p>
      <p class="govuk-body">
        <a class="govuk-notification-banner__link" href="sns/date">Add SNS analysis results for this crop</a>.
      </p>
      <p class="govuk-body">
        <a class="govuk-notification-banner__link" href="">Add 2023 crop details</a>.
      </p>

    {% else %}

    <p class="govuk-notification-banner__heading">
      Recommendations not available
      </p>
      <p class="govuk-body">
        To create recommendations for this field you need to add: 
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>grass management details for 2024</li>
        <li>crop details for 2023</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-notification-banner__link" href="#crops">Add 2023 and 2024 crop details</a>.
      </p>
    {% endif %}
  </div>
</div>

