<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--s">{{data.chosen_crop | nameconverter}}</caption> -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Crop type</td>
      <td class="govuk-table__cell">Potatoes</td>
    </tr>   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Variety</td>
      <td class="govuk-table__cell">{{data.chosen_crop}}</td>
    </tr>         
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Planting date</td>
      <td class="govuk-table__cell">25 April 2024</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Estimated yield</td>
      <td class="govuk-table__cell">8 tonnes per hecare</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Growing season</td>
      <td class="govuk-table__cell"> 60 - 90 days</td>
    </tr>
  </tbody>
</table>  