<div class="govuk-tabs__panel" id="recs">

  <h2 class="govuk-heading-m non-standard">
    Nutrient and Lime recommendations for 
    {{data.chosen_group.crop_reference | nameconverter}} 
    {% if data.chosen_group.variety.length > 0 %}
      ({{data.chosen_group.variety}}) 
    {% endif %}
    in
    {{data.chosen_field.name}}  
  </h2>
  
  <!-- <div class="margin-bottom-forty">
    <h2 class="govuk-heading-s">Private beta disclaimer</h2>
    {% include "/templates/beta_disclaimer.html" ignore missing %}
  </div> -->
  
  <!-- {% if appears_in_other_groups == true %}
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="#cropone">Recommendations for Carrots in Long Field</a>
      </li>
      <li>
        <a class="govuk-link" href="#croptwo">Recommendations for Beetroot in Long Field</a>
      </li>
    </ul>
  {% endif %} -->

  <!-- <h2 id="cropone" class="govuk-heading-m">
    Nutrient and Lime recommendations for 
    {{data.chosen_group.crop_reference | nameconverter}} 
    {% if data.chosen_group.variety.length > 0 %}
      ({{data.chosen_group.variety}}) 
    {% endif %}
    in
    {{data.chosen_field.name}}
  </h2> -->

  {% if data.chosen_group.crop_reference == 'grass' %}
    <p>There are four cuts and grazings in 2025, with nutrient and lime recommendations for each one.</p>
    <!-- <p>Go to:</p>
    <ul class="govuk-list govuk-list--spaced">
      <li><a href="#rec1">Recommendations 1 - Cut</a></li>
      <li><a href="#rec2">Recommendations 2 - Grazing</a></li>
      <li><a href="#rec3">Recommendations 3 - Grazing</a></li>
      <li><a href="#rec4">Recommendations 4 - Grazing</a></li>
      <li><a href="#balance">Phosphate (P2O5) and Potash (K2O) balance</a></li>
      <li><a href="#guidance">View guidance</a></li>
    </ul> -->
    <hr class="separator_forty">
  {% endif %}

  {% if data.oaktree_farm.planning_year == 2024 %}
    {% include "./v5_nutrients_empty_v2.html" ignore missing %}
  {% else %}
    {% if data.chosen_group.crop_reference == 'grass' %}
      {% if organics == true %}
        {% include "./v5_grass_one_application.html" ignore missing %}
      {% else %}
        {% include "./v5_grass_empty.html" ignore missing %}
      {% endif %}
    {% else %}
      {% if organics == true and inorganics == true %}
        {% include "./v4_nutrients_both.html" ignore missing %}
      {% elif organics == true and inorganics == false %}
        {% include "./v4_nutrients_one_organic.html" ignore missing %}
      {% elif organics == false and inorganics == true %}
        {% include "./v5_nutrients_one_fertiliser.html" ignore missing %}
      {% else %}
        {% include "./v5_nutrients_empty.html" ignore missing %}
      {% endif %}
    {% endif %}
  {% endif %}
  <p class="govuk-body-s margin-bottom-forty">Crop need is calculated using AHDB Nutrient Management Guide (RB209). Supply from manures calculated using<br> MANNER-NPK (Nutrient Calculation Engine).</p>

  <!-- rolling_balance -->
  {% include "./v5_rolling_balance.html" ignore missing %}
  
  <!-- guidance -->
  {% include "./v5_guidance.html" ignore missing %}

  <hr class="separator_forty">

  <div class="margin-bottom-forty">
    <h2 class="govuk-heading-s">About recommendations, guidance, and advice</h2>
    {% include "/templates/recommendations.html" ignore missing %}
  </div>

  {% if data.chosen_group.crop_reference == 'grass' %}
    <p class="govuk-body"><a class="govuk-link" href="#">Back to the top</a></p>
  {% endif %}

</div>

<!-- TESTS IMPORTANT
<p>group = {{data.chosen_group.reference}}</p>
<p>field = {{data.chosen_field.name}}</p>

<p>appears_in_other_groups? = {{appears_in_other_groups}}</p>
<p>reference? = {{second_crop_reference}}</p> -->
