

<table class="govuk-table new-recomendation-table data-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Nutrient recommendations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Index / pH</th>
      <th scope="col" class="govuk-table__header">Total crop need</th>
      <th scope="col" class="govuk-table__header">Supply from manures</th>
      <th scope="col" class="govuk-table__header">Fertiliser or Lime recommendation</th>
      <th scope="col" class="govuk-table__header">Fertiliser or Lime applied</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Nitrogen (N)</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">190kg</td>
      <td class="govuk-table__cell">8kg</td>
      <td class="govuk-table__cell">182kg</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Phosphate (P2O5)</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">55kg</td>
      <td class="govuk-table__cell">64kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Potash (K2O)</td>
      <td class="govuk-table__cell">2-</td>
      <td class="govuk-table__cell">85kg</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sulphur (SO3)</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">40kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sodium (Na2O)</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td> -->
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Magnesium (MgO)</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Lime</td>
      <td class="govuk-table__cell">6.5</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
  </tbody>
</table>

<!-- <table class="govuk-table new-recomendation-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">pH</th>
      <th scope="col" class="govuk-table__header">Crop need
      </th>
      <th scope="col" class="govuk-table__header">Amount from organic material
      </th>
      <th scope="col" class="govuk-table__header">Amount from {{data.content.non_organic_term | lower}}
      </th>
      <th scope="col" class="govuk-table__header">Remaining need
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Lime</td>
      <td class="govuk-table__cell">6.5</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
  </tbody>
</table> -->