{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – Add a field -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Add soil mineral nitrogen for {{data.temp_field.field_name}}</h1>

      <form action="date" method="post" novalidate="">

          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              Soil mineral nitrogenkg/ha 0-30cm
            </label>
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          </div>


          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              Soil mineral nitrogenkg/ha 30-60cm
            </label>
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          </div>
          
          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              Soil mineral nitrogenkg/ha 60-90cm (optional)
            </label>
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          </div>
       

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>
      <p class="govuk-body cancel-link"><a href="/mvp/field/field-details">Cancel</a></p>

    </div>
    
  </div>

{% endblock %}