{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% if data.show_success_message == true %}
      {% include "./templates/success_message.html" ignore missing %}
    {% endif %}

    <span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span>
    <h1 class="govuk-heading-l add_sub" id="header">Organic material imports and exports</h1>
    <h2 class="govuk-heading-m margin-bottom-thirty">
      {% if data.export_type == 4 %}
       2026
      {% else %}
        October {{data.oaktree_farm.harvest_year}}and September {{data.oaktree_farm.harvest_year + 1}}
      {% endif %}
    </h2>

    {% if data.show_success_message != true %}
      {% include "./templates/instructions.html" ignore missing %}
    {% endif %}   

  </div>
</div>

<div class="govuk-grid-row margin-bottom-thirty">
  <div class="govuk-grid-column-full">

    <div class="margin-bottom-twenty">
      <form action="/add_export/export_type" method="post" novalidate="">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Add an import or export
        </button>
      </form>
    </div>
    
    <!-- imports and exports -->
    <div class="govuk-tabs margin-bottom-forty" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#imports">Imports</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#exports">Exports</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#totals">Totals</a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="imports">
        <h2 class="govuk-heading-m non-standard">Imports</h2>
        <p class="govuk-hint">October 2025 to September 2026</p>
        {% include "./templates/imports.html" ignore missing %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="exports">
        <h2 class="govuk-heading-m non-standard">Exports</h2>
        <p class="govuk-hint">October 2025 to September 2026</p>
        {% include "./templates/exports.html" ignore missing %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="totals">
        <h2 class="govuk-heading-m non-standard">Total nitrogen (N) imports and exports</h2>
        <p class="govuk-hint">October 2025 to September 2026</p>
        {% include "./templates/totals.html" ignore missing %}
      </div>

    </div>

  </div>
</div>




{% endblock %}