{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

{{ govukBackLink({
  text: "Create an Organic manures inventory and storage report for 2025",
  href: "/outputs/inventory/checklist"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.show_success_message == true %}
      {% include "./templates/success_message.html" ignore missing %}
    {% endif %}
    </div>
</div>

<div class="govuk-grid-row margin-bottom-thirty">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Organic material imports and exports </h1>
    <h2 class="govuk-heading-m margin-bottom-forty">October 2024 to September 2025</h2>

    <div class="margin-bottom-twenty">
      <form action="../../add_export/export_type" method="post" novalidate="">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add an import or export
        </button>
      </form>
    </div>
    
    <!-- imports and exports -->
    <div class="govuk-tabs margin-bottom-forty" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#imports">Imports</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#exports">Exports</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#totals">Totals</a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="imports">
        <h2 class="govuk-heading-m non-standard">Imports</h2>
        <p class="govuk-hint">October 2024 to September 2025</p>
        {% include "./templates/imports.html" ignore missing %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="exports">
        <h2 class="govuk-heading-m non-standard">Exports</h2>
        <p class="govuk-hint">October 2024 to September 2025</p>
        {% include "./templates/exports.html" ignore missing %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="totals">
        <h2 class="govuk-heading-m non-standard">Total nitrogen (N) imports and exports</h2>
        <p class="govuk-hint">October 2024 to September 2025</p>
        {% include "./templates/totals.html" ignore missing %}
      </div>

    </div>

    <form action="/outputs/inventory/checklist" method="post" novalidate="">
    <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
      Save and continue
    </button>
  </form>

</div>
</div>




{% endblock %}