{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.oaktree_farm.planning_year
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}
      {% include "./templates/success_message.html" ignore missing %}
    {% endif %}

    {% if data.oaktree_farm.planning_year == 2023 %}
      {% set totalFields = data.plan_2023.firstFields.length + data.plan_2023.secondFields.length %}
    {% else %}
      {% set totalFields = data.plan_2024.firstFields.length  %}
    {% endif %}

    {{planYear}}

    <h1 class="govuk-heading-l">Plan for harvest year {{data.oaktree_farm.planning_year}}</h1>

    <div class="crop_plan_title">
      <p class="govuk-body">Last updated: {{data.content.todays_date}}</p>
      {% if totalFields == 1 %}
        <p class="govuk-body">There is 1 field in this plan</p>
      {% else %}
        <p class="govuk-body">There are {{totalFields}} fields in this plan</p>
      {% endif %}
      <p class="govuk-body"><a href="">Download, print, or export this plan</a></p>

      <h2 class="govuk-heading-s">Contents</h2>
      <p class="govuk-body"><span class="dash"> — </span><a href="plan_view">Crops and fields</a></p>
      <p class="govuk-body"><span class="dash"> — </span>Organic and inorganic material applications</p>
    </div>

  </div>

  <div class="govuk-grid-column-full">

    <hr class="seperator_forty">

    <!-- manures -->
    <div class="margin-bottom-forty">
      <h2 class="govuk-heading-m">{{data.content.organic_term}} applications</h2>
      {% if data.plan_2024.multipleManuresApplied == false and data.plan_2024.singleManuresApplied == false %}
        <p class="govuk-body">You have no {{data.content.organic_term | lower}} applications planned.</p>
        <p class="govuk-body"><a href="plan_manure_application_router?manurejourney=multi">Add {{data.content.organic_term | lower}} applications</a></p>
      {% else %}
        <p class="govuk-body"><a href="plan_manure_application_router?manurejourney=multi">Add another {{data.content.organic_term | lower}} application</a></p>
        {% include "./templates/applications.html" ignore missing %}
      {% endif %}
    </div>

    <!-- fertiliser -->
    <div>
      <h2 class="govuk-heading-m">{{data.content.non_organic_term}} applications</h2>
      {% if data.plan_2024.multipleFertilisersApplied == false and data.plan_2024.singleFertilisersApplied == false %}
        <p class="govuk-body">You have no {{data.content.non_organic_term | lower}} applications planned.</p>
        <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=multi">Add {{data.content.non_organic_term | lower}} applications</a></p>
      {% else %}
        <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=multi">Add another {{data.content.non_organic_term | lower}} application</a></p>
        {% include "./templates/fertiliser_applications.html" ignore missing %}
      {% endif %}
      </div>

</div>

{% endblock %}


