{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.oaktree_farm.planning_year
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {% if data.show_manure_notification == true %}
            {{data.content.organic_term}} application added to the Winter Wheat fields in this plan.
          {% else %}
            {% if data.show_fertiliser_notification == true %}
              {{data.content.non_organic_term}} application added to the Winter Wheat fields in this plan.
            {% else %}
              Plan created for 2024
            {% endif %}
          {% endif %}
        </h3>
      </div>
    </div>
    {% endif %}

    {% if data.oaktree_farm.planning_year == 2023 %}
      {% set totalFields = data.plan_2023.firstFields.length + data.plan_2023.secondFields.length %}
    {% else %}
      {% set totalFields = data.plan_2024.firstFields.length  %}
    {% endif %}

    {{planYear}}


    <h1 class="govuk-heading-l">Crop plan for {{data.oaktree_farm.planning_year}}</h1>

    <div class="crop_plan_title">
      {% if totalFields == 1 %}
        <p class="govuk-body">There is 1 field in this plan</p>
      {% else %}
        <p class="govuk-body">There are {{totalFields}} fields in this plan</p>
      {% endif %}
      <p class="govuk-body">Last updated: {{data.content.todays_date}}</p>
      <p class="govuk-body"><a href="">Add another crop to this plan</a></p>

      <h2 class="govuk-heading-m">Applications of organic material and inorganic fertiliser</h2>
      <p class="govuk-body"><a href="v2manure_handler?manurejourney=multi">Plan an application of {{data.content.organic_term | lower}} to one or more fields</a></p>
      <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=multi">Plan an application of {{data.content.non_organic_term | lower}} to one or more fields</a></p>

    </div>

  </div>

    <div class="govuk-grid-column-full">

      <hr class="seperator_five">
      {% if data.oaktree_farm.planning_year == 2023 %}
        {% include "./templates/2023plan.html" ignore missing %}
      {% else %}
        {% include "./templates/2024plan.html" ignore missing %}
      {% endif %}
    </div>
  </div>

{% endblock %}