
<!-- <form class="form" action="mvp_another_crop_handler" method="post"> -->
  <!-- <form class="form" action="mvp_another_crop_handler secondcrop_handler" method="post"> -->

        {% extends "layouts/main.html" %}

        {% block pageTitle %}
          Question – {{ serviceName }} – GOV.UK Prototype Kit
        {% endblock %}
        
        {% block beforeContent %}
          {% include "/templates/signed-in.html" ignore missing %}
          
          {{ govukBackLink({
            text: "Back",
            href: "javascript:window.history.back()"
          }) }}
        {% endblock %}
        
        {% block content %}
        
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
        
              <h1 class="govuk-heading-l">
                Do you want to add a new crop, or add a second crop to fields in the plan?
              </h1>
        
              <form class="form" action="another_crop_handler" method="post">
                <div class="govuk-form-group">

                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="new" name="second_crop" type="radio" value="new">
                        <label class="govuk-label govuk-radios__label" for="new">
                          Add a new crop
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="second" name="second_crop" type="radio" value="second">
                        <label class="govuk-label govuk-radios__label" for="second">
                          Add a second crop to fields in the plan
                        </label>
                      </div>
                    </div>
      

                </div>
                {{ govukButton({
                  text: "Continue"
                }) }}
        
              </form>
        
            </div>
            
          </div>
        
          <p class="govuk-body">
            <a href="fields.html">Cancel</a>
          </p>
        
        {% endblock %}
        
        
        
        
        
        
        
        
        
        
        