{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    {% include "templates/title_span.html" %}
    <h1 class="govuk-heading-l">
      Check crop and {{data.content.organic_term | lower }} details for {{data.chosen_field.name}}
    </h1>

    
    <h2 class="govuk-heading-m">
      Crop plan for {{data.chosen_field.name}}
    </h2>   
    <div class="check-answers">
      {% if data.field_use == "arable" %}
          {% include "./check_one_crops.html" %}
      {% else %}
        {% include "./check_one_grass.html" %}
      {% endif %}
    </div>

    <br>
    <h2 class="govuk-heading-m">
      {{data.content.organic_term}} plan for {{data.chosen_field.name}}
    </h2>
    <div class="check-answers">
      {% include "./check_one_organic.html" ignore missing %}
    </div>

    <br>
    <h2 class="govuk-heading-m">
      These values are based on your crop choice and {{data.content.organic_term | lower }} applications
    </h2>
    <div class="check-answers">
      {% include "./check_one_values.html" ignore missing %}
    </div>

    <form action="recs_status_handler" method="post" novalidate>
      {{ govukButton({
        text: "Add to application plan"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
