<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Farm name
    </dt>
    <dd class="govuk-summary-list__value">
      Bonnie Farm
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Country
    </dt>
    <dd class="govuk-summary-list__value">
      Scotland
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> country</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Business name
    </dt>
    <dd class="govuk-summary-list__value">
      Bonnie Farm Incorporated
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> business name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Business Reference Number (optional)
    </dt>
    <dd class="govuk-summary-list__value">
      Not entered
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Main Location Code (MC) (optional)
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">22/333/4444</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> main location code</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Farm address
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Queensferry, South Queensferry EH30 9AR</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Average annual rainfall
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">600mm</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How many fields are in a Nitrate Vulnerable Zone (NVZ)?
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Some of the fields</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Which Nitrate Vulnerable Zones (NVZ) are the fields in?
    </dt>
    <dd class="govuk-summary-list__value">
      <ul class="govuk-list margin-bottom-ten">
        <li>Lower Nithsdale</li>
        <li>Lothian and Borders</li>
        <li>Strathmore and Fife (including Finavon)</li>
      </ul>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How many fields are above 300 metres?
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">All of the fields</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
</dl>