//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

#textp {
    font-size: 14px;
    color: #505a5f;
}

.bold-form {
    label {
        font-weight: bold;
    }
    .govuk-radios__item {
        label {
        font-weight: normal;
        }
    }
}

.grass-link {
    text-align: right;
}

#feild-detail {
    .govuk-summary-list__key {
        width: auto;
    }
    .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
        width: 35%;
    }
}

.check-answers {
    .govuk-summary-list__key {
        width: auto;
    }
    .govuk-summary-list__value {
        width: 25%
    }
}


.nowrap {
    white-space: nowrap;
}

.recomendation-table .govuk-table__header {
    padding-right: 10px;
}

.secondary-button {
    .govuk-button {
        background-color: #b1b4b6;
        color: black;
    }
}

.inline-amounts {
    float: inline-end;
    width: 63%;
    padding-top: 5px;
}

hr.big_seperator {
    margin: 40px 0 40px 0;
    background-color: black;
    height: 2px;
    border: none;
}

hr.mid_seperator {
    margin: 40px 0 40px 0;
    height: 1px;
    background-color: lightgray;
    border: none;
}

hr.seperator_five {
    margin: 40px 0 40px 0;
    // height: 2px;
    // background-color: lightgray;
    // border: none;
}

hr.seperator_four {
    margin: 20px 0 20px 0;
}

hr.medium_seperator {
    margin: 30px 0 30px 0;
    border: none;
}

.menu-list li {
    margin-bottom: 12px;
}

.data-table {
    font-size: 17px;
    margin-top: 20px;
}

.record-table {
    font-size: 17px;
}

.field-table {
    font-size: 17px;
    margin-top: 10px;   
    th {
        margin-top: 0;
        padding-top: 0;
    }
}
    

.application-table {
    margin-top: 40px;
}

.status-header {
    h1 {
        margin-bottom: 15px;
    }
    p:first-child {
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0;
        padding-top: 5px;
    }
}

.date-label {
    font-size: 1.1875rem;
}

#move-text {
    border-top: 1px solid #b1b4b6;
    padding-top: 15px;
    a {
        font-size: 15px;
        color: #505a5f;
        text-decoration: none;
    }
    margin-top:200px;
}

.hint {
    font-weight: normal !important;
}

#rec_review {
    border: 2px solid #505a5f;
    padding: 25px 25px 0 25px;
    background-color: #f3f2f1;
}

#recs_header {
    margin-top: 25px;
}

.strong {
    font-weight: bold;
}

//////// New for v2

#all-plans-table {
    margin-top: 10px;
    p:last-child {
        margin-bottom: 0px;
    }
}

.plan_title {
    margin-bottom: 15px !important;
}

.application-plan-table {
    margin-top: 20px;
}

.crop_plan_title {
    p {
        margin-bottom: 15px !important;
    }
    h1 {
        margin-bottom: 15px !important;
    }
    margin-bottom: 20px;
}



// #left_fertiliser {
//     width: 30%; 
// }

// #right_fertiliser {
//     width: 70%; 
//     border: 2px solid black;
//     background-color: #f3f2f1;
//     padding: 15px 25px;
// }

.font-size-17 {
    font-size: 17px;
    li {
        padding-bottom: 12px;
    }
}

#signed-in {
    text-align: right;
    padding-top: 15px;
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 0;
}

.text-group {
    h3, p {
        margin-bottom: 10px;
    }
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-top-forty {
    margin-top: 40px;
}

.margin-bottom-twenty {
    margin-bottom: 20px;
}

.margin-bottom-thirty {
    margin-bottom: 30px;
}

.margin-bottom-ten {
    margin-bottom: 10px;
}

.margin-bottom-forty {
    margin-bottom: 40px;
}

.margin-bottom-sixty {
    margin-bottom: 60px;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-bottom-five {
    margin-bottom: 5px;
}


tr.right-last {
    td:last-child {
        text-align: right;
    }
}

#field_name {
    width: 70%;
}

#farm-title {
    margin-bottom: 20px;
    display: block;
    h1 {
        margin: 0 0 15px 0;
        padding: 0;
    }
    p {
        margin: 0;
        padding: 0;
    }
    p.address {
        margin-bottom: 15px;            
     }
}

.govuk-breadcrumbs, .govuk-back-link {
    font-size: 19px;
    line-height: 1.25;
    margin-top: 20px;
}

.crop_table {
    tr td:first-child {
        width: 12%;
    }
    tr td:last-child {
        text-align: right;
    }
}

.big_crop_table {
    tr {
        td:first-child {
            width: 30%
        }
    }
}

.big_crop_table_version_two {
    tr {
        td {
            width: 20%
        }
        td:nth-child(2), td:nth-child(3) {
            width: 22%
        }
        td:nth-child(4) {
            width: 34%
        }
    }
    margin-bottom :40px;
}

.big_crop_table_version_three {
    font-size: 17px;
    table__cell:last-child {
        padding-right: 0;
        text-align: right;
    }
}

.big_crop_table_version_three table__cell:last-child, big_crop_table_version_four table__cell:last-child {
    padding-right: 0;
    text-align: right;
}

.big_crop_table_version_four {
    font-size: 17px;
    td {
        width: 17%
    }
    // td:nth-child(3) {
    //     width: 20%
    // }
    td:nth-child(4) {
        width: 29%;
    }
    table__cell:last-child {
        padding-right: 0;
        text-align: right;
    }
}

.big_crop_table_version_three table__cell:last-child, big_crop_table_version_four table__cell:last-child, big_crop_table_version_five table__cell:last-child {
    padding-right: 0;
    text-align: right;
}

.big_crop_table_version_five {
    font-size: 17px;
    td {
        width: 17%
    }
    td:last-child {
        padding-right: 0;
        text-align: right;
        width :35%;
    }
}

.big_crop_table_version_three td:first-child {
    width: 20%;
}


.start-link {
    margin-bottom: 30px;
    font-weight: bold;
    a {
        display: block;
        font-weight: normal;
    }
}

.detail_list {
    margin: 15px 0 15px 0
}

.span_figure {
    width: 11%;
    display:inline-block;
}


.explanations {
    h3 {
        margin-bottom: 0;
    }
}

#conditions_table {
    td:nth-child(2) {
        width: 35%;
    }
}

.amounts-label {
    width: 100%;
    display: block;
    margin-top: 5px;
}

#field_list_cya {
    margin-top :5px;
}

.field_name_cya {
    margin-bottom: 5px;
    width: 100%;
    display: block;
}

#closed-period {
    h3, p {
        margin: 0;
        padding-bottom: 5px;
    }
    margin-bottom: 20px;
}

#crop_use_or {
    margin-top: 5px;
}

.non-standard {
    font-size: 1.8rem;
}

.guidance {
    display: block;
    width: 66%;
}

.nonbold {
    font-weight: normal!important;
}

.tabs-thirds {
    width: 66%
}

.closed-date {
    padding-top: 0!important;
}

#main-title {
    margin-bottom: 10px!important;
}

.new-recomendation-table {
    tr {
        td:nth-child(1) {
            width: 21%
        }
        td:nth-child(2) {
            width: 13%
        }
        td:nth-child(3) {
            width: 13%
        }
        td:nth-child(4) {
            width: 16%
        }
        td:nth-child(5) {
            width: 20%
        }
        // td:nth-child(5) {
        //     width: 15%
        // }
    }
}

h2.manure-date {
    margin-bottom: 8px;
    font-size: 130%;
}

.nutrient-list {
    display: block;
    width: 100%;
    padding-bottom :6px;
}

.break {
    // height: 5px;
    // background-color: #b1b4b6;
    // margin: 40px 0;
    height: 10px;
}

.govuk-hint {
    margin-bottom: 20px;
}

.field-name {
    width: 14%
}

.sortable {
    color: #1d70b8;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: 0.1578em;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

#main-title {
    margin-bottom: 15px!important;
}

#summary-header {
    p:nth-child(1) {
        margin-bottom: 15px!important;
    }
}

#small-list {
    li {
        font-size: 17px!important;
    }
}

.govuk-body-s {
    font-size: 17px!important;
}

.add-button, .add-button button {
    margin-bottom: 0;
}


.govuk-table-small {
    font-size: 17px;
}

.half-table-left {
    padding-right: 25px;
    th {
        width: 60%;
    }
}

.half-table-right{
    padding-left: 25px;
    th {
        width: 65%;
    }
}

.report-planned-table {
    margin-bottom: 0;
}

.table-information  {
    border-bottom: 2px solid black;
}

#balance table {
    width: 50%;
}

.limits-table {
    th:nth-child(1) {
        width: 15%;
    }
    th:nth-child(2) {
        width: 11%;
    }
    th:nth-child(3) {
        width: 12%;
    }
    th:nth-child(4) {
        width: 10%;
    }
    th:nth-child(5) {
        width: 12%;
    }
    th:nth-child(6) {
        width: 6%;
    }
    th:nth-child(7) {
        width: 15%;
    }
    th:nth-child(8) {
        width: 14%;
    }
    th:nth-child(9) {
        width: 8%;
    }
}

.applications-nmax-table {
    th:nth-child(1) {
        width: 15%;
    }
    th:nth-child(2) {
        width: 11%;
    }
    th:nth-child(4) {
        width: 11%;
    }
    th:nth-child(7) {
        width: 14%;
    }
    th:nth-child(8) {
        width: 8%;
    }
}

// .tab-left {
//     width: 50%;
//     float: left;
// }

// .tab-right {
//     width: 50%;
//     float: left;
//     text-align: right;
// }

.govuk-phase-banner {
    padding-top :15px;
    padding-bottom :15px;
    height: 28px;
}

.span_left {
    text-align: left;
    float: left;
    width: 48%
}
.span_right {
    float: right;
    text-align: right;
    width: 40%
}


@media print {
    .pagebreak { 
        page-break-after: always; 
        clear: both;
    }
    .noprint {
        display: none;
    }
}

#printbreak {
    height: 10px;
    background-color: #505a5f;
    margin-bottom: 40px;
}

.border {
    border: 1px solid #b1b4b6
}


#blocker {
    width: 1500px;
}

.long-title {
    width: 23%
}

.nmax-new {
    th:nth-child(1) {
        width: 15%;
    }
    th:nth-child(7) {
        width: 12%;
    }
}

// .recs-table {
//     margin-bottom: 0;
// }


.manure-management {
    th:first-child {
        width: 40%;
    }
    td:last-child {
        text-align: right;
    }
}

.check-answers {
    dd.govuk-summary-list__value {
        width: 35%;
        padding: 0;
    }
    dt.govuk-summary-list__key {
        width: 45%;
    }
}

.new_nmax_table {
    margin-bottom: 40px;
    font-size: 17px;
    th {
        width: 10%;
        margin-right: 1%;
    }
    th:nth-child(1)  {
        width: 16%!important;
    }
    th:nth-child(2)  {
        width: 7%;
    }
    th:nth-child(3)  {
        width: 9%;
    }
    th:nth-child(7)  {
        width: 12%;
    }
    th:nth-child(8)  {
        width: 11%;
    }
    // th:nth-child(9)  {
    //     width: 12%;
    // }
}

.new_nmax_rates_table {
    // margin-bottom: 40px;
    font-size: 17px;
    th {
        margin-right: 1%;
    }
    th:nth-child(1)  {
        width: 17%;
    }
    th:nth-child(2)  {
        width: 13%;
    }
    th:nth-child(3)  {
        width: 13%;
    }
    th:nth-child(6)    {
        width: 14%;
    }
    th:nth-child(7)    {
        width: 11%;
    }
}

 