//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

#textp {
    font-size: 14px;
    color: #505a5f;
}

.bold-form {
    label {
        font-weight: bold;
    }
    .govuk-radios__item {
        label {
        font-weight: normal;
        }
    }
}

#feild-detail {
    .govuk-summary-list__key {
        width: auto;
    }
    .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
        width: 35%;
    }
}

.check-answers {
    .govuk-summary-list__key {
        width: auto;
    }
    .govuk-summary-list__value {
        width: 25%
    }
}


.nowrap {
    white-space: nowrap;
}

.recomendation-table .govuk-table__header {
    padding-right: 10px;
}

.secondary-button {
    .govuk-button {
        background-color: #b1b4b6;
        color: black;
    }
}

.inline-amounts {
    float: inline-end;
    width: 63%;
    padding-top: 5px;
}

hr.big_seperator {
    margin: 40px 0 40px 0;
    background-color: black;
    height: 2px;
    border: none;
}

hr.mid_seperator {
    margin: 40px 0 40px 0;
    height: 1px;
    background-color: lightgray;
    border: none;
}

hr.seperator_five {
    margin: 40px 0 40px 0;
    // height: 2px;
    // background-color: lightgray;
    // border: none;
}

hr.medium_seperator {
    margin: 30px 0 30px 0;
    border: none;
}

.menu-list li {
    margin-bottom: 12px;
}

.data-table {
    font-size: 17px;
    margin-top: 20px;
}

.record-table {
    font-size: 17px;
}

.field-table {
    font-size: 17px;
    margin-top: 10px;   
    th {
        margin-top: 0;
        padding-top: 0;
    }
}
    

.application-table {
    margin-top: 40px;
}

.status-header {
    h1 {
        margin-bottom: 15px;
    }
    p:first-child {
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0;
        padding-top: 5px;
    }
}

.date-label {
    font-size: 1.1875rem;
}

#move-text {
    border-top: 1px solid #b1b4b6;
    padding-top: 15px;
    a {
        font-size: 15px;
        color: #505a5f;
        text-decoration: none;
    }
    margin-top:200px;
}

.hint {
    font-weight: normal !important;
}

#rec_review {
    border: 2px solid #505a5f;
    padding: 25px 25px 0 25px;
    background-color: #f3f2f1;
}

#recs_header {
    margin-top: 25px;
}

.strong {
    font-weight: bold;
}

//////// New for v2

#all-plans-table {
    margin-top: 10px;
    p:last-child {
        margin-bottom: 0px;
    }
}

.plan_title {
    margin-bottom: 15px !important;
}

.application-plan-table {
    margin-top: 20px;
}

.crop_plan_title {
    p {
        margin-bottom: 15px !important;
    }
    h1 {
        margin-bottom: 15px !important;
    }
    margin-bottom: 20px;
}



// #left_fertiliser {
//     width: 30%; 
// }

// #right_fertiliser {
//     width: 70%; 
//     border: 2px solid black;
//     background-color: #f3f2f1;
//     padding: 15px 25px;
// }

.font-size-17 {
    font-size: 17px;
    li {
        padding-bottom: 12px;
    }
}

#signed-in {
    text-align: right;
    padding-top: 15px;
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 0;
}

.text-group {
    h3, p {
        margin-bottom: 10px;
    }
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-top-forty {
    margin-top: 40px;
}

.margin-bottom-twenty {
    margin-bottom: 20px;
}

.margin-bottom-forty {
    margin-bottom: 40px;
}

.margin-bottom-none {
    margin-bottom: 0;
}


tr.right-last {
    td:last-child {
        text-align: right;
    }
}

#field_name {
    width: 70%;
}

#farm-title {
    margin-bottom: 20px;
    display: block;
    h1 {
        margin: 0 0 15px 0;
        padding: 0;
    }
    p {
        margin: 0;
        padding: 0;
    }
    p.address {
        margin-bottom: 15px;            
     }
}

.govuk-breadcrumbs, .govuk-back-link {
    font-size: 19px;
    line-height: 1.25;
    margin-top: 20px;
}

.crop_table {
    tr td:first-child {
        width: 12%;
    }
    tr td:last-child {
        text-align: right;
    }
}

.big_crop_table {
    tr {
        td:first-child {
            width: 30%
        }
    }
}

.big_crop_table_version_two {
    tr {
        td {
            width: 20%
        }
        td:nth-child(2), td:nth-child(3) {
            width: 22%
        }
        td:nth-child(4) {
            width: 34%
        }
    }
    margin-bottom :40px;
}

.big_crop_table_version_three {
    font-size: 17px;
    table__cell:last-child {
        padding-right: 0;
        text-align: right;
    }
}

.big_crop_table_version_three table__cell:last-child {
    padding-right: 0;
    text-align: right;
}

.start-link {
    margin-bottom: 30px;
    font-weight: bold;
    a {
        display: block;
        font-weight: normal;
    }
}

.detail_list {
    margin-top: 30px;
}

.span_figure {
    width: 11%;
    display:inline-block;
}


.explanations {
    h3 {
        margin-bottom: 0;
    }
}

#conditions_table {
    td:nth-child(2) {
        width: 35%;
    }
}

.amounts-label {
    width: 100%;
    display: block;
    margin-top: 5px;
}

#field_list_cya {
    margin-top :5px;
}

.field_name_cya {
    margin-bottom: 5px;
    width: 100%;
    display: block;
}