<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Has {{data.temp_field_name}} been used for grass in any of the the last 3 years?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    In which years was {{data.temp_field_name}} used for grass?
  </dt>
  <dd class="govuk-summary-list__value">
    2024<br>
    2023<br>
    2022<br>
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How was the grass typically managed each year?
  </dt>
  <dd class="govuk-summary-list__value">
    Grazed and cut
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How many cuts typically each year?
  </dt>
  <dd class="govuk-summary-list__value">
    One
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Does {{data.temp_field_name}} typically have more than 30% clover (as an average across the growing season)?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

{% if data.previous_clover == "no" %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How much nitrogen (N) has been applied to {{data.temp_field_name}} each year on average?
    </dt>
    <dd class="govuk-summary-list__value">
      Up to 100kg per hectare
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>
{% endif %}