{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if data.soiltype == "clay" or data.soiltype == "shallow" %}
        <h1 class="govuk-heading-l">About the soil in {{data.temp_field_name}}</h1>
      {% else %}
        <h1 class="govuk-heading-l">Is sulphur(S) deficiency expected in the soil?</h1>
      {% endif %}

      <form action="date" method="post" novalidate="">

        {% if data.soiltype == "clay" or data.soiltype == "shallow" %}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <label class="govuk-label" for="nitrate">Is sulphur(S) deficiency expected in the soil?</label>
              <div class="govuk-radios govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nitrate" name="nitrate" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="nitrate">Yes</label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nitrate-2" name="nitrate" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="nitrate-2">No</label>
                </div>
              </div>
            </fieldset>
          </div>

        {% endif %}

        {% if data.soiltype == "clay" %}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <label class="govuk-label" for="potassium">Is the soil a potash-releasing clay?</label>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item margin-bottom-none">
                  <input class="govuk-radios__input" id="potassium" name="potassium" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="potassium">Yes</label>
                </div>
                <div class="govuk-radios__item margin-bottom-none">
                  <input class="govuk-radios__input" id="potassium-2" name="potassium" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="potassium-2">No</label>
                </div>
              </div>
            </fieldset>
          </div>

        {% elif data.soiltype == "shallow" %}

          <div class="govuk-form-group margin-bottom-forty">
            <fieldset class="govuk-fieldset">
              <label class="govuk-label" for="potassium">Is the soil over Chalk?</label>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item margin-bottom-none">
                  <input class="govuk-radios__input" id="potassium" name="potassium" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="potassium">Yes</label>
                </div>
                <div class="govuk-radios__item margin-bottom-none">
                  <input class="govuk-radios__input" id="potassium-2" name="potassium" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="potassium-2">No</label>
                </div>
              </div>
            </fieldset>
          </div>

        {% else %}

          <div class="govuk-form-group margin-bottom-forty">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nitrate" name="nitrate" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="nitrate">Yes</label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nitrate-2" name="nitrate" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="nitrate-2">No</label>
                </div>
              </div>
            </fieldset>
          </div>

        {% endif %}

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
