<h2 class="govuk-heading-m">{{data.plan_2024.firstCropReference | nameconverter}}</h2>
<p class="govuk-body"><a href="">Change this {{data.plan_2024.firstCropReference | nameconverter}} plan</a></p>

<table class="govuk-table margin-bottom-forty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    {% for field in data.plan_2024.firstFields %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{field.name}}</td>
        <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop={{data.plan_2024.firstCropReference}}&chosen_field={{field.reference}}">View field plan and recommendations</a></td>
      </tr>      
    {% endfor %}

  </tbody>
</table>

{% if data.plan_2024.secondFieldReferences.length != 0 %}
  <h2 class="govuk-heading-m">{{data.plan_2024.secondCropReference | nameconverter}}</h2>
  <p class="govuk-body"><a href="">Change this {{data.plan_2024.secondCropReference | nameconverter}} plan</a></p>

  <table class="govuk-table margin-bottom-forty big_crop_table_version_two">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field</th>
        <th scope="col" class="govuk-table__header">{{data.content.organic_term}}</th>
        <th scope="col" class="govuk-table__header">{{data.content.non_organic_term}}</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for field in data.plan_2024.secondFields %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{field.name}}</td>
          <td class="govuk-table__cell" class="govuk-table__header">None</td>
          <td class="govuk-table__cell" class="govuk-table__header">None</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop={{data.plan_2024.secondCropReference}}&chosen_field={{field.reference}}">View field plan and recommendations</a></td>
        </tr>      
      {% endfor %}  
    </tbody>
  </table>
{% endif %}  
