<h2 class="govuk-heading-m">{{data.crop_group_2024.firstCropReference | nameconverter }}</h2>

<table class="govuk-table margin-bottom-forty big_crop_table_version_two">

      <!--show second crop table header where there is one -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          {% if data.crop_group_2024.secondCropFields == null %}
            <th scope="col" class="govuk-table__header"></th>
            {% else %}
            <th scope="col" class="govuk-table__header">Second crop</th>
          {% endif %}

          <th scope="col" class="govuk-table__header">Organic applications</th>
          <th scope="col" class="govuk-table__header">Inorganic applications</th>
          <th scope="col" class="govuk-table__header">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

      <!--show the first crop fields -->
      {% for field in data.crop_group_2024.firstCropFields %}
      {% set hasSecondCrop = false %}

      {% for thisField in data.crop_group_2024.secondCropFields %}
        {% if thisField.reference === field.reference %}
          {% set hasSecondCrop = true %}
        {% endif %}
      {% endfor %}  

        <tr class="govuk-table__row">    
          <td class="govuk-table__cell">{{field.name}}</td>

        {% if data.crop_group_2024.secondCropFields == null %}
          <td class="govuk-table__cell"></td>
        {% else %}
        <td class="govuk-table__cell">
          {% if hasSecondCrop == true %}
            {{data.crop_group_2024.secondCropReference | nameconverter }}
          {% else %}
            None
          {% endif %}
        </td>
        
      {% endif %}

      <td class="govuk-table__cell">
        {% if data.plan_2024.multipleManuresApplied == true %}
          {% if data.plan_2024.singleManuresApplied == true %}
            {% if field.reference == '3' %}
              2
            {% else %}
              1
            {% endif %}
          {% else %}
              1
          {% endif %}
        {% endif %} 
          
        {% if data.plan_2024.multipleManuresApplied == false %}
          {% if data.plan_2024.singleManuresApplied == true %}
            {% if field.reference == '3' %}
              1
            {% else %}
              None
            {% endif %}
          {% else %}
            None
          {% endif %}
        {% endif %} 
      </td>

      <td class="govuk-table__cell">
        {% if data.multi_fertiliser == true %}
          {% if data.single_fertiliser == true %}
            {% if field.reference == '3' %}
              2
            {% else %}
              1
            {% endif %}
          {% else %}
              1
          {% endif %}
        {% endif %} 
          
        {% if data.multi_fertiliser == false %}
          {% if data.single_fertiliser == true %}
            {% if field.reference == '3' %}
              1
            {% else %}
              None
            {% endif %}
          {% else %}
            None
          {% endif %}
        {% endif %} 
      </td>

          <td class="govuk-table__cell">
            {% if hasSecondCrop == true %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.firstCropReference}}&chosen_field={{field.reference}}&covercrop={{data.crop_group_2024.secondCropReference}}">View field plan</a>
          {% else %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.firstCropReference}}&chosen_field={{field.reference}}&covercrop=none">View field plan</a>
          {% endif %}
          </td>

        </tr>
      {% endfor %}  

      </tbody>
    </table>

    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->

    {% if data.crop_group_2024.thirdCropReference != null %}

    <h2 class="govuk-heading-m">{{data.crop_group_2024.thirdCropReference | nameconverter }}</h2>

    <!--show variety -->
    {% if data.crop_group_2024.thirdCropVariety != null %}
      <p class="govuk-body">Variety: {{data.crop_group_2024.thirdCropVariety}}</p>
    {% endif %}

    <p class="govuk-body"><a href="">Edit the {{data.crop_group_2024.thirdCropReference | nameconverter }}  plan for all these fields</a></p>

    <table class="govuk-table margin-bottom-forty big_crop_table_version_two">
      
      <!--show second crop table header where there is one -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>

          {% if data.crop_group_2024.fourthCropFields == null %}
            <th scope="col" class="govuk-table__header"></th>
            {% else %}
            <th scope="col" class="govuk-table__header">Second crop</th>
            <th scope="col" class="govuk-table__header"></th>
          {% endif %}

          <th scope="col" class="govuk-table__header">Organic applications</th>
          <th scope="col" class="govuk-table__header">Inorganic applications</th>

          <th scope="col" class="govuk-table__header">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

      <!--show the first crop fields -->
      {% for field in data.crop_group_2024.thirdCropFields %}
      {% set hasSecondCrop = false %}

      {% for thisField in data.crop_group_2024.fourthCropFields %}
        {% if thisField.reference === field.reference %}
          {% set hasSecondCrop = true %}
        {% endif %}
      {% endfor %}  
        <tr class="govuk-table__row">    
          <td class="govuk-table__cell">{{field.name}}</td>

        {% if data.crop_group_2024.fourthCropFields == null %}
          <td class="govuk-table__cell"></td>
        {% else %}
        <td class="govuk-table__cell">
          {% if hasSecondCrop == true %}
            {{data.crop_group_2024.fourthCropReference | nameconverter }}
          {% else %}
            None
          {% endif %}
        </td>
        <td class="govuk-table__cell">nbsp;</td>

      {% endif %}

      <td class="govuk-table__cell">
        None
      </td>

      <td class="govuk-table__cell">
        None
      </td>


          <td class="govuk-table__cell">
            {% if hasSecondCrop == true %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.thirdCropReference}}&chosen_field={{field.reference}}&covercrop={{data.crop_group_2024.fourthCropReference}}">View field plan</a>
          {% else %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.thirdCropReference}}&chosen_field={{field.reference}}&covercrop=none">View field plan</a>
          {% endif %}
          </td>
        </tr>
      {% endfor %}  

      </tbody>
    </table>

  {% endif %}