{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          What is the total target dry matter yield for these fields in 2025?
        </h1>

        <p class="govuk-hint">Select one option. This range is based on the grass growth class for these fields.</p>
  
        <form class="form" action="../check" method="post">
          <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="14" name="grass_total_yield_two" type="radio" value="14">
                <label class="govuk-label govuk-radios__label" for="14">
                  12 Tonnes per hectare
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="13" name="grass_total_yield_two" type="radio" value="13">
                <label class="govuk-label govuk-radios__label" for="13">
                  11 Tonnes per hectare
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="12" name="grass_total_yield_two" type="radio" value="12">
                <label class="govuk-label govuk-radios__label" for="12">
                  10 Tonnes per hectare
                </label>
              </div>            
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="11" name="grass_total_yield_two" type="radio" value="11">
                <label class="govuk-label govuk-radios__label" for="11">
                  9 Tonnes per hectare
                </label>
              </div>
              <!-- <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fresh" name="grass_total_yield_two" type="radio" value="fresh">
                <label class="govuk-label govuk-radios__label" for="fresh">
                  Enter a yield in fresh cut weight
                </label>
              </div> -->
            </div>
          </div>
  
          {{ govukButton({
            text: "Continue"
          }) }}
          
          </form>
  

      <!-- poor / average / high -->

      <!-- <p class="govuk-body">How do you want to enter your target annual yield?</p>

      <form class="form" action="weight_type_router" method="post">

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="dry" name="yield_type" type="radio" value="dry">
                  <label class="govuk-label govuk-radios__label" for="dry">
                    Dry weight
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fresh" name="yield_type" type="radio" value="fresh">
                  <label class="govuk-label govuk-radios__label" for="fresh">
                    Fresh cut weight
                  </label>
                </div>
              </div>
            </fieldset>
                      
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form> -->

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
