{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add crops -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">
      Target annual yield per field
    </h1>

    <p>Grass Growth Class and Soil Nitrogen Supply are estimated based on {{data.oaktree_farm.name}}'s altitude and annual rainfall.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Grass Growth Class</th>
          <th scope="col" class="govuk-table__header">Soil Nitrogen Supply</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 1</td>
          <td class="govuk-table__cell">X</td>
          <td class="govuk-table__cell">X</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 2</td>
          <td class="govuk-table__cell">X</td>
          <td class="govuk-table__cell">X</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 3</td>
          <td class="govuk-table__cell">X</td>
          <td class="govuk-table__cell">X</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-s margin-bottom-forty">Average estimated achievable yield = 10 to 13 Tonnes per hectare</h3>

    <form class="form" action="grassyield_handler" method="post">
      <div class="govuk-form-group">
        
        <div class="govuk-radios" data-module="govuk-radios">
          <label class="govuk-label" for="event-name">
            What is your target yield?
          </label>
        
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ten" name="grass_total_yield" type="radio" value="10 - 13">
            <label class="govuk-label govuk-radios__label" for="ten">
              Use the estimated achievable yield of 10 to 13 Tonnes per hectare
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="value" name="grass_total_yield" type="radio" value="value" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="value">
              Enter a value
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <label class="govuk-label" for="weight">
                Dry matter yield per hectare
              </label>
              <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="grass_total_yield_figure" name="grass_total_yield_figure" type="text" spellcheck="false">
                <div class="govuk-input__suffix" aria-hidden="true">Tonnes</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}