<div class="tab-left margin-bottom-thirty">
  <h2 class="govuk-heading-m margin-bottom-ten">
    {% if group.crop_id == 'potatoes' %}
      Potato variety group 1   <span class="govuk-body nonbold">- Crop group {{group.group_id}}</span>
    {% else %}
      {{group.crop_id | nameconverter }}  <span class="govuk-body nonbold">- Crop group {{group.group_id}}</span>
    {% endif %}
  </h2>
</div>

<div class="tab-right">
  <form class="update-button" action="group_level_plan_v7_handler?groupref={{group.group_id}}" method="post" novalidate="">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Update this group
    </button>
  </form>
</div>

<table class="group_table govuk-table govuk-table-small margin-bottom-forty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Planting date</th>
      <th scope="col" class="govuk-table__header">Target yield<br>(per hectare)</th>
      <th scope="col" class="govuk-table__header">Variety</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    {% for x in group.field_list %}
      {% for field in data.all_fields %}
        {% if x == field.field_id %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{field.field_name}}</td>
            <td class="govuk-table__cell field-name">
              {% if field.planting_date == null %}
                Not entered
              {% else %}
              {{field.planting_date}}
              {% endif %}
            </td>
            <td class="govuk-table__cell field-name">
              {% if field.yield == null %}
                Not entered
              {% else %}
                {{field.yield}} tonnes
              {% endif %}
            </td>
            <td class="govuk-table__cell" class="govuk-table__header">
              {% if group.variety.length > 0 %}
                {{field.variety}}
              {% else %}
                Not entered
              {% endif %}          
            </td>
            <td class="govuk-table__cell"><a href="field_level_plan_v5_handler?fieldref={{field.field_id}}">Update field or view recommendations</a></td>
          </tr> 
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>