{% extends "layouts/main.html" %}

{% set bodyClasses = "wide" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  <!-- {{ govukBackLink({
    text: "Back to your 2024 plan",
    href: "../plan_view"
  }) }} -->
  <a href="../plan_view" class="noprint govuk-back-link">Back to your 2024 plan</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row noprint margin-bottom-forty">
  <div class="govuk-grid-column-two-thirds">
    <!-- <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with printing and exporting
        </span>
      </summary>
      <div class="govuk-details__text">
       <p>To print this information, go to your browser's file menu, choose print, then choose your printer and follow the instructions.</p>
       <p>To save a copy of this information as a PDF, go to your browser's file menu, choose print, then choose print to PDF and follow the instructions.</p>
      </div>
    </details> -->
    <h2 class="govuk-heading-m">Print or save as a PDF</h2>
    <ol class="govuk-list govuk-list--number">
      <li>To save as a PDF choose 'Print or save as a PDF',</li>
      <li>Select, 'Save as PDF', where you are asked to select a printer,</li>
      <li>Select, 'Print', then choose where to save the PDF.</li>
  </ol>
    <!-- <p>To save a PDF using your web browser's print function, select Print or save as a PDF. Select, 'Save as PDF', when you are asked to choose a printer, then choose print. These options may be different depending on your web browser.</p> -->
    <form class="" action="" method="post" novalidate="">    
      <button onclick="window.print()" class="govuk-button" data-module="govuk-button">
        Print or save as a PDF
      </button>
    </form>
    <hr>
  </div>
</div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Nmax limits 2024</h1>
      <p class="govuk-body">Created on 11 November 2024</p>
    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">Oaktree Lane Farm, <br>
        24 South Road<br> 
        Hexham<br>  
        Northumberland<br> 
        NE46 7LQ</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">CPH number: 123456789 <br>
      Single Business Identifier: 123456789 </p>
    </div>

  </div>

      <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">Nmax summary for Winter Wheat Fields in 2024</h2>            
            <table class="govuk-table govuk-table-small">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Nmax limit (before adjustments)</th>
                  <th scope="col" class="govuk-table__header">Total Nmax limit</th>
                  <th scope="col" class="govuk-table__header">Total Nitrogen (N) applied</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">300kg per hectare</td>
                  <td class="govuk-table__cell">21,870kg</td>
                  <td class="govuk-table__cell">4,830kg</td>
                </tr>
              </tbody>
            </table>
  
          <p class="govuk-body-s margin-bottom-forty">To comply with the Nmax limit for this Crop type, the total Nitrogen (N) applied must not be greater than the adjusted Nmax limit.</p>
          </div>
          </div> -->

          <div class="govuk-grid-row margin-bottom-forty">
            <div class="govuk-grid-column-full">
    
          <!-- <h2 class="govuk-heading-l">Winter Wheat Fields</h2>
          <p class="govuk-body-s">To comply with the Nmax limit for this crop type, the total Nitrogen (N) applied must not be greater than the adjusted Nmax limit.</p> -->
          <div class="govuk-inset-text">
            <p class="govuk-body margin-bottom-forty">To comply with the Nmax limit for each crop type the total Nitrogen (N) applied must<br> not be greater than the adjusted Nmax limit.</p>
          </div>

          <h2 class="govuk-heading-l">Winter Wheat fields</h2>
          <p class="govuk-body"> 
            Nmax limit before adjustments: 300kg per hectare.
          </p>

                <!-- <h2 class="govuk-heading-m">Nmax limit for Winter Wheat fields</h2>-->


      <!-- <h3 class="govuk-heading-m">Park 1</h3>
      <p>19.50 hectare, soil type medium. Standard Nmax limit 300kg per hectare.</p>
      <table class="govuk-table govuk-table-small margin-bottom-forty">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Crop yield per hectare</th>
            <th scope="col" class="govuk-table__header">Crop yield adjustment</th>
            <th scope="col" class="govuk-table__header">Cut only</th>
            <th scope="col" class="govuk-table__header">Paper sludge or Straw mulch</th>
            <th scope="col" class="govuk-table__header">Nitrogen rate per hectare</th>
            <th scope="col" class="govuk-table__header">Total Nitrogen</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Not entered</td>
            <td class="govuk-table__cell">Not entered</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">300kg</td>
            <td class="govuk-table__cell">4,500kg</td>
          </tr>      
        </tbody>
      </table>

      <h3 class="govuk-heading-m">Park 2</h3>
      <p>19.50 hectare, soil type medium. Standard Nmax limit 300kg per hectare.</p>
      <table class="govuk-table govuk-table-small margin-bottom-forty">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Crop yield per hectare</th>
            <th scope="col" class="govuk-table__header">Crop yield adjustment</th>
            <th scope="col" class="govuk-table__header">Cut only</th>
            <th scope="col" class="govuk-table__header">Paper sludge or Straw mulch</th>
            <th scope="col" class="govuk-table__header">Nitrogen rate per hectare</th>
            <th scope="col" class="govuk-table__header">Total Nitrogen</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Not entered</td>
            <td class="govuk-table__cell">Not entered</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">300kg</td>
            <td class="govuk-table__cell">4,500kg</td>
          </tr>      
        </tbody>
      </table> -->
      
      <h2 class="govuk-heading-m">Nmax limit for Winter Wheat fields</h2>
      <table class="govuk-table limits-table govuk-table-small margin-bottom-forty">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field name</th>
            <th scope="col" class="govuk-table__header">Crop area<br><span class="nonbold">in hectares</span></th>
            <th scope="col" class="govuk-table__header">Crop yield <br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Soil type</th>
            <th scope="col" class="govuk-table__header">Crop yield <br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Cut only</th>
            <th scope="col" class="govuk-table__header">Paper or Straw used</th>
            <th scope="col" class="govuk-table__header">Nitrogen rate <br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Total Nitrogen </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Long Field</td>
            <td class="govuk-table__cell">15.00</td>
            <td class="govuk-table__cell">8.5 tonnes</td>          
            <td class="govuk-table__cell">Medium</td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell">300kg</td>
            <td class="govuk-table__cell">4,500kg</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Short Field</td>
            <td class="govuk-table__cell">15.00</td>
            <td class="govuk-table__cell">8.5 tonnes</td>          
            <td class="govuk-table__cell">Medium</td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell">300kg</td>
            <td class="govuk-table__cell">4,500kg</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total</th>
            <th scope="col" class="govuk-table__header">30.00</th>
            <th scope="col" class="govuk-table__header">17 tonnes</th>          
            <td class="govuk-table__cell"> </td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <th scope="col" class="govuk-table__header">9,000kg</th>
          </tr>               
        </tbody>
      </table> 

      <h2 class="govuk-heading-m">Nitrogen applications for Winter Wheat fields</h2>

      <table class="govuk-table govuk-table-small applications-nmax-table">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Winter Wheat recommendations (kg/ha)</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field name</th>
            <th scope="col" class="govuk-table__header">Crop area<br><span class="nonbold">in hectares</span></th>
            <th scope="col" class="govuk-table__header">Inorganic Nitrogen rate<br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Total inorganic Nitrogen</th>
            <th scope="col" class="govuk-table__header">Organic Nitrogen rate<br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Total organic Nitrogen</th>
            <th scope="col" class="govuk-table__header">Total Nitrogen rate<br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Total Nitrogen</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Long Field</td>
            <td class="govuk-table__cell">15.00</td>
            <td class="govuk-table__cell">140kg</td>          
            <td class="govuk-table__cell">41kg</td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell">140kg</td>
            <td class="govuk-table__cell">41kg</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Short Field</td>
            <td class="govuk-table__cell">15.00</td>
            <td class="govuk-table__cell">140kg</td>          
            <td class="govuk-table__cell">41kg</td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell">140kg</td>
            <td class="govuk-table__cell">41kg</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total</th>
            <th scope="col" class="govuk-table__header">30.00</td>
            <td class="govuk-table__cell"> </td>          
            <th scope="col" class="govuk-table__header">42kg</td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <th scope="col" class="govuk-table__header">82kg</th>
          </tr>               
        </tbody>
      </table>

    </div>

  </div>


{% endblock %}
