<table class="govuk-table recomendation-table data-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Nutrient recommendations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Nitrogen (N)<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Phosphate (P2O5)<br><span class="hint">per hectare</span></span></th>
      <th scope="col" class="govuk-table__header">Potash (K2O)<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Sulphur (SO3)<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Lime<br><span class="hint">per hectare</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">August to September</td>
      <td class="govuk-table__cell">10 kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>

    {% if data.plan_2024.singleFertilisersApplied == true %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mid April to early May</td>
        <td class="govuk-table__cell">10 kg</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
      </tr>
    {% endif %}

  </tbody>
</table>