{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Check your answers
    </h1>

    <h2 class="govuk-heading-m">
      Harvest year {{data.oaktree_farm.planning_year}}
    </h2>
    <div class="check-answers">
      {% if data.crop_group == 'grass' %}
        {% include "./templates/check_grass.html" %}
      {% elif data.crop_group == 'potatoes' %}
        {% include "./templates/check_potatoes.html" %}
      {% else %}
        {% include "./templates/check_crops.html" %}
      {% endif %}
    </div>
    
    <form action="/crops_V5_check_handler/" method="post" novalidate>
      {{ govukButton({
        text: "Create plan"
      }) }}
    </form>

    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
    
  </div>
</div>

{% endblock %}