{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {% if data.crop_group == 'other' %}
        What is the name of the crop?
      {% elif data.crop_group == 'potatoes' %}
        Which potato variety group are you planning to grow?
      {% else %}
        Which {{data.crop_group}} would you like to plan?
      {% endif %}
    </h1>

    <p class="govuk-hint">
      Select one option. These options come from the AHDB Nutrient Management Guide (RB209).
    </p>

    {% if data.crop_group == 'potatoes' %}
      <p class="govuk-body margin-bottom-forty">
        <a href="https://potatoes.ahdb.org.uk/knowledge-library/potato-nitrogen-groups" target="_blank">Help me find my potato variety group</a> (opens in a new window)
      </p>
    {% endif %}

    <form class="form" action="mvp_crop_handler" method="post">

      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">

          {% if data.crop_group == 'other' %}

          <div class="govuk-form-group">
            <input class="govuk-input" id="chosen_crop" name="chosen_crop" type="text" autocomplete="off">
          </div> 

          {% else %}

            {% for crop in data.crop_types %}
              {% if crop.type == data.crop_group %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id={{crop.reference}} name="chosen_crop" type="radio" value={{crop.reference}}>
                  <label class="govuk-label govuk-radios__label" for={{crop.reference}}>
                    {{crop.name}}
                  </label>
                </div>
              {% endif %}
            {% endfor %}

          {% endif %}

        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}