{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What type of crop would you like to add to your {{data.oaktree_farm.planning_year}} plan?
    </h1>

    <p class="govuk-hint">
      Select one option. These options come from the AHDB Nutrient Management Guide (RB209).
    </p>

    <form class="form" action="cropmvp_handler" method="post">
      <div class="govuk-form-group">
          {% include "./templates/crop_group_content" %}
        </fieldset>
      </div>
      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}