
<!-- <form class="form" action="mvp_another_crop_handler" method="post"> -->
  <!-- <form class="form" action="mvp_another_crop_handler secondcrop_handler" method="post"> -->

        {% extends "layouts/main.html" %}

        {% block pageTitle %}
          Question – {{ serviceName }} – GOV.UK Prototype Kit
        {% endblock %}
        
        {% block beforeContent %}
          {% include "/templates/signed-in.html" ignore missing %}
          
          {{ govukBackLink({
            text: "Back",
            href: "javascript:window.history.back()"
          }) }}
        {% endblock %}
        
        {% block content %}
        
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
        
              <!-- {% include "templates/title_span.html" %} -->
              <h1 class="govuk-heading-l">
                {% if data.crop_group != 'other' %}
                  Select any crops you plan to grow in these fields in the same harvest year as your {{data.chosen_crop | nameconverter}}
                {% else %}
                  Do you plan to grow any other crops in these fields?
                {% endif %}
              </h1>
        
              <form class="form" action="mvp_another_crop_handler" method="post">
                <div class="govuk-form-group">

                  {% if data.crop_group == 'other' %}

                      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="yes" name="other_selected" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="yes">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="no" name="other_selected" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="no">
                            No
                          </label>
                        </div>
                      </div>

                  {% else %}
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="turnips" name="cover_crop" type="radio" value="Turnips-stubble">
                        <label class="govuk-label govuk-radios__label" for="turnips">
                          Stubble Turnips
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="Rape-forage" name="cover_crop" type="radio" value="Rape-forage">
                        <label class="govuk-label govuk-radios__label" for="Rape-forage">
                          Forage Rape
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="none" name="cover_crop" type="radio" value="none">
                        <label class="govuk-label govuk-radios__label" for="none">
                          I don't plan to grow any of these crops in the same harvest year
                        </label>
                      </div>
                    </div>
                  {% endif %}
      

                </div>
                {{ govukButton({
                  text: "Continue"
                }) }}
        
              </form>
        
            </div>
            
          </div>
        
          <p class="govuk-body">
            <a href="fields.html">Cancel</a>
          </p>
        
        {% endblock %}
        
        
        
        
        
        
        
        
        
        
        