<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which harvest year would you like to plan for?</dt>
    <dd class="govuk-summary-list__value">2025</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Crop</dt>
    <dd class="govuk-summary-list__value">{{data.crop_group | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div> 

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields do you plan to grow {{data.chosen_crop | nameconverter}} in?</dt>
    <dd class="govuk-summary-list__value">
      {% for field in data.crop_fields %}
        {{field.name}} <br>
      {% endfor %}      
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the required dry matter yield for these fields?</dt>
    <dd class="govuk-summary-list__value">12 tonnes per hectare</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How many defoliations will you have in these fields?</dt>
    <dd class="govuk-summary-list__value">2</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Defoliations</dt>
    <dd class="govuk-summary-list__value">
      1 - Grazing<br>
      2 - Silage
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

</dl>