<dl class="govuk-summary-list nutrient_list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What kind of organic material storage do you want to add?</dt>
    <dd class="govuk-summary-list__value">Slurry</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What do you want to call this organic material store?</dt>
      <dd class="govuk-summary-list__value">Tin Tank</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What kind of storage is Tin Tank?</dt>
      <dd class="govuk-summary-list__value">Square</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Tin Tank dimensions<br>
      <dd class="govuk-summary-list__value">
      Length: 1 metre<br>
      Width: 2 metres<br>
      Depth: 2 metres<br>
      &nbsp;
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Capacity volume</dt>
      <dd class="govuk-summary-list__value">x meters cubed</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Surface area</dt>
      <dd class="govuk-summary-list__value">x meters squared</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

</dl>