{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What kind of storage is Tin Tank?
      </h1>

      <p class="govuk-hint">Choose one option.</p>

      <form class="form" action="size_question" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            {% if data.material_type != 'solid manure' %}
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="square" name="material_type" type="radio" value="square">
                  <label class="govuk-label govuk-radios__label" for="square">
                    Square
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="rectangular" name="material_type" type="radio" value="rectangular">
                  <label class="govuk-label govuk-radios__label" for="rectangular">
                    Rectangular
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="circular" name="material_type" type="radio" value="circular">
                  <label class="govuk-label govuk-radios__label" for="circular">
                    Circular
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="banked" name="material_type" type="radio" value="earth banked">
                  <label class="govuk-label govuk-radios__label" for="banked">
                    Earth banked
                  </label>
                </div>
              </div>
            {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="square" name="material_type" type="radio" value="poultry litter">
                <label class="govuk-label govuk-radios__label" for="square">
                  Poultry litter
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rectangular" name="material_type" type="radio" value="Other poultry litter">
                <label class="govuk-label govuk-radios__label" for="rectangular">
                  Other poultry litter (usually from layers)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circular" name="material_type" type="radio" value="Other solid manures">
                <label class="govuk-label govuk-radios__label" for="circular">
                  Other solid manures
                </label>
              </div>
            {% endif %}

          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  
  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
