{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is the weight capacity of Tin Tank?</h1>

      <p class="govuk-hint">This has been calculated based on the entered sizes. You can change it if you need to.</p>
      
      <form action="check" method="post" novalidate="">

        <div class="govuk-form-group">
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="nitrogen_standard" name="nitrogen_standard" type="text" value="22" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
          </div>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body cancel-link"><a href="/version_7/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
