<h2 class="govuk-heading-m">Slurry stores</h2>
<p class="govuk-body-s">Capacity for earth banked stores include a freeboard of 75cm. All other stores include a freeboard of 30cm.</p>
<table class="govuk-table margin-bottom-forty data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header storage_name">Name</th>
      <th scope="col" class="govuk-table__header">Storage type</th>
      <th scope="col" class="govuk-table__header">Covered</th>
      <th scope="col" class="govuk-table__header">Total capacity</th>
      <th scope="col" class="govuk-table__header">Surface area</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Tin tank</td>
      <td class="govuk-table__cell">Square or rectangular store</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">200 cubic metres</td>
      <td class="govuk-table__cell">8 cubic metres</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Slurry storage totals</th>
      <th scope="col" class="govuk-table__header">&nbsp;</th>
      <td class="govuk-table__cell">&nbsp;</td>
      <th scope="col" class="govuk-table__header">200 cubic metres</th>
      <th scope="col" class="govuk-table__header">8 cubic metres</th>
    </tr>
  </tbody>
</table>

<!-- <h2 class="govuk-heading-m">Dirty water stores</h2>
<p class="govuk-body-s">Capacity for earth banked stores include a freeboard of 75cm. All other stores include a freeboard of 30cm.</p>
<table class="govuk-table margin-bottom-forty data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header storage_name">Name</th>
      <th scope="col" class="govuk-table__header">Total capacity</th>
      <th scope="col" class="govuk-table__header">Surface area</th>
      <th scope="col" class="govuk-table__header">Covered</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Lagoon</td>
      <td class="govuk-table__cell">200 cubic metres</td>
      <td class="govuk-table__cell">8 cubic metres</td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header storage_name">Dirty water total</th>
      <th scope="col" class="govuk-table__header">200 cubic metres</th>
      <th scope="col" class="govuk-table__header">8 cubic metres</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
</table> -->

<h2 class="govuk-heading-m">Solid manure stores</h2>
<p class="govuk-body-s">On a concrete base or in poultry houses.</p>
<table class="govuk-table margin-bottom-forty data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header storage_name">Name</th>
      <th scope="col" class="govuk-table__header">Storage type</th>
      <th scope="col" class="govuk-table__header">Solid capacity</th>
      <th scope="col" class="govuk-table__header">Fresh weight capacity</th>
      <th scope="col" class="govuk-table__header">Surface area</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Solid storage 2</td>
      <td class="govuk-table__cell">Other solid manures</td>
      <td class="govuk-table__cell">200 cubic metres</td>
      <td class="govuk-table__cell">150 tonnes</td>
      <td class="govuk-table__cell">8 cubic metres</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header storage_name">Solid manure totals</th>
      <th scope="col" class="govuk-table__header">&nbsp;</th>
      <th scope="col" class="govuk-table__header">200 cubic metres</th>
      <th scope="col" class="govuk-table__header">150 tonnes</th>
      <th scope="col" class="govuk-table__header">8 cubic metres</th>
    </tr>
  </tbody>
</table>

<!-- <p>None entered</p>
 <hr class="separator_thirty"> -->

 <h2 class="govuk-heading-m">Manure storage totals</h2>
<table class="govuk-table margin-bottom-forty data-table manure_store_totals">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total slurry capacity</th>
      <!-- <th scope="row" class="govuk-table__header">Total slurry capacity</th> -->
      <td class="govuk-table__cell">400 cubic metres</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total solid manure capacity (volume)</th>
      <td class="govuk-table__cell">200 cubic metres</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total solid manure capacity (fresh weight)</th>
      <td class="govuk-table__cell">150 tonnes</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total area of uncovered stores</th>
      <td class="govuk-table__cell">24 cubic metres</td>
    </tr>
  </tbody>
</table>