
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#slurry">
        Slurry storage
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#dirty_water">
        Dirty water storage
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#solid">
        Solid material storage
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#total">
        Manure storage totals
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="slurry">
    <h2 class="govuk-heading-l non-standard">Slurry storage</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Storage type</th>
          <th scope="col" class="govuk-table__header">Total capacity</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{data.storage_name}}</td>
        <td class="govuk-table__cell">Square or rectangular tank</td>
        <td class="govuk-table__cell">256 cubic metres</td>
        <td class="govuk-table__cell"><a href="./change">Change</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dirty_water">
    <h2 class="govuk-heading-l non-standard">Dirty water storage</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Storage type</th>
          <th scope="col" class="govuk-table__header">Total capacity</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{data.storage_name}}</td>
        <td class="govuk-table__cell">Square or rectangular tank</td>
        <td class="govuk-table__cell">256 cubic metres</td>
        <td class="govuk-table__cell"><a href="./change">Change</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="solid">
    <h2 class="govuk-heading-l non-standard">Solid material storage</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Storage type</th>
          <th scope="col" class="govuk-table__header">Total capacity</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{data.storage_name}}</td>
        <td class="govuk-table__cell">Square or rectangular tank</td>
        <td class="govuk-table__cell">256 cubic metres</td>
        <td class="govuk-table__cell"><a href="./change">Change</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="total">
    <h2 class="govuk-heading-l non-standard">Manure storage totals</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Storage type</th>
          <th scope="col" class="govuk-table__header">Total capacity</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{data.storage_name}}</td>
        <td class="govuk-table__cell">Square or rectangular tank</td>
        <td class="govuk-table__cell">256 cubic metres</td>
        <td class="govuk-table__cell"><a href="./change">Change</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 