<!-- {% for item in data.manure_storage %}
  {{item.store_type}}
  {{item.store_name}}
  {{item.store_material}}
{% endfor %} -->

{% set solid_storage = false %}
{% set slurry_storage = false %}
{% set slurry_store_total = 0 %}
{% set solid_store_total = 0 %}
{% set solid_weight_total = 0 %}

{% for item in data.manure_storage %}
  {% if item.store_type == 'slurry' %}
    {% set slurry_store_total = slurry_store_total + 256 %}
    {% set slurry_storage = true %}
  {% endif %}
  {% if item.store_type == 'solid manure' %}
    {% set solid_store_total = solid_store_total + 256 %}
    {% set solid_storage = true %}
  {% endif %}
{% endfor %}

{% set solid_weight_total = (solid_store_total / 2) /10 %}

<div class="govuk-tabs" data-module="govuk-tabs">

  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    {% if slurry_storage == true %}
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#slurry">
          Slurry storage
        </a>
      </li>
    {% endif %}

    {% if solid_storage == true %}
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#solid">
          Solid manure storage
        </a>
      </li>
    {% endif %}

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#total">
        Manure storage totals
      </a>
    </li>

  </ul>

  {% if slurry_storage == true %}
    <div class="govuk-tabs__panel" id="slurry">
      <h2 class="govuk-heading-l non-standard">Slurry storage</h2>
        {% include "./slurry_table.html" ignore missing %}
    </div>
  {% endif %}

  {% if solid_storage == true %}
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="solid">
      <h2 class="govuk-heading-l non-standard">Solid manure storage</h2>
        {% include "./solid_table.html" ignore missing %}
    </div>
  {% endif %}

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="total">
    <h2 class="govuk-heading-l non-standard">Manure storage totals</h2>
    {% include "./total_table.html" ignore missing %}
  </div>

</div> 