<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
  </div>

  <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        You have added manure storage
      </h3>

      <p class="govuk-body">To create an existing manure storage capacity report, enter all the manure storage on {{data.oaktree_farm.name}} in {{data.oaktree_farm.planning_year}}.</p>

      <p class="govuk-body"><a class="govuk-notification-banner__link" href="../../add_storage/material_type">Add more manure storage</a></p>  
      {% if data.export_type == 7 %}
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="report">Continue to create an existing manure storage capacity report</a></p>  
      {% else %}
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_inventory_checklist_message_handler">Continue to create an Organic manures inventory and NVZ manure storage requirement report for {{data.oaktree_farm.planning_year}}</a></p>  
      {% endif %}

  </div>
</div>
