<table class="govuk-table data-table">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Total slurry capacity</th>
    <td class="govuk-table__cell">{{slurry_store_total}} cubic metres</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Total solid manure capacity (volume)</th>
    <td class="govuk-table__cell">{{solid_store_total}} cubic metres</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Total solid manure capacity (fresh weight)</th>
    <td class="govuk-table__cell">{{solid_weight_total}} tonnes</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Total surface area of uncovered stores</th>
    <td class="govuk-table__cell">0 cubic metres</td>
  </tr>
</table>