<h2 class="govuk-heading-l">Winter Wheat fields</h2>

<h3 class="govuk-heading-m">N-max limit for Winter Wheat fields</h3>
<p class="govuk-body">N-max limit for Winter Wheat fields before adjustments: 220kg per hectare.</p>
<table class="new_nmax_table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area</th>
      <th scope="col" class="govuk-table__header">Crop yield</th>
      <th scope="col" class="govuk-table__header">Soil type adjustment</th>
      <th scope="col" class="govuk-table__header">Yield adjustment</th>
      <th scope="col" class="govuk-table__header">Milling Wheat adjustment</th>
      <th scope="col" class="govuk-table__header">Paper crumble or straw mulch</th>
      <th scope="col" class="govuk-table__header">Adjusted N-max limit kg N/ha</th>
      <th scope="col" class="govuk-table__header">Maximum limit for N applied kg N</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="field_name_td govuk-table__cell">40 acres</td>
      <td class="field_area_td govuk-table__cell">18ha</td>
      <td class="field_croparea_td govuk-table__cell">8t per ha</td>          
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="wheat_adjustment_td govuk-table__cell"></td>
      <td class="paper_adjustment_td govuk-table__cell"></td>
      <td class="nrate_td govuk-table__cell">220kg<br>N per ha</td>
      <td class="nlimit_td govuk-table__cell">3960kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_td govuk-table__cell">High Barns</td>
      <td class="field_area_td govuk-table__cell">11ha</td>
      <td class="field_croparea_td govuk-table__cell">9.5t per ha</td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="yield_adjustment_td govuk-table__cell">30kg<br>N per ha</td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="paper_adjustment_td govuk-table__cell"></td>
      <td class="nrate_td govuk-table__cell">250kg<br>N per ha</td>
      <td class="nlimit_td govuk-table__cell">2750kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_td govuk-table__cell">Bendy field</td>
      <td class="field_area_td govuk-table__cell">7.5ha</td>
      <td class="field_croparea_td govuk-table__cell">9t per ha</td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="yield_adjustment_td govuk-table__cell">20kg<br>N per ha</td>
      <td class="wheat_adjustment_td govuk-table__cell">40kg<br>N per ha</td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="nrate_td govuk-table__cell">280kg<br>N per ha</td>
      <td class="nlimit_td govuk-table__cell">2100kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_td govuk-table__cell">Extra close</td>
      <td class="field_area_td govuk-table__cell">5ha</td>
      <td class="field_croparea_td govuk-table__cell">9.5t per ha</td>
      <td class="yield_adjustment_td govuk-table__cell">20kg<br>N/ha</td>
      <td class="yield_adjustment_td govuk-table__cell">30kg<br>N per ha</td>
      <td class="wheat_adjustment_td govuk-table__cell"></td>
      <td class="paper_adjustment_td govuk-table__cell">80kg<br>N per ha</td>
      <td class="nrate_td govuk-table__cell">350kg<br>N per ha</td>
      <td class="nlimit_td govuk-table__cell">1750kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_td govuk-table__cell">Long field</td>
      <td class="field_area_td govuk-table__cell">6ha</td>
      <td class="field_croparea_td govuk-table__cell">8t per ha</td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="wheat_adjustment_td govuk-table__cell"></td>
      <td class="paper_adjustment_td govuk-table__cell"></td>
      <td class="nrate_td govuk-table__cell">220kg<br>N per ha</td>
      <td class="nlimit_td govuk-table__cell">1320kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_td govuk-table__cell">High paddocks</td>
      <td class="field_area_td govuk-table__cell">7.5ha</td>
      <td class="field_croparea_td govuk-table__cell">10t per ha</td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="yield_adjustment_td govuk-table__cell">40kg<br>N per ha</td>
      <td class="yield_adjustment_td govuk-table__cell"></td>
      <td class="paper_adjustment_td govuk-table__cell"></td>
      <td class="nrate_td govuk-table__cell">260kg<br>N per ha</td>
      <td class="nlimit_td govuk-table__cell">1950kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">55ha</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="govuk-table__header">13830kg</th>
    </tr>
  </tbody>
</table>