<h2 class="govuk-heading-l">Grass fields</h2>
<h3 class="govuk-heading-m">Nmax limit for Grass fields</h3>
<p class="govuk-body">Nmax limit for Winter Grass before adjustments: 300kg per hectare, per field</p>
<table class="govuk-table new_nmax_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area</th>
      <th scope="col" class="govuk-table__header">Crop yield</th>
      <th scope="col" class="govuk-table__header">Soil type</th>
      <th scope="col" class="govuk-table__header">Yield adjustment</th>
      <th scope="col" class="govuk-table__header">Grass cut only</th>
      <th scope="col" class="govuk-table__header">Paper or Straw mulch</th>
      <th scope="col" class="govuk-table__header">Adjusted <br>N rate</th>
      <th scope="col" class="govuk-table__header">Adjusted <br>N limit</th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Short field</td>
      <td class="govuk-table__cell">10 ha</td>
      <td class="govuk-table__cell">8 tonnes per ha</td>          
      <td class="govuk-table__cell">20kg<br>(N per ha)</td>
      <td class="govuk-table__cell">20kg<br>(N per ha)</td>
      <td class="govuk-table__cell">20kg<br>(N per ha)</td>
      <td class="govuk-table__cell">20kg<br>(N per ha)</td>
      <td class="govuk-table__cell">220kg<br>(N per ha)</td>
      <td class="govuk-table__cell">3960kg</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">10 ha</th>
      <td scope="col" class="nonbold govuk-table__header">-</t>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="govuk-table__header">3960kg</th>
    </tr>
  </tbody>
</table> 