<h2 class="govuk-heading-l">Nmax limit for Grass fields</h2>
<p class="govuk-body">Nmax limit before adjustments: 300kg per hectare.</p>


<table class="nmax-new govuk-table govuk-table-small margin-bottom-forty new_nmax_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field name</th>
      <th scope="col" class="govuk-table__header">Cropped <br>area</th>
      <th scope="col" class="govuk-table__header">Yield per hectare</th>
      <th scope="col" class="govuk-table__header">Soil</th>
      <th scope="col" class="govuk-table__header">Yield adjustment</th>
      <th scope="col" class="govuk-table__header">Cut only</th>
      <!-- <th scope="col" class="govuk-table__header">Paper sludge / Straw mulch</th> -->
      <th scope="col" class="govuk-table__header">Adjusted rate per hectare</th>
      <th scope="col" class="govuk-table__header">Adjusted total per hectare</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poplar</td>
      <td class="govuk-table__cell">19 hectares</td>
      <td class="govuk-table__cell">13 tonnes</td>          
      <td class="govuk-table__cell">Medium</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">Yes</td>
      <!-- <td class="govuk-table__cell">No</td> -->
      <td class="govuk-table__cell">300kg</td>
      <td class="govuk-table__cell">5850kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Barn</td>
      <td class="govuk-table__cell">19 hectares</td>
      <td class="govuk-table__cell">13 tonnes</td>          
      <td class="govuk-table__cell">Medium</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">Yes</td>
      <!-- <td class="govuk-table__cell">No</td> -->
      <td class="govuk-table__cell">300kg</td>
      <td class="govuk-table__cell">5850kg</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">38 hectares</th>
      <th scope="col" class="govuk-table__header">26 tonnes</th>          
      <td class="govuk-table__cell">-</td>          
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">11700kg</th>
    </tr>
    <tr class="govuk-table__row">
      <td colspan="8" class="govuk-table__cell">Note: Short Field and long Field use Paper sludge / Straw mulch</td>
    </tr>    
</table>

<h2 class="govuk-heading-m">Inorganic nitrogen applications for Grass fields</h2>
<table class="nmax-new govuk-table govuk-table-small new_nmax_rates_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field name</th>
      <th scope="col" class="govuk-table__header">Rate per hectare (Inorganic)</th>
      <th scope="col" class="govuk-table__header">Total per hectare (Inorganic)</th>
      <th scope="col" class="govuk-table__header">Rate per hectare (Crop available organic)</th>
      <th scope="col" class="govuk-table__header">Total per hectare (Crop available organic)</th>
      <th scope="col" class="govuk-table__header">Rate per hectare (all sources)</th>
      <th scope="col" class="govuk-table__header">Total per hectare (all sources)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long Field</td>
      <!-- <td class="govuk-table__cell">19.00</td> -->
      <td class="govuk-table__cell">140kg</td>          
      <td class="govuk-table__cell">41kg</td>          
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">140kg</td>
      <td class="govuk-table__cell">41kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Short Field</td>
      <!-- <td class="govuk-table__cell">19.00</td> -->
      <td class="govuk-table__cell">140kg</td>          
      <td class="govuk-table__cell">41kg</td>          
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">140kg</td>
      <td class="govuk-table__cell">41kg</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Total</th>
      <!-- <th scope="col" class="govuk-table__header">38.00</td> -->
      <td class="govuk-table__cell">-</td>          
      <th scope="col" class="govuk-table__header">82kg</td>          
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">0</th>
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">82kg</th>
    </tr>               
  </tbody>
</table>