<table id="usethis" class="govuk-table govuk-table-small new_nmax_rates_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area <span class="nonbold">ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N rate <br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N rate<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N rate (all sources)<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N total (all sources)<br><span class="nonbold">per ha</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="field_name_appliocations_td govuk-table__cell">40 acres</td>
      <td class="field_area_td govuk-table__cell">18</td>
      <td class="inorganioc_rate_td govuk-table__cell">160kg</td>
      <td class="inorganioc_total_td govuk-table__cell">2880kg</td>
      <td class="organic_available_rate_td govuk-table__cell">24kg</td>
      <td class="organic_available_total_td govuk-table__cell">432kg</td>
      <td class="nrate_td govuk-table__cell">184kg</td>
      <td class="ntotal_td govuk-table__cell">3312kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_appliocations_td govuk-table__cell">High Barns</td>
      <td class="field_area_td govuk-table__cell">11</td>
      <td class="inorganioc_rate_td govuk-table__cell">160kg</td>
      <td class="inorganioc_total_td govuk-table__cell">1760kg</td>
      <td class="organic_available_rate_td govuk-table__cell">&nbsp;</td>
      <td class="organic_available_total_td govuk-table__cell">&nbsp;</td>
      <td class="nrate_td govuk-table__cell">160kg</td>
      <td class="ntotal_td govuk-table__cell">1760kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_appliocations_td govuk-table__cell">Bendy field</td>
      <td class="field_area_td govuk-table__cell">7.5</td>
      <td class="inorganioc_rate_td govuk-table__cell">240kg</td>
      <td class="inorganioc_total_td govuk-table__cell">1800kg</td>
      <td class="organic_available_rate_td govuk-table__cell">&nbsp;</td>
      <td class="organic_available_total_td govuk-table__cell">&nbsp;</td>
      <td class="nrate_td govuk-table__cell">240kg</td>
      <td class="ntotal_td govuk-table__cell">1800kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_appliocations_td govuk-table__cell">Extra close</td>
      <td class="field_area_td govuk-table__cell">5</td>
      <td class="inorganioc_rate_td govuk-table__cell">160kg</td>
      <td class="inorganioc_total_td govuk-table__cell">800kg</td>
      <td class="organic_available_rate_td govuk-table__cell">&nbsp;</td>
      <td class="organic_available_total_td govuk-table__cell">&nbsp;</td>
      <td class="nrate_td govuk-table__cell">160kg</td>
      <td class="ntotal_td govuk-table__cell">80kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_appliocations_td govuk-table__cell">Long field</td>
      <td class="field_area_td govuk-table__cell">6</td>
      <td class="inorganioc_rate_td govuk-table__cell">160kg</td>
      <td class="inorganioc_total_td govuk-table__cell">960kg</td>
      <td class="organic_available_rate_td govuk-table__cell">&nbsp;</td>
      <td class="organic_available_total_td govuk-table__cell">&nbsp;</td>
      <td class="nrate_td govuk-table__cell">160kg</td>
      <td class="ntotal_td govuk-table__cell">96kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="field_name_appliocations_td govuk-table__cell">High paddocks</td>
      <td class="field_area_td govuk-table__cell">7.5</td>
      <td class="inorganioc_rate_td govuk-table__cell">160kg</td>
      <td class="inorganioc_total_td govuk-table__cell">1200kg</td>
      <td class="organic_available_rate_td govuk-table__cell">&nbsp;</td>
      <td class="organic_available_total_td govuk-table__cell">&nbsp;</td>
      <td class="nrate_td govuk-table__cell">160kg</td>
      <td class="ntotal_td govuk-table__cell">1200kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">55</th> 
      <td class="govuk-table__cell">-</td>         
      <th scope="col" class="govuk-table__header">9400kg</td>          
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">432kg</th>
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">9832kg</th>
    </tr>               
  </tbody>
</table>
