<table class="govuk-table govuk-table-small new_nmax_rates_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area <span class="nonbold">ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N rate <br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N rate<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N rate (all sources)<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N total (all sources)<br><span class="nonbold">per ha</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="field_name_appliocations_grass_td govuk-table__cell">{{fieldName}}</td>
      <td class="field_area_td govuk-table__cell">10</td>          
      <td class="inorganioc_rate_td govuk-table__cell">140kg</td>          
      <td class="inorganioc_total_td govuk-table__cell">41kg</td>          
      <td class="organic_available_rate_td govuk-table__cell">0kg</td>
      <td class="organic_available_total_td govuk-table__cell">0kg</td>
      <td class="nrate_grass_td govuk-table__cell">140kg</td>
      <td class="ntotal_grass_td govuk-table__cell">41kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">10</th> 
      <td class="govuk-table__cell">-</td>         
      <th scope="col" class="govuk-table__header">41kg</td>          
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">0</th>
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">4100kg</th>
    </tr>               
  </tbody>
</table>


