<table class="govuk-table new_nmax_rates_table_grass">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area <span class="nonbold">ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N rate <br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N total</th>
      <th scope="col" class="govuk-table__header">Organic crop available N rate<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N total</th>
      <th scope="col" class="govuk-table__header">N rate (all sources)<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N total (all sources)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Paddock</td>
      <td class="col_2 govuk-table__cell">4.1</td>
      <td class="col_3 govuk-table__cell">320kg</td>
      <td class="col_4 govuk-table__cell">1,312kg</td>
      <td class="col_5 govuk-table__cell">52kg</td>
      <td class="col_6 govuk-table__cell">213kg</td>
      <td class="col_7 govuk-table__cell">372kg</td>
      <td class="col_8 govuk-table__cell">1,525</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Red Hill</td>
      <td class="govuk-table__cell">9.2</td>
      <td class="govuk-table__cell">320kg</td>
      <td class="govuk-table__cell">2,944kg</td>
      <td class="govuk-table__cell">52kg</td>
      <td class="govuk-table__cell">478kg</td>
      <td class="govuk-table__cell">372kg</td>
      <td class="govuk-table__cell">3,422</td>
    </tr>    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Little Severals</td>
      <td class="govuk-table__cell">8</td>
      <td class="govuk-table__cell">320kg</td>
      <td class="govuk-table__cell">2,560kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">320kg</td>
      <td class="govuk-table__cell">2,560</td>
    </tr>   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Big Severals</td>
      <td class="govuk-table__cell">4.5</td>
      <td class="govuk-table__cell">320kg</td>
      <td class="govuk-table__cell">1,440kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">320kg</td>
      <td class="govuk-table__cell">1,440</td>
    </tr>   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Back ground</td>
      <td class="govuk-table__cell">6</td>
      <td class="govuk-table__cell">320kg</td>
      <td class="govuk-table__cell">1,920kg</td>
      <td class="govuk-table__cell">52kg</td>
      <td class="govuk-table__cell">312kg</td>
      <td class="govuk-table__cell">372kg</td>
      <td class="govuk-table__cell">2,232kg</td>
    </tr>  
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">31.8ha</th> 
      <td class="govuk-table__cell">-</td>         
      <th scope="col" class="govuk-table__header">10176kg</td>          
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">1004kg</th>
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">11,180kg</th>
    </tr>               
  </tbody>
</table>