<table class="govuk-table new_nmax_rates_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area <span class="nonbold">ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N rate <br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N rate<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N rate (all sources)<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N total (all sources)<br><span class="nonbold">per ha</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">40 acres</td>
      <td class="col_2 govuk-table__cell">18</td>
      <td class="col_3 govuk-table__cell">160kg</td>
      <td class="col_4 govuk-table__cell">2,880kg</td>
      <td class="col_5 govuk-table__cell">24kg</td>
      <td class="col_6 govuk-table__cell">432kg</td>
      <td class="col_7 govuk-table__cell">1,84kg</td>
      <td class="col_8 govuk-table__cell">3,312kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">High Barns</td>
      <td class="govuk-table__cell">11</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">1,760kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">1,760kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Bendy field</td>
      <td class="govuk-table__cell">7.5</td>
      <td class="govuk-table__cell">240kg</td>
      <td class="govuk-table__cell">1,800kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">240kg</td>
      <td class="govuk-table__cell">1,800kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Extra close</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">800kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">80kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long field</td>
      <td class="govuk-table__cell">6</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">960kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">96kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">High paddocks</td>
      <td class="govuk-table__cell">7.5</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">1,200kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">160kg</td>
      <td class="govuk-table__cell">1,200kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">55ha</th> 
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="govuk-table__header">9,400kg</td>          
        <th scope="col" class="nonbold govuk-table__header">-</th>
        <th scope="col" class="govuk-table__header">432kg</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="govuk-table__header">9,832kg</th>
    </tr>               
  </tbody>
</table>
