<table class="nmax-new govuk-table govuk-table-small new_nmax_rates_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area</th>
      <th scope="col" class="govuk-table__header">Inorganic <br>N rate</th>
      <th scope="col" class="govuk-table__header">Inorganic <br>N total</th>
      <th scope="col" class="govuk-table__header">Organic crop available N rate</th>
      <th scope="col" class="govuk-table__header">Organic crop available N total</th>
      <th scope="col" class="govuk-table__header">N rate (all sources)</th>
      <th scope="col" class="govuk-table__header">N total (all sources)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{fieldName}}</td>
      <td class="govuk-table__cell">10 ha</td>          
      <td class="govuk-table__cell">140kg per ha</td>          
      <td class="govuk-table__cell">41kg</td>          
      <td class="govuk-table__cell">0 per ha</td>
      <td class="govuk-table__cell">0 per ha</td>
      <td class="govuk-table__cell">140kg per ha</td>
      <td class="govuk-table__cell">41kg</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">10 ha</th> 
      <td class="govuk-table__cell">-</td>         
      <th scope="col" class="govuk-table__header">41kg</td>          
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">0</th>
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">4100kg</th>
    </tr>               
  </tbody>
</table>