<table class="govuk-table new_nmax_rates_table_grass">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area <span class="nonbold">ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N rate <br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Inorganic N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N rate<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Organic crop available N total<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N rate (all sources)<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">N total (all sources)<br><span class="nonbold">per ha</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">New Field</td>
      <td class="col_2 govuk-table__cell">18</td>
      <td class="col_3 govuk-table__cell">160kg</td>
      <td class="col_4 govuk-table__cell">2880kg</td>
      <td class="col_5 govuk-table__cell">24kg</td>
      <td class="col_6 govuk-table__cell">432kg</td>
      <td class="col_7 govuk-table__cell">184kg</td>
      <td class="col_8 govuk-table__cell">3312kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">18</th> 
      <td class="govuk-table__cell">-</td>         
      <th scope="col" class="govuk-table__header">2880kg</td>          
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">432kg</th>
      <td class="govuk-table__cell">-</td>
      <th scope="col" class="govuk-table__header">3312kg</th>
    </tr>               
  </tbody>
</table>


