<table id="nmax_summary" class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Crop</th>
      <th scope="col" class="govuk-table__header">N-max compliant</th>
      <!-- <th scope="col" class="govuk-table__header">Total limit before adjustments</th>
      <th scope="col" class="govuk-table__header">Total limit after adjustments</th>
      <th scope="col" class="govuk-table__header">Total nitrogen (N) applied (all sources)</th> -->
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Winter Wheat</td>
      <td class="col_2 govuk-table__cell">Yes</td>
      <!-- <td class="col_3 govuk-table__cell">12,100kg</td>          
      <td class="col_3 govuk-table__cell">13,830kg</td>          
      <td class="col_3 govuk-table__cell">9,832kg</td>           -->
    </tr>
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Grass</td>
      <td class="col_2 govuk-table__cell">No</td>
      <!-- <td class="col_3 govuk-table__cell">9,540kg</td>          
      <td class="col_3 govuk-table__cell">10,444kg</td>          
      <td class="col_3 govuk-table__cell">11,180kg</td>           -->
    </tr>
  </tbody>
</table>