<dl class="govuk-summary-list margin-bottom-forty">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What do you want to call this wash area?</dt>
    <dd class="govuk-summary-list__value">Big Parlour</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you know the amount of water used on Big Parlour each month?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Monthly volume of water used on Big Parlour</dt>
    <dd class="govuk-summary-list__value">
      <ul class="nutrient_values">
        <li>October 2024: <span>500 litres</span></li>
        <li>November 2024: <span>500 litres</span></li>
        <li>December 2024: <span>500 litres</span></li>
        <li>January 2025: <span>500 litres</span></li>
        <li>February 2025: <span>500 litres</span></li>
        <li>March 2025: <span>300 litres</span></li>
        <li>April 2025: <span>300 litres</span></li>
        <li>May 2025: <span>300 litres</span></li>
        <li>June 2025: <span>300 litres</span></li>
        <li>July 2025: <span>300 litres</span></li>
        <li>August 2025: <span>300 litres</span></li>
        <li>September 2025: <span>300 litres</span></li>
      </ul>
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Where does the water drain to from Big Parlour?</dt>
    <dd class="govuk-summary-list__value">Cattle slurry store</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
</dl>