{% macro monthitem(name, year, days, volume) %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Volume of water used in {{name}} {{year}}</dt>
    <dd class="govuk-summary-list__value">
      {{volume}} litres
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
{% endmacro %}

<dl class="govuk-summary-list margin-bottom-forty">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What do you want to call this wash area?</dt>
    <dd class="govuk-summary-list__value">{{data.wash_area_name}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Where does the water drain to from {{data.wash_area_name}}?</dt>
    <dd class="govuk-summary-list__value">{{data.slurry_store}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which of your livestock types use {{data.wash_area_name}}?</dt>
    <dd class="govuk-summary-list__value">{{data.inventory_livestock | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you know the amount of water used on {{data.wash_area_name}} each month?</dt>
    <dd class="govuk-summary-list__value">No</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which of your livestock types use {{data.wash_area_name}}?</dt>
    <dd class="govuk-summary-list__value">Cattle</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which of your cattle types use {{data.wash_area_name}}?</dt>
    <dd class="govuk-summary-list__value">
      Dairy cow from 2 months and less than 12 months.<br>
      Dairy cow from 12 months up to first calf.<br>
      Dairy cow after first calf (6,000 to 9,000 litres milk yield).<br>
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

    {{ monthitem ("October", data.oaktree_farm.planning_year-1, 31, 62) }}
    {{ monthitem ("November", data.oaktree_farm.planning_year-1, 30, 60) }}
    {{ monthitem ("December", data.oaktree_farm.planning_year-1, 31, 62) }}
    {{ monthitem ("January", data.oaktree_farm.planning_year, 29, 58) }}
    {{ monthitem ("February", data.oaktree_farm.planning_year, 31, 62) }}
    {{ monthitem ("March", data.oaktree_farm.planning_year, 31, 62) }}
    {{ monthitem ("April", data.oaktree_farm.planning_year, 30, 60) }}
    {{ monthitem ("May", data.oaktree_farm.planning_year, 31, 62) }}
    {{ monthitem ("June", data.oaktree_farm.planning_year, 30, 60) }}
    {{ monthitem ("July", data.oaktree_farm.planning_year, 31, 62) }}
    {{ monthitem ("August", data.oaktree_farm.planning_year, 31, 62) }}
    {{ monthitem ("September", data.oaktree_farm.planning_year, 30, 60) }}
</dl>