{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Update an organic material application for harvest year 2025
    </h1>

    <div class="govuk-inset-text margin-bottom-forty">
      <p class="govuk-body">
        Changes here will be applied to this organic material application for all of these fields. 
        <!-- To change a single application select it from your crop plan. <a href="../../plan_view">View the 2025 crop plan </a>-->
      </p>
    </div>

    <div class="check-answers">
      <dl class="govuk-summary-list margin-bottom-forty">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Which fields would you like to plan an organic material application for?
          </dt>
          <dd class="govuk-summary-list__value">
            Poplar
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of organic material do you plan to use in this application?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.manure_type.name}}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">When do you first plan to spread organic material on the fields?</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
                {{data.manure_date_day}}
                {{data.manure_date_month | convertmonth}}
                {{data.manure_date_year}} 
            </p>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you want to use the default nutrient values for {{data.manure_group.name}}?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How would you like to calculate the amount of manure used?</dt>
          <dd class="govuk-summary-list__value">Use the standard application rate of 30 tonnes per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How will the manure be incorporated?</dt>
          <dd class="govuk-summary-list__value">Discs</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How many days will there be before the manure is incorporated?</dt>
          <dd class="govuk-summary-list__value">1 to 2 days</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Autumn crop Nitrogen uptake</dt>
          <dd class="govuk-summary-list__value">10kg per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">End of soil drainage</dt>
          <dd class="govuk-summary-list__value">31 March 2025</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Rainfall within 6 hours of application</dt>
          <dd class="govuk-summary-list__value">0</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Total rainfall since application</dt>
          <dd class="govuk-summary-list__value">328mm</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Windspeed at application</dt>
          <dd class="govuk-summary-list__value">Calm/gentle (0 - 3 Beaufort scale)</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Topsoil moisture</dt>
          <dd class="govuk-summary-list__value">Moist</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <!-- <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key">Do you want to add this {{data.content.organic_term | lower}} to 
            {% if data.manure_journey == 'multi' %}
              these fields
            {% else %}
              {{data.chosen_field.name}}
            {% endif %}
            again, in the same way? 
          </dt>
      
          {% if data.manure_count == 0 %}
            <dd class="govuk-summary-list__value">No</dd>
          {% else %}
            <dd class="govuk-summary-list__value">Yes</dd>
          {% endif %}
      
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div> -->
      
        {% if data.manure_count != 0 %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">When will you next apply {{data.manure_type}} to these fields?</dt>
            <dd class="govuk-summary-list__value">30 August 2024</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
          </div>
          {% endif %}
      
      </dl>    </div>

    <!-- <br> -->
    <!-- <h2 class="govuk-heading-m">
      These values are based on your {{data.content.organic_term | lower }} choices
    </h2>
    <div class="check-answers">
      {% include "./check_manure_values.html" ignore missing %}
    </div> -->

    <form action="manure_update_v6_handler" method="post" novalidate>
      {{ govukButton({
        text: "Update"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
