{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
    {
      text: "Plans and records",
      href: "../plans_records"
    },
    {
      text: "Harvest year " + data.chosen_plan.harvest_date,
      href: "../crop_plan/plan_view"
    },
    {
      text: data.chosenField.name
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="status-header margin-bottom-forty">
      <h1 class="govuk-heading-l">Nutrient recommendations for {{data.chosenField.name}} 2025</h1>
    </div>  
    <div class="margin-bottom-forty">
      <h2 class="govuk-heading-m">{{data.chosen_crop | nameconverter}} nutrient recommendations</h2>
      {% include "./templates/nutrients_mvp.html" ignore missing %}
    </div>
    <div class="">
      <h2 class="govuk-heading-m">Crop details</h2>
      {% include "./templates/main-crop-details.html" ignore missing %}
      <p class="govuk-body"><a href="">Change {{data.chosen_crop | nameconverter}} details for {{data.chosenField.name}}</a></p>
    </div>

    <hr class="seperator_five">

    <div class="margin-bottom-forty">
      <h2 class="govuk-heading-m">{{data.crop_group_2025.secondCropReference | nameconverter}} nutrient recommendations</h2>
      {% include "./templates/nutrients_mvp.html" ignore missing %}
    </div>
    <div class="">
      <h2 class="govuk-heading-m">Crop details</h2>
      {% include "./templates/second-crop-details.html" ignore missing %}
      <p class="govuk-body"><a href="">Change {{data.crop_group_2025.secondCropReference | nameconverter}} details for {{data.chosenField.name}}</a></p>
    </div>
  </div>
</div>


{% endblock %}