{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
    {
      text: "Plans and records",
      href: "../plans_records"
    },
    {
      text: "Harvest year " + data.chosen_plan.harvest_date,
      href: "../crop_plan/index"
    },
    {
      text: data.chosenfield
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="status-header">
      <h1 class="govuk-heading-l">{{data.chosenfield | fieldconverter}} plan and recommendations</h1>
      <p class="govuk-body">Harvest year: {{data.chosen_plan.harvest_date}}</p>
    </div>  

    <hr class="seperator_five">

    <h2 class="govuk-heading-m">Crop details</h2>

    <table class="govuk-table recomendation-table data-table data-table">
      <caption class="govuk-table__caption govuk-table__caption--s">{{data.chosen_crop | nameconverter}}</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Estimated sowing date</td>
          <td class="govuk-table__cell">1 October 2023</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Estimated yield per hecare</td>
          <td class="govuk-table__cell">XX metric tons</td>
        </tr>
      </tbody>
    </table>   

    <p class="govuk-body"><a href="">View or change crop details</a></p>

    <hr class="seperator_five">

    <h2 class="govuk-heading-m">Soil Nitrogen (N) supply</h2> 

    <p class="govuk-body">10kg per hectare</p>

    <p class="govuk-body"><a href="">Add an SNS measurement</a></p>

    <hr class="seperator_five">

    <h2 class="govuk-heading-m">Nutrient recommendations</h2>

    {% include "./templates/nutrients_mvp.html" ignore missing %}
    
  </div>

</div>

{% endblock %}