<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which crop group would you like to plan for?</dt>
    <dd class="govuk-summary-list__value">Grass</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div> 

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields would you like to add to this Grass group?</dt>
    <dd class="govuk-summary-list__value">
      {% for field in data.crop_fields %}
        {{field.name}} <br>
      {% endfor %}      
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What would you like to call this crop group (optional)?</dt>
    <dd class="govuk-summary-list__value">{{data.groupname}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Are you completely re-seeding these fields?</dt>
    <dd class="govuk-summary-list__value">{{data.reseed | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"> What is the sward in these fields in 2025?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.season_name == 'summer' %}
        Summer or autumn sown
      {% else %}
        Spring sown
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"> What will you be growing on the sward?</dt>
    <dd class="govuk-summary-list__value">{{data.sward_type | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How will these fields be managed?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.grass_management == 'grazing' %}
        Grazing only
        {% elif data.grass_management == 'hay' %}
        Hay only
      {% elif data.grass_management == 'silage' %}
        Silage only
      {% elif data.grass_management == 'grazinghay' %}
        Grazing and Hay    
      {% else %}
      Grazing and Silage (or Haylage)
    {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How many cuts and grazings will you have in these fields?</dt>
    <dd class="govuk-summary-list__value">{{data.defoliations | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  {% if data.grass_management == 'grazinghay' or data.grass_management == 'grazingsilage' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What is the cut and grazing order in these fields?</dt>
      <dd class="govuk-summary-list__value">
        {% set counter = 0 %}
        {% for item in data.defoliation_order %}
          {% if item == 'c' %}
            {% set counter = counter + 1 %}
            {{counter}}. Cut <br>
          {% else %}
          {% set counter = counter + 1 %}
          {{counter}}. Graze <br>
          {% endif %}
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
  {% endif %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you want to enter your target yield for these fields?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.yield_type == 'dry' %}
        Dry weight
      {% else %}
        Fresh cut weight
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {% if data.yield_type == 'dry' %}
        What is the total target dry matter yield for each of these fields?
      {% else %}
        {% if data.grass_total_fresh_yield_figure != '' %}
          Total fresh weight yield for these fields
        {% else %}
          Fresh weight yield for each cut or grazing
        {% endif %}
      {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
      
      <!-- dry total figure -->
      <!-- dry range -->
      {% if data.yield_type == 'dry' %}
        {% if data.grass_total_yield_figure == '' %}
          {{data.grass_total_yield}} tonnes per hectare
        {% else %}
          {{data.grass_total_yield_figure}} tonnes per hectare
        {% endif %}
      <!-- fresh total -->
      <!-- fresh per cut -->
      {% else %}
        {% if data.grass_total_fresh_yield_figure == '' %}
          1. {{data.grass_fresh_yield_figure_one}} tonnes per hectare<br>
          2. {{data.grass_fresh_yield_figure_two}} tonnes per hectare<br>
          3. {{data.grass_fresh_yield_figure_three}} tonnes per hectare<br>
          4. {{data.grass_fresh_yield_figure_four}} tonnes per hectare<br>
        {% else %}
          {{data.grass_total_fresh_yield_figure}} tonnes per hectare
        {% endif %}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

</dl>