{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "All farms",
        href: "../farms" 
      },
      {
        text: "Oaktree Lane Farm",
        href: "hub_reset_handler"
      },
      {
        text: "Manage manures"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
{{ plan_status }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% if data.show_success_message == true %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            {% if data.oaktree_farm.latest_update == 'field_added' %}
              <h3 class="govuk-notification-banner__heading">
                You have added {{data.temp_field_name}}
              </h3>
              <p class="govuk-body"><a class="govuk-notification-banner__link" href="../../add-field/copy_field">Add another field</a>, or</p>  
              <p class="govuk-body"><a class="govuk-notification-banner__link" href="../plans_records">View, create or update a nutrient management plan</a></p>  
          {% endif %}
        </div>
      </div>
      {% endif %} -->
  
      <h1 class="govuk-heading-l">
        {{ data.oaktree_farm.name }} 
        manures
      </h1>

      <h2 class="govuk-heading-m">
        Your manure types
      </h2>
      <p class="govuk-body">These are organic manures you have added that are not within RB209.</p>

      <table class="govuk-table manure-management margin-bottom-forty">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Manure name</th>
            <th scope="col" class="govuk-table__header">Date added</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Mixed cack</td>
              <td class="govuk-table__cell">4 December 2025</td>
              <td class="govuk-table__cell">
                <a href="field-select-handler?chosen_field={{field.name}}">View or update</a>
              </td>
            </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">
        Manure analysis
      </h2>
      <p class="govuk-body">These are analysis results you have entered for organic manures.</p>

      <table class="govuk-table manure-management">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Manure type</th>
            <th scope="col" class="govuk-table__header">Date added</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Cattle farmyard manure - old</td>
              <td class="govuk-table__cell">4 December 2025</td>
              <td class="govuk-table__cell">
                <a href="field-select-handler?chosen_field={{field.name}}">View or update</a>
              </td>
            </tr>
        </tbody>
      </table>



      <!-- <p class="govuk-body"><a href="../../add-field/copy_field">Add a field</a></p> -->

      <!-- <form class="" action="../../add-field/copy_field" method="post" novalidate="">    
        <button class="govuk-button" data-module="govuk-button">
          Add a field
        </button>
      </form>
 -->
      
    </div>

  </div>

{% endblock %}