{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span>
      <h1 class="govuk-heading-l">
       Which livestock system will you use in   Long Field?
      </h1>

      <form class="form" action="livestock_system_choice_handler" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How would you like to be contacted?
              </h1>
            </legend> -->

            <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="beef" name="livestock_system_choice" type="radio" value="beef">
                    <label class="govuk-label govuk-radios__label" for="beef">
                      Beef
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dairy" name="livestock_system_choice" type="radio" value="dairy">
                    <label class="govuk-label govuk-radios__label" for="dairy">
                      Dairy
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="sheep" name="livestock_system_choice" type="radio" value="sheep">
                    <label class="govuk-label govuk-radios__label" for="sheep">
                      Sheep
                    </label>
                  </div>
                </div>
              </fieldset>
                      
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
