{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "All farms",
        href: "farms" 
      },
      {
        text: data.chosen_farm.name
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        {% if data.chosen_farm.latest_update == 'added' %}
          <h3 class="govuk-notification-banner__heading">
            You have added {{data.chosen_farm.name}}
          </h3>
          <p class="govuk-body"><a class="govuk-notification-banner__link" href="field_add_reset_v6_handler">Add fields for {{data.chosen_farm.name}}</a> </p>
        {% elif data.chosen_farm.latest_update == 'updated' %}

        {% endif %}
      </div>
    </div>
    {% endif %}

    <div id="farm-title">
      <h1 class="govuk-heading-xl">{{data.chosen_farm.name}}</h1>
      <p class="govuk-body address">South Road, Hexham, Northumberland {{data.chosen_farm.postcode}}</p>
  
      {% if data.chosen_farm.fields_added == true %}
        <p class="govuk-body">{{data.all_fields.length}} fields, 40 hectares in total.</p>
      {% endif %}
      
    </div>

    <div>
      {% if data.chosen_farm.fields_added == true  %}
      <h2 class="govuk-heading-m">Planning and recording</h2>
      <ul class="menu-list govuk-list">
        <li>
          <a class="govuk-link" href="plans_records">View, create or update a plan</a>
        </li>
      </ul>
      {% else %}
        <p>To start creating plans and records, <a href="field_add_reset_v6_handler">add your fields</a></p>
      {% endif %}
    </div>

    <hr class="seperator_five">

    <div>
      <h2 class="govuk-heading-m">Farm and field details</h2>
        <ul class="menu-list govuk-list">
          <li>
            <a class="govuk-link" href="farm-details">Update farm details</a>
          </li>
          {% if data.chosen_farm.fields_added == true %}
          <li>
            <a class="govuk-link" href="field_reset_handler">Update fields or soil analysis</a>
          </li>
        {% endif %}
        <!-- manure -->
        <!-- <li>
          <a class="govuk-link" href="manure_reset_handler">Manage manures</a>
        </li> -->
      </uli>
    </div>

    <hr class="seperator_five">

    <p><a href="">Download all {{data.chosen_farm.name}}'s data as a csv file</a> </p>

  </div>
</div>

{% endblock %}