<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--s">{{data.chosen_crop | nameconverter}}</caption> -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Crop type</td>
      <td class="govuk-table__cell">{{data.cover_crop | nameconverter}}</td>
    </tr>   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Variety</td>
      <td class="govuk-table__cell">Not entered</td>
    </tr>         
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Estimated sowing date</td>
      <td class="govuk-table__cell">1 October 2023</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Estimated yield</td>
      <td class="govuk-table__cell">4 tonne per hecare</td>
    </tr>
  </tbody>
</table>  