{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div id="all-plans-table" class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl">Plan and record nutrient applications</h1> -->

    <h2 class="govuk-heading-l">Current farms</h2>

      {% if data.oaktree_farm.setup == false %}

        <p class="govuk-body">
          You have not added any farms.
        </p>

        <form class="form" action="add-farm/add-farm" method="post">
          {{ govukButton({
            text: "Add a farm"
          }) }}
        </form>

      {% else %}

        <div>
            <p class="govuk-body"><a class="govuk-notification-banner__link" href="hub_reset_handler">Oaktree Lane Farm</a> </p>
        </div>
        
        <hr class="seperator_five">

        <div>
          <h2 class="govuk-heading-m">Add a new farm</h2>
          <p class="govuk-body">
            <a class="govuk-link" href="add-farm/name">Add a farm</a>
          </p>
          <!-- <p class="govuk-body">
            <a class="govuk-link" href="./choose_file">Import data from the Planet desktop software</a>
          </p> -->
        </div>

      {% endif %}

  </div>

</div>

{% endblock %}