{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "hub_reset_handler"
      },
      {
        text: "Plans and records"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="status-header">
  <h1 class="govuk-heading-l">Plans and records</h1>

  {% if data.oaktree_farm.plans_added == false %}
    <p class="govuk-body">You have no nutrient management plans.</p>
    <p class="govuk-body"><a href="plan/year">Create a new plan</a></p>
  {% else %}
    <p class="govuk-body"><a href="/mvp/plan/crop/crop_group">Create a 2025 plan</a></p>
  {% endif %}

</div>  

<div class="govuk-grid-row">
  <div id="all-plans-table" class="govuk-grid-column-two-thirds">

      {% if data.plan2025.crop_added != false %}
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Plans</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Harvest year</th>
              <!-- <th scope="col" class="govuk-table__header">Status</th> -->
              <th scope="col" class="govuk-table__header">Last modified</th>
              <th scope="col" class="govuk-table__header"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">  
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">2024</td>
              <!-- <td class="govuk-table__cell">Status</td> -->
              <td class="govuk-table__cell">{{data.content.todays_date}}</td>
              <td class="govuk-table__cell"><a href="crop_plan_year_handler?harvestdate=2024">View or edit</a></td>
            </tr>
          </tbody>
        </table>     
      {% elif data.oaktree_farm.fields_added == true and data.oaktree_farm.plans_added == true %}   
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Plans</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Harvest year</th>
              <!-- <th scope="col" class="govuk-table__header">Status</th> -->
              <th scope="col" class="govuk-table__header">Last modified</th>
              <th scope="col" class="govuk-table__header"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">  
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">2024</td>
              <!-- <td class="govuk-table__cell">Status</td> -->
              <td class="govuk-table__cell">{{data.content.todays_date}}</td>
              <td class="govuk-table__cell"><a href="crop_plan_year_handler?harvestdate=2024">View or edit</a></td>
            </tr>
          </tbody>
        </table>     
      {% endif %}

    <!-- <p class="govuk-body"><a href="#">View all previous plans</a></p> -->
    <!-- <hr class="big_seperator"> -->

  </div>
</div>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table record-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Records</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Harvest year</th>
          <th scope="col" class="govuk-table__header">Last modified</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2023</td>
          <td class="govuk-table__cell">10 November  2023</td>
          <td class="govuk-table__cell"><a href="">View or edit</a></td>
        </tr>
      </tbody>
    </table>        

    <p class="govuk-body"><a href="#">View all previous records</a></p>

  </div>
</div> -->

{% endblock %}