{{ govukHeader({}) }}
<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="farmsview_reset_handler" class="govuk-service-navigation__link">
          Plan and manage nutrient applications
        </a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list nav_left" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="farmsview_reset_handler">
              All farms
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="hub_message_reset" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">{{data.oaktree_farm.name}}</strong>
            </a>
          </li>
        </ul>
        <ul class="govuk-service-navigation__list nav_right">
          <li class="govuk-service-navigation__item">
              John Doe | <a href="/start">Sign out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<div class="govuk-phase-banner noprint">
    <div class="govuk-width-container">
    <p class="govuk-phase-banner__content span_left">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service.  <a class="govuk-link" href="/help_feedback">Get help or give your feedback</a>.
      </span>
  </div>
</div>
