<div class="govuk-form-group margin-bottom-forty">
    <h3 class="govuk-heading-s">Use these answers for the following months</h3>
    <p class="govuk-hint">Select the box to copy the values you entered to all following months. Defaulted values will used for each month. You can change the numbers later.</p>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        Use these answers for the following months
        </label>
    </div>
    </div>
</div>
