<div class="govuk-form-group margin-bottom-forty">

  <!-- <h3 class="govuk-heading-s">Copy October's answers to all following months</h3>
  <p class="govuk-hint">Select the box to copy the values you entered for October to all following months. You can check and change the numbers before you save them.</p> -->
  <!-- Default values may be different for each month.  -->
  <!-- <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
            Use October's answers for the following months
        </label>
    </div>
  </div> -->
  
  <p class="govuk-body">Do you want to copy all of these answers for October 2024 to other months?</p>
  <!-- <p class="govuk-hint">Select the box to copy the values you entered for October to all following months. You can check and change the numbers before you save them.</p> -->
  <p class="govuk-hint">You can check and change the numbers before you save them.</p>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>

</div>