<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      You're about to be signed out
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading margin-bottom-thirty">
      For your security, you'll be signed out in 3 minutes.
    </p>
    
    <!-- <p class="govuk-body">
      For your security, you'll be signed out in 3 minutes.
    </p> -->

    <button type="submit margin-bottom-thirty" class="govuk-button" data-module="govuk-button">
      Stay signed in
    </button>
    <p class="govuk-body">
      You can also <a href="#">sign out now</a>.
    </p>
  </div>
</div>

