<div class="govuk-phase-banner noprint">
  <p class="govuk-phase-banner__content span_left">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service.  <a class="govuk-link" href="/version_7/help_feedback">Get help or give your feedback</a>.
    </span>
    <p class="govuk-phase-banner__content span_right">
      <span class="govuk-phase-banner__text">
        John Doe | <a href="/mvp/start">Sign out</a>
      </span>
    </p>
</div>
