{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
        Comments about this {{data.imports_exports}} (optional)
    </h1>

    <form action="check" method="post" novalidate="">      

      <div class="govuk-form-group">
        <!-- <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="more-detail">
            Can you provide more detail?
          </label>
        </h1> -->
        <div id="more-detail-hint" class="govuk-hint">
          You can use this space to record any other comments or details about this manure import. This is optional and for your own records only. Any information recorded here will appear in the report. Do not include any personal or financial information.
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <br>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </fieldset>
      </div>

  </form>
</div>

{% endblock %}