<div class="govuk-radios" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="cattle" name="livestock_group" type="radio" value="cattle">
    <label class="govuk-label govuk-radios__label" for="cattle">
      Cattle
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="pigs" name="livestock_group" type="radio" value="pig">
    <label class="govuk-label govuk-radios__label" for="pigs">
      Pigs
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="sheep" name="livestock_group" type="radio" value="sheep">
    <label class="govuk-label govuk-radios__label" for="sheep">
      Sheep
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="poultry" name="livestock_group" type="radio" value="poultry">
    <label class="govuk-label govuk-radios__label" for="poultry">
      Poultry
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="other" name="livestock_group" type="radio" value="other">
    <label class="govuk-label govuk-radios__label" for="other">
      Other
    </label>
  </div>
</div>