<div class="margin-bottom-forty">
  <p class="govuk-body strong">Poultry manure</p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="livestock_number">
      What is the total amount of poultry manure that you apply to low run-off risk land in {{monthname}} {{data.oaktree_farm.planning_year}}?
    </label>
    <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">Tonnes</div>
    </div>
  </div>
</div>


<div class="margin-bottom-forty">
  <p class="govuk-body strong">Poultry litter</p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="livestock_number">
      What is the total amount of poultry litter that you apply to low run-off risk land in {{monthname}} {{data.oaktree_farm.planning_year}}?
    </label>
    <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">Tonnes</div>
    </div>
  </div>
</div>

<div class="margin-bottom-forty">
  <p class="govuk-body strong">Pig slurry</p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="livestock_number">
      What is the total amount of pig slurry that you apply to low run-off risk land in {{monthname}} {{data.oaktree_farm.planning_year}}?
    </label>
    <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">Cubic metres</div>
    </div>
  </div>
</div>

{% if monthname != 'March' %}
<div class="margin-bottom-forty">
  <p class="govuk-body strong">Cattle or other livestock slurry</p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="livestock_number">
      What is the total amount of Cattle or other livestock slurry that you apply to low run-off risk land in {{monthname}} {{data.oaktree_farm.planning_year}}?
    </label>
    <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">Cubic metres</div>
    </div>
  </div>
</div>
{% endif %}

<!-- <div class="govuk-form-group margin-bottom-forty">
  <p class="govuk-body">Do you want to copy {{monthname}}'s' answers for February and March?</p>
  <p class="govuk-hint">You can check and change the numbers before you save them.</p>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="lrrol" name="lrrol" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="lrrol">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="lrrol-2" name="lrrol" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="lrrol-2">
          No
        </label>
      </div>
    </div>
</div> -->