{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/prototype_2/hub"
      },
      {
        text: "Create a " + data.harvest_year + " nutrient application plan"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
{{ plan_status }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.show_new_field == true %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              You have added 'New Field'.
            </h3>
            <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" href="hub">View Oaktree Lane Farm</a> </p> -->
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l">
        Manage Oaktree Lane Farm fields
      </h1>

      </div>
      <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field name</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if data.show_new_field == true %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">New Field</td>
              <td class="govuk-table__cell">
                <a href="#">Manage details</a>
              </td>
            </tr>
          {% endif %}

          {% for field in data.field_details %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{field.name}}</td>
            <td class="govuk-table__cell">
                <a href="#">Manage details</a>
            </td>
          </tr>
          {% endfor %}   

        </tbody>
      </table>       
      
      <p class="govuk-body">
        <a href="add">Add a new field</a>
      </p>

    </div>
  </div>

{% endblock %}