<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You have added livestock
    </h3>
    <p class="govuk-body">
      To create an organic manures inventory and storage report, enter the livestock on Oaktree Lane Farm from October 2025 to September 2026.
    </p>
    <p class="govuk-body"><a class="govuk-notification-banner__link" href="/add_livestock/livestock_group">Add another livestock type</a></p>  
    <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_inventory_checklist_message_handler">Create an organic manure inventory and NVZ storage requirement report for 2025</a></p>  
  </div>
</div>