  {% set title_text = 'You have added livestock' %}
  {% if data.livestock_update_journey == true %}
    {% set title_text = 'You have updated livestock details' %}
  {% endif %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      {{ title_text }}
    </h3>
    <p class="govuk-body">
      To create an organic manures inventory and storage report, enter the livestock on Oaktree Lane Farm from October {{data.oaktree_farm.planning_year}} to September {{data.oaktree_farm.planning_year + 1}}.
    </p>
    <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_add_inventory_lstock">Add another livestock type</a></p>  
    <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_inventory_checklist_message_handler">Create an organic manure inventory and NVZ storage requirement report for {{data.oaktree_farm.planning_year}}</a></p>  
  </div>
</div>