{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if data.sns_method == "no" %}
          What was the crop group?
        {% else %}
          What is the current crop group in 2025?
        {% endif %}
      </h1>

      <form class="form" action="previous_group_router" method="post">

        <div class="govuk-form-group">
            {% include "./crop_group_content" %}
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  
  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
