{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="mineralisation_router" method="post" novalidate="">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">How would you like to calculate the soil nitrogen mineralisation for {{data.temp_field_name}}?</h1>
        </legend>

        <div class="govuk-form-group margin-bottom-forty">
          <fieldset class="govuk-fieldset">
            <!-- <label class="govuk-label" for="nitrate">Is this field within a Nitrate Vulnerable Zone (NVZ)?</label> -->
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organic" name="mineralisation" type="radio" value="organic">
                <label class="govuk-label govuk-radios__label" for="organic">Estimate based on soil organic matter content</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="adjustment" name="mineralisation" type="radio" value="adjustment">
                <label class="govuk-label govuk-radios__label" for="adjustment">Enter a value for mineralisation inkg/ha</label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

    </div>
    
  </div>

{% endblock %}
