<p class="govuk-body">
    Selected livestock type: {{data.chosen_livestock.name | capitalize}}
</p>

<div class="margin-bottom-thirty">
  <div class="govuk-form-group">
    {% if data.livestock_group == 'poultry' %}
      <p class="govuk-hint">For example, for 10,000 places enter 10</p>
    {% endif %}
    <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
    <div class="govuk-input__suffix" aria-hidden="true">
      {% if data.livestock_group == 'poultry' %}
        thousand places
      {% else %}
        places
      {% endif %}
    </div>
  </div>
</div>