{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span> -->

      <h1 class="govuk-heading-l">
        Which field would you like to copy?
      </h1>

      <form class="form" action="name" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              {% for field in data.field_details_mvp %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{field.reference}}" name="chosen_field" type="radio" value="{{field.reference}}">
                  <label class="govuk-label govuk-radios__label" for="{{field.reference}}">
                    {{field.name}}
                  </label>
                </div>
              {% endfor %}

            </div>
          </fieldset>
        </div>
      </div>

        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
