{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- {% include "templates/title_span.html" %} -->

      <h1 class="govuk-heading-l">
        Which harvest year would you like to plan for?
      </h1>

      <form class="form" action="crop/crop_group" method="post" autocomplete="off">

        <div class="govuk-form-group">
          <div id="event-name-hint" class="govuk-hint">
            For example 2024
          </div>
          <input class="govuk-input govuk-input--width-5" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
        </div>

        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="#">Cancel</a>
  </p>

{% endblock %}
