{% extends "layouts/main.html" %}

{% block pageTitle %}

  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Change {{data.chosen_field.name}} soil analysis from </br> 11 February 2023
      </h1>
      <p class="govuk-body">Any changes you make may affect the nutrient recommendations for any harvest years where this analysis applies.</p>
      <div class="check-answers">
        <!-- <h2 class="govuk-heading-m">Field details</h2> -->
        <dl class="govuk-summary-list">
          {% include "./check-details.html" ignore missing %}
        </dl>
      </div>

      <p class="govuk-body cancel-link margin-bottom-forty">You can also <a href="/version_7/farm/hub">remove this soil analysis</a>.</p>

      <form action="soil_update_handler" method="post" novalidate>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Save changes
        </button>
  
      </form>

      <p class="govuk-body cancel-link"><a href="">Cancel</a></p>

    </div>
  </div>
{% endblock %}
