{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "All farms",
      href: "../farms.html"
    },
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
      {
        text: "Fields",
        href: "field_reset_handler"
      },
      {
        text: data.chosen_field
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    {% if data.show_success_message == true %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          {% if data.oaktree_farm.latest_update == 'soil-added' %}
            <h3 class="govuk-notification-banner__heading">
              You have added a new soil analysis for {{data.chosen_field}}
            </h3>
          {% elif data.oaktree_farm.latest_update == 'field_updated' %}
          <h3 class="govuk-notification-banner__heading">
            You have updated {{data.chosen_field}}
          </h3>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">{{data.chosen_field}}</h1>

    <table class="govuk-table recomendation-table data-table data-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field area</td>
          <td class="govuk-table__cell">10 hectares</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cropped area</td>
          <td class="govuk-table__cell">10 hectares</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Manure non spreading area</td>
          <td class="govuk-table__cell">0</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Soil type</td>
          <td class="govuk-table__cell">Sandy</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Soil contains potash releasing clay</td>
          <td class="govuk-table__cell">No</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Within an NVZ</td>
          <td class="govuk-table__cell">No</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Above 300 meters</td>
          <td class="govuk-table__cell">No</td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">Crop group in 2023</td>
          <td class="govuk-table__cell">Arable cereals</td>
        </tr> -->
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">Crop in 2024</td>
          <td class="govuk-table__cell">Winter Wheat</td>
        </tr> -->
      </tbody>
    </table>   

    <p class="govuk-body"><a href="update">Change field details</a></p>      
    <p class="govuk-body"><a href="">Split this field or merge it with another</a></p>
    <p class="govuk-body margin-bottom-forty"><a href="remove">Remove {{data.chosen_field}}</a></p>

    <hr class="big_seperator">

    <h2 class="govuk-heading-m">Soil analysis</h2>

    <p class="govuk-body margin margin-bottom-forty"><a href="">Add new soil analysis</a></p>

      <table class="govuk-table field-table">
        <thead class="govuk-table__head">
          
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date sample taken</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row right-last">
            <td class="govuk-table__cell">13 March 2023</td>
            <td class="govuk-table__cell">
              <a href="change_soil">View or chnage</a>
            </td>
          </tr>
        </tbody>
      </table>    

  </div> 

</div> 

{% endblock %}