{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% include "templates/title_span.html" %}

      <h1 class="govuk-heading-l">
        What is the target dry matter yield from Long field?
      </h1>

      <form class="form" action="management" method="post">

        <!-- <div class="govuk-form-group">
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">tonnes per hectare</div>
          </div>
        </div> -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="high" name="dry_matter_yield" type="radio" value="high">
                <label class="govuk-label govuk-radios__label" for="high">
                  High (between xx and xx tonne per hectare)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="medium" name="dry_matter_yield" type="radio" value="medium">
                <label class="govuk-label govuk-radios__label" for="medium">
                  Medium (between xx and xx tonne per hectare)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="low" name="dry_matter_yield" type="radio" value="low">
                <label class="govuk-label govuk-radios__label" for="low">
                  Low (between xx and xx tonne per hectare)
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specific" name="dry_matter_yield" type="radio" value="specific">
                <label class="govuk-label govuk-radios__label" for="specific">
                  Enter a specific amount
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
