{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "templates/title_span.html" %}

      <h1 class="govuk-heading-l">
        Was the previous crop Potatoes, Oilseed Rape, Peas or Beans?
      </h1>

      <!-- <div id="signIn-hint" class="govuk-hint">
        Select yes if you've already ploughed the field this harvest year
      </div> -->

      <form class="form" action="previous_nitrogen" method="post">

        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="fertiliser_again" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="fertiliser_again" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
