{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "hub.html"
      },
      {
        text: "Plans and records",
        href: "plans_records.html"
      },
      {
        text: "Harvest year 2025"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="crop_plan_title">
  <h1 class="govuk-heading-l">Harvest year 2025</h1>
  <p class="govuk-body">There are 6 fields in this plan.</p>
  <p class="govuk-body">Last updated: {{data.content.todays_date}}</p>
</div>  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body"><a href="change_plan">Change this plan</a></p>

    <!-- <ul class="govuk-list menu-list">
      <li>
        <a class="govuk-link" href="#">Add another crop to this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Create a record from this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Make a copy of this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Print or share this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Delete this plan</a>
      </li>
    </ul> -->

    <hr class="big_seperator">

    <!-- <h2 class="govuk-heading-m">Winter Wheat</h2>
    <p class="govuk-body">5 fields</p> -->

    <table class="govuk-table crop_table data-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Long Field</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Winter Wheat</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for field in data.current_fields %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{field.name}}</td>
            <td class="govuk-table__cell">Crop added</td>
            <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield={{field.name}}">View field plan and recommendations</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <p class="govuk-body"><a href="change_wheat">Change Winter Wheat plan</a></p> -->

    <hr class="big_seperator">

    <h2 class="govuk-heading-m">Grass</h2>
    <p class="govuk-body">5 fields</p>

    <table class="govuk-table crop_table data-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Long Field</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 4</td>
          <td class="govuk-table__cell">Crop added</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field4">View field plan and recommendations</a></td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 5</td>
          <td class="govuk-table__cell">Crop added</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field4">View field plan and recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 6</td>
          <td class="govuk-table__cell">Crop added</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field4">View field plan and recommendations</a></td>
        </tr>
      </tbody>
    </table>
    <!-- <p class="govuk-body"><a href="change_grass">Change Grass plan</a></p> -->


    </div>
</div>

{% endblock %}