{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.chosen_plan.harvest_date
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

  {% if data.chosen_plan.plan_update != null %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {{data.chosen_plan.plan_update | statusconverter}}
        </h3>
        <p class="govuk-body"><a href="">Manage the crops and fields in this plan</a></p>
        <!-- <p class="govuk-body"><a href="../update/change_fields">Manage the crops and fields in this plan</a></p> -->
        <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" href="/mvp/plan/year">Create a nutrient management plan</a></p>     -->
        <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" href="hub">View Oaktree Lane Farm</a> </p> -->
      </div>
    </div>
  {% endif %}

  <h1 class="govuk-heading-l">Crop plan for harvest year {{data.chosen_plan.harvest_date}}</h1>
  
  <div class="crop_plan_title">

    {% if data.oaktree_farm.use_mvp_fields == false %}
      {% set fieldCount = 0  %}
        {% for item in data.current_fields  %}
          {% set fieldCount = fieldCount + 1  %}
        {% endfor  %}
        {% if fieldCount == 1 %}
          <p class="govuk-body">There is 1 field in this plan.</p>
        {% else %}
          <p class="govuk-body">There are {{fieldCount}} fields in this plan.</p>
        {% endif %}
      {% else %}
      <p class="govuk-body">There are 3 fields in this plan.</p>
    {% endif  %}

    <p class="govuk-body">Last updated: {{data.chosen_plan.updated}}.</p>
    <p class="govuk-body"><a href="">Manage the crops and fields in this plan</a></p>
    <!-- <p class="govuk-body"><a href="../update/change_fields">Manage the crops and fields in this plan</a></p> -->
</div>

  <hr class="seperator_five">

  {% include "./templates/2025plan.html" %}

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Update this plan
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list font-size-17">
            <li>
              <a href="../update/change_fields">
                Manage crops and fields in this plan
              </a>
            </li>
            <li>
              <a href="">
                Delete this plan
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div> -->

  </div>

</div>

{% endblock %}