{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.chosen_plan.harvest_date
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

  {% if data.chosen_plan.plan_update != null %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {{data.chosen_plan.plan_update | statusconverter}}
        </h3>
        <!-- <p class="govuk-body"><a href="/mvp/plan/crop/crop_group">Add another crop to this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Add another crop to this plan</a></p>
        <p class="govuk-body"><a href="">Add manures or fertilisers to this plan</a></p>
        <p class="govuk-body"><a href="">Create a record from this plan</a></p>
        <p class="govuk-body"><a href="">Download this plan</a></p> -->
      </div>
    </div>
  {% endif %}

  <h1 class="govuk-heading-l">Crop plan for harvest year {{data.chosen_plan.harvest_date}}</h1>
  
  <div class="crop_plan_title">

    <p class="govuk-body">Last updated: {{data.chosen_plan.updated}}</p>
    <p class="govuk-body"><a href="">Add another crop to this plan</a></p>
    <p class="govuk-body"><a href="">Add manures or fertilisers to this plan</a></p>
    <p class="govuk-body"><a href="">Create a record from this plan</a></p>
    <p class="govuk-body"><a href="">Download or print this plan</a></p>
</div>

  <hr class="seperator_five">

  <h2 class="govuk-heading-m">Winter Wheat</h2>

  <p class="govuk-body"><a href="">Change this Winter Wheat plan</a></p>
  <!-- <p class="govuk-body"><a href="/mvp/update/change_plan">Change this Winter Wheat plan</a></p> -->

  {% set page_crop_status = 'Crop added' %}

  {% if data.chosen_plan.manure_added == true and data.chosen_plan.fertiliser_added == true %}
    {% set page_crop_status = 'Crops, manure and fertiliser added' %}
  {% elif data.chosen_plan.fertiliser_added == false and data.chosen_plan.manure_added == true  %}
    {% set page_crop_status = 'Manure added' %}
  {% endif %}

  <table class="govuk-table margin-bottom-forty">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

    {% if data.oaktree_farm.use_mvp_fields == true %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Long Field</td>
        <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Long Field">View field plan and recommendations</a></td>
      </tr>      
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Barn Field</td>
        <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Barn Field">View field plan and recommendations</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Narrow field</td>
        <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Narrow field">View field plan and recommendations</a></td>
      </tr>
      {% else %}

      {% for field in data.current_fields %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{field.name}}</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield={{field.name}}">View field plan and recommendations</a></td>
        </tr>
      {% endfor %}

      {% endif %}

    </tbody>
  </table>

  <h2 class="govuk-heading-m">Stubble Turnips</h2>

  <p class="govuk-body"><a href="">Change this Stubble Turnips plan</a></p>

  {% set page_crop_status = 'Crop added' %}

  {% if data.chosen_plan.manure_added == true and data.chosen_plan.fertiliser_added == true %}
    {% set page_crop_status = 'Crops, manure and fertiliser added' %}
  {% elif data.chosen_plan.fertiliser_added == false and data.chosen_plan.manure_added == true  %}
    {% set page_crop_status = 'Manure added' %}
  {% endif %}

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

    {% if data.oaktree_farm.use_mvp_fields == true %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Long Field</td>
        <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Long Field">View field plan and recommendations</a></td>
      </tr>      
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Barn Field</td>
        <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Barn Field">View field plan and recommendations</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Narrow field</td>
        <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Narrow field">View field plan and recommendations</a></td>
      </tr>
      {% else %}

      {% for field in data.current_fields %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{field.name}}</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield={{field.name}}">View field plan and recommendations</a></td>
        </tr>
      {% endfor %}

      {% endif %}

    </tbody>
  </table>


  </div>

</div>

{% endblock %}