{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.chosen_plan.harvest_date
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Crop plan for harvest year {{data.crop_group_2025.year}}</h1>

    <div class="crop_plan_title">
      <p class="govuk-body">There are {{data.crop_group_2025.firstCropFields | array_count }} fields in this plan</p>
      <p class="govuk-body">Last updated: {{data.chosen_plan.updated}}</p>
      <p class="govuk-body"><a href="/mvp/plan/crop/crop_group">Add another crop to this plan</a></p>
    </div>

    <hr class="seperator_five">

    <h2 class="govuk-heading-m">{{data.crop_group_2025.firstCropReference | nameconverter }}</h2>

    <p class="govuk-body"><a href="">Change this {{data.crop_group_2025.firstCropReference | nameconverter }} plan</a></p>

    <table class="govuk-table margin-bottom-forty big_crop_table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Second crop</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

      {% for field in data.fieldsInThisPlan %}
      {% set hasSecondCrop = false %}

      {% for thisField in data.secondFieldsInThisPlan %}
          {% if thisField === field.reference %}
            {% set hasSecondCrop = true %}
          {% endif %}
        {% endfor %}  
          <tr class="govuk-table__row">    
            <td class="govuk-table__cell">{{field.name}}</td>
            <td class="govuk-table__cell">
              {% if hasSecondCrop == true %}
              Stubble Turnips
            {% else %}
              None
            {% endif %}
            </td>
            <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield={{field.name}}">View recommendations</a></td>
          </tr>
      {% endfor %}  

      </tbody>
    </table>

    <h2 class="govuk-heading-m">Winter Rye</h2>

    <p class="govuk-body"><a href="">Change this Winter Rye plan</a></p>

    <table class="govuk-table big_crop_table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Second Crop</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

      {% if data.oaktree_farm.use_mvp_fields == true %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Barns</td>
          <td class="govuk-table__cell">Stubble Turnips</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Barns">View recommendations</a></td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Red well</td>
          <td class="govuk-table__cell">Stubble Turnips</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=>Red well">View recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Hops 1</td>
          <td class="govuk-table__cell">Stubble Turnips</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Hops 1">View recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hops 2</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Hops 2">View recommendations</a></td>
          </tr>      
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hops 3</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Hops 3">View recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Short Field</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Short Field">View recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Low meadow</td>
                <td class="govuk-table__cell">None</td>
                <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Low meadow<">View recommendations</a></td>
            </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">High meadow</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=High meadow">View recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Short Field</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Turnips-stubble&chosenfield=Short Field">View recommendations</a></td>
        </tr>

        {% endif %}

      </tbody>
    </table>

  </div>

</div>

{% endblock %}