{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.chosen_plan.harvest_date
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Plan created
        </h3>
        <!-- <p class="govuk-body"><a href="/mvp/plan/crop/crop_group">Add another crop to this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Add another crop to this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Add manures or fertilisers to this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Create a record from this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Download this plan</a></p> -->
      </div>
    </div>

    {% endif %}

    <h1 class="govuk-heading-l">Crop plan for {{data.crop_group_2025.year}}</h1>

    <div class="crop_plan_title">
      <p class="govuk-body">There are {{data.crop_group_2025.totalFields}} fields in this plan</p>
      <p class="govuk-body">Last updated: {{data.content.todays_date}}</p>
      <p class="govuk-body"><a href="/mvp/plan/crop/crop_group">Add another crop to this plan</a></p>
      <p class="govuk-body"><a href="/mvp/plan/manure/manure_fields">Add manures to this plan</a></p>
    </div>

    <hr class="seperator_five">

    <h2 class="govuk-heading-m">{{data.crop_group_2025.firstCropReference | nameconverter }}</h2>
    <p class="govuk-body"><a href="">Change this {{data.crop_group_2025.firstCropReference | nameconverter }} plan</a></p>

    <table class="govuk-table margin-bottom-forty big_crop_table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          {% if data.crop_group_2025.secondCropFields != null %}
            <th scope="col" class="govuk-table__header">Second crop</th>
          {% else  %}
            <th scope="col" class="govuk-table__header"></th>
          {% endif %}
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
      {% for field in data.crop_group_2025.firstCropFields %}
      {% set hasSecondCrop = false %}

      {% for thisField in data.crop_group_2025.secondCropFields %}
          {% if thisField.reference === field.reference %}
            {% set hasSecondCrop = true %}
          {% endif %}
        {% endfor %}  
          <tr class="govuk-table__row">    
            <td class="govuk-table__cell">{{field.name}}</td>
            <td class="govuk-table__cell">
            {% if hasSecondCrop == true %}
              {{data.crop_group_2025.secondCropReference | nameconverter}}
            {% elif data.crop_group_2025.secondCropFields == null %}
              <span> </span>
            {% else %}
              None
            {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if hasSecondCrop == true %}
              <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2025.firstCropReference}}&chosenfield={{field.reference}}&covercrop={{data.crop_group_2025.secondCropReference}}">View recommendations</a>
            {% else %}
              <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2025.firstCropReference}}&chosenfield={{field.reference}}&covercrop=none">View recommendations</a>
            {% endif %}
            </td>
          </tr>
      {% endfor %}  

      </tbody>
    </table>

    {% if data.crop_group_2025.thirdCropReference != null %}
    
      <h2 class="govuk-heading-m">{{data.crop_group_2025.thirdCropReference | nameconverter }}</h2>
      <p class="govuk-body"><a href="">Change this {{data.crop_group_2025.thirdCropReference | nameconverter }} plan</a></p>

      <table class="govuk-table margin-bottom-forty big_crop_table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field</th>
            <th scope="col" class="govuk-table__header">Other crop</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

        {% for field in data.crop_group_2025.thirdCropFields %}
          {% set hasSecondCrop = false %}

          {% for thisField in data.crop_group_2025.fourthCropFields %}
            {% if thisField.reference === field.reference %}
              {% set hasSecondCrop = true %}
            {% endif %}
          {% endfor %}  
            <tr class="govuk-table__row">    
              <td class="govuk-table__cell">{{field.name}}</td>
              <td class="govuk-table__cell">
              {% if hasSecondCrop == true %}
                {{data.crop_group_2025.fourthCropReference | nameconverter | capitalize}}
              {% else %}
                None
              {% endif %}
              </td>
              <td class="govuk-table__cell">
                {% if hasSecondCrop == true %}
                  <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2025.thirdCropReference}}&chosenfield={{field.reference}}&covercrop={{data.crop_group_2025.fourthCropReference}}">View recommendations</a>
                {% else %}
                  <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2025.thirdCropReference}}&chosenfield={{field.reference}}&covercrop=none">View recommendations</a>
              {% endif %}
              </td>
            </tr>
        {% endfor %}

        </tbody>
      </table>

    {% endif %}
    
  </div>

</div>

{% endblock %}