{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <h1 class="govuk-heading-l">
      Check your answers
    </h1>

    <h2 class="govuk-heading-m">
      Harvest year 2026
    </h2>

    <div class="check-answers">
      {% include "./templates/check_content.html" %}
    </div>
    
    <form action="copyplan_handler" method="post" novalidate>
      {{ govukButton({
        text: "Create plan"
      }) }}
    </form>

    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
    
  </div>
</div>

{% endblock %}
