{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add crops -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set plan_2025 = false %}
{% set plan_2026 = false %}
{% set plan_2027 = false %}
{% for x in data.oaktree_farm.years_planned %}
  {% if x == 2025 %}
    {% set plan_2025 = true %}
  {% elif x == 2026 %}
    {% set plan_2026 = true %}
  {% elif x == 2027 %}
    {% set plan_2027 = true %}
  {% endif %}
{% endfor %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Which plan would you like to copy?
    </h1>

    <form class="form" action="copy_items" method="post">
      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">
          
          {% if plan_2026 == true and data.oaktree_farm.planning_year != 2026 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="2026" name="copy_year" type="radio" value="2026">
              <label class="govuk-label govuk-radios__label" for="2026">
                2026
              </label>
            </div>
          {% endif %}

          {% if plan_2025 == true and data.oaktree_farm.planning_year != 2025 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="2025" name="copy_year" type="radio" value="2025">
              <label class="govuk-label govuk-radios__label" for="2025">
                2025 
              </label>
            </div>
          {% endif %}

          {% if plan_2024 == true and data.oaktree_farm.planning_year != 2024 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="2024" name="copy_year" type="radio" value="2024">
              <label class="govuk-label govuk-radios__label" for="2024">
                2024
              </label>
            </div>
          {% endif %}

        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

  </div>
</div>

{% endblock %}
