
<div class="">

    <p class="govuk-body">
        Selected livestock type: {{data.chosen_livestock.name | capitalize}}
    </p>

        <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            About the default values
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">
                Occupancy is the proportion of the year that the animal place is occupied by animals.
            </p>
            <p class="govuk-body">
                The remaining time will be for cleaning etc. 
            </p>
            <p class="govuk-body">
                If the occupancy on your farm is different to the occupancy values shown here, you should enter the actual occupancy figures for your farm.
            </p>
            <p class="govuk-body">
                If you enter your own nitrogen (N) standard figure, do not change the occupancy value.
            </p>
        </div>
    </details>

    <h3 class="govuk-heading-s">
       Default values
    </h3>

    <table class="govuk-table margin-bottom-forty">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Occupancy</th>
            <td class="govuk-table__cell">90% of the year</td>
            <td class="govuk-table__cell"><a href="occupancy">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Nitrogen (N) standard</th>
            <td class="govuk-table__cell">83kg per 1000 places, per year</td>
            <td class="govuk-table__cell"><a href="n_standard">Change</a></td>
            </tr>
        </tbody>
    </table>

    <div class="govuk-form-group">
    <label class="govuk-label strong" for="livestock_number">
        What is the average number of places for this {{data.livestock_group}} type in {{data.oaktree_farm.planning_year}}?
    </label>
    <p class="govuk-hint">For example,  for 10,000 places enter 10</p>
    <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
        <div class="govuk-input__suffix" aria-hidden="true">
            thousand places
        </div>
    </div>
    </div>

    <!-- <h3 class="govuk-heading-s">Occupancy and nitrogen (N) standard</h3> -->

    <!-- <p class="govuk-body">You can update the default occupancy, or nitrogen (N) standard. Do not Change both figures.</p> -->

    <!-- <div class="govuk-form-group">
        <label class="govuk-label" for="livestock_occupancy">
            How much of the year is each animal place occupied?
        </label>
        <div class="govuk-hint">Do not include cleaning time etc.</div>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" value ="100" id="livestock_occupancy" name="livestock_occupancy" type="text" spellcheck="false" autocomplete="off">
        <div class="govuk-input__suffix" aria-hidden="true">%</div>
        </div>
    </div> -->

    <!-- <div class="govuk-form-group margin-bottom-thirty">
        <label class="govuk-label" for="nitrogen_standard">
            What is the nitrogen (N) standard per 1000 places, per year?
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="nitrogen_standard" name="nitrogen_standard" value="83" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">Kg</div>
        </div>
    </div> -->

</div>