{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      About this service
    </h1>

    <h2 class="govuk-heading-s">
      Getting started    
    </h2>
    <p class="gov-body">
      The first step is to set up your farm and add fields. 
      Fields then have crops and nutrients added to them. 
      If you have more than one holding, it's best to add a 
      separate farm for each one.
    </p>

    <h2 class="govuk-heading-s">
      Soil analysis
    </h2>
    <p class="gov-body">
      You will get better recommendations if you add recent 
      soil analysis for each field. You can update these as 
      you get new analysis results.    
    </p>

    <h2 class="govuk-heading-s">
      Nitrate Vulnerable Zone (NVZ) rules
    </h2>
    <p class="gov-body">
      The service will warn you of possible breaches of the 
      NVZ rules, if your field is within an NVZ.     
    </p>

    <h2 class="govuk-heading-s">
      Soil Nitrogen Supply (SNS)    
    </h2>
    <p class="gov-body">
      The service can calculate SNS based on field history and 
      previous crop. Alternatively, you can add SNS analysis 
      results at the end of the planning process.
    </p>

    <h2 class="govuk-heading-s">
      Importing PLANET data    
    </h2>
    <p class="gov-body">
      If you used PLANET to make nutrient plans before you can import this data to set up a farm.   
    </p>

  
    <!-- <p class="gov-body">This service will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>save you time and money</li>
      <li>help you comply with environmental regulations</li> 
      <li>help protect the environment</li>   
    </ul> -->

    <form class="form margin-top-forty" action="farm/farms" method="post">

      <!-- <div class="govuk-form-group margin-bottom-forty">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                Don't show this message next time I sign in
              </label>
            </div>
          </div>
        </fieldset>
      </div> -->

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

</div>
</div>


{% endblock %}
