{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Get help or give feedback
    </h1>

    <p class="govuk-body-l">
      The Create a plan for efficient nutrient management service ('this service') is currently in a private beta phase. This means that we are testing this service by invitation only. Some functionality may not work as expected and some features have not yet been developed.
    </p>

    <h2 class="govuk-heading-m">
      About recommendations, guidance, and advice in private beta
     </h2>     

    <h2 class="govuk-heading-m">About recommendations, guidance, and advice</h2>
    {% include "/templates/recommendations.html" ignore missing %}

    <h2 class="govuk-heading-m">
      Getting help 
    </h2>

    <p class="gov-body">
      If you experience a technical problem with any of the functionality in this service, you can email: <a href="">helpdesk@rsk-bsl.co.uk</a>. 
    </p>

    <p class="gov-body">
      Please tell us what you were trying to do, what happened, and what you expected. This will help us to identify the problem. 
    </p>

    <p class="gov-body">
      We will reply to your email as quickly as we can, where possible.
    </p>

    <h2 class="govuk-heading-m">
      Giving feedback about this service
    </h2>

    <p class="gov-body margin-bottom-forty">
      If you would like to give us feedback about this service, then please email: <a href="">nmpt@defra.gov.uk</a>.
    </p>

    <p class="gov-body">
      Your feedback will help us improve this service.  
    </p>

</div>
</div>


{% endblock %}
