{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Get help or give feedback
    </h1>

    <p class="govuk-body">
      This service is currently in a private beta phase. 
      This means that we are testing the service with a group of invited users. 
      As such, some functionality may not work as expected and some features have not yet been developed.     
    </p>

    <p class="govuk-body">
      Check the release schedule to see what features have been added to the test version of the service.
    </p>

    <h2 class="govuk-heading-m">
      About recommendations, guidance, and advice
    </h2>     

    <p class="govuk-body">
      This service was developed by the Department for Environment, Food & Rural Affairs (Defra), 
      the Agriculture and Horticulture Development Board (AHDB), ADAS and the RSK group. Nutrient 
      recommendations are derived from RB209 Application Programming Interface (API); RB209 is the 
      intellectual property of AHDB.
    </p>

    <p class="govuk-body">
      While Defra and partners seek to ensure that the information provided by this service is 
      accurate at the time of use, Defra and partners accept no liability for loss, damage or 
      injury howsoever caused (including that caused by negligence) or suffered directly or 
      indirectly in relation to information contained in or omitted from this service.
    </p>

    <p class="govuk-body">
      Users are responsible for the accuracy of their own data and the application of guidance 
      provided. This service should not be relied upon as the sole source of nutrient management 
      guidance. Always consider local conditions and, if necessary, consult a FACTS Qualified 
      Adviser before making nutrient management decisions.
    </p>

    <h2 class="govuk-heading-m">Private beta disclaimer</h2>
{% include "/templates/beta_disclaimer.html" ignore missing %}

    <h2 class="govuk-heading-m">
      Moving your data to the live service
    </h2>
    
    <p class="govuk-body">
      If you wish to take your farm data and plans from the testing version to the live version, please email our team at <a href="">helpdesk@rsk-bsl.co.uk</a>.
    </p>

    <p class="govuk-body">
      We will migrate your data for you when the service launches, and then your plans will be suitable for regulatory use.
    </p>

    <h2 class="govuk-heading-m">
      Getting help 
    </h2>

    <p class="gov-body">
      If you experience a technical problem with any of the functionality in this service, you can email: <a href="">helpdesk@rsk-bsl.co.uk</a>. 
    </p>

    <p class="gov-body">
      The helpdesk will help with issues such as:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>technical issues</li>
      <li>login issues</li>
      <li>lservice outages</li>
    </ul>

    <p class="gov-body">
      Please tell us what you were trying to do, what happened, and what you expected. This will help us to identify the problem. 
    </p>

    <h2 class="govuk-heading-m">
      Help with the service's recommendations
    </h2>

    <p class="gov-body">
      You can email the helpdesk if you have any issues with the data and recommendations the service provides. Email: <a href="">helpdesk@rsk-bsl.co.uk</a>.
    </p>

    <p class="gov-body">
      This service might give slightly different recommendations from the previous service PLANET. This is because this new service uses an updated version of the RB209 API, so it provides the very latest data.
    </p>

    <p class="gov-body">
      We will reply to your email as quickly as we can. 
    </p>

    <h2 class="govuk-heading-m">
      More information
    </h2>

    <p class="gov-body">
      The Nutrient Management Plan is intended to be used alongside 
    </p>

    <p class="gov-body">
      For advice about nutrient planning in general, start with <a href="https://www.triedandtested.org.uk" target="_blank">Tried and Tested</a>\ (opens in a new window).
    </p>

    <p class="gov-body">
      For more information on RB209, visit <a href="https://ahdb.org.uk/knowledge-library/rb209-section-1-principles-of-nutrient-management-and-fertiliser-use" target="_blank">Nutrient management guide (RB209) section 1</a> (external link).
    </p>

    <h2 class="govuk-heading-m">
      Giving feedback about this service
    </h2>

    <p class="gov-body margin-bottom-forty">
      If you would like to give us feedback about this service, then please email: <a href="">nmpt@defra.gov.uk</a>.
    </p>

    <p class="gov-body">
      Your feedback will help us improve this service.  
    </p>

</div>
</div>


{% endblock %}
