{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Terms of use
    </h1>

    <h2 class="govuk-heading-m">Private beta disclaimer</h2>
    {% include "/templates/beta_disclaimer.html" ignore missing %}


    <h2 class="govuk-heading-m">About recommendations, guidance, and advice</h2>
    <p class="govuk-body">
      This service was developed by the Department for Environment, Food & Rural Affairs (Defra), 
      the Agriculture and Horticulture Development Board (AHDB), ADAS and the RSK group. Nutrient 
      recommendations are derived from RB209 Application Programming Interface (API); RB209 is the 
      intellectual property of AHDB.
    </p>

    <p class="govuk-body">
      While Defra and partners seek to ensure that the information provided by this service is 
      accurate at the time of use, Defra and partners accept no liability for loss, damage or 
      injury howsoever caused (including that caused by negligence) or suffered directly or 
      indirectly in relation to information contained in or omitted from this service.
    </p>

    <p class="govuk-body">
      Users are responsible for the accuracy of their own data and the application of guidance 
      provided. This service should not be relied upon as the sole source of nutrient management 
      guidance. Always consider local conditions and, if necessary, consult a FACTS Qualified 
      Adviser before making nutrient management decisions.
    </p>

</div>
</div>


{% endblock %}
