{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="gov-body">
      This is a free service, provided by Defra, to help farmers, land managers and advisers plan and record nutrient use on their land. It gives you guidance only - there is no legal requirement to use it.
    </p>
    
    <p class="gov-body">This service will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>save you time and money</li>
      <li>help you comply with environmental regulations</li> 
      <li>help protect the environment</li>   
    </ul>

    <p class="gov-body">
      You must follow the appropriate regulations, depending on where your farm is:
    </p>
    <ul class="govuk-list govuk-list--spaced">
      <li>England: <a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Farming rules for water and Nitrogen vulnerable zones (NVZs)</a></li>
      <li>Wales: <a href="https://www.gov.wales/water-resources-control-agricultural-pollution-wales-regulations-2021-guidance-farmers-and-land">The Water Resources (Control of Agricultural Pollution) (Wales) Regulations 2021</a></li>
      <li>Scotland: <a href="https://www.gov.scot/policies/agriculture-and-the-environment/nvz/">The Action Programme for Nitrate Vulnerable Zones (Scotland) Regulations 2008</a></li>
    </ul>

    <h2 class="govuk-heading-m">How it works</h2>
    <p class="gov-body">The recommendations from this service come from <a href="https://ahdb.org.uk/nutrient-management-guide-rb209">RB209 Nutrient Management Guide.</a> </p>
    <p class="gov-body">Your plan will be based on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the crops you grow</li> 
      <li>the nutrients in your soil</li>
      <li>the organic materials and inorganic fertilisers you use and how you apply them</li>
    </ul>

    <p class="gov-body">It creates downloadable plans in PDF.</p>
    <p class="gov-body">It replaces earlier services such as PLANET and MANNER. The service will allow you to import your data from PLANET.</p>
 
    <!-- <h2 class="govuk-heading-m">Sustainable Farming Incentive (SFI)</h2>-->
    <!-- <p class="gov-body">In order to apply for <a href="https://www.gov.uk/government/publications/sfi-handbook-for-the-sfi-2023-offer">the NUM1 payment of the SFI</a>, you will need a nutrient plan. This service will create a plan that you can use for this purpose.</p>-->
    <!-- <p class="gov-body">Please note that you will then need to get the plan checked by a FACTS qualified adviser before applying. -->

    <h2 class="govuk-heading-m">Your data</h2>
    <p class="gov-body">We only gather the data required to provide you with the appropriate recommendations.</p>
    <p class="gov-body">This service will never share your data with any other organisations.</p>
    <!-- <p class="gov-body">In particular, please note that this service does not share data with the <a href="https://www.gov.uk/government/organisations/rural-payments-agency">Rural Payments Agency (RPA).</a> or the Environment Agency</p> -->
    <p class="gov-body">In particular, please note that this service does not share data with the Rural Payments Agency or the Environment Agency.</p>
    <p class="gov-body">This service was developed in conjunction with ADAS, AHDB and RSK</p>

    <h2 class="govuk-heading-m">Release schedule</h2>
    <p class="gov-body margin-bottom-forty"><a href="">Read the release schedule for testing and new features</a></p>


    <!-- <p>Get nutrient recommendations for your crops, then manage and record your use of manures and fertilisers to align with environmental regulations.</p>
    <p>Planning and recording can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>save you money</li>
      <li>help you align with environmental regulations</li>
      <li>help protect the environment</li>
    </ul>

    <p>Your plan will be based on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the crops you grow</li>
      <li>the nutrients in your soil</li>
      <li>the manures and fertilisers you use and how you apply them</li>
    </ul> -->

    <!-- {% if data.oaktree_farm.setup == true %}
    <form class="form margin-top-forty" action="farm/farms" method="post">
      {% else %}
      <form class="form margin-top-forty" action="add-farm/name" method="post">
    {% endif %} -->
    <form class="form margin-top-forty" action="start_router" method="post">

    {{ govukButton({
      text: "Start now"
    }) }}

  </form>

</div>
</div>


{% endblock %}
