<dl class="govuk-summary-list nutrient_list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"> Do you want to add an import or an export?</dt>
    <dd class="govuk-summary-list__value">{{data.imports_exports | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What type of organic material are you {{data.imports_exports}}ing?</dt>
    {% if data.imports_exports == 'import' %}
      <dd class="govuk-summary-list__value">Cattle farmyard manure - Fresh</dd>
    {% else %}
      <dd class="govuk-summary-list__value">Pig slurry - whole</dd>
    {% endif %}

    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">When did you {{data.imports_exports}} this organic material?</dt>
    {% if data.imports_exports == 'import' %}
      <dd class="govuk-summary-list__value">10 January 2025</dd>
    {% else %}
      <dd class="govuk-summary-list__value">16 March 2025</dd>
    {% endif %}

    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How much {{data.manure_type.name}} are you {{data.imports_exports}}ing? </dt>
      {% if data.imports_exports == 'import' %}
      <dd class="govuk-summary-list__value">6 tonnes</dd>
      {% else %}
      <dd class="govuk-summary-list__value">30 cubic metres</dd>
      {% endif %}
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <!-- <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the total nitrogen (N) content of this {{data.manure_type.name}}?</dt>
    <dd class="govuk-summary-list__value"></dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the total Phosphate (P2O5) content of this {{data.manure_type.name}}?</dt>
    <dd class="govuk-summary-list__value"></dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div> -->

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Nutrient values</dt>
    <dd class="govuk-summary-list__value nutrient_values">
      <ul class="nutrient_values">
        <li>Dry Matter content: <span>25%</span></span>
        <li>Total Nitrogen: <span>6kg</span></span>
        <li>Ammonium-N:	<span>0.5kg</span></span>
        <li>Uric acid N:	<span>0kg</span></span>
        <li>Nitrate-N:	<span>0.1kg</span></span>
        <li>Total phosphate (P2O5):	<span>3.2kg</span></span>
        <li>Total potassium (K2O):	<span>8kg</span></span>
        <li>Total sulphur (SO3):	<span>2.4kg</span></span>
        <li>Total magnesium oxide (MgO):	<span>1.8kg</span></li>
      </ul>  
  </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    {% if data.imports_exports == 'import' %}
    <dt class="govuk-summary-list__key">
          Who are you importing this Cattle farmyard manure - Fresh from?
    </dt>
    <dd class="govuk-summary-list__value">Mrs Jones</dd>
    {% else %}
    <dt class="govuk-summary-list__key">
      Who are you exporting this Pig slurry - whole - Fresh to?
    </dt>
    <dd class="govuk-summary-list__value">Mr Smith</dd>
    {% endif %}
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Comments (optional)
    </dt>
    <dd class="govuk-summary-list__value">Not entered</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

</dl>