<h2 class="govuk-heading-m">Winter Wheat</h2>
    <p class="govuk-body">3 fields</p>

    <table class="govuk-table crop_table data-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Big Field</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 1</td>
          <td class="govuk-table__cell">{{data.chosen_plan.plan_status | statusconverter}}</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field1">View field plan and recommendations</a></td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 2</td>
          <td class="govuk-table__cell">{{data.chosen_plan.plan_status | statusconverter}}</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field2">View field plan and recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 3</td>
          <td class="govuk-table__cell">{{data.chosen_plan.plan_status | statusconverter}}</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field3">View field plan and recommendations</a></td>
        </tr>
      </tbody>
    </table>
    <p class="govuk-body"><a href="change_wheat">Change Winter Wheat plan</a></p>

    <hr class="big_seperator">

    <h2 class="govuk-heading-m">Grass</h2>
    <p class="govuk-body">3 fields</p>

    <table class="govuk-table crop_table data-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Big Field</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 4</td>
          <td class="govuk-table__cell">Crop added</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field4">View field plan and recommendations</a></td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 5</td>
          <td class="govuk-table__cell">Crop added</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field4">View field plan and recommendations</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field 6</td>
          <td class="govuk-table__cell">Crop added</td>
          <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop=Wheat-Winter&chosenfield=Field4">View field plan and recommendations</a></td>
        </tr>
      </tbody>
    </table>
    <p class="govuk-body"><a href="change_grass">Change Grass plan</a></p>