{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "templates/title_span.html" %} -->
      <h1 class="govuk-heading-l">
        Manage crops and fields
      </h1>

      <form class="form" action="crop_change_handler" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add" name="change_crop" type="radio" value="add">
                <label class="govuk-label govuk-radios__label" for="add">
                  Add fields
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remove" name="change_crop" type="radio" value="remove">
                <label class="govuk-label govuk-radios__label" for="remove">
                  Remove fields
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="plan_organic" name="change_crop" type="radio" value="plan_organic">
                <label class="govuk-label govuk-radios__label" for="plan_organic">
                 Add a crop
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="plan_fertiliser" name="change_crop" type="radio" value="plan_fertiliser">
                <label class="govuk-label govuk-radios__label" for="plan_fertiliser">
                 Remove Grass from this plan
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="delete" name="change_crop" type="radio" value="delete">
                <label class="govuk-label govuk-radios__label" for="delete">
                  Remove Winter Wheat from this plan
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="#">Cancel</a>
  </p>

{% endblock %}
