{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "hub.html"
      },
      {
        text: "Plans and records",
        href: "plans_records.html"
      },
      {
        text: "Harvest year " + data.chosen_plan.harvest_date
      }
    ]
  }) }}

{% endblock %}

{% block content %}

{% if data.chosen_plan.plan_update != null %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      {{data.chosen_plan.plan_update | statusconverter}}
    </h3>
    <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" href="hub">View Oaktree Lane Farm</a> </p> -->
  </div>
</div>
{% endif %}

<h1 class="govuk-heading-l">Harvest year {{data.chosen_plan.harvest_date}}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="crop_plan_title">
      <p class="govuk-body">There are 6 fields in this plan.</p>
      <p class="govuk-body">Last updated: {{data.chosen_plan.updated}}.</p>
    </div>
    
    <!-- <p class="govuk-body"><a href="change_plan">Change this plan</a></p> -->

    <!-- <ul class="govuk-list menu-list">
      <li>
        <a class="govuk-link" href="#">Add another crop to this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Create a record from this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Make a copy of this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Print or share this plan</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Delete this plan</a>
      </li>
    </ul> -->
    <hr class="big_seperator">

    {% if data.chosen_plan.harvest_date == '2024' %}
      {% include "./2024plan.html" ignore missing %}
    {% elif data.chosen_plan.harvest_date == '2025' %}
      {% include "./2025plan.html" %}
    {% endif %}

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Update this plan
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list font-size-17">
            <li>
              <a href="change_fields">
                Manage crops and fields
              </a>
            </li>
            <li>
              <a href="change_manures">
                Manage manures and fertilisers
              </a>
            </li>
            <li>
              <a href="change_overall_plan">
                Manage this plan
              </a>
            </li>
            <!-- <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>

    </div>
</div>

{% endblock %}