<table class="govuk-table recomendation-table data-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Nutrient recommendations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Variety</th>
      <th scope="col" class="govuk-table__header">Sowing date</span></th>
      <th scope="col" class="govuk-table__header">Estimated yield</th>
      <th scope="col" class="govuk-table__header">Crop use</th>
      <th scope="col" class="govuk-table__header">Straw use</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{data.chosen_crop | nameconverter}}</td>
      <td class="govuk-table__cell">Not entered</td>
      <td class="govuk-table__cell">Not entered</td>
      <td class="govuk-table__cell">8 tonnes per hecare</td>
      <td class="govuk-table__cell">Feed</td>
      <td class="govuk-table__cell">Baled</td>
    </tr>      
  </tbody>
</table>