{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span> -->

      <h1 class="govuk-heading-l">
        Which field do you want to add new soil analysis for?
      </h1>

      <form class="form" action="add-soil" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">

              {% for field in data.field_details_v4 %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="{{field.name}}" name="fields" type="radio" value="{{field.name}}">
                <label class="govuk-label govuk-radios__label" for="{{field.name}}">
                  {{field.name}}
                </label>
              </div>
              {% endfor %}

          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
