<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="crops">
  <h2 class="govuk-heading-m non-standard">
    Crop, field and soil details for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}
  </h2>

  <!-- <p class="govuk-body"><a href="../../farm/field/split_merge">Split this field, or merge it with others</a></p> -->
  
  {% if data.chosen_group.crop_reference != 'Grass' and data.chosen_group.crop_reference != 'grass' and data.chosen_group.sns != true %}
  {% endif %}

  <p class="govuk-body"><a href="field-select-handler?chosen_field={{data.chosen_field.name}}">View field and soil analysis information for {{data.chosen_field.name}}</a></p>

  <hr class="seperator_forty">

  <div class="tabs-thirds margin-bottom-forty">
    <h2 class="govuk-heading-m">
      Crop details for {{data.chosen_field.name}}
    </h2>
    {% if data.chosen_group.crop_reference != 'Grass' and data.chosen_group.crop_reference != 'grass' %}

      {% if data.oaktree_farm.planning_year == 2024 %}
        {% include "./templates/arable_crop_details_empty.html" ignore missing %}
      {% else %}
        {% include "./templates/arable_crop_details.html" ignore missing %}
      {% endif %}

    {% else %}
      {% include "./templates/grass-details.html" ignore missing %}
    {% endif %}
  </div>

  {% if data.chosen_group.crop_reference != 'Grass' and data.chosen_group.crop_reference != 'grass' %}
    <p class="govuk-body"><a href="updates/crop/change_crop">Change the {{data.chosen_group.crop_reference | nameconverter}} details for {{data.chosen_field.name}} </a></p>
    {% if data.chosen_group.sns != true  %}
      <p class="govuk-body"><a href="sns/date">Add a soil mineral nitrogen analysis result for {{data.chosen_group.crop_reference | nameconverter}}</a></p>
    {% endif %}
  {% else %}
    <p class="govuk-body"><a href="updates/grass/change_crop">Change the {{data.chosen_group.crop_reference | nameconverter}} details for {{data.chosen_field.name}} </a></p>
  {% endif %}

  {% if data.chosen_group.sns == true  %}
    {% include "./templates/sns_details.html" ignore missing %}
  {% endif %}

</div>

  <!-- TESTS IMPORTANT
  <p>group = {{data.chosen_group.reference}}</p>
  <p>field = {{data.chosen_field.name}}</p>

  <p>appears_in_other_groups? = {{appears_in_other_groups}}</p>
  <p>reference? = {{second_crop_reference}}</p> -->

  <!-- /farm/field_plan/sns/check.html /farm/field_plan/sns/check-details-sns.html -->