{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


{% macro monthitem(name) %}
  <h3 class="govuk-heading-s">{{name}}</h3>
  <div class="govuk-form-group">
    <label class="govuk-label" for="livestock_number">
      How many places did you have in {{name}}?
    </label>
    <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">places</div>
    </div>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="livestock_number">
      Occupancy in {{name}}
    </label>
    <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" value ="100" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">%</div>
    </div>
  </div>
{% endmacro %}


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <form action="livestock_numbers_average" method="post" novalidate="">

        <h1 class="govuk-heading-l">Sow place with litter, up to 7kg (with synth, amino acids)  2025</h1>

        <p class="govuk-body"></p>
       
        {{ monthitem ("January") }}

        <div class="margin-bottom-ten">
          <button type="" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add January's number to all months
          </button>
        </div>

        {{ monthitem ("February") }}
        {{ monthitem ("March") }}
        {{ monthitem ("April") }}
        {{ monthitem ("May") }}
        {{ monthitem ("June") }}
        {{ monthitem ("July") }}
        {{ monthitem ("August") }}
        {{ monthitem ("September") }}
        {{ monthitem ("October") }}
        {{ monthitem ("November") }}
        {{ monthitem ("December") }}


        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/version_7/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
