{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% macro monthitem(name) %}
  <div class="margin-bottom-forty">
    <h3 class="govuk-heading-s margin-bottom-ten">{{name}}</h3>
    <div class="govuk-form-group">
      <label class="govuk-label" for="livestock_number_{{name | lower}}">
        How many places did you have in {{name}}?
      </label>
      <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-5" id="livestock_number_{{name | lower}}" name="livestock_number_{{name | lower}}" type="text" spellcheck="false" autocomplete="off">
        <div class="govuk-input__suffix" aria-hidden="true">places</div>
      </div>
    </div>
    {% if data.livestock_group == 'pig' or data.livestock_group == 'poultry' %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="livestock_occupancy_{{name | lower}}">
          Occupancy in {{name}}
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" value ="100" id="livestock_occupancy_{{name | lower}}" name="livestock_occupancy_{{name | lower}}" type="text" spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">%</div>
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <form action="livestock_number_handler" method="post" novalidate="">

        <h1 class="govuk-heading-l">Enter the number of places per month</h1>
        <div class="margin-bottom-thirty">
          <p class="govuk-body">Selected livestock: {{data.chosen_livestock.name | capitalize}}.</p>
          {% if data.livestock_group == 'cattle' %}
            <p class="govuk-body">Nitrogen (N) standard: {{data.chosen_livestock.nitrogen}}kg per animal, per year.</p>
          {% else %}
            <p class="govuk-body">Occupancy is the length of time you have these animals on the farm.</p>
          {% endif %}
        </div>

        <!-- <p class="govuk-body">Enter numbers for each month or enter a figure for January and select 'Use January's numbers for the rest of the year'</p> -->
       
        {{ monthitem ("January") }}

        <!-- <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Use the January numbers as the average for the year
              </label>
            </div>
          </div>
        </div> -->

        <!-- <div class="margin-bottom-ten">
          <a class="govuk-button govuk-button--secondary" href="" data-module="govuk-button">
            Use the January number as an average for the year
          </a>
        </div> -->

        {{ monthitem ("February") }}
        {{ monthitem ("March") }}
        {{ monthitem ("April") }}
        {{ monthitem ("May") }}
        {{ monthitem ("June") }}
        {{ monthitem ("July") }}
        {{ monthitem ("August") }}
        {{ monthitem ("September") }}
        {{ monthitem ("October") }}
        {{ monthitem ("November") }}
        {{ monthitem ("December") }}


        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
