{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <form action="check" method="post" novalidate="">

        <h1 class="govuk-heading-l">Values for dairy cow (over 9000 litres milk yield)</h1>
                
        <div class="govuk-form-group">
          <label class="govuk-label" for="total_area">
            What is the average number for the year?
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="total_area" name="total_area" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">cows</div>
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="cropped_area">
            What is the occupancy? (optional)
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="cropped_area" name="cropped_area" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
          </div>
        </div>

        <h2 class="govuk-heading-s">Total nitrogen (N) produced by this {{data.livestock_group}} type </h2>

        <div class="govuk-form-group margin-bottom-forty">
          <label class="govuk-label" for="non_spreading_area">
            Nitrogen (N) standard per year
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="non_spreading_area" name="non_spreading_area" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">kg</div>
          </div>
        </div>

        <p class="govuk-button govuk-button--secondary">
          Calculate total Nitrogen (N)
        </p>

        <p class="govuk-body strong  margin-bottom-forty">1,1800kg per year</p>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
