<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which harvest year would you like to plan for?</dt>
    <dd class="govuk-summary-list__value">2025</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How would you like to create a plan?</dt>
    <dd class="govuk-summary-list__value">Choose crops manually</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">First crop for the harvest year</dt>
    <dd class="govuk-summary-list__value">Winter Wheat</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the variety name (optional)?</dt>
    <dd class="govuk-summary-list__value"></dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields do you plan to grow Winter Wheat in?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.oaktree_farm.use_mvp_fields == false %}
        {% for field in data.current_fields %}
          {{field.name}}, <br>
        {% endfor %}
      {% else %}
      Long Field, <br> Barn Field, <br> Orchard
      {% endif %}
      
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the estimated sowing date?</dt>
    <dd class="govuk-summary-list__value">10 September 2024</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the expected yield for Winter Wheat?</dt>
    <dd class="govuk-summary-list__value">7 tonnes per hectare</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you plan to use the crop?</dt>
    <dd class="govuk-summary-list__value">Milling</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you plan to use the straw?</dt>
    <dd class="govuk-summary-list__value">Incorporated</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  {% if data.crop_count == 1 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Do you plan to use any other crops in this harvest year?</dt>
      <dd class="govuk-summary-list__value">Yes</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Second crop for the harvest year</dt>
      <dd class="govuk-summary-list__value">Stubble Turnips</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Which fields do you plan to grow Stubble Turnips in?</dt>
      <dd class="govuk-summary-list__value">Long Field, <br> Barn Field, <br> Orchard</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What is the estimated sowing date?</dt>
      <dd class="govuk-summary-list__value">01 August 2025</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What is the expected yield for turnips per hectare?</dt>
      <dd class="govuk-summary-list__value">4 tonnes per hectare</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Do you plan to use any other crops in this harvest year?</dt>
      <dd class="govuk-summary-list__value">{{data.another_crop | capitalize}}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div> 
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you plan to use any other crops in this harvest year?</dt>
    <dd class="govuk-summary-list__value">No</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
  {% endif %}

</dl>