{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span> -->
        <h1 class="govuk-heading-l">
          {% if data.another_crop == 'yes' %}
            Select your second crop for the year
          {% else %}
            Select your first crop for the year
          {% endif %}
        </h1>

      <form class="form" action="fields" method="post">

        <div class="govuk-form-group">
          <h3 class="govuk-heading-s">Select from your most commonly used crops</h3>
          <fieldset class="govuk-fieldset">

              {% for crop in data.crop_types %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id={{crop.reference}} name="chosen_crop" type="radio" value={{crop.reference}}>
                  <label class="govuk-label govuk-radios__label" for={{crop.reference}}>
                    {{crop.name}}
                  </label>
                </div>
            {% endfor %}

          </fieldset> 
          <br>
          <h3 class="govuk-heading-s">or</h3>
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="other" name="chosen_crop" type="radio" value="other">
              <label class="govuk-label govuk-radios__label" for="other">
                Select another crop
              </label>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}










