{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          What is the name of the potato?
      </h1>

      <form class="form" action="potato_type_handler" method="post">

        <div class="govuk-form-group">
          <div class="govuk-radios" data-module="govuk-radios">
            {% for potato in data.potato_details %}
              {% if potato.potatoGroupId == data.chosen_crop %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id={{potato.potatoVarietyId}} name="chosen_crop" type="radio" value={{potato.potatoVarietyId}}>
                  <label class="govuk-label govuk-radios__label" for={{potato.potatoVarietyId}}>
                    {{potato.potatoVariety}}
                  </label>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>
      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}










