{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% if data.manure_spreads == 0 %}
    {% set manure_count = "first" %}
  {% else %}
    {% set manure_count = "Continue" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- {% include "templates/title_span.html" %} -->

      <h1 class="govuk-heading-l">
        Will you plant {{data.cover_crop | nameconverter}} early or late in Long Field?
      </h1>
      <form class="form" action="yield_two" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="early" name="sowdate" type="radio" value="early">
                <label class="govuk-label govuk-radios__label" for="early">
                Early
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="late" name="sowdate" type="radio" value="late">
                <label class="govuk-label govuk-radios__label" for="late">
                  Late
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none" name="sowdate" type="radio" value="none">
                <label class="govuk-label govuk-radios__label" for="none">
                  Don't know
                </label>
              </div>
            
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
