{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.chosen_plan.harvest_date
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {% if data.multi_manures == true or data.single_manures == true %}
            {{data.content.organic_term}} applications added to all fields in this plan.
          {% else %}
            Plan created
          {% endif %}
        </h3>
        <!-- <p class="govuk-body"><a href="/old/plan/add_crops/crop_group">Add another crop to this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Add another crop to this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Add manures or fertilisers to this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Create a record from this plan</a></p> -->
        <!-- <p class="govuk-body"><a href="">Download this plan</a></p> -->
      </div>
    </div>

    {% endif %}

    <h1 class="govuk-heading-l">Crop plan for 2024</h1>

    <div class="crop_plan_title">
      <p class="govuk-body">There are {{data.crop_group_2024.totalFields}} fields in this plan</p>
      <p class="govuk-body">Last updated: {{data.content.todays_date}}</p>
      <p class="govuk-body"><a href="/add_crops/crop_group">Add another crop to this plan</a></p>

      <p class="govuk-body"><a href="v2manure_handler?manurejourney=multi">Add {{data.content.organic_term | lower}} to multiple fields in this plan</a></p>
      <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=multi">Add {{data.content.non_organic_term | lower}} to multiple fields in this plan</a></p>

    </div>

    <hr class="seperator_five">

    <h2 class="govuk-heading-m">{{data.crop_group_2024.firstCropReference | nameconverter }}</h2>

    <!--show variety -->
    {% if data.crop_group_2024.firstCropVariety != null %}
      <p class="govuk-body">Variety: {{data.crop_group_2024.firstCropVariety}}</p>
    {% endif %}

    <p class="govuk-body"><a href="">Edit the {{data.crop_group_2024.firstCropReference | nameconverter }} plan for all these fields</a></p>

    <table class="govuk-table margin-bottom-forty big_crop_table">
      
      <!--show second crop table header where there is one -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          {% if data.crop_group_2024.secondCropFields == null %}
            <th scope="col" class="govuk-table__header"></th>
            {% else %}
            <th scope="col" class="govuk-table__header">Second crop</th>
            <th scope="col" class="govuk-table__header"></th>
          {% endif %}

          <th scope="col" class="govuk-table__header">Organic applications</th>
          <th scope="col" class="govuk-table__header">Inorganic applications</th>

          <th scope="col" class="govuk-table__header">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

      <!--show the first crop fields -->
      {% for field in data.crop_group_2024.firstCropFields %}
      {% set hasSecondCrop = false %}

      {% for thisField in data.crop_group_2024.secondCropFields %}
        {% if thisField.reference === field.reference %}
          {% set hasSecondCrop = true %}
        {% endif %}
      {% endfor %}  
        <tr class="govuk-table__row">    
          <td class="govuk-table__cell">{{field.name}}</td>

        {% if data.crop_group_2024.secondCropFields == null %}
          <td class="govuk-table__cell"></td>
        {% else %}
        <td class="govuk-table__cell">
          {% if hasSecondCrop == true %}
            {{data.crop_group_2024.secondCropReference | nameconverter }}
          {% else %}
            None
          {% endif %}
        </td>

        <td class="govuk-table__cell"></td>
        
      {% endif %}

      <td class="govuk-table__cell">
        {% if data.multi_manures == true %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              2
            {% else %}
              1
            {% endif %}
          {% else %}
              1
          {% endif %}
        {% endif %} 
          
        {% if data.multi_manures == false %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              1
            {% else %}
              None
            {% endif %}
          {% else %}
            None
          {% endif %}
        {% endif %} 
      </td>

      <td class="govuk-table__cell">
        {% if data.multi_manures == true %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              2
            {% else %}
              1
            {% endif %}
          {% else %}
              1
          {% endif %}
        {% endif %} 
          
        {% if data.multi_manures == false %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              1
            {% else %}
              None
            {% endif %}
          {% else %}
            None
          {% endif %}
        {% endif %} 
      </td>


          <td class="govuk-table__cell">
            {% if hasSecondCrop == true %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.firstCropReference}}&chosenfield={{field.reference}}&covercrop={{data.crop_group_2024.secondCropReference}}">View field plan</a>
          {% else %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.firstCropReference}}&chosenfield={{field.reference}}&covercrop=none">View field plan</a>
          {% endif %}
          </td>

        </tr>
      {% endfor %}  

      </tbody>
    </table>

    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->

    {% if data.crop_group_2024.thirdCropReference != null %}

    <h2 class="govuk-heading-m">{{data.crop_group_2024.thirdCropReference | nameconverter }}</h2>

    <!--show variety -->
    {% if data.crop_group_2024.thirdCropVariety != null %}
      <p class="govuk-body">Variety: {{data.crop_group_2024.thirdCropVariety}}</p>
    {% endif %}

    <p class="govuk-body"><a href="">Edit the {{data.crop_group_2024.thirdCropReference | nameconverter }}  plan for all these fields</a></p>

    <table class="govuk-table margin-bottom-forty big_crop_table">
      
      <!--show second crop table header where there is one -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>

          {% if data.crop_group_2024.fourthCropFields == null %}
            <th scope="col" class="govuk-table__header"></th>
            {% else %}
            <th scope="col" class="govuk-table__header">Second crop</th>
            <th scope="col" class="govuk-table__header"></th>
          {% endif %}

          <th scope="col" class="govuk-table__header">Organic applications</th>
          <th scope="col" class="govuk-table__header">Inorganic applications</th>

          <th scope="col" class="govuk-table__header">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

      <!--show the first crop fields -->
      {% for field in data.crop_group_2024.thirdCropFields %}
      {% set hasSecondCrop = false %}

      {% for thisField in data.crop_group_2024.fourthCropFields %}
        {% if thisField.reference === field.reference %}
          {% set hasSecondCrop = true %}
        {% endif %}
      {% endfor %}  
        <tr class="govuk-table__row">    
          <td class="govuk-table__cell">{{field.name}}</td>

        {% if data.crop_group_2024.fourthCropFields == null %}
          <td class="govuk-table__cell"></td>
        {% else %}
        <td class="govuk-table__cell">
          {% if hasSecondCrop == true %}
            {{data.crop_group_2024.fourthCropReference | nameconverter }}
          {% else %}
            None
          {% endif %}
        </td>
        <td class="govuk-table__cell">nbsp;</td>

      {% endif %}

      <td class="govuk-table__cell">
        {% if data.multi_manures == true %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              2
            {% else %}
              1
            {% endif %}
          {% else %}
              1
          {% endif %}
        {% endif %} 
          
        {% if data.multi_manures == false %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              1
            {% else %}
              None
            {% endif %}
          {% else %}
            None
          {% endif %}
        {% endif %} 
      </td>

      <td class="govuk-table__cell">
        {% if data.multi_manures == true %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              2
            {% else %}
              1
            {% endif %}
          {% else %}
              1
          {% endif %}
        {% endif %} 
          
        {% if data.multi_manures == false %}
          {% if data.single_manures == true %}
            {% if field.reference == '7' %}
              1
            {% else %}
              None
            {% endif %}
          {% else %}
            None
          {% endif %}
        {% endif %} 
      </td>


          <td class="govuk-table__cell">
            {% if hasSecondCrop == true %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.thirdCropReference}}&chosenfield={{field.reference}}&covercrop={{data.crop_group_2024.fourthCropReference}}">View field plan</a>
          {% else %}
            <a href="mvpfield_plan_handler?chosencrop={{data.crop_group_2024.thirdCropReference}}&chosenfield={{field.reference}}&covercrop=none">View field plan</a>
          {% endif %}
          </td>
        </tr>
      {% endfor %}  

      </tbody>
    </table>

  {% endif %}


</div>

{% endblock %}