
<!-- <p class="govuk-body">
The NVZ minimum manure storage requirement may be reduced by the volume of slurry or poultry manure that can always be applied to land with a low risk of run-off following the end of the closed period.
</p> -->

<!-- <p>This is provided that you:</p> -->

<!-- <ul class="govuk-list govuk-list--bullet">
<li>comply with all other NVZ rules, including the requirement not to spread more than 50 cubic metres per hectare of slurry, or 8 Tonnes per hectare of poultry manure in a single application between the end of the closed period and the end of February. You must allow at least 3 weeks between each individual application during this period.</li>
<li>mark the areas of low run-off risk land on your farm risk map for spreading organic manures.</li>
<li>provide, as a contingency arrangement, additional storage capacity equivalent to one week's worth production of manure. If you make any entry here, the tool will automatically calculate this extra requirement.</li>
</ul> -->
<p class="govuk-body">
    The NVZ minimum storage requirement can be reduced by the volume of slurry or poultry manure that can always be applied to land with a low risk of run-off following the end of the closed period.
</p>
<p class="govuk-body">
    This is provided you comply with all other NVZ rules, which means that:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>you must not spread more than 50 cubic metres per hectare of slurry, or 8 Tonnes per hectare of poultry manure in a single application between the end of the closed period and the end of February. You must allow at least 3 weeks between each individual application during this period</li>
  <li>you must mark the areas of low-risk run-off land on your farm risk map for spreading organic manures.</li>
  <li>you must provide, as a contingency arrangement, additional storage capacity equivalent to one week's worth production of manure. If you make any entry here, the tool will automatically calculate this extra requirement</li>
</ul>