{% if data.oaktree_farm.ewr == null %}
    <p class="govuk-body">Winter rainfall is less than 420mm. <a href="../../update/rainfall/update">Change winter rainfall for harvest year {{data.oaktree_farm.planning_year}}</a>.</p>
{% else %}
    <p class="govuk-body">Winter rainfall is 
        {% if data.excess_rain == 'high' %}
        420mm or more.
        {% endif %}
        <a href="../../update/rainfall/update"> Change winter rainfall for harvest year {{data.oaktree_farm.planning_year}}</a>.
    </p>
{% endif %}
