{{ govukSummaryList({
rows: [
  {
    key: {
      text: "Do you plan to spread " + data.content.organic_term | lower + "?"
    },
    value: {
      text: "Yes"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "When will you first spread " + data.content.organic_term | lower + "?"
    },
    value: {
      text: "3 March 2024"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What type of " + data.content.organic_term | lower + " will you spread in this application?"
    },
    value: {
      text: "Pig slurry, separated solids"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Will you spread more " + data.content.organic_term | lower + "?"
    },
    value: {
      text: "Yes"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "When will you next spread " + data.content.organic_term | lower + "?"
    },
    value: {
      text: "27 April 2024"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What type of " + data.content.organic_term | lower + " will you spread in this application?"
    },
    value: {
      text: "Pig slurry, separated solids"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
]
}) }}