<div class="tab-left margin-bottom-thirty">
  <h2 class="govuk-heading-m margin-bottom-ten">
      {{group.crop_reference | nameconverter }} <span class="govuk-body nonbold">- Crop group {{group.reference}}</span>
      <!-- <span class="nonbold">
        {% if group.variety.length > 0 %}
          ({{group.variety}})
        {% endif %}
      </span> -->
    </h2>
    <!-- <p class="govuk-body"><a href="change_cropgroup_handler?groupref={{group.reference}}&fieldref={{field.reference}}">Update this group</a></p> -->
  </div>

  <div class="tab-right">
    <form class="update-button" action="group_level_plan_v7_handler?groupref={{group.reference}}" method="post" novalidate="">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Update this group
      </button>
    </form>
  </div>

  <table class="govuk-table govuk-table-small margin-bottom-forty">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field</th>
        <!-- <th scope="col" class="govuk-table__header">Sward</th> -->
        <th scope="col" class="govuk-table__header">Management</th>
        <th scope="col" class="govuk-table__header">Total annual target yield<br>(per hectare)</th>
        <th scope="col" class="govuk-table__header">Units</th>
        <!-- <th scope="col" class="govuk-table__header">Alerts</th> -->
        <!-- <th scope="col" class="govuk-table__header">Crop use</th>
        <th scope="col" class="govuk-table__header">Straw use</th> -->
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>

    {% for field in group.fields %}

    {% set manureCount = 0 %}
    {% set inorganicCount = 0 %}

    {% for manureitem in data.allManureApplications_v2 %}
      {% if manureitem.fieldref == field.reference %}
          {% set manureCount = manureCount + 1 %}
        {% endif %}
    {% endfor %}

    {% for fertitem in data.allFertiliserApplications %}
    {% if fertitem.fieldref == field.reference %}
        {% set inorganicCount = inorganicCount + 1 %}
      {% endif %}
    {% endfor %}

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell field-name">{{field.name}}</td>
          <!-- <td class="govuk-table__cell">Grass</td> -->
          <td class="govuk-table__cell">
            {% if group.year == 2024 %}
              Not entered
            {% else %}
              Cut, Graze, Graze, Graze
            {% endif %}
          </td>
          <td class="govuk-table__cell field-name">
            {% if group.yield == null %}
              Not entered
            {% else %}
              {{group.yield}} tonnes
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% if group.yield == null %}
              Not entered
            {% else %}
              Dry weight
            {% endif %}
          </td>
          <!-- <td class="govuk-table__cell">Total dry matter</td> -->
          <!-- <td class="govuk-table__cell" class="govuk-table__header">
              {% if manureCount == 0 %}
              None
            {% else %}
              {{manureCount}}
            {% endif %}
          </td>
          <td class="govuk-table__cell" class="govuk-table__header">
              {% if inorganicCount == 0 %}
                None
              {% else %}
                {{inorganicCount}}
              {% endif %}
          </td> -->
          <!-- <td class="govuk-table__cell">None</td> -->
          <td class="govuk-table__cell"><a href="field_level_plan_v5_handler?groupref={{group.reference}}&fieldref={{field.reference}}&year={{group.year}}">Update field or view recommendations</a></td>
        </tr> 
    {% endfor %}

  </tbody>
</table>