{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This application may take you over the maximum application rate for slurry.
          </p>
          <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" target="_blank" href="https://www.gov.uk/guidance/using-nitrogen-fertilisers-in-nitrate-vulnerable-zones#:~:text=If%20the%20land%20is%20irrigated,500kg%20of%20nitrogen%20per%20hectare.">Find out more (opens in a  new window)</a></p> -->
          <p class="govuk-body">The NVZ Action Programme states that the application rate of slurry between 1 October 2024 and the end of February must not exceed 50 m3/ha or 8 t/ha for poultry manure in a single application. You must also allow at least 3 weeks between each individual application.</p>
          <p class="govuk-body">You should consider adjusting your application date to avoid [issue].</p>
        </div>
      </div>

      <h1 class="govuk-heading-l">
        {% if data.quantity_type == "area"  %}
          Enter the area and quantity for Long field
        {% else %}
          Enter the application rate
        {% endif %}
      </h1>

      {% if data.quantity_type == "area"  %}
      <table class="govuk-table margin-bottom-forty">
        <caption class="govuk-table__caption govuk-table__caption--m">Sizes entered at set up</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total field size</th>
            <td class="govuk-table__cell">77 hectares</td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Manure non-spreading area (optional)</th>
            <td class="govuk-table__cell">20 hectares</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total spreading area</th>
            <td class="govuk-table__cell">57 hectares</td>
          </tr>
        </tbody>
      </table>

      {% endif %}

      <form class="form" action="manure_incorporation_method" method="post">
        {% if data.quantity_type == "area"  %}

          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Spreading Area
            </label>
            <div class="govuk-input__wrapper"><input value="57" class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
            </div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Quantity
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">
                {% if data.manure_type.liquid == true %}
                  cubic metres
                {% else %}
                  tonnes
                {% endif %}
              </div>
            </div>
          </div>

          {% else %}

          <div class="govuk-form-group">
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">
                {% if data.manure_type.liquid == true %}
                  cubic metres per hectare
                {% else %}
                  tonnes per hectare
                {% endif %}
              </div>
            </div>
          </div>

        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}