{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Add soil analysis for {{data.chosenfield}}</h1>

      <form action="add-soil-check" method="post" novalidate="">
        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Add soil analysis for Long Field</h1>
        </legend> -->
        
    
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  

      <h2 class="govuk-heading-m">Sulphur (S)</h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="govuk-label" for="nitrate">Is the soil Sulphur (S) deficient?</label>
          
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nitrate" name="nitrate" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="nitrate">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nitrate-2" name="nitrate" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="nitrate-2">No</label>
            </div>
          </div>
        </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <br>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </fieldset>
        </div>
        
          </div>
      </div>
    </form>
  </div>

{% endblock %}