<table class="data-table govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Compliance with the NVZ Livestock Manure nitrogen (N) Farm Limit</th>
      <th scope="col" class="govuk-table__header">Yes</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Livestock manure total nitrogen (N) loading</td>
      <td class="govuk-table__cell">151,315 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Livestock manure total nitrogen (N) capacity</td>
      <td class="govuk-table__cell">217,750 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Difference between livestock manure total nitrogen (N) capacity, and livestock manure total nitrogen (N) Loading</td>
      <td class="govuk-table__cell">66,435 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Average livestock manure total nitrogen (N) loading</td>
      <td class="govuk-table__cell">129 kg per hectare</td>
    </tr>
  </tbody>
</table>