<table class="data-table govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Compliance with the NVZ Livestock Manure N Farm Limit</th>
      <th scope="col" class="govuk-table__header">Yes</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Livestock manure total N loading</td>
      <td class="govuk-table__cell">3,824 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Livestock manure total N capacity</td>
      <td class="govuk-table__cell">37,400 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Difference between livestock manure total N capacity, and livestock manure total N Loading</td>
      <td class="govuk-table__cell">33,576 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Average livestock manure total N loading</td>
      <td class="govuk-table__cell">17 kg per hectare</td>
    </tr>
  </tbody>
</table>