<!-- <table class="data-table govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Manure type</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Total nitrogen (N) per kg of manure</th>
      <th scope="col" class="govuk-table__header">Total nitrogen (N) per kg</th>
      <th scope="col" class="govuk-table__header">Supplier or receiver</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Cattle FYM - old </td>
      <td class="govuk-table__cell">20tonnes</td>
      <td class="govuk-table__cell">11/2/2025 </td>
      <td class="govuk-table__cell">6kg per tonne</td>
      <td class="govuk-table__cell">120</td>
      <td class="govuk-table__cell">Mrs Jones, Jones Farming company, CB24 5JF</td>
    </tr>
  </tbody>
</table> -->