<table class="data-table n-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Area</th>
      <th scope="col" class="govuk-table__header">Livestock manure total N capacity <br>(per year)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Area of holding in an NVZ</td>
      <td class="govuk-table__cell">220 hectares</td>
      <td class="govuk-table__cell">37,400 kg</td>          
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Area of holding not in an NVZ</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>          
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Total</td>
      <th scope="col" class="govuk-table__header">220 hectares</td>
      <th scope="col" class="govuk-table__header">37,400 kg</td>
    </tr>
  </tbody>
</table>