<table class="data-table n-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type of area</th>
      <th scope="col" class="govuk-table__header">Area</th>
      <th scope="col" class="govuk-table__header">Livestock manure total N capacity <br>(per year)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Area of holding in an NVZ</td>
      <td class="govuk-table__cell">950 hectares</td>
      <td class="govuk-table__cell">161,500 kg</td>          
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Area of holding not in an NVZ</td>
      <td class="govuk-table__cell">225 hectares</td>
      <td class="govuk-table__cell">56,250 kg</td>          
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Totals</td>
      <th scope="col" class="govuk-table__header">1,175.00 hectares</td>
      <th scope="col" class="govuk-table__header">217,750 kg</td>
    </tr>
  </tbody>
</table>