<table class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header col_type">Type</th>
      <th scope="col" class="govuk-table__header col_month">Jan</th>
      <th scope="col" class="govuk-table__header col_month">Feb</th>
      <th scope="col" class="govuk-table__header col_month">Mar</th>
      <th scope="col" class="govuk-table__header col_month">Apr</th>
      <th scope="col" class="govuk-table__header col_month">May</th>
      <th scope="col" class="govuk-table__header col_month">Jun</th>
      <th scope="col" class="govuk-table__header col_month">Jul</th>
      <th scope="col" class="govuk-table__header col_month">Aug</th>
      <th scope="col" class="govuk-table__header col_month">Sep</th>
      <th scope="col" class="govuk-table__header col_month">Oct</th>
      <th scope="col" class="govuk-table__header col_month">Nov</th>
      <th scope="col" class="govuk-table__header col_month">Dec</th>
      <th scope="col" class="govuk-table__header">Average</th>
      <th scope="col" class="govuk-table__header">Total N</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 beef cow/steer, 3-13 months</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">12</td>
      <td class="govuk-table__cell">396 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 beef cow/steer, 13-25 months</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">750 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 beef suckler, 25 months and over (500 kg and over)</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">2,656 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 bull for breeding, 3-25 months</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">100 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 calf, up to 3 months</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">42 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" colspan="14" class="govuk-table__header">Total livestock manure N production</th>
      <td scope="col" class="govuk-table__header">3,944kg</td>
    </tr>
  </tbody>
</table>