<table class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header col_type">Type</th>
      <th scope="col" class="govuk-table__header col_month">Jan</th>
      <th scope="col" class="govuk-table__header col_month">Feb</th>
      <th scope="col" class="govuk-table__header col_month">Mar</th>
      <th scope="col" class="govuk-table__header col_month">Apr</th>
      <th scope="col" class="govuk-table__header col_month">May</th>
      <th scope="col" class="govuk-table__header col_month">Jun</th>
      <th scope="col" class="govuk-table__header col_month">Jul</th>
      <th scope="col" class="govuk-table__header col_month">Aug</th>
      <th scope="col" class="govuk-table__header col_month">Sep</th>
      <th scope="col" class="govuk-table__header col_month">Oct</th>
      <th scope="col" class="govuk-table__header col_month">Nov</th>
      <th scope="col" class="govuk-table__header col_month">Dec</th>
      <th scope="col" class="govuk-table__header">Average</th>
      <th scope="col" class="govuk-table__header">Total N</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 bull for breeding, 3-25 months</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">100kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 bull for breeding, 25 months and over</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">240kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 beef suckler, 25 months and over (up to 500 kg)</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">225</td>
      <td class="govuk-table__cell">13,725kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 beef suckler, 25 months and over (500 kg and over)</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">250</td>
      <td class="govuk-table__cell">20,750kg</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" colspan="14" class="govuk-table__header">Total livestock manure N production</th>
      <td scope="col" class="govuk-table__header">34,815kg</td>
    </tr>
  </tbody>
</table>