<table class="data-table govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header manure_type">Type</th>
      <th scope="col" class="govuk-table__header manure_quantity">Quantity</th>
      <th scope="col" class="govuk-table__header manure_nitrogen">Nitrogen (N)</th>
      <th scope="col" class="govuk-table__header derogation_total_nitrogen">Total <br>Nitrogen (N)</th>
      <th scope="col" class="govuk-table__header">Phosphate (P2O5)</th>
      <th scope="col" class="govuk-table__header">Total Phosphate (P2O5)</th>
      <th scope="col" class="govuk-table__header">Supplier or receiver</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">10/1/2025 </td>
      <td class="govuk-table__cell">Cattle FYM - fresh </td>
      <td class="govuk-table__cell">5,000 tonnes</td>
      <td class="govuk-table__cell">6kg per tonne</td>
      <td class="govuk-table__cell">30,000kg</td>
      <td class="govuk-table__cell">3.2kg</td>
      <td class="govuk-table__cell">16,000kg per tonne</td>
      <td class="govuk-table__cell">Mrs Jones, Jones Farming company, CB24 5JF</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">19/3/2025 </td>
      <td class="govuk-table__cell">Cattle FYM - fresh </td>
      <td class="govuk-table__cell">5,000 tonnes</td>
      <td class="govuk-table__cell">6kg per tonne</td>
      <td class="govuk-table__cell">30,000kg</td>
      <td class="govuk-table__cell">3.2kg</td>
      <td class="govuk-table__cell">16,000kg per tonne</td>
      <td class="govuk-table__cell">Mrs Jones, Jones Farming company, CB24 5JF</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12/4/2025 </td>
      <td class="govuk-table__cell">Cattle FYM - fresh </td>
      <td class="govuk-table__cell">5,000 tonnes</td>
      <td class="govuk-table__cell">6kg per tonne</td>
      <td class="govuk-table__cell">30,000kg</td>
      <td class="govuk-table__cell">3.2kg</td>
      <td class="govuk-table__cell">16,000kg per tonne</td>
      <td class="govuk-table__cell">Mrs Jones, Jones Farming company, CB24 5JF</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <td class="govuk-table__cell">Total</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">15,000 tonnes</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">90,000kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">48,000kg</td>
      <td class="govuk-table__cell">-</td>
    </tr>

  </tbody>
</table>