<table class="data-table govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">N per tonne</th>
      <th scope="col" class="govuk-table__header">Total N</th>
      <th scope="col" class="govuk-table__header">P2O5 per tonne</th>
      <th scope="col" class="govuk-table__header">Total P2O5</th>
      <th scope="col" class="govuk-table__header">Supplier or receiver</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Cattle FYM - fresh </td>
      <td class="govuk-table__cell">5,000&nbsp;t</td>
      <td class="govuk-table__cell">10/1/2025 </td>
      <td class="govuk-table__cell">6kg</td>
      <td class="govuk-table__cell">30,000kg</td>
      <td class="govuk-table__cell">3.2kg</td>
      <td class="govuk-table__cell">16,000kg</td>
      <td class="govuk-table__cell">Mrs Jones, Jones Farming company, CB24 5JF</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Cattle FYM - fresh </td>
      <td class="govuk-table__cell">5,000&nbsp;t</td>
      <td class="govuk-table__cell">19/3/2025 </td>
      <td class="govuk-table__cell">6kg</td>
      <td class="govuk-table__cell">30,000kg</td>
      <td class="govuk-table__cell">3.2kg</td>
      <td class="govuk-table__cell">16,000kg</td>
      <td class="govuk-table__cell">Mrs Jones, Jones Farming company, CB24 5JF</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Cattle FYM - fresh </td>
      <td class="govuk-table__cell">5,000&nbsp;t</td>
      <td class="govuk-table__cell">12/4/2025 </td>
      <td class="govuk-table__cell">6kg</td>
      <td class="govuk-table__cell">30,000kg</td>
      <td class="govuk-table__cell">3.2kg</td>
      <td class="govuk-table__cell">16,000kg</td>
      <td class="govuk-table__cell">Mrs Jones, Jones Farming company, CB24 5JF</td>
    </tr>
  </tbody>
</table>