<table class="new_nmax_table new_nmax_table_crop govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area <br><span class="nonbold">ha</span></th>
      <th scope="col" class="govuk-table__header">Crop yield<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Soil type adjustment <br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Yield adjustment <br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Milling Wheat <br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Paper crumble or straw mulch<br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Adjusted N-max limit <br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Maximum limit for N applied</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">40 acres</td>
      <td class="col_2 govuk-table__cell">18</td>
      <td class="col_3 govuk-table__cell">8t</td>          
      <td class="col_4 govuk-table__cell">-</td>
      <td class="col_5 govuk-table__cell">-</td>
      <td class="col_6 govuk-table__cell">-</td>
      <td class="col_7 govuk-table__cell">-</td>
      <td class="col_8 govuk-table__cell">220kg</td>
      <td class="col_9 govuk-table__cell">3,960kg</td>
    </tr>
  </tbody>
</table>