<table class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Grazing livestock total N</th>
      <th scope="col" class="govuk-table__header">Pigs and poultry total N</th>
      <th scope="col" class="govuk-table__header">Grazing livestock total P2O5</th>
      <th scope="col" class="govuk-table__header">Pigs and poultry total P2O5</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Home-produced livestock manures</td>
      <td class="govuk-table__cell">34,815 kg</td>
      <td class="govuk-table__cell">26,500 kg</td>          
      <td class="govuk-table__cell">13,291 kg</td>
      <td class="govuk-table__cell">19,500 kg</td>          
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Imported livestock manures</td>
      <td class="govuk-table__cell">90,000 kg</td>
      <td class="govuk-table__cell">0</td>          
      <td class="govuk-table__cell">48,000 kg</td>
      <td class="govuk-table__cell">0</td>          
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Exported livestock manures</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>          
      <td class="govuk-table__cell">0</td>          
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Net total</td>
      <th scope="col" class="govuk-table__header">124,815  kg</td>
      <th scope="col" class="govuk-table__header">26,500 kg</td>
      <th scope="col" class="govuk-table__header">61,291  kg</td>
      <th scope="col" class="govuk-table__header">19,500 kg</td>
    </tr>
  </tbody>
</table>