<!-- <table class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Number of places </th>
      <th scope="col" class="govuk-table__header">Occupancy %</th>
      <th scope="col" class="govuk-table__header">N standard</th>
      <th scope="col" class="govuk-table__header">Total N produced</th>
      <th scope="col" class="govuk-table__header">Total livestock manure N production</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">-</td>
      <td class="col_2 govuk-table__cell">-</td>
      <td class="col_2 govuk-table__cell">-</td>
      <td class="col_2 govuk-table__cell">-</td>
      <td class="col_2 govuk-table__cell">-</td>
      <td class="col_8 govuk-table__cell">0</td>
    </tr>
  </tbody>
</table> -->

<p>None</p>