<table class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Number of places </th>
      <th scope="col" class="govuk-table__header">Occupancy</th>
      <th scope="col" class="govuk-table__header">Typical nitrogen (N) standard</th>
      <th scope="col" class="govuk-table__header">Entered nitrogen (N) standard</th>
      <th scope="col" class="govuk-table__header">Total N</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Laying hen places (free range), 17 wks and over</td>
      <td class="col_2 govuk-table__cell">50,000</td>
      <td class="col_2 govuk-table__cell">97%</td>
      <td class="col_2 govuk-table__cell">530kg</td>
      <td class="col_2 govuk-table__cell">530kg</td>
      <td class="col_2 govuk-table__cell">26,500kg</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" colspan="5" class="govuk-table__header">Total livestock manure nitrogen (N) production</th>
      <td scope="col" class="govuk-table__header">26,500kg</td>
    </tr>
  </tbody>
</table>