<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What type of crop would you like to plan?</dt>
    <dd class="govuk-summary-list__value">Grass</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div> 

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields would you like to plan Grass for?</dt>
    <dd class="govuk-summary-list__value">
      {% for field in data.crop_fields %}
        {{field.name}} <br>
      {% endfor %}      
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What would you like to call this group (optional)?</dt>
    <dd class="govuk-summary-list__value">{{data.groupname}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Are these new swards or existing swards in these fields?</dt>
    <dd class="govuk-summary-list__value">{{data.reseed | capitalize}} swards</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the sward in these fields in 2025?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.season_name == 'summer' %}
        Summer or autumn sown
      {% else %}
        Spring sown
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you have a date for when you sowed your Grass, or when you will sow it?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.sow_option_one == 'single' %}
        Yes, I have a single date for all these fields
      {% elif data.sow_option_one == 'different' %}
        Yes, I have different dates for each of these fields
      {% else %}
        No, I'll enter the date later
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  {% if data.sow_option_one != 'no' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {% if data.sow_option_one == 'single' %}
          What is the sowing date for Grass in these fields?
        {% else %}
          What is the sowing date for Grass in Long Field?
        {% endif %}
      </dt>
      <dd class="govuk-summary-list__value">
          {{data.sow_date_day}} {{data.sow_date_month | convertmonth}}  {{data.sow_date_year}}
      </dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
  {% endif %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"> What is the sward type in these fields in 2025?</dt>
    <dd class="govuk-summary-list__value">{{data.sward_type | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How will these fields be managed?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.grass_management == 'grazing' %}
        Grazing only
        {% elif data.grass_management == 'hay' %}
        Hay only
      {% elif data.grass_management == 'silage' %}
        Silage only
      {% elif data.grass_management == 'grazinghay' %}
        Grazing and hay    
      {% else %}
      Grazing and silage (or Haylage)
    {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How many cuts and grazings will you have in these fields?</dt>
    <dd class="govuk-summary-list__value">{{data.defoliations | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  {% if data.grass_management == 'grazinghay' or data.grass_management == 'grazingsilage' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What is the cut and grazing order in these fields?</dt>
      <dd class="govuk-summary-list__value">
        {% set counter = 0 %}
        {% for item in data.defoliation_order %}
          {% if item == 'c' %}
            {% set counter = counter + 1 %}
            {{counter}}. Cut <br>
          {% else %}
          {% set counter = counter + 1 %}
          {{counter}}. Graze <br>
          {% endif %}
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
  {% endif %}

  <!-- Yield -->
  <!-- if (req.session.data.grass_management == "grazinghay" || req.session.data.grass_management == "grazingsilage") {
    next = 'defoliation_order'
} else {
    if (req.session.data.sward_type == 'grass') {
        next = 'yield_value_v5'
    }
} -->

   {% if data.sward_type == 'grass' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is the total annual target dry matter yield for  {{data.crop_fields[0].name}}?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.grass_total_yield_one}} tonnes per hectare
        </dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
      </div>

      {% if data.crop_fields[1] != null %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is the total annual target dry matter yield for {{data.crop_fields[1].name}}?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.grass_total_yield_two}} tonnes per hectare
        </dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
      </div>

    {% endif %}

   {% endif %}
  
</dl>