{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Planning
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification">
            Select your first crop group and type for 2024.
            You can then add the crop to one or more fields to create your plan.
          </p>
          <p class="govuk-notification">
            You can create as many crop groups as you need to, for example you can group crops by how tHay will be treated
          </p>
        </div>
      </div>
 -->

      <!-- {% include "templates/title_span.html" %} -->
      <h1 class="govuk-heading-l">
        What type of crop would you like to add to your {{data.oaktree_farm.planning_year}} plan?
      </h1>

      <p class="govuk-hint">
        Choose one. Crops types are added one at a time.
      </p>
    


      <!-- <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with planning crop groups
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Select your first crop for 2024, you can then select the fields where you will grow it. Crops are grouped by type and variety. You can create as many crop groups as you need to.</p>
        </div>
      </details> -->

      <form class="form" action="cropmvp_handler" method="post">

        <div class="govuk-form-group">
            {% include "./crop_group_content" %}
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  
  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
