{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is the application method for your {{data.manure_type.name}}?
      </h1>

      <form class="form" action="manure_defaults" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="band" name="application_method" type="radio" value="Band spreader trailing hose">
                <label class="govuk-label govuk-radios__label" for="band">
                  Band spreader trailing hose    
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="broadcast" name="application_method" type="radio" value="Broadcast spreader">
                <label class="govuk-label govuk-radios__label" for="broadcast">
                  Broadcast spreader
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="deep" name="application_method" type="radio" value="Deep injection (23cm - 30cm)">
                <label class="govuk-label govuk-radios__label" for="deep">
                  Deep injection (23cm - 30cm)
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="shallow" name="application_method" type="radio" value="Shallow injection (5cm - 7cm)">
                <label class="govuk-label govuk-radios__label" for="shallow">
                  Shallow injection (5cm - 7cm)
                </label>
              </div>

          </div>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}