<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    {% if data.successMessage == 1 %}
      <h3 class="govuk-notification-banner__heading">
        Manure nutrients and value calculated
      </h3>
      <p class="">Select an application's details to change any of the entered information.</p>
      <p class="">Select manure value to adjust your nutrient prices.</p>
      {% elif data.successMessage == 2 %}
        <h3 class="govuk-notification-banner__heading">
          Manure value updated
        </h3>
      {% elif data.successMessage == 4 %}
      <h3 class="govuk-notification-banner__heading">
        Manure application removed
      </h3>
    {% else %}
    <h3 class="govuk-notification-banner__heading">
      Manure nutrients and value updated
    </h3>
  {% endif %}
  <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" href="../outputs/export">Save or print a report</a></p>   -->
  </div>
</div>
