{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <form action="storage_figures_handler" method="post" novalidate="">

      <h1 class="govuk-heading-l">Manure storage capacity </h1>
      <p class="govuk-body">October {{data.oaktree_farm.planning_year}} to September {{data.oaktree_farm.planning_year + 1}}</p>

      {% if data.oaktree_farm.storage_added == true %}
        <p class="govuk-body">
          These values are taken from your {{data.oaktree_farm.planning_year}} existing manure inventory report. 
        </p>
        <p class="govuk-body">
          Changing these values here will not update your {{data.oaktree_farm.planning_year}} existing manure inventory report.
        </p>
      {% endif %}
      
      <h2 class="govuk-heading-s">Slurry storage</h2>
      <div class="govuk-form-group margin-bottom-thirty">
        <label class="govuk-label" for="livestock_number">
          What is the total capacity of slurry stores?
        </label>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" {% if data.oaktree_farm.storage_added == true %} value="256" {% endif %} spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">Cubic metres</div>
        </div>
      </div>

      <div class="govuk-form-group margin-bottom-forty">
        <label class="govuk-label" for="livestock_number">
          What is the total surface area of uncovered slurry stores?
        </label>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">Metres squared</div>
        </div>
      </div>

      <!-- <h2 class="govuk-heading-m">Dirty water stores</h2>
      <div class="govuk-form-group margin-bottom-thirty">
        <label class="govuk-label" for="livestock_number">
          Capacity of dirty water stores
        </label>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text"  spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">Cubic metres</div>
        </div>
      </div>

      <div class="govuk-form-group margin-bottom-forty">
        <label class="govuk-label" for="livestock_number">
          Surface area of uncovered dirty water stores
        </label>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">Metres squared</div>
        </div>
      </div> -->

      <h2 class="govuk-heading-s">Solid manure stores</h2>
      <div class="govuk-form-group margin-bottom-forty">
        <label class="govuk-label" for="livestock_number">
          What is the total capacity of solid manure stores on an impermeable base or in poultry houses?
        </label>          
        <!-- <p class="govuk-hint" for="livestock_number">
          Include stores 
        </p> -->
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">Tonnes</div>
        </div>
      </div>

      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}