<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
  </div>
  <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">You have updated an organic material {{data.imports_exports}}</h3>
      <p class="govuk-body"><a class="govuk-notification-banner__link" href="../../add_export/export_type">Add another import or export</a></p> 
      {% if data.export_type == 4 %}
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_nloading_checklist_message_handler">Create a Livestock manure nitrogen (N) farm limit report for 2025</a></p>  
      {% else %}
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_inventory_checklist_message_handler">Create an Organic manures inventory and storage report 2025</a></p>  
      {% endif %}
  </div>
</div>
