<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
  </div>
  <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">You have added an organic material {{data.imports_exports}}</h3>
      
      {% if data.export_type == 4 %}

        <p class="govuk-body">
          To create a Livestock manure nitrogen (N) farm limit report, enter the imports and exports of livestock manure on {{data.oaktree_farm.name}} in 2026.
        </p>
        <p class="govuk-body">
          <a class="govuk-notification-banner__link" href="../../add_export/export_type">Add another import or export</a>
        </p> 
        <p class="govuk-body">
          <a class="govuk-notification-banner__link" href="reset_nloading_checklist_message_handler">Continue to create the livestock manure nitrogen (N) farm limit report</a>
        </p>  
      
      {% else %}

        <p class="govuk-body">
          To create an organic manures inventory and NVZ organic material storage report, enter the imports and exports of organic materials on {{data.oaktree_farm.name}} between October {{data.oaktree_farm.harvest_year}} and September {{data.oaktree_farm.harvest_year + 1}}.
        </p>
        <p class="govuk-body">
          <a class="govuk-notification-banner__link" href="../../add_export/export_type">Add another import or export</a>
        </p> 
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_inventory_checklist_message_handler">Continue to create the organic manure inventory and NVZ storage requirement report</a></p>  
      
      {% endif %}

  </div>
</div>
