{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Low risk run-off land
    </h1>

    <p class="govuk-body">
      You can spread slurry or poultry manure on fields that have a low risk of run-off, to reduce the amount of storage capacity you need to provide.
    </p>

    <p class="govuk-body">
      Low run-off risk land is land that:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>has an average slope of less than 3 degrees</li>
      <li>does not have land drains (other than a sealed pipe)</li>
      <li>is at least 50 metres from a watercourse or conduit leading to a watercourse</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          About low risk run-off land
        </span>
      </summary>

      <div class="govuk-details__text">
        {% include "./templates/lrrol_details.html" ignore missing %}
      </div>
    </details>

    <p class="govuk-body">Do you want to enter details of any low risk run-off land?</p>
    <p class="govuk-hint">Choose one option.</p>

    <form class="form" action="low_risk_land_handler" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="low_risk_land" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="low_risk_land" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}