Ploughed last HY 
and 1 to 2 year ley
2 or more cuts, little manure 
1 or more cuts, less than 250kg nitrogen (N) per hectare 
grazed only, less than 250kg nitrogen (N) per hectare 
grazed only, more than 250kg nitrogen (N) per hectare 

Ploughed last HY 
and 3 to 5 year ley
2 or more cuts, little manure 
1 or more cuts, less than 250kg nitrogen (N) per hectare 
grazed only, less than 250kg nitrogen (N) per hectare 
1 cut and grazing, more than 250kg nitrogen (N) per hectare 
grazed only, more than 250kg nitrogen (N) per hectare 



Ploughed HY -2 
and 1 to 2 year ley
2 or more cuts, little manure 
1 or more cuts, less than 250kg nitrogen (N) per hectare 
grazed, less than 250kg nitrogen (N) per hectare 
grazed only, more than 250kg nitrogen (N) per hectare 

Ploughed HY -2 
and 3 to 5 year ley
2 or more cuts, little manure 
1 or more cuts, less than 250kg nitrogen (N) per hectare 
grazed only, less than 250kg nitrogen (N) per hectare
1 cut and grazing, more than 250kg nitrogen (N) per hectare 
grazed only, more than 250kg nitrogen (N) per hectare 



Ploughed HY -3 
and 1 to 2 year ley
2 or more cuts, little manure 
1 or more cuts, less than 250kg nitrogen (N) per hectare 
grazed, less than 250kg nitrogen (N) per hectare 
grazed only, more than 250kg nitrogen (N) per hectare 

Ploughed HY -3 
and 3 to 5 year ley
2 or more cuts, little manure 
1 or more cuts, less than 250kg nitrogen (N) per hectare 
grazed only, less than 250kg nitrogen (N) per hectare 
1 cut and grazing, more than 250kg nitrogen (N) per hectare 
grazed only, more than 250kg nitrogen (N) per hectare