{% extends "layouts/main.html" %}

{% set bodyClasses = "wide" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to your 2025 plan",
    href: "/farm/crop_plan/plan_view"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with printing and exporting
          </span>
        </summary>
        <div class="govuk-details__text">
         <p>To print this information, go to your browser's file menu, choose print, then choose your printer and follow the instructions.</p>
         <p>To save a copy of this information as a PDF, go to your browser's file menu, choose print, then choose print to PDF and follow the instructions.</p>
        </div>
      </details>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">N-max limits 2025</h1>
      <p class="govuk-body">Created on 30 October 2025.</p>
    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">Oaktree Lane Farm, <br>
        24 South Road<br> 
        Hexham<br>  
        Northumberland<br> 
        NE46 7LQ</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">CPH number: 123456789 <br>
      Single Business Identifier: 123456789 </p>
    </div>

  </div>

      <div class="govuk-grid-row margin-bottom-forty">
        <div class="govuk-grid-column-full">

      <div class="govuk-inset-text">
        <p class="govuk-body margin-bottom-forty">To comply with the N-max limit for each crop type the total Nitrogen (N) applied must<br> not be greater than the adjusted N-max limit.</p>
      </div>

      <h2 class="govuk-heading-l">Winter Wheat fields</h2>
      <h3 class="govuk-heading-m">N-max limit for Winter Wheat fields</h3>
      <p class="govuk-body">N-max limit for Winter Wheat fields before adjustments: 300kg N per hectare, per field</p>
      <table class="new_nmax_table govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field</th>
            <th scope="col" class="govuk-table__header">Crop area</th>
            <th scope="col" class="govuk-table__header">Crop yield</th>
            <th scope="col" class="govuk-table__header">Soil type</th>
            <th scope="col" class="govuk-table__header">Yield adjustment</th>
            <th scope="col" class="govuk-table__header">Milling Wheat</th>
            <th scope="col" class="govuk-table__header">Paper crumble or straw mulch</th>
            <th scope="col" class="govuk-table__header">Adjusted <br>N rate</th>
            <th scope="col" class="govuk-table__header">Adjusted <br>N limit</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Long Meadow field</td>
            <td class="govuk-table__cell">10 ha</td>
            <td class="govuk-table__cell">8 tonnes per ha</td>          
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">220kg<br>(N per ha)</td>
            <td class="govuk-table__cell">3960kg</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total</th>
            <th scope="col" class="govuk-table__header">10 ha</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="govuk-table__header">3960kg</th>
          </tr>
        </tbody>
      </table> 

      <h2 class="govuk-heading-m">Grass fields</h2>
      <h3 class="govuk-heading-s">N-max limit for Grass fields</h3>
      <p class="govuk-body">N-max limit for Winter Grass before adjustments: 300kg per hectare, per field</p>
      <table class="govuk-table new_nmax_table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field</th>
            <th scope="col" class="govuk-table__header">Crop area</th>
            <th scope="col" class="govuk-table__header">Crop yield</th>
            <th scope="col" class="govuk-table__header">Soil type</th>
            <th scope="col" class="govuk-table__header">Yield adjustment</th>
            <th scope="col" class="govuk-table__header">Grass cut only</th>
            <th scope="col" class="govuk-table__header">Paper crumble or straw mulch</th>
            <th scope="col" class="govuk-table__header">Adjusted <br>N rate</th>
            <th scope="col" class="govuk-table__header">Adjusted <br>N limit</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Short field</td>
            <td class="govuk-table__cell">10 ha</td>
            <td class="govuk-table__cell">8 tonnes per ha</td>          
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">20kg<br>(N per ha)</td>
            <td class="govuk-table__cell">220kg<br>(N per ha)</td>
            <td class="govuk-table__cell">3960kg</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total</th>
            <th scope="col" class="govuk-table__header">10 ha</th>
            <td scope="col" class="nonbold govuk-table__header">-</t>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="nonbold govuk-table__header">-</th>
            <th scope="col" class="govuk-table__header">3960kg</th>
          </tr>
        </tbody>
      </table> 

      <h2 class="govuk-heading-m">Nitrogen applications for Grass fields</h2>
      <table class="govuk-table govuk-table-small applications-N-max-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field name</th>
            <th scope="col" class="govuk-table__header">Crop area<br><span class="nonbold">in hectares</span></th>
            <th scope="col" class="govuk-table__header">Inorganic Nitrogen rate<br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Total inorganic Nitrogen</th>
            <th scope="col" class="govuk-table__header">Organic Nitrogen rate<br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Total organic Nitrogen</th>
            <th scope="col" class="govuk-table__header">Total Nitrogen rate<br><span class="nonbold">per hectare</span></th>
            <th scope="col" class="govuk-table__header">Total Nitrogen</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Park 1</td>
            <td class="govuk-table__cell">15.00</td>
            <td class="govuk-table__cell">140kg</td>          
            <td class="govuk-table__cell">2,730kg</td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell">140kg</td>
            <td class="govuk-table__cell">2,730kg</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Park 2</td>
            <td class="govuk-table__cell">19.50</td>
            <td class="govuk-table__cell">140kg</td>          
            <td class="govuk-table__cell">2,100kg</td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell">140kg</td>
            <td class="govuk-table__cell">2,100kg</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Low meadow</td>
            <td class="govuk-table__cell">18.20</td>
            <td class="govuk-table__cell"> </td>          
            <td class="govuk-table__cell"> </td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">High meadow</td>
            <td class="govuk-table__cell">20.20</td>
            <td class="govuk-table__cell"> </td>          
            <td class="govuk-table__cell"> </td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
          </tr>     
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total</th>
            <th scope="col" class="govuk-table__header">72.90</td>
            <td class="govuk-table__cell"> </td>          
            <th scope="col" class="govuk-table__header">4,830kg</td>          
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <th scope="col" class="govuk-table__header">4,830kg</th>
          </tr>               
        </tbody>
      </table>

    </div>

  </div>


{% endblock %}
