{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-l">
          You have not entered any livestock information for 2024
        </h1>
        <p class="govuk-body">An N-loading report is not available. You need to add your livestock information, then information about any organic manure imports or exports.</p>
        <form class="form" action="../../add_livestock/livestock_group" method="post">
          {{ govukButton({
            text: "Add livestock for 2024"
          }) }}
        </form>
      </div>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}