{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-l">
          You have not entered any manure storage for {{data.oaktree_farm.planning_year}}
        </h1>
        <!-- <p class="govuk-body">A report is not available. You need to add details about any organic manure imports or exports.</p> -->
        <form class="form" action="../../add_storage/material_type" method="post">
          {{ govukButton({
            text: "Add manure storage " + data.oaktree_farm.planning_year
          }) }}
        </form>
      </div>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}