{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You have not entered any crop infomation
      </h1>

      <p class="govuk-body">A crop and field management report is not available for 2024. You need to add your crop information and information about any organic or inorganioc material applied first.</p>

      <form class="form" action="../../add_crops/crop_group" method="post">
      
        {{ govukButton({
          text: "Add crops for 2024"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}