<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-xl">2025 crop and field management report for Oaktree Lane Farm</h1>
    
    <ul class="govuk-list margin-bottom-thirty">
      <li>24 South Road, Hexham, Northumberland NE46 7LQ</li>
      <li>CPH number: 123456789.  Single Business Identifier: 123456789</li>
      <li>Created on 11 December 2024</li>
    </ul>

    <div class="margin-bottom-forty">
      <h2 class="govuk-heading-m">
        About recommendations, guidance, and advice in private beta
       </h2>       
      {% include "/templates/recommendations.html" ignore missing %}
    </div>

    <h2 class="govuk-heading-l">Farm information</h2>

    <table class="govuk-table  govuk-table-small margin-bottom-sixty">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Annual rainfall</th>
          <th scope="col" class="govuk-table__header">Total cropped area</th>
          <th scope="col" class="govuk-table__header">Total arable area</th>
          <th scope="col" class="govuk-table__header">Total grass area</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">600mm</td>
            <td class="govuk-table__cell">10 hectares</td>
            <td class="govuk-table__cell">5 hectares</td>
            <td class="govuk-table__cell">5 hectares</td>
          </tr>
      </tbody>
    </table>

  </div>
</div>
