<div class="govuk-grid-row margin-bottom-twenty">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Soil Nitrogen Supply (SNS) for Short field' {{fieldname}}</h2>
    <table class="govuk-table govuk-table-small margin-bottom-twenty">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Method</th>
          <th scope="row" class="govuk-table__header">SNS index</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell sns_method">Field assessment method</td>
          <td class="govuk-table__cell">2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>