{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}


{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}

{% set back_url = 'hub_message_reset' %}
{% set back_url_text = 'Back to ' + data.oaktree_farm.name %}

{% if data.export_type == 8 %}
  {% set back_url = '/outputs/inventory/checklist' %}
  {% set back_url_text = 'Back' %}
{% endif %}

{{ govukBackLink({
  text: back_url_text,
  href: back_url
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% if data.show_success_message == true %}
      {% include "./templates/success_message.html" ignore missing %}
    {% endif %}

    <div class="margin-bottom-thirty">
      <span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span> 
      <h1 class="govuk-heading-l margin-bottom-ten">Manure storage</h1>
      {% if data.export_type == 8 %}
        <h2 class="govuk-heading-m">October {{data.oaktree_farm.harvest_year}}and September {{data.oaktree_farm.harvest_year + 1}}</h2>
      {% else %}
        <h2 class="govuk-heading-m">2026</h2>
      {% endif %}
    </div>

    {% if data.show_success_message != true and data.export_type != null %}
      <div class="govuk-inset-text margin-bottom-forty">
        {% if data.export_type == 8 %}
          <p class="govuk-body">
            To create an organic manures inventory and NVZ storage report, add all the Manure storage on {{data.oaktree_farm.name}} between October {{data.oaktree_farm.harvest_year}}and September {{data.oaktree_farm.harvest_year + 1}}.
          </p>
          <p class="govuk-body">
            <a href="/outputs/inventory/checklist">Create an organic manures inventory and NVZ storage report</a>
          </p>
        {% else %}
          <p class="govuk-body">To create an existing manure storage capacity report, enter the manure storage on {{data.oaktree_farm.name}} in 2026.</p>
          <p class="govuk-body"><a href="report">Create an existing manure storage capacity report</a></p>
        {% endif %}
      </div>
    {% endif %} 

    <form class="margin-bottom-ten" action="../../add_storage/material_type" method="post" novalidate="">    
      <button class="govuk-button" data-module="govuk-button">
        Add manure storage
      </button>
    </form>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data.show_success_message != true and data.export_type == null %}
      <div class="margin-bottom-thirty">
        <p class="govuk-body"><a href="/outputs/export">Create a report from this information</a></p>
      </div>
    {% endif %}

    <div class="margin-bottom-forty">
      {% include "./templates/storage_type_table.html" ignore missing %}
    </div>

  </div>
</div>

{% endblock %}