{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "All farms",
        href: "../farms" 
      },
      {
        text: "Oaktree Lane Farm",
        href: "hub_reset_router"
      },
      {
        text: "Organic material storage",
        href: "storage_years"
      },
      {
        text: "Organic material storage 2005"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
{{ plan_status }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.show_success_message == true %}
        {% include "./templates/success_message.html" ignore missing %}
      {% endif %}
    </div>
  </div>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        
          <span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span>
          <h1 class="govuk-heading-xl" id="header">Organic material storage {{ data.oaktree_farm.planning_year }}</h1>

          <!-- <p class="govuk-body">Last updated 19 April 2025.</p> -->
          <!-- <p class="govuk-body margin-bottom-thirty">{{data.oaktree_farm.name}} does not have a derogation for {{data.oaktree_farm.planning_year}} . <a href="">Add derogation</a>.</p> -->
            
      {% if data.oaktree_farm.storage_added == true %}

        <form class="margin-bottom-ten" action="../../add_storage/material_type" method="post" novalidate="">    
          <button class="govuk-button" data-module="govuk-button">
            Add storage
          </button>
        </form>
        <!-- <p class="govuk-body margin-bottom-forty"><a href="../outputs/export_storage">Save or print a report</a></p> -->
      <hr class="seperator_ten">
        {% endif %}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  
      {% if data.oaktree_farm.storage_added == true %}
          {% include "./templates/storage_type_table.html" ignore missing %}
      {% else %}
        <p class="govuk-body">You have not added any storage information.</p>
        <form class="" action="../../add_storage/material_type" method="post" novalidate="">    
          <button class="govuk-button" data-module="govuk-button">
            Add storage
          </button>
        </form>
      {% endif %}
      
    </div>
  </div>

{% endblock %}