<h2 id="guidance" class="govuk-heading-s">Nitrogen fertiliser adjustment calculator for cereals and oilseeds</h2>
<div class="margin-bottom-forty">
  <p class="govuk-body-">
    AHDB provide a free to use tool which suggests potential changes to your typical farm nitrogen rates. Accounting for fertiliser and grain/oilseed prices.</p>
  <p class="govuk-body">
    <a href="https://ahdb.org.uk/knowledge-library/nitrogen-fertiliser-adjustment-calculator-for-cereals-and-oilseeds/" target="_blank">View the calculator</a> (opens in a new window)
  </p>
</div>


