{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <!-- {% include "templates/title_span.html" %} -->
    <h1 class="govuk-heading-l">
      Add livestock details for {{data.oaktree_farm.planning_year}} 
    </h1>

    <h2 class="govuk-heading-m">
      Check your answers
    </h2>

    <div class="check-answers">
        {% include "./check_content.html" %}
    </div>
    
    {% set button_text = 'Add this livestock' %}
    {% if data.livestock_update_journey == true %}
      {% set button_text = 'Update this livestock' %}
    {% endif %}

    <form action="check_loading_lstock_handler" method="post" novalidate>
      {{ govukButton({
        text: button_text
      }) }}
    </form>
    <p class="govuk-body">
      <a href="reset_add_loading_lstock">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
