{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

{% macro monthitem(name) %}
  <div class="margin-bottom-forty">
    <div class="govuk-form-group">
      <label class="govuk-label" for="livestock_number_{{name | lower}}">
        Number in {{name}}?
      </label>
      <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-5" id="livestock_number_{{name | lower}}" name="livestock_number_{{name | lower}}" type="text" spellcheck="false" autocomplete="off">
        <div class="govuk-input__suffix" aria-hidden="true">{{data.chosen_livestock.shortname}}</div>
      </div>
    </div>
  </div>
{% endmacro %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Monthly totals for this {{data.chosen_livestock.shortname}} type between October {{data.oaktree_farm.planning_year}} and September {{data.oaktree_farm.planning_year + 1}}
    </h1>

    <p class="govuk-body">
        Selected livestock type: {{data.chosen_livestock.name | capitalize}}
    </p>

    <form action="check" method="post" novalidate="">

      <div class="margin-bottom-thirty">
        {% if data.livestock_group == 'cattle' %}
          <p class="govuk-body">Nitrogen (N) standard: {{data.chosen_livestock.nitrogen}}kg per animal, per year.</p>
        {% else %}
          <p class="govuk-body">Occupancy is the length of time you have these animals on the farm.</p>
        {% endif %}
      </div>

      {{ monthitem ("January " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("February " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("March " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("April " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("May " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("June " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("July " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("August " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("September " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("October " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("November " + data.oaktree_farm.planning_year) }}
      {{ monthitem ("December " + data.oaktree_farm.planning_year) }}

      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}