{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="govuk-heading-l">
      What is the nitrogen (N) standard for this livestock type in {{data.oaktree_farm.planning_year}}?
    </h1>
          
    <p class="govuk-body">
      Selected livestock type: {{data.chosen_livestock.name | capitalize}}
    </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Help with nitrogen (N) standard</span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          The nitrogen (N) standard figure is the average nitrogen (N) produced by this type of animal
        </p>
        <p class="govuk-body">
          This figure accounts for occupancy already, so if you change it, you must keep the occupancy value the same. You can only change one of these values.
        </p>
      </div>
    </details>

    <form action="check" method="post" novalidate="">
      <div class="govuk-form-group">
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" value="83" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">
            {% if data.livestock_group == 'poultry' %}
              Kg of nitrogen (N) per 1000 places
            {% else %}
              Kg of nitrogen (N) per animal
            {% endif %}
          </div>
        </div>
      </div>

      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}