<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About occupancy and nitrogen (N) standard
    </span>
  </summary>
  <div class="govuk-details__text">
<p class="govuk-body strong">
    Occupancy
</p>

<p class="govuk-body">
    These animals are counted by the number of places for them on the farm. Occupancy means the proportion of the year that these places are occupied by animals. For example, if your production cycle lasts 42 days, and the empty period is 7 days (total 49 days), then your occupancy is 86%.
</p>
<p class="govuk-body">
    If the occupancy on your farm is different to the value shown here, you can change it.
</p>

<p class="govuk-body strong">
    Nitrogen (N) standard
</p>

<p class="govuk-body">
    The nitrogen (N) standard figure is the average nitrogen (N) produced by this type of animal.
</p>

<p class="govuk-body margin-bottom-forty">
    If you change this value, you must keep the occupancy value the same.
</p>
  </div>
</details>