{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Nitrogen (N) standard
    </h1>

    <p>{{data.chosen_livestock.name | capitalize}}</p>
    
    {% if data.oaktree_farm.derogation == true %}
      <p class="govuk-body">Phosphate (P2O5) standard: 83kg per animal,  per year</p>
    {% endif %}

    <form action="livestock_values_handler" method="post" novalidate="">

      <div class="margin-bottom-thirty"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="nitrogen_standard">
            What is the Nitrogen (N) standard per animal, per year?
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="nitrogen_standard" name="nitrogen_standard" value="83" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">Kg</div>
          </div>
        </div>

      <div class="margin-bottom-forty"></div>

      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}