<table class="govuk-table big_crop_table_version_three margin-bottom-forty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Application Date &#9660;</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header">Change</th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">280 kg</td>
      <td class="govuk-table__cell">
        56 kg Phosphate (P2O5)
        <span class="nutrient-list">56 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row"></tr>
      <td class="govuk-table__cell">Long</td>
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">280 kg</td>
      <td class="govuk-table__cell">
        56 kg Phosphate (P2O5)
        <span class="nutrient-list">56 kg Potash (K2O)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Valley</td>
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">12/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        60 kg Phosphate (P2O5)
        <span class="nutrient-list">60 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">12/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        60 kg Phosphate (P2O5)
        <span class="nutrient-list">60 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">25 acres</td>
      <td class="govuk-table__cell">20/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        56 kg Potash (K2O)
        <span class="nutrient-list">56 kg Phosphate (P2O5)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Barns</td>
      <td class="govuk-table__cell">20/09/2023</td>
      <td class="govuk-table__cell">280 kg</td>
      <td class="govuk-table__cell">
        56 kg Phosphate (P2O5)
        <span class="nutrient-list">56 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">01/03/2024</td>
      <td class="govuk-table__cell">120 kg</td>
      <td class="govuk-table__cell">
        41 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long</td>
      <td class="govuk-table__cell">01/03/2024</td>
      <td class="govuk-table__cell">120 kg</td>
      <td class="govuk-table__cell">
        41 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">01/03/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N)
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">01/03/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N)
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Valley</td>
      <td class="govuk-table__cell">01/03/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N)
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poplar</td>
      <td class="govuk-table__cell">01/03/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N)
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">22/03/2024</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long</td>
      <td class="govuk-table__cell">22/03/2024</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poplar</td>
      <td class="govuk-table__cell">01/04/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">02/04/2024</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long</td>
      <td class="govuk-table__cell">02/04/2024</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">02/04/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">02/04/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">26/04/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">26/04/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poplar</td>
      <td class="govuk-table__cell">01/05/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Valley</td>
      <td class="govuk-table__cell">01/05/2024</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


  </tbody>
</table>