    <!-- <p>Group reference {{group.reference}}</p>
    <p>{{group.crop_reference | nameconverter}}</p>
    <p>Fields</p>
    <p>
      {% for field in group.fields %}
        {{field.name}},
      {% endfor %}  
      </p>
    <p>--</p> -->
  
  <h2 class="govuk-heading-m">
    {{group.crop_reference | nameconverter  }} 
    <span class="nonbold">
      {% if group.variety %}
        ({{group.variety}})
      {% endif %}
      {{group.groupname}}
    </span>
  </h2>
  <p class="govuk-body"><a href="">Change this group</a></p>

  <table class="govuk-table big_crop_table_version_three margin-bottom-forty">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field</th>
        <th scope="col" class="govuk-table__header">Organic applications</th>
        <th scope="col" class="govuk-table__header">Inorganic applications</th>
        <th scope="col" class="govuk-table__header">Alerts</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
    {% for field in group.fields %}
    {% set hasManure = false %}
    {% set hasInnorganic = false %}
    {% set manureCount = 0 %}
    {% set inorganicCount = 0 %}

      {% for manureGroup in data.fertiliserGroupsV5 %}
        {% if manureGroup.organic == true %}
          {% for manureField in manureGroup.fields %}
            {% if manureField == field.reference %}
              {% set hasManure = true %}
              {% set manureCount = manureCount + 1 %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% for fertField in manureGroup.fields %}
            {% if fertField == field.reference %}
              {% set hasInnorganic = true %}
              {% set inorganicCount = inorganicCount + 1 %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{field.name}}</td>

        <td class="govuk-table__cell" class="govuk-table__header">
          {% if hasManure == true %}
            {{manureCount}}
          {% else %}
            None
          {% endif %}
        </td>

        <td class="govuk-table__cell" class="govuk-table__header">
          {% if hasInnorganic == true %}
            {{inorganicCount}}
          {% else %}
            None
          {% endif %}
        </td>

        <td class="govuk-table__cell">None</td>
        <td class="govuk-table__cell"><a href="field_level_plan_v5_handler?groupref={{group.reference}}&fieldref={{field.reference}}">View field plan</a></td>
      
      </tr> 
    {% endfor %}

  </tbody>
</table>