<table class="govuk-table big_crop_table_version_three margin-bottom-forty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application Date &#9660;</th>
      <th scope="col" class="govuk-table__header field-name">Field</th>
      <th scope="col" class="govuk-table__header">Crop</th>
        <!-- <th scope="col" class="govuk-table__header">Rate</th> -->
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for application in data.allFertiliserApplications %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> {{application.date}}</td>
          <td class="govuk-table__cell">{{application.Field}}</td>
          <td class="govuk-table__cell"> {{application.Crop | nameconverter}}</td>

          <!-- <td class="govuk-table__cell">
            {% if application.rate != "0" and application.rate != "" and application.rate != nan %}
              {{application.rate}}kg
            {% else %}
              Not entered
            {% endif %}
          </td> -->

          <td class="govuk-table__cell">
            {% if application.nitrogen != "0" %}
              <span class="nutrient-list">{{application.nitrogen}}kg Nitrogen (N)</span>
            {% endif %}

            {% if application.P2O5 != "0" %}
              <span class="nutrient-list">{{application.P2O5}}kg Phosphate (P2O5)</span>
            {% endif %}

            {% if application.K2O != "0" %}
              <span class="nutrient-list">{{application.K2O}}kg Potash (K2O)</span>
            {% endif %}

           {% if application.MgO != "0" %}
              <span class="nutrient-list">{{application.MgO}}kg Magnesium (MgO)</span>
            {% endif %}

            {% if application.SO3 != "0" %}
              <span class="nutrient-list">{{application.SO3}}kg Sulphur (SO3)</span>
            {% endif %}

            {% if application.Na2O != "0" %}
              <span class="nutrient-list">{{application.Na2O}}kg Sodium (Na2O)</span>
            {% endif %}

            {% if application.Lime != "0" %}
              <span class="nutrient-list">{{application.Na2O}}kg Lime</span>
            {% endif %}

          </td>
          <td class="govuk-table__cell"><a href="">Change</a></td>
        </tr>
      {% endfor %}
  </tbody>
</table>

<!-- {% for x in data.allFertiliserApplications %}
   {{x.Field}}
{% endfor %} -->





<!-- TEST
{% for application in data.allFertiliserApplications %}
  {{application.reference}}<br>
  {% for field in application.chosenFields %}
    {{field.name}}<br>
  {% endfor %}
  {{application.nutrients}}<br>
  {{application.rate}}<br>
  {{application.application_date}}<br>
{% endfor %} -->



<!-- <table class="govuk-table big_crop_table_version_three margin-bottom-forty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field &#9660;</th>
      <th scope="col" class="govuk-table__header">Application Date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header">Change</th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">25 acres</td>
      <td class="govuk-table__cell">20/09/2023</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        56kg Potash (K2O)
        <span class="nutrient-list">56kg Phosphate (P2O5)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Barns</td>
      <td class="govuk-table__cell">20/09/2023</td>
      <td class="govuk-table__cell">280kg</td>
      <td class="govuk-table__cell">
        56kg Phosphate (P2O5)
        <span class="nutrient-list">56kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">280kg</td>
      <td class="govuk-table__cell">
        56kg Phosphate (P2O5)
        <span class="nutrient-list">56kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">120kg</td>
      <td class="govuk-table__cell">
        41kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">22/03/2025</td>
      <td class="govuk-table__cell">200kg</td>
      <td class="govuk-table__cell">
        69kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
      <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hops 1</td>
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">200kg</td>
      <td class="govuk-table__cell">
        69kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row"></tr>
      <td class="govuk-table__cell">Long field</td>
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">280kg</td>
      <td class="govuk-table__cell">
        56kg Phosphate (P2O5)
        <span class="nutrient-list">56kg Potash (K2O)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long field</td>
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">120kg</td>
      <td class="govuk-table__cell">
        41kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long field</td>
      <td class="govuk-table__cell">22/03/2025</td>
      <td class="govuk-table__cell">200kg</td>
      <td class="govuk-table__cell">
        69kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long field</td>
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">200kg</td>
      <td class="govuk-table__cell">
        69kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">12/09/2023</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        60kg Phosphate (P2O5)
        <span class="nutrient-list">60kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        40kg Nitrogen (N)
        <span class="nutrient-list">40kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Narrow land</td>
      <td class="govuk-table__cell">26/04/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">12/09/2023</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        60kg Phosphate (P2O5)
        <span class="nutrient-list">60kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        40kg Nitrogen (N)
        <span class="nutrient-list">40kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Oaks</td>
      <td class="govuk-table__cell">26/04/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poplar</td>
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        40kg Nitrogen (N)
        <span class="nutrient-list">40kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poplar</td>
      <td class="govuk-table__cell">01/04/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poplar</td>
      <td class="govuk-table__cell">01/05/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

    </tr>
      <tr class="govuk-table__row">
      <td class="govuk-table__cell">Valley</td>
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Valley</td>
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        40kg Nitrogen (N)
        <span class="nutrient-list">40kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Valley</td>
      <td class="govuk-table__cell">01/05/2025</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">
        70kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
  </tbody>
</table> -->