<!-- <table class="govuk-table big_crop_table_version_three margin-bottom-forty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Dry Matter</th>
      <th scope="col" class="govuk-table__header">Total Nitrogen (N)</th>
      <th scope="col" class="govuk-table__header">Ammonia (NH4-N)</th>
      <th scope="col" class="govuk-table__header">Uric acid N</th>
      <th scope="col" class="govuk-table__header">Nitrate nitrogen (NO3-N)</th>
      <th scope="col" class="govuk-table__header">Phosphate (P2O5)</th>
      <th scope="col" class="govuk-table__header">Potash (K2O)</th>
      <th scope="col" class="govuk-table__header">Magnesium (MgO)</th>
      <th scope="col" class="govuk-table__header">Sulphur (SO3)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1078 kg</td>
      <td class="govuk-table__cell">344 kg</td>
      <td class="govuk-table__cell">344 kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">160 kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
  </tbody>
</table> -->

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View nutrient totals from organic material for harvest year 2024
    </span>
  </summary>
  <div class="govuk-details__text">
<table class="govuk-table big_crop_table_version_three margin-bottom-forty">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Total from organic manures</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Dry Matter</td>
      <td class="govuk-table__cell">50 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total Nitrogen (N)</td>
      <td class="govuk-table__cell">12 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Ammonia (NH4-N)</td>
      <td class="govuk-table__cell">1 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Uric acid N</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Nitrate nitrogen (NO3-N)</td>
      <td class="govuk-table__cell">0.2 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Phosphate (P2O5)</td>
      <td class="govuk-table__cell">6.4 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Potash (K2O)</td>
      <td class="govuk-table__cell">16 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Magnesium (MgO)</td>
      <td class="govuk-table__cell">3.6kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sulphur (SO3)</td>
      <td class="govuk-table__cell">4.8 kg</td>
    </tr>

  </tbody>
</table>
</div>
</details>
