<!-- <h2 class="govuk-heading-m">25 acres</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
      <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
      <th scope="col" class="govuk-table__header">Nitrogen (N)</th>
      <th scope="col" class="govuk-table__header">Phosphate (P2O5)</th>
      <th scope="col" class="govuk-table__header">Potash (K2O)</th>
      <th scope="col" class="govuk-table__header">Sulphur (SO3)</th>
      <th scope="col" class="govuk-table__header">Sodium</th>
      <th scope="col" class="govuk-table__header">Magnesium (MgO)</th>
      <th scope="col" class="govuk-table__header">Lime</th>
      <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">20/09/2023</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell">288kg</td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
  </tbody>
</table> -->

<h2 class="govuk-heading-m">25 acres</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
      <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
      <th scope="col" class="govuk-table__header">Nutrients</th>
      <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">20/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        56 kg Potash (K2O)
        <span class="nutrient-list">56 kg Phosphate (P2O5)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
  </tbody>
</table>

<div class="break"></div>

<h2 class="govuk-heading-m">Barns</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">20/09/2023</td>
      <td class="govuk-table__cell">280 kg</td>
      <td class="govuk-table__cell">
        56 kg Phosphate (P2O5)
        <span class="nutrient-list">56 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

  </tbody>
</table>

<div class="break"></div>

<h2 class="govuk-heading-m">Hops 1</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">280 kg</td>
      <td class="govuk-table__cell">
        56 kg Phosphate (P2O5)
        <span class="nutrient-list">56 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">120 kg</td>
      <td class="govuk-table__cell">
        41 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">22/03/2025</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
      <tr class="govuk-table__row">
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

  </tbody>
</table>

<div class="break"></div>

<h2 class="govuk-heading-m">Long field</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row"></tr>
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">280 kg</td>
      <td class="govuk-table__cell">
        56 kg Phosphate (P2O5)
        <span class="nutrient-list">56 kg Potash (K2O)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">120 kg</td>
      <td class="govuk-table__cell">
        41 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">22/03/2025</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">200 kg</td>
      <td class="govuk-table__cell">
        69 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

  </tbody>
</table>

<div class="break"></div>

<h2 class="govuk-heading-m">Narrow land</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        60 kg Phosphate (P2O5)
        <span class="nutrient-list">60 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N),
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">26/04/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

  </tbody>
</table>

<div class="break"></div>

<h2 class="govuk-heading-m">Oaks</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        60 kg Phosphate (P2O5)
        <span class="nutrient-list">60 kg Potash (K2O)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N)
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">02/04/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">26/04/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

  </tbody>
</table>

<div class="break"></div>

<h2 class="govuk-heading-m">Poplar</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N)
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/04/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/05/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>

  </tbody>
</table>

<div class="break"></div>

<h2 class="govuk-heading-m">Valley</h2>
<table class="govuk-table big_crop_table_version_three">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
        <th scope="col" class="govuk-table__header">Rate (per hectare)</th>
        <th scope="col" class="govuk-table__header">Nutrients</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/03/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        40 kg Nitrogen (N)
        <span class="nutrient-list">40 kg Sulphur (S03)</span>
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
      <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/09/2023</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/05/2025</td>
      <td class="govuk-table__cell">288 kg</td>
      <td class="govuk-table__cell">
        70 kg Nitrogen (N)
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
  </tbody>
</table>