<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View nutrient totals from inorganic fertiliser for harvest year 2024
    </span>
  </summary>
  <div class="govuk-details__text">
    <table class="govuk-table big_crop_table_version_three margin-bottom-forty">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Nutrient</th>
          <th scope="col" class="govuk-table__header">Total from Inorganic fertiliser</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nitrogen (N)</td>
          <td class="govuk-table__cell">1078 kg</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Phosphate (P2O5)</td>
          <td class="govuk-table__cell">344 kg</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Potash (K2O)</td>
          <td class="govuk-table__cell">344 kg</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Magnesium (MgO)</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Sodium</td>
          <td class="govuk-table__cell">160 kg</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Sulphur (SO3)</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lime</td>
          <td class="govuk-table__cell">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</details>