    <!-- <p>Group reference {{group.reference}}</p>
    <p>{{group.crop_reference | nameconverter}}</p>
    <p>Fields</p>
    <p>
      {% for field in group.fields %}
        {{field.name}},
      {% endfor %}  
      </p>
    <p>--</p> -->
  
  <h2 class="govuk-heading-m">
    {% if group.variety == null %}
      {{group.crop_reference | nameconverter  }} <span class="nonbold">&nbsp;(Group {{group.reference}})</span>
    {% else %}
      {{group.crop_reference | nameconverter  }} <span class="nonbold">&nbsp;({{group.variety}})</span>
    {% endif %}
  </h2>
    <p class="govuk-body"><a href="">Change this plan</a></p>

  <table class="govuk-table big_crop_table_version_three margin-bottom-forty">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field</th>
        <th scope="col" class="govuk-table__header">Organic applications</th>
        <th scope="col" class="govuk-table__header">Inorganic applications</th>
        <th scope="col" class="govuk-table__header">Alerts</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for field in group.fields %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{field.name}}</td>

        <td class="govuk-table__cell" class="govuk-table__header">
          {% if organics == true %}
            1
          {% else %}
            None
          {% endif %}
        </td>

        <td class="govuk-table__cell" class="govuk-table__header">
          {% if inorganics == true %}
            1
          {% else %}
            None
          {% endif %}
        </td>

        <td class="govuk-table__cell">None</td>
        <td class="govuk-table__cell"><a href="field_level_plan_v5_handler?groupref={{group.reference}}&fieldref={{field.reference}}">View field plan</a></td>
      
      </tr> 
    {% endfor %}

  </tbody>
</table>