{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the phosphorus sorption capacity – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_signed_in_first.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Phosphorus sorption capacity (PSC)
    </h1>

    <p class="govuk-body">
      The phosphorus sorption capacity of a soil refers to the differing capacity of soils to bind with applied phosphorus making it temporality unavailable for plant uptake. 
    </p>

    <p class="govuk-body">
      <a href="https://www.fas.scot/downloads/managing-soil-phosphorus/">Read SRUC Technical Note TN688 Managing soil phosphorus</a> (opens in a new window)
    </p>

    <p class="govuk-body margin-bottom-thirty">
      <a href="https://map.environment.gov.scot/Soil_maps/?layer=16">View a map of soil PSC indices from Scotland’s soils website</a> (opens in a new window)
    </p>


    <form class="form" action="" method="post">
    
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="psc-hint">
          <label class="govuk-label" for="event-name">
            What is the phosphorus sorption capacity (PSC) of the soil in Top field?
          </label>
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="psc" name="psc" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="psc">
                PSC Index 1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="psc-2" name="psc" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="psc-2">
                PSC Index 2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="psc-3" name="psc" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="psc-3">
                PSC Index 3
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}