{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – Add a farm -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_signed_in_first.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Average annual rainfall for {{data.oaktree_farm.postcode}}
    </h1>

    <p class="govuk-body">
      This is the average annual rainfall for your postcode area. If you have your own measurement for the farm, you can update it now or later.
    </p>

    <div class="text-group margin-bottom-forty">
      <h3 class="govuk-heading-s">Average annual rainfall</h3>
      <p class="govuk-body">{{data.oaktree_farm.rainfall}}mm</p>
      <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
    </div>
    
    <form action="nvz" method="post" novalidate="">
      <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>
    </form>

    <p class="govuk-body cancel-link"><a href="/farm/farms">Cancel</a></p>

  </div>
</div>

{% endblock %}