{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a farm - farm name – {{ serviceName }}
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Enter the average annual rainfall in millimetres for {{data.oaktree_farm.postcode}}
    </h1>
    
    <form action="nvz" method="post" novalidate="">      
      <div class="govuk-form-group">
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" value="{{data.oaktree_farm.rainfall}}" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Millimetres</div>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <br>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </fieldset>
      </div>

    </form>

    <p class="govuk-body cancel-link"><a href="/farm/farms">Cancel</a></p>

  </div>
</div>

{% endblock %}