{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Rectangular bales from Long Field in 2025
    </h1>

    <form action="yield_calculator_result" method="post" novalidate="">

      <div class="govuk-form-group">
        <label class="govuk-label" for="ph">What is the total number of rectangular bales required from Long Field in 2025?</label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" autocomplete="off" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Bales</div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="ph">Average weight of each rectangular bale</label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" autocomplete="off" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Kg</div>
        </div>
      </div>
      
    <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
      Continue
    </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/mvp/field/field-details">Cancel</a></p>

  </div>
</div>

{% endblock %}