{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Is the second crop for all Cereal fields or specific fields?
      </h1>

      <form class="form" action="crop" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wheat" name="add" type="radio" value="wheat">
                <label class="govuk-label govuk-radios__label" for="wheat">
                  All Cereal fields
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wheat" name="add" type="radio" value="wheat">
                <label class="govuk-label govuk-radios__label" for="wheat">
                  Specific Cereal fields
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="#">Cancel</a>
  </p>

{% endblock %}