<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">What type of organic material do you plan to use in this application?</dt>
  <dd class="govuk-summary-list__value">{{data.manure_type.name}}</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">When do you first plan to spread organic material on the fields?</dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">
        {{data.manure_date_day}}
        {{data.manure_date_month | convertmonth}}
        {{data.manure_date_year}} 
    </p>
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Do you want to use the default nutrient values for {{data.manure_group.name}}?</dt>
  <dd class="govuk-summary-list__value">Yes</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How would you like to calculate the amount of manure used?</dt>
  <dd class="govuk-summary-list__value">Use the standard application rate of 40 tonnes per hectare</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How will the manure be incorporated?</dt>
  <dd class="govuk-summary-list__value">Discs</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How many days will there be before the manure is incorporated?</dt>
  <dd class="govuk-summary-list__value">1 to 2 days</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Autumn crop Nitrogen uptake</dt>
  <dd class="govuk-summary-list__value">10kg per hectare</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">End of soil drainage</dt>
  <dd class="govuk-summary-list__value">31 March 2024</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Rainfall within 6 hours of application</dt>
  <dd class="govuk-summary-list__value">0</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Total rainfall since application</dt>
  <dd class="govuk-summary-list__value">328mm</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Windspeed at application</dt>
  <dd class="govuk-summary-list__value">Calm/gentle (0 - 3 Beaufort scale)</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Topsoil moisture</dt>
  <dd class="govuk-summary-list__value">Moist</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>