<table class="govuk-table data-table">
  <caption class="govuk-table__caption master-table-caption">Nutrient prices</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Product</th>
      <th scope="col" class="govuk-table__header">Product cost</th>
      <th scope="col" class="govuk-table__header">Nutrient cost</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Nitrogen</td>
      <td class="govuk-table__cell">Ammonium Nitrate 34.5% nitrogen (N)</td>
      <td class="govuk-table__cell">£311 per tonne</td>
      <td class="govuk-table__cell">9p per tonne</td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Phosphate</td>
      <td class="govuk-table__cell">Triple superphosphate (46% phosphate P2O5)</td>
      <td class="govuk-table__cell">£311 per tonne</td>
      <td class="govuk-table__cell">9p per kg</td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Potash</td>
      <td class="govuk-table__cell">Muriate of potash (60% potash K2O)</td>
      <td class="govuk-table__cell">£311 per tonne</td>
      <td class="govuk-table__cell">9p per tonne</td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
  </tbody>
</table>
