<ul class="govuk-task-list">

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="derogation" aria-describedby="company-details-1-status">
        Derogation
      </a>
    </div>
    {% if data.oaktree_farm.derogation != null %}
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li>

  <!-- AREA -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.area_added == true %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="area" aria-describedby="company-details-1-status">
          Farm area
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="area" aria-describedby="company-details-1-status">
          Farm area
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li>

  <!-- <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.livestock_2025 == 'added' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="" aria-describedby="company-details-1-status">
          Total area in an NVZ
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="" aria-describedby="company-details-1-status">
          Total area in an NVZ
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li> -->

  <!-- LIVESTOCK -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.livestock_2025 == 'not_answered' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../../add_livestock/livestock_none" aria-describedby="company-details-1-status">
          Livestock numbers
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% else %}
      {% if data.oaktree_farm.livestock_2025 == 'none' %}
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../../add_livestock/livestock_none" aria-describedby="company-details-1-status">
            Livestock numbers
          </a>
        </div>
      {% else %}
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="reset_manage_livestock_message_handler" aria-describedby="company-details-1-status">
            Livestock numbers
          </a>
        </div>
      {% endif %}
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% endif %}
  </li>

  <!-- IMPORTS AND EXPORTS -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.imports_exports == 'not_answered' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="export_none" aria-describedby="company-details-1-status">
          Imports and exports of livestock manure
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        {% if data.oaktree_farm.imports_exports == 'none' %}
          <a class="govuk-link govuk-task-list__link" href="export_none" aria-describedby="company-details-1-status">
            Imports and exports of livestock manure
          </a>
        {% else %}
          <a class="govuk-link govuk-task-list__link" href="reset_manage_exports_message_handler" aria-describedby="company-details-1-status">
            Imports and exports of livestock manure
          </a>
        {% endif %}
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% endif %}
  </li>

</ul>