<table class="data-table farm_area_derogated govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Area required for livestock manure</th>
      <th scope="col" class="govuk-table__header">Area</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">For grazing livestock manure</td>
      <td class="govuk-table__cell">499.26 hectares</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">For non-grazing livestock manure</td>
      <td class="govuk-table__cell">106.00 hectares</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <td class="govuk-table__cell">Total area required</td>
      <td class="govuk-table__cell">605.26 hectares</td>
    </tr>
  </tbody>
</table>