<table class="data-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Number of places </th>
      <th scope="col" class="govuk-table__header">Occupancy</th>
      <th scope="col" class="govuk-table__header">Typical nitrogen (N) standard</th>
      <th scope="col" class="govuk-table__header">Entered nitrogen (N) standard</th>
      <th scope="col" class="govuk-table__header">Total nitrogen (N)</th>
      <th scope="col" class="govuk-table__header">Total phosphate (P2O5)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">1000 laying hen places (free range), 17 wks and over</td>
      <td class="col_2 govuk-table__cell">50</td>
      <td class="col_2 govuk-table__cell">97%</td>
      <td class="col_2 govuk-table__cell">530kg</td>
      <td class="col_2 govuk-table__cell">530kg</td>
      <td class="col_2 govuk-table__cell">26,500kg</td>
      <td class="col_2 govuk-table__cell">19,500kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" colspan="5" class="govuk-table__header">Totals</th>
      <td scope="col" class="govuk-table__header">26,500kg</td>
      <td scope="col" class="govuk-table__header">19,500kg</td>
    </tr>
  </tbody>
</table>