{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "All farms",
        href: "../farms" 
      },
      {
        text: "Oaktree Lane Farm",
        href: "hub_reset_handler"
      },
      {
        text: "Manage field details and soil analysis"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
{{ plan_status }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.show_success_message == true %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            {% if data.oaktree_farm.latest_update == 'field_added' %}
              <h3 class="govuk-notification-banner__heading">
                You have added Long Field
              </h3>
              <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" href="field_add_reset_handler">Add fields for Oaktree Lane Farm</a> </p>   -->
          {% endif %}
        </div>
      </div>
      {% endif %}
  
      <h1 class="govuk-heading-l">
        {%if data.farm_name != ""%}
          {{data.farm_name}}
        {% else %}
          Oaktree Lane Farm
        {% endif %} 
        fields
      </h1>

      </div>
      <div class="govuk-grid-column-two-thirds">

          {% if data.oaktree_farm.use_mvp_fields == true %}
          <table class="govuk-table field-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th id="field_name" scope="col" class="govuk-table__header">Field name</th>
                <!-- <th scope="col" class="govuk-table__header">Last soil analysis</th> -->
                <th scope="col" class="govuk-table__header"> </th>
                <th scope="col" class="govuk-table__header"> </th>
              </tr>
            </thead>
            {% for field in data.field_details_mvp %}
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{field.name}}</td>
                  <!-- <td class="govuk-table__cell">None</td> -->
                  <td class="govuk-table__cell">
                    <a href="field-select-handler?chosenfield={{field.name}}">Field and soil details</a>
                  </td>
                </tr>
              </tbody>
            {% endfor %} 

          {% else %}
            {% if data.oaktree_farm.fields_added == true %}
            <table class="govuk-table field-table">
              <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th id="field_name" scope="col" class="govuk-table__header">Field name</th>
                  <!-- <th scope="col" class="govuk-table__header">Last soil analysis</th> -->
                  <th scope="col" class="govuk-table__header"> </th>
                  <th scope="col" class="govuk-table__header"> </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Long Field</td>
                <!-- <td class="govuk-table__cell">None</td> -->
                <td class="govuk-table__cell">
                  <a href="field-select-handler?chosenfield=Long Field">Field and soil details</a>
                </td>
              </tr>
            {% else %}

            <p class="govuk-body">
              You have not added any fields.
            </p>

            <p class="govuk-body">
              Add a field
            </p>

            {% endif %}
          {% endif %}

        </tbody>
      </table>    
      
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Update fields
        </h2>
        {% if data.oaktree_farm.fields_added == true %}
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list font-size-17">
            <!-- <li>
              <a href="../soil/fields">Add new soil analysis for a single field</a>
            </li> -->
            <!-- <li>
              <a href="">Add new soil analysis for multiple fields</a>
            </li> -->
            <li>
              <a href="field_add_reset_handler">Add a new field</a>
            </li>
            <!-- <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          </ul>
        </nav>
        {% else %}
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list font-size-17">
            <li>
              You have not added any fields.<br>
              <a href="../add-field/add">Add a new field</a>.
            </li>
          </ul>
        </nav>

        {% endif %}
      </aside>

    </div>



  </div>

{% endblock %}