{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "All farms",
        href: "../farms" 
      },
      {
        text: "Oaktree Lane Farm",
        href: "hub_reset_handler"
      },
      {
        text: "Manage field details and soil analysis"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
{{ plan_status }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.show_success_message == true %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            {% if data.oaktree_farm.latest_update == 'field_added' %}
              <h3 class="govuk-notification-banner__heading">
                You have added {{data.temp_field_name}}
              </h3>
              <p class="govuk-body"><a class="govuk-notification-banner__link" href="field_add_reset_handler">Add another field</a>, or</p>  
              <p class="govuk-body"><a class="govuk-notification-banner__link" href="/mvp/plan/year">Create a nutrient management plan</a></p>  
          {% endif %}
        </div>
      </div>
      {% endif %}
  
      <h1 class="govuk-heading-l">
        {{ data.oaktree_farm.name }} 
        fields
      </h1>

      <p class="govuk-body"><a href="field_add_reset_handler">Add another field</a></p>

      <h2 class="govuk-heading-m">Current fields</h2>

        {% if data.oaktree_farm.use_mvp_fields == true %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th id="field_name" scope="col" class="govuk-table__header">Field name</th>
              <!-- <th scope="col" class="govuk-table__header">Last soil analysis</th> -->
              <th scope="col" class="govuk-table__header"> </th>
              <th scope="col" class="govuk-table__header"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for field in data.field_details_mvp %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{field.name}}</td>
                <!-- <td class="govuk-table__cell">None</td> -->
                <td class="govuk-table__cell">
                  <a href="field-select-handler?chosenfield={{field.name}}">Field and soil details</a>
                </td>
              </tr>
            {% endfor %} 
          </tbody>
        </table>
          {% else %}
            {% if data.oaktree_farm.fields_added == true %}
            <table class="govuk-table">
              <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th id="field_name" scope="col" class="govuk-table__header">Field name</th>
                  <!-- <th scope="col" class="govuk-table__header">Last soil analysis</th> -->
                  <th scope="col" class="govuk-table__header"> </th>
                  <th scope="col" class="govuk-table__header"> </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{data.temp_field_name}}</td>
                <!-- <td class="govuk-table__cell">None</td> -->
                <td class="govuk-table__cell">
                  <a href="field-select-handler?chosenfield={{data.temp_field_name}}">Field and soil details</a>
                </td>
              </tr>
            </tbody>
          </table>
            {% else %}
              <p class="govuk-body">
                You have not added any fields.
              </p>
              <p class="govuk-body">
                Add a field
              </p>
            {% endif %}
          {% endif %}
      
    </div>

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Update fields
        </h2>
        {% if data.oaktree_farm.fields_added == true %}
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list font-size-17">
            <li>
              <a href="field_add_reset_handler">Add another field</a>
            </li>
          </ul>
        </nav>
        {% else %}
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list font-size-17">
            <li>
              You have not added any fields.<br>
              <a href="../add-field/add">Add another field</a>.
            </li>
          </ul>
        </nav>
        {% endif %}
      </aside>
    </div> -->



  </div>

{% endblock %}