{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Farming Rules for Water
      </h1>

      <p class="govuk-body">
        All agricultural land in England is subject to the Farming Rules for Water.        
      </p>
      <p class="govuk-body">
        These rules aim to reduce and prevent water pollution from agricultural sources. 
      </p>
      <p class="govuk-body">
        To comply with the rules, you must ensure that all applications of organic material or inorganic fertiliser are planned. This is so they do not exceed the needs of the soil and crop on that land, or create a significant risk of pollution.  
      </p>
      <p class="govuk-body">
        Creating and following a nutrient management plan will help you comply with these rules.  
      </p>
      <p class="govuk-body margin-bottom-forty">
        Read the 
        <a target="_blank" href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers">
          rules for farmers and land managers</a> for more information (opens in a new window)
        </a>
      </p>
      
      <form action="postcode" method="post" novalidate="">
        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

  </div>

</div>

{% endblock %}
