{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
      {% if data.manure_journey == 'multi' %}
        Do you want to add this {{data.chosen_manure | lower}} to these fields again, in the same way?
      {% else %}
        Do you want to add {{data.chosen_manure | lower}} to {{data.chosen_field.name}}, in the same way?
      {% endif %}
      </h1>

      <form class="form" action="check" method="post">

        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="manure_again" name="manureagain" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="manure_again">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="manureagain_2" name="manureagain" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="manure_again_2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
