{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "templates/title_span.html" %} -->
      <h1 class="govuk-heading-l">
        We can't find rainfall data for NE1 YZZ
      </h1>

      <p class="govuk-heading-l">
        We can't find rainfall data for NE1 YZZ
      </p>


      <form class="form" action="manure_group" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add" name="add" type="radio" value="add">
                <label class="govuk-label govuk-radios__label" for="add">
                  All fields in the 2024 plan
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wheat" name="add" type="radio" value="wheat">
                <label class="govuk-label govuk-radios__label" for="wheat">
                  The Winter Wheat fields
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remove" name="add" type="radio" value="remove">
                <label class="govuk-label govuk-radios__label" for="remove">
                  The Winter Rye fields
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="plan_organic" name="add" type="radio" value="plan_organic">
                <label class="govuk-label govuk-radios__label" for="plan_organic">
                 Select specific fields
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="#">Cancel</a>
  </p>

{% endblock %}