{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farm name"
      },
      value: {
        text: "Oaktree Lane Farm"
      },
      actions: {
        items: [
          {
            href: "add-farm",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm address"
      },
      value: {
        text: "South Road, Hexham, Northumberland NE46 7LQ"
      },
      actions: {
        items: [
          {
            href: "add-farm",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Average annual rainfall"
      },
      value: {
        text: "60mm"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "How many fields at Oaktree Lane Farm are in a Nitrate Vulnerable Zone (NVZ)?"
      },
      value: {
        text: "All of the fields are in a Nitrate Vulnerable Zone"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "How many fields at Oaktree Lane Farm are above 300 metres?"
      },
      value: {
        text: "None of the fields are above 300m"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Are you a registered organic producer?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}