{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farm name"
      },
      value: {
        text: "Oaktree Lane Farm"
      },
      actions: {
        items: [
          {
            href: "add-farm",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm address"
      },
      value: {
        text: "South Road, Hexham, Northumberland"
      },
      actions: {
        items: [
          {
            href: "add-farm",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Post code"
      },
      value: {
        text: "NE46 7LQ"
      },
      actions: {
        items: [
          {
            href: "add-farm",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "What is the average annual rainfall (mm)
        "
      },
      value: {
        text: "64 mm"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Are any of the fields above 300 meters?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Are you a registered organic producer?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}