<table class="govuk-table margin-bottom-thirty data-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Derogation</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Derogation for {{data.oaktree_farm.planning_year}}</td>
      <td class="govuk-table__cell">
        {% if data.oaktree_farm.derogation == true %}
          Yes
        {% else %}
          No
        {% endif %}    
      </td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Permitted livestock manure total nitrogen (N) capacity</td>
      <td class="govuk-table__cell">        
        {% if data.oaktree_farm.derogation == false %}
          70 kg nitrogen (N) per hectare
        {% else %}
          37 kg
        {% endif %}    
      </td>
      <td class="govuk-table__cell"> </td>
    </tr>
  </tbody>
</table>