{% if cattle_added == true %}
{% set livestock_type = 'cattle' %}
  <h2 class="govuk-heading-m">{{livestock_type | capitalize}}</h2>
  {% include "./livestock_table_template.html" ignore missing %}
{% endif %}

{% if pig_added == true %}
{% set livestock_type = 'pig' %}
  <h2 class="govuk-heading-m">{{livestock_type | capitalize}}s</h2>
  {% include "./livestock_table_template.html" ignore missing %}
{% endif %}

{% if poultry_added == true %}
{% set livestock_type = 'poultry' %}
  <h2 class="govuk-heading-m">{{livestock_type | capitalize}}</h2>
  {% include "./livestock_table_template.html" ignore missing %}
{% endif %}

{% if sheep_added == true %}
{% set livestock_type = 'sheep' %}
  <h2 class="govuk-heading-m">{{livestock_type | capitalize}}</h2>
  {% include "./livestock_table_template.html" ignore missing %}
{% endif %}

{% if other_added == true %}
{% set livestock_type = 'other' %}
  <h2 class="govuk-heading-m">Goats, Deer and Horses</h2>
  {% include "./livestock_table_template.html" ignore missing %}
{% endif %}