{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <h1 class="govuk-heading-l">
        {{ data.oaktree_farm.name }} 
        manures
      </h1>

      <h2 class="govuk-heading-m">
        Your manure types
      </h2>
      <p class="govuk-body">These are organic materials you have added that are not within RB209.</p>

      <table class="govuk-table manure-management margin-bottom-forty">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Manure name</th>
            <th scope="col" class="govuk-table__header">Date added</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Mixed cack</td>
              <td class="govuk-table__cell">4 December 2025</td>
              <td class="govuk-table__cell">
                <a href="field-select-handler?chosen_field={{field.name}}">View or update</a>
              </td>
            </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">
        Manure analysis
      </h2>
      <p class="govuk-body">These are analysis results you have entered for organic materials.</p>

      <table class="govuk-table manure-management">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Manure type</th>
            <th scope="col" class="govuk-table__header">Date added</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Cattle farmyard manure - old</td>
              <td class="govuk-table__cell">4 December 2025</td>
              <td class="govuk-table__cell">
                <a href="field-select-handler?chosen_field={{field.name}}">View or update</a>
              </td>
            </tr>
        </tbody>
      </table>



      <!-- <p class="govuk-body"><a href="../../add-field/copy_field">Add a field</a></p> -->

      <!-- <form class="" action="../../add-field/copy_field" method="post" novalidate="">    
        <button class="govuk-button" data-module="govuk-button">
          Add a field
        </button>
      </form>
 -->
      
    </div>

  </div>

{% endblock %}