{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "//alpha/prototype_0/hub"
      },
      {
        text: "Create a " + data.content.harvest_year + " nutrient application plan"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
{{ plan_status }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create a nutrient application plan for {{data.content.harvest_year}}
      </h1>

      <p class="govuk-body">
        <a href="#">Add crops to multiple fields</a>
      </p>

      <!-- <p class="govuk-body">
        <a href="">Add manure types to multiple fields</a>
      </p>
      <hr> -->

      <form class="form" action="hub" method="post">

        <div class="govuk-form-group">
          <table class="govuk-table">
            <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Field name</th>
                <th scope="col" class="govuk-table__header">Planning status</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <!-- <td class="govuk-table__cell"><a href="start_plan">{{field.name}}</a></td> -->
                  <td class="govuk-table__cell">Small Field</td>
                  <!-- "contact-change-handler/?contactType=daytimeTelephone" -->
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-prototype-kit-manage-prototype-govuk-tag govuk-prototype-kit-manage-prototype-task-list__tag">
                      Recomendations
                  </strong>
                </td>
                <td class="govuk-table__cell">
                    <a href="grass_plan">View or continue plan</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <!-- <td class="govuk-table__cell"><a href="start_plan">{{field.name}}</a></td> -->
                <td class="govuk-table__cell">Big Field</td>
                <!-- "contact-change-handler/?contactType=daytimeTelephone" -->
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-prototype-kit-manage-prototype-govuk-tag govuk-prototype-kit-manage-prototype-task-list__tag">
                    No plan
                </strong>
              </td>
              <td class="govuk-table__cell">
                  <a href="create_plan_handler?chosen_field={{field.reference}}">Create plan</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <!-- <td class="govuk-table__cell"><a href="start_plan">{{field.name}}</a></td> -->
              <td class="govuk-table__cell">Long Field</td>
              <!-- "contact-change-handler/?contactType=daytimeTelephone" -->
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-prototype-kit-manage-prototype-govuk-tag govuk-prototype-kit-manage-prototype-task-list__tag">
                  No plan
              </strong>
            </td>
            <td class="govuk-table__cell">
                <a href="create_plan_handler?chosen_field={{field.reference}}">Create plan</a>
            </td>
          </tr>

            </tbody>
          </table>        
        </div>

      </form>
    </div>
  </div>

{% endblock %}


