{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Field name"
      },
      value: {
        text: "Long Field"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 1"
          }
        ]
      }
    },
    {
      key: {
        text: "Field area (hectares)"
      },
      value: {
        text: "10"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    },
    {
      key: {
        text: "Cropped area (hectares)"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    },
    {
      key: {
        text: "Manure non-spreading area (hectares)"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Soil type"
      },
      value: {
        text: "Sandy"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    },
    {
      key: {
        text: "Does this field contain potash releasing clay?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    },
    {
      key: {
        text: "Is this field within an NVZ?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    },
    {
      key: {
        text: "Is this field above 300 meters?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    }
  ]
}) }}