<!-- Name -->
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Field name
  </dt>
  <dd class="govuk-summary-list__value">
    {{data.temp_field_name}}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<!-- Area -->
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Field area
  </dt>
  <dd class="govuk-summary-list__value">
    10 hectares
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Cropped area
  </dt>
  <dd class="govuk-summary-list__value">
    10 hectares
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Manure non-spreading area
  </dt>
  <dd class="govuk-summary-list__value">
    0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<!-- NVZ and Elevation -->
{% if data.oaktree_farm.nvz == "some" %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is this field within an NVZ?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>
{% endif %}

{% if data.oaktree_farm.elevation == "some" %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is this field above 300 meters?
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>
{% endif %}


<!-- Soil -->
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Soil type
  </dt>
  <dd class="govuk-summary-list__value">
    Sandy
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Does {{data.temp_field_name}} contain potash-releasing clay?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>
  
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Date sample taken
  </dt>
  <dd class="govuk-summary-list__value">
    11 February 2023
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    What was the Phosphorus (P) analysis type?
  </dt>
  <dd class="govuk-summary-list__value">
    Olsen's
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<!-- values -->
  {% if data.add_values == "add_values_index" %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        How would you like to enter your values?
      </dt>
      <dd class="govuk-summary-list__value">
        Index values
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Phosphorus (P) index
      </dt>
      <dd class="govuk-summary-list__value">
        2
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Potassium (K) index
      </dt>
      <dd class="govuk-summary-list__value">
        2
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Magnesium (Mg) index
      </dt>
      <dd class="govuk-summary-list__value">
        1
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
      </dd>
    </div>
    
  {% else %}
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How would you like to enter your values?
    </dt>
    <dd class="govuk-summary-list__value">
      Index values
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Phosphorus (P) per litre
    </dt>
    <dd class="govuk-summary-list__value">
      2
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Potassium (K) per litre
    </dt>
    <dd class="govuk-summary-list__value">
      2
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Magnesium (Mg) per litre
    </dt>
    <dd class="govuk-summary-list__value">
      1
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  {% endif %}


  <!-- SNS -->

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Would you like to add a soil mineral nitrogen analysis for the current crop?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What was the previous crop group?
    </dt>
    <dd class="govuk-summary-list__value">
      Arable cereals
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What was the previous crop type?
    </dt>
    <dd class="govuk-summary-list__value">
      Winter Wheat
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Kilograms of soil mineral nitrogen at 0-30cm
    </dt>
    <dd class="govuk-summary-list__value">
      53kg
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Kilograms of soil mineral nitrogen at 30-60cm
    </dt>
    <dd class="govuk-summary-list__value">
      26kg
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Kilograms of soil mineral nitrogen at 60-90cm (optional)
    </dt>
    <dd class="govuk-summary-list__value">
      9kg
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Would you like us to help you calculate the nitrogen contained in the current crop?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What is the number of shoots per square metre?
    </dt>
    <dd class="govuk-summary-list__value">
      150
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      When was the sample taken?
    </dt>
    <dd class="govuk-summary-list__value">
      Autumn
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Would you like to add an estimate of nitrogen mineralisation during the growing season?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Would you like to enter your own value of mineralisation or would you like to estimate it using soil organic matter?
    </dt>
    <dd class="govuk-summary-list__value">
      Organic matter
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What is the percentage of organic matter in the soil?
    </dt>
    <dd class="govuk-summary-list__value">
     2%
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Soil Nitrogen Supply Index
    </dt>
    <dd class="govuk-summary-list__value">
     2
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>