{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How would you like to enter your Soil Nitrogen Supply (SNS)?</h1>

      <form action="sns_handler" method="post" novalidate="">

        <!-- <label class="govuk-label" for="nitrate">How would you like to enter your values?</label> -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="index" name="sns_method" type="radio" value="index">
                <label class="govuk-label govuk-radios__label" for="index">
                  As an index value
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="calculate" name="sns_method" type="radio" value="calculate">
                <label class="govuk-label govuk-radios__label" for="calculate">
                  Help me to calculate the Soil Nitrogen Supply (SNS)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
       
        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>
      
      <p class="govuk-body cancel-link"><a href="/mvp/field/field-details">Cancel</a></p>

    </div>
    
  </div>

{% endblock %}