{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Add the soil analysis for {{data.temp_field_name}}</h1>

      <form action="date" method="post" novalidate="">
                
        <div class="govuk-form-group margin-bottom-forty">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="address-postcode">What is the soil type in {{data.temp_field_name}}?</label>
            <div class="govuk-radios" data-module="govuk-radios">
              <div id="contact-hint" class="govuk-hint">
                Select one option
              </div>
    
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="light" name="whereDoYouLive" type="radio" value="light">
                <label class="govuk-label govuk-radios__label" for="light">Light Sand</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="shallow" name="whereDoYouLive" type="radio" value="shallow">
                <label class="govuk-label govuk-radios__label" for="shallow">Shallow</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="medium" name="whereDoYouLive" type="radio" value="medium">
                <label class="govuk-label govuk-radios__label" for="medium">Medium</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="clay" name="whereDoYouLive" type="radio" value="clay">
                <label class="govuk-label govuk-radios__label" for="clay">Deep clay</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="silt" name="whereDoYouLive" type="radio" value="silt">
                <label class="govuk-label govuk-radios__label" for="silt">Deep silt</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organic" name="whereDoYouLive" type="radio" value="organic">
                <label class="govuk-label govuk-radios__label" for="organic">Organic</label>
              </div>              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="peat" name="whereDoYouLive" type="radio" value="peat">
                <label class="govuk-label govuk-radios__label" for="peat">Peat</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group margin-bottom-forty">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="potassium">Does {{data.temp_field_name}} contain potash-releasing clay?</label>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item margin-bottom-none">
                <input class="govuk-radios__input" id="potassium" name="potassium" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="potassium">Yes</label>
              </div>
              <div class="govuk-radios__item margin-bottom-none">
                <input class="govuk-radios__input" id="potassium-2" name="potassium" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="potassium-2">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group margin-bottom-forty">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="nitrate">Is the soil deficient in sulphur (S)?</label>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nitrate" name="nitrate" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="nitrate">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nitrate-2" name="nitrate" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="nitrate-2">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
