{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Add soil analysis for {{data.temp_field_name}}</h1>

      <form action="soil_type_handler" method="post" novalidate="">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="nitrate">What was the Phosphorus (P) analysis type?</label>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nitrate" name="nitrate" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="nitrate">Olsen's</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nitrate-2" name="nitrate" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="nitrate-2">Resin</label>
              </div>
            </div>
          </fieldset>
        </div>

        <label class="govuk-label" for="nitrate">How would you like to enter your values?</label>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Index values
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="weight">
                      Phosphorus (P) index
                    </label>
                    <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                  </div>
          
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="weight">
                      Potassium (K) index
                    </label>
                    <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                  </div>
          
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="weight">
                      Magnesium (Mg) index
                    </label>
                    <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                  </div>

                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Milligrams per litre
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="weight">
                    Phosphorus (P) per litre of soil
                  </label>
                  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                    <div class="govuk-input__suffix" aria-hidden="true">Milligrams</div>
                  </div>
                </div>
        
                <div class="govuk-form-group">
                  <label class="govuk-label" for="weight">
                    Potassium (K) per litre of soil
                  </label>
                  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                    <div class="govuk-input__suffix" aria-hidden="true">Milligrams</div>
                  </div>
                </div>
        
                <div class="govuk-form-group">
                  <label class="govuk-label" for="weight">
                    Magnesium (Mg) per litre of soil
                  </label>
                  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                    <div class="govuk-input__suffix" aria-hidden="true">Milligrams</div>
                  </div>
                </div>

              </div>
            </div>
          </fieldset>
        </div>

       

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>
      <p class="govuk-body cancel-link"><a href="/mvp/field/field-details">Cancel</a></p>

    </div>
    
  </div>

{% endblock %}