{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_signed_out.html" ignore missing %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Thank you for your feedback
    </h1>

    <p class="govuk-body">
      <a href="https://www.gov.uk/">Return to the GOV.UK home page</a>
    </p>

  </div>
</div>

{% endblock %}