{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Get help or give feedback on this tool
    </h1>

    <h2 class="govuk-heading-m">
      Get help
    </h2>

    <p class="gov-body">
      If you experience a technical problem, or have questions about the recommendations and reports provided by this tool, you can contact the help desk:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>email <a href="mailto:helpdesk@rsk-bsl.co.uk">helpdesk@rsk-bsl.co.uk</a>, or </li>
      <li>telephone 0845 646 2469</li>
    </ul>

    <p class="gov-body">
      For example, they can help with:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>technical issues</li>
      <li>login issues</li>
      <li>reports and recommendations from the tool</li>
    </ul>

    <p class="gov-body">
     Emails are replied to as quickly as possible.
    </p>

    <p class="gov-body">
      Tell us what you were trying to do, what happened, and what you expected. This will help us to identify the problem. 
    </p>

    <p class="govuk-body">
      Alongside this tool you should use the AHDB Nutrient Management Guide (RB209).
      <a href="https://ahdb.org.uk/knowledge-library/rb209-section-1-principles-of-nutrient-management-and-fertiliser-use" target="_blank">Get information and help with RB209</a> (opens in a new window).
    </p>


    <h2 class="govuk-heading-m">
      Give feedback
    </h2>

    <p class="gov-body">
      To give feedback about this tool, <a href="/management/feedback">complete the feedback survey</a> (opens in a new window).
    </p>

    <p class="gov-body">
      Your feedback will help us improve this tool.  
    </p>

    <!-- <h2 class="govuk-heading-m">
      Moving your data to the live tool
    </h2>
    
    <p class="govuk-body">
      If you wish to take your farm data and plans from the testing version to the live version, please email our team at <a href="">helpdesk@rsk-bsl.co.uk</a>.
    </p>

    <p class="govuk-body">
      We will migrate your data for you when the tool launches, and then your plans will be suitable for regulatory use.
    </p> -->

    <div class="margin-bottom-forty">&nbsp;</div>

  </div>
</div>

{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/management/legal",
         text: "Terms of use"
       },
       {
         href: "/",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}
