{% extends "layouts/main.html" %}

{% block pageTitle %}
  Oaktree lane farm - N-max limits 2025
{% endblock %}
{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row noprint margin-bottom-forty">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Print or save as a PDF</h2>

    <ol class="govuk-list govuk-list--number margin-bottom-thirty">
      <li>To save as a PDF choose 'Print or save as a PDF',</li>
      <li>Select, 'Save as PDF', where you are asked to select a printer,</li>
      <li>Select, 'Print', then choose where to save the PDF.</li>
    </ol>

    <form class="" action="" method="post" novalidate="">    
      <button onclick="window.print()" class="govuk-button margin-bottom-none" data-module="govuk-button">
        Print or save as a PDF
      </button>
    </form>
    
  </div>
</div>

<div class="govuk-grid-row noprint margin-bottom-thirty">
  <div class="govuk-grid-column-full">
    <hr>
  </div>
</div>

<div class="govuk-grid-row margin-bottom-thirty">
  <div class="govuk-grid-column-full">
    <span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span>
    <h1 class="govuk-heading-xl margin-bottom-twenty">N-max limits {{ data.oaktree_farm.planning_year }}</h1>
    <p class="govuk-body margin-bottom-none">Created on 8 August 2025</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body margin-bottom-none">Oaktree Lane Farm, <br>
      24 South Road<br> 
      Hexham<br>  
      Northumberland<br> 
      NE46 7LQ</p>
  </div>
    
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">CPH number: 123456789<br>
    Single Business Identifier: 123456789</p>
  </div>

</div>

<hr class="separator_thirty">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Private beta disclaimer</h2>
    {% include "/templates/beta_disclaimer.html" ignore missing %} 
    <hr class="separator_thirty">

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l margin-bottom-twenty">Summary</h2>
    {% include "./templates/summary.html" ignore missing %} 

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-body margin-bottom-none">
      To comply with the N-max limit for each crop type the total nitrogen (N) applied in fertiliser and crop available nitrogen from organic manures must not be greater than the adjusted N-max limit.
    </p>
  
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="separator_thirty">
    <div class="margin-bottom-forty">
      {% include "./templates/crop_limits.html" ignore missing %} 
      <h3 class="govuk-heading-m">Nitrogen applications for Winter Wheat fields</h3>
      {% include "./templates/nitrogen_applications_wheat.html" ignore missing %}
    </div>

    <div id="printbreak"></div>
    <div class="pagebreak">&nbsp;</div>

    <div class="margin-bottom-forty">
      {% include "./templates/grass_limits.html" ignore missing %}
      {% set fieldName = 'Short field' %}
      <h3 class="govuk-heading-m">Nitrogen applications for Grass fields</h3>
      {% include "./templates/nitrogen_applications_grass.html" ignore missing %}
    </div>

    <div id="printbreak"></div>
    <div class="pagebreak">&nbsp;</div>

    <div class="margin-bottom-forty">
      {% include "./templates/group_1_limits.html" ignore missing %}
      {% set fieldName = 'Short field' %}
      <h3 class="govuk-heading-m">Nitrogen applications for low nitrogen (N) vegetables</h3>
      {% include "./templates/nitrogen_applications_group.html" ignore missing %}
    </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <hr class="margin-bottom-forty">
      <h2 class="govuk-heading-s">About recommendations, guidance, and advice</h2>
      {% include "/templates/recommendations.html" ignore missing %}

  </div>
</div>




{% endblock %}
