{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       {% include "./message.html" %}

      <h1 class="govuk-heading-l">
        Organic manures inventory and storage report {{data.oaktree_farm.planning_year}}
      </h1>

      <p class="govuk-hint">
        Complete each section to create the report. You can complete the sections in any order.
      </p>

      <p class="govuk-hint">
        Nutrient prices have been added based on [...].
      </p>

      <div class="check-answers margin-bottom-forty">
        {% include "./templates/check_content.html" %}
      </div>

      <!-- <form class="form" action="export_options" method="post"> -->
      <form class="form" action="" method="post">
      <!-- <form class="form" action="inventory_submit_router" method="post"> -->
        {{ govukButton({
          text: "Create report"
        }) }}
      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
