 {% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Does {{data.oaktree_farm.name}} have a derogation for {{data.oaktree_farm.planning_year}}?
      </h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About derogations
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            You can apply up to 170kg per hectare of nitrogen in livestock manure on your holding in a nitrate vulnerable zone (NVZ) in each calendar year. This limit is the loading limit and applies as an average across your holding.
          </p>
          <p>
            You can apply for grassland derogation to use up to 250kg of nitrogen per hectare from grazing livestock manure.
          </p>
          <p>
            You can only apply for a grassland derogation if at least 80% of the agricultural area of your holding is grass.
          </p>
          <p>
            You must comply with the conditions of a derogation and the NVZ rules if your application is successful.
          </p>
          <p>
            More information: <a target="_blank" href="https://www.gov.uk/guidance/grassland-derogations-for-livestock-manure-in-nitrate-vulnerable-zones">Grassland derogations for livestock manure in nitrate vulnerable zones</a> (opens in a new window)
          </p>
        </div>
      </details>

      <!-- <p class="govuk-body">
        Does {{data.farm.name}} have derogation?
      </p> -->

      <form class="form" action="separator" method="post">
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName" name="derogation" type="radio" value="yes" {% if data.oaktree_farm.derogation == true %} checked="yes" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="changedName">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="derogation" type="radio" value="no" {% if data.oaktree_farm.derogation == false %} checked="yes" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}