{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you want to add an import or an export of organic material?
      </h1>

      <p class="govuk-hint">Choose one option.</p>

      <form class="form" action="inventory_export_handler" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="import" name="imports_exports" type="radio" value="import">
                <label class="govuk-label govuk-radios__label" for="import">
                  Import
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="export" name="imports_exports" type="radio" value="export">
                <label class="govuk-label govuk-radios__label" for="export">
                  Export
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  
  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
