{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Create an Organic manures inventory and storage report for 2025",
  href: "checklist"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manure inventory
    </h1>

    <h2 class="govuk-heading-l">
      Inventory October 2024 to September 2025
    </h2>

    </div>
    </div>

    <div class="margin-bottom-forty">
      <p class="govuk-body"><a href="final_nutrients">View the nutrient breakdown</a></p>
      <p class="govuk-body"><a href="">Print or save these values as a PDF</a></p>
      <p class="govuk-body"><a href="">Create an NVZ minimum storage requirement report</a></p>
    </div>

    <h2 class="govuk-heading-m">
      Inventory
    </h2>
    
    {% include "./templates/final_numbers_table.html" ignore missing %}

  </div>
</div>

{% endblock %}
