{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "checklist"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manure inventory and storage
    </h1>

    <h2 class="govuk-heading-s margin-bottom-forty">
      October 2024 to September 2025
    </h2>

    <p class="govuk-body"><a href="inventory">View the NVZ storage requirements</a></p>
    <p class="govuk-body"><a href="final_nutrients">View the total nutrient values</a></p>
    <p class="govuk-body margin-bottom-none"><a href="report/report">Save or print the Organic manures inventory and NVZ manure storage report</a></p>
  </div>
</div>  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="separator_forty">
    
    <h2 class="govuk-heading-m non-standard margin-bottom-forty">
      Total inventory
    </h2>
      
      {% include "./templates/final_numbers_table.html" ignore missing %}

  </div>
</div>

{% endblock %}
