{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manure inventory and storage
    </h1>

    <h2 class="govuk-heading-s margin-bottom-forty">
      October 2024 to September 2025
    </h2>

    <div class="contents">
      <p>Contents</p>
      <ul class="govuk-list govuk-list--spaced">
        <li class=""><span>— </span><a href="inventory">NVZ storage requirements</a></li>
        <li class=""><span>— </span><a href="final_numbers">Total manure quantities</a></li>
        <li class=""><span>— </span> Total nutrient values</li>
      </ul>
    </div>
    <p class="govuk-body margin-bottom-none"><a href="report/report">Save or print the Organic manures inventory and NVZ manure storage report</a></li>
  </div>
</div>  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="separator_forty">

    <h2 class="govuk-heading-m non-standard">
      Total nutrient values
    </h2>

    {% include "./templates/final_nutrients_table.html" ignore missing %}

  </div>
</div>

{% endblock %}
