{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "checklist"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manure inventory and storage
    </h1>

    <h2 class="govuk-heading-s margin-bottom-forty">
      October 2024 to September 2025
    </h2>

    <div class="contents">
      <p>Contents</p>
      <ul class="govuk-list govuk-list--spaced">
        <li class="govuk-body"><span>— </span>NVZ minimum storage requirements</li>
        <li class="govuk-body"><span>— </span><a href="final_numbers">Total inventory</a></li>
        <li class="govuk-body"><span>— </span><a href="final_nutrients">Total nutrient values</a></li>
        <li class="govuk-body margin-bottom-none"><span>— </span><a href="report/report">Save or print the Organic manures inventory and NVZ manure storage report</a></li>
      </ul>
    </div>

  </div>
</div>  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="separator_forty">

    <h2 class="govuk-heading-m  non-standard">
      NVZ minimum storage requirements
    </h2>

    </div>
  </div>

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          About NVZ minimum storage requirements
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>The NVZ Action Programme requires that there is a minimum storage capacity requirement for livestock slurries and poultry manures.</p>
        <p>The minimum storage capacity for slurry must include the volume of slurry collected and any dilution water such as wash water and rainfall that is collected in the slurry store during October to March (pig or poultry slurry) or October to February (cattle/other livestock slurry), allowing for exports of slurry.</p>
        <p>The minimum storage requirement for poultry manure is 6 months production (October to March), allowing for imports and exports.</p>
        <p>For further information see <a href="">GOV.UK</a> </p>
      </div>
    </details>
    </div>
    </div>

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% include "./templates/nvz.html" ignore missing %}

    </div>
  </div>
  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      
  </div>
</div>

{% endblock %}
