{% if data.show_error == true %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if data.oaktree_farm.area_added != true %}
            <li>
              <a class="nolink" href="area">Farm area for {{data.oaktree_farm.planning_year}} must be completed</a>
            </li>
          {% endif %}
          {% if data.oaktree_farm.livestock_loading == false %}
            <li>
              <a class="nolink" href="..//add_livestock/livestock_group">Livestock numbers for {{data.oaktree_farm.planning_year}} must be completed</a>
            </li>
          {% endif %}
          {% if data.oaktree_farm.imports_exports == null %}
            <li>
              <a class="nolink" href="../../../add_export/export_type_none">Any imports or exports for {{data.oaktree_farm.planning_year}} must be completed</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}

  <!-- if (data.oaktree_farm.manure_imports == null or data.oaktree_farm.manure_imports == false) and
  (data.oaktree_farm.manure_exports == null or data.oaktree_farm.manure_exports == false) -->

    <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Information incomplete
        </p>
        <p class="govuk-body">
          To create the report you must add:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          {% if data.oaktree_farm.livestock_loading == false %}
            <li>Livestock numbers for 2025</li>
          {% endif %}

          {% if data.oaktree_farm.manure_exports == false %}
            <li>Any imports or exports of livestock manure for 2025</li>
          {% endif %}

        </ul>
      </div>
    </div> -->

