<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl margin-bottom-twenty">2025 crop and field management report for Oaktree Lane Farm</h1>
    <p class="govuk-body">Created on 11 November 2024</p>
  </div>
</div>

<div class="govuk-grid-row margin-bottom-forty">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">Oaktree Lane Farm, <br>
      24 South Road<br> 
      Hexham<br>  
      Northumberland<br> 
      NE46 7LQ</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">CPH number: 123456789 <br>
    Single Business Identifier: 123456789 </p>
  </div>
</div>