<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l margin-bottom-twenty">{{fieldname}}</h2>

    <table class="govuk-table  govuk-table-small margin-bottom-sixty">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Total field area</th>
          <th scope="col" class="govuk-table__header">Cropped area</th>
          <th scope="col" class="govuk-table__header">Non-spreading area</th>
          <th scope="col" class="govuk-table__header">Previous crop</th>
          <th scope="col" class="govuk-table__header">Management</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">15 hectares</td>
            <td class="govuk-table__cell">Not entered</td>
            <td class="govuk-table__cell">Not entered</td>
            <td class="govuk-table__cell">Grass</td>
            <td class="govuk-table__cell">Cut, Graze, Graze, Graze</td>
          </tr>
        </tbody>
    </table>

    <!-- <ul class="govuk-list">
      <li>Cropped area: 15 hectares</li>
      <li>Closed spreading period: 01 January 2024 to 31 December 2025</li>
    </ul> -->
  </div>  
</div>  
