<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-table-small margin-bottom-sixty">
      <caption class="govuk-table__caption govuk-table__caption--m">Inorganic fertiliser and lime applications for {{fieldname}} (per hectare)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">For cut or grazing</th>
          <th scope="col" class="govuk-table__header">Nitrogen (N)</th>
          <th scope="col" class="govuk-table__header">Phosphate (P2O5)</th>
          <th scope="col" class="govuk-table__header">Potash (K2O)</th>
          <th scope="col" class="govuk-table__header">Sulphur (SO3)</th>
          <th scope="col" class="govuk-table__header">Lime</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">01/03/2025</th>
          <td class="govuk-table__cell">One (Grazing)</th>
          <td class="govuk-table__cell">41kg</td>
          <td class="govuk-table__cell">0</td>          
          <td class="govuk-table__cell">0</td>          
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
        </tr>
      </tbody>
    </table>
</div>
</div>

<div class="govuk-grid-row margin-bottom-sixty">
<div class="govuk-grid-column-full">
  <table class="govuk-table govuk-table-small report-planned-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Organic manure applications for {{fieldname}} </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Type</th>
        <th scope="col" class="govuk-table__header">Total Nitrogen</th>
        <th scope="col" class="govuk-table__header">Total Phosphate</th>
        <th scope="col" class="govuk-table__header">Available Phosphate</th>
        <th scope="col" class="govuk-table__header">Total Potash</th>
        <th scope="col" class="govuk-table__header">Available Potash</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">01/09/2023</th>
        <td class="govuk-table__cell">Cattle FYM - old</td>
        <td class="govuk-table__cell">120kg</td>
        <td class="govuk-table__cell">64kg</td>
        <td class="govuk-table__cell">38kg</td>
        <td class="govuk-table__cell">160kg</td>
        <td class="govuk-table__cell">144kg</td>
      </tr>
    </tbody>
  </table>
  <p class="table-information govuk-table__cell govuk-body-s">For cut or grazing one. Applied by Discharge Spreader at 20 tonnes per hectare. Incorporated by Mouldboard plough with 12-24 hours delay.</p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">Organic manure applications for {{fieldname}}</h2>
  <h3 class="govuk-heading-s">Application date 1 September 2023</h3>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half half-table-left">
    <table class="govuk-table govuk-table-small margin-bottom-sixty">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Organic manure applications</caption> -->
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Manure type</th>
          <td class="govuk-table__cell">Cattle FYM - old</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">For cut or grazing</th>
          <td class="govuk-table__cell">One</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application method</th>
          <td class="govuk-table__cell">Discharge Spreader</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application rate</th>
          <td class="govuk-table__cell">20 tonnes per hectare</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Incorporation method</th>
          <td class="govuk-table__cell">Mouldboard plough</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Delay to incorporation</th>
          <td class="govuk-table__cell">12-24 hours delay</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-one-half half-table-right margin-bottom-sixty">
    <table class="govuk-table govuk-table-small">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Organic manure applications</caption> -->
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Total Nitrogen</th>
          <td class="govuk-table__cell">120kg</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Total Phosphate</th>
          <td class="govuk-table__cell">64kg</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Available Phosphate</th>
          <td class="govuk-table__cell">64kg</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Total Potash</th>
          <td class="govuk-table__cell">160kg</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Available Potash</th>
          <td class="govuk-table__cell">144kg</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
