<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l margin-bottom-twenty">{{fieldname}}</h2>
    <ul class="govuk-list">
      <li>Cropped area: 15 hectares</li>
      <li>Closed spreading period: 01 January 2024 to 31 December 2025</li>
    </ul>
  </div>  
</div>  

  <div class="govuk-grid-row margin-bottom-forty">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">{{cropname}} recommendations for {{fieldname}} (per hectare)</h2>
      <!-- <p class="govuk-body">Cropped area: 15 hectares<br>
      Annual rainfall: 593mm</p> -->
      
      <table class="recs-table govuk-table govuk-table-small">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Grass recommendations (kg/ha)</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Nutrient</th>
            <th scope="col" class="govuk-table__header">Soil index</th>
            <th scope="col" class="govuk-table__header">Crop need</th>
            <th scope="col" class="govuk-table__header">From manures</th>
            <th scope="col" class="govuk-table__header">From fertilisers or lime</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Nitrogen (N)</th>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">153kg</td>          
            <td class="govuk-table__cell">0</td>          
            <td class="govuk-table__cell">210kg</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Phosphate (P2O5)</th>
            <td class="govuk-table__cell">2</td>
            <td class="govuk-table__cell">70kg</td>          
            <td class="govuk-table__cell">0</td>          
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Potash (K2O)</th>
            <td class="govuk-table__cell">2-</td>
            <td class="govuk-table__cell">200kg</td>          
            <td class="govuk-table__cell">0</td>          
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sulphur (SO3)</th>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">40kg</td>          
            <td class="govuk-table__cell">-</td>          
            <td class="govuk-table__cell">40kg</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Lime</th>
            <td class="govuk-table__cell">6.2</td>
            <td class="govuk-table__cell">4 tonnes</td>          
            <td class="govuk-table__cell">-</td>          
            <td class="govuk-table__cell">6 tonnes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>