<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Soil details for {{fieldname}}</h2>
  </div>
    <div class="govuk-grid-column-one-half half-table-left">

      <table class="govuk-table govuk-table-small margin-bottom-sixty">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Soil type</th>
            <td class="govuk-table__cell">Medium</td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Potash (K) releasing clay</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sulphur deficient</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Last soil analysis</th>
            <td class="govuk-table__cell">21/02/2023</td>
          </tr> -->
        </tbody>
      </table>
  </div>

  <div class="govuk-grid-column-one-half half-table-right">

<table class="govuk-table govuk-table-small">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Starting P balance</th>
      <td class="govuk-table__cell">- 1kg per hectare</td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Starting K balance</th>
      <td class="govuk-table__cell">+ 16kg per hectare</td>
    </tr>
  </tbody>
</table>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Soil analysis for {{fieldname}}</h2>
    <p class="govuk-body">Last updated 9 December 2024</p>

<table class="govuk-table govuk-table-small margin-bottom-sixty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">pH</th>
      <th class="govuk-table__header">Phosphorus (P)</th>
      <th class="govuk-table__header">Potassium (K)</th>
      <th class="govuk-table__header">Magnesium (Mg)</th>
      <th class="govuk-table__header">SNS</th>
      <th class="govuk-table__header">SNS Index</th>
      <th class="govuk-table__header">SNS Method</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">Not entered</td>
      <td class="govuk-table__cell">Not entered</td>
      <td class="govuk-table__cell">Not entered</td>
      <td class="govuk-table__cell">0kg per hectare</td>
      <td class="govuk-table__cell">Not entered</td>
      <td class="govuk-table__cell">Not entered</td>
    </tr>
</tbody>
  </tbody>
</table>
</div>
</div>