  

  
<div class="govuk-grid-row margin-bottom-forty">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Soil details for {{fieldname}}</h2>
  </div>
    <div class="govuk-grid-column-one-half half-table-left">

      <table class="govuk-table govuk-table-small">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Soil type</th>
            <td class="govuk-table__cell">Medium</td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Potash (K) releasing clay</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sulphur deficient</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Last soil analysis</th>
            <td class="govuk-table__cell">21/02/2023</td>
          </tr>
        </tbody>
      </table>

  </div>

  <div class="govuk-grid-column-one-half half-table-right">

<table class="govuk-table govuk-table-small">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Starting P balance (kg/ha)</th>
      <td class="govuk-table__cell">-1</td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Starting K balance (kg/ha)</th>
      <td class="govuk-table__cell">+16</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">SNS (per hectare)</th>
      <td class="govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">SNS Index</th>
      <td class="govuk-table__cell">-</td>
    </tr>
  </tbody>
</table>

  </div>

</div>