{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farm name"
      },
      value: {
        text: data.oaktree_farm.name
      },
      actions: {
        items: [
          {
            href: "name",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Which country is Oaktree Lane Farm in?"
      },
      value: {
        text: "England"
      },
      actions: {
        items: [
          {
            href: "rainfall",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm address"
      },
      value: {
        text: "South Road, Hexham, Northumberland " + data.oaktree_farm.postcode
      },
      actions: {
        items: [
          {
            href: "address",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Average annual rainfall"
      },
      value: {
        text: "600mm"
      },
      actions: {
        items: [
          {
            href: "rainfall",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "How many fields at Oaktree Lane Farm are in a Nitrate Vulnerable Zone (NVZ)?"
      },
      value: {
        text: data.farm_nvz | convert_all_some_none + " of the fields are in an NVZ"
      },
      actions: {
        items: [
          {
            href: "nvz",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "How many fields at Oaktree Lane Farm are above 300 metres?"
      },
      value: {
        text: data.farm_elevation | convert_all_some_none + " of the fields are above 300m"
      },
      actions: {
        items: [
          {
            href: "elevation",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Are you a registered organic producer?"
      },
      value: {
        text: 'No'
      },
      actions: {
        items: [
          {
            href: "organic_producer",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "What is your last harvest year?"
      },
      value: {
        text: data.oaktree_farm.harvest_year - 1 
      },
      actions: {
        items: [
          {
            href: " ",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}