{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Check your answers
    </h1>

    <div class="check-answers">
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Crop type</dt>
          <dd class="govuk-summary-list__value">Wheat (milling)</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="crop_type">Change<span class="govuk-visually-hidden"> crop type</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Nitrogen product</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="products">Change<span class="govuk-visually-hidden"> nitrogen product</span></a></dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Ammonium nitrate price</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="nitrogen_values">Change<span class="govuk-visually-hidden"> ammonium nitrate price</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Nitrogen (N) price</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="nitrogen_values">Change<span class="govuk-visually-hidden"> nitrogen (N) price</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Triple superphosphate price</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="phosphorus_values">Change<span class="govuk-visually-hidden"> triple superphosphate price</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Phosphate (P2O5) price</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="phosphorus_values">Change<span class="govuk-visually-hidden"> phosphate (P2O5) price</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Muriate of potash price</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="potash_values">Change<span class="govuk-visually-hidden"> muriate of potash price</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Potash (K2O) price</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="potash_values">Change<span class="govuk-visually-hidden"> potash (K2O) price</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Expected crop price</dt>
          <dd class="govuk-summary-list__value">000</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="expected_value">Change<span class="govuk-visually-hidden"> expected crop price</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Break-even ratio</dt>
          <dd class="govuk-summary-list__value">5</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>

      </dl>
    </div>

    <form action="/add_ber_check_handler/" method="post" novalidate>
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>

    <p class="govuk-body">
      <a href="/management/farm/ber/manage_ber">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
