{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop ">

      <h1 class="govuk-heading-l">
        What is the expected crop price, per tonne?
      </h1>

      <form action="check" method="post" novalidate="">

        <div class="govuk-form-group">
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-3" id="nutrient_price-1" name="nutrient_price-1" type="text"  spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">per tonne</div>
          </div>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body"><a href="/management/farm/ber/manage_ber">Cancel</a></p>

    </div>
  </div>

{% endblock %}
