{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add crops -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Which nitrogen (N) product are you using?
    </h1>

    <form class="form" action="nitrogen_values" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="n-an-34" name="berNitrogenProduct" type="radio" value="Ammonium nitrate 34.5% nitrogen (N)">
              <label class="govuk-label govuk-radios__label" for="n-an-34">Ammonium nitrate</label>
              <div class="govuk-hint govuk-radios__hint">34.5% nitrogen (N)</div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="n-an-33" name="berNitrogenProduct" type="radio" value="Ammonium nitrate 33.5% nitrogen (N)">
              <label class="govuk-label govuk-radios__label" for="n-an-33">Ammonium nitrate</label>
              <div class="govuk-hint govuk-radios__hint">33.5% nitrogen (N)</div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="n-urea" name="berNitrogenProduct" type="radio" value="Urea 46% nitrogen (N)">
              <label class="govuk-label govuk-radios__label" for="n-urea">Urea</label>
              <div class="govuk-hint govuk-radios__hint">46% nitrogen (N)</div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="n-liquid" name="berNitrogenProduct" type="radio" value="Liquid nitrogen (N) 28% nitrogen (N) w/w">
              <label class="govuk-label govuk-radios__label" for="n-liquid">Liquid nitrogen (N)</label>
              <div class="govuk-hint govuk-radios__hint">28% nitrogen (N) w/w</div>
            </div>

          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
