<h2 class="govuk-heading-l">Vegetable group 1 fields</h2>

<h3 class="govuk-heading-m">N-max limit for low nitrogen (N) vegetables</h3>

<p>Nitrogen applications to vegetables in group 1 <span class="strong">comply</span> with the N-max limit, based on field records.</p>
<p class="govuk-body">N-max limit for low nitrogen (N) vegetables before adjustments: 220kg per hectare.</p>

<table class="new_nmax_table new_nmax_table_crop govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area</th>
      <th scope="col" class="govuk-table__header">Crop type</th>
      <th scope="col" class="govuk-table__header">Crop yield<br><span class="nonbold">per ha</span></th>
      <th scope="col" class="govuk-table__header">Paper crumble or straw mulch<br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Adjusted N-max limit <br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Maximum limit for N applied</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">40 acres</td>
      <td class="govuk-table__cell">18ha</td>
      <td class="govuk-table__cell">Asparagus</td>
      <td class="govuk-table__cell">8t</td>          
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">220kg</td>
      <td class="govuk-table__cell">3,960kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">High Barns</td>
      <td class="govuk-table__cell">11ha</td>
      <td class="govuk-table__cell">Asparagus</td>
      <td class="govuk-table__cell">9.5t</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">250kg</td>
      <td class="govuk-table__cell">2,750kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Bendy field</td>
      <td class="govuk-table__cell">7.5ha</td>
      <td class="govuk-table__cell">Asparagus</td>
      <td class="govuk-table__cell">9t</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">280kg</td>
      <td class="govuk-table__cell">2,100kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Extra close</td>
      <td class="govuk-table__cell">5ha</td>
      <td class="govuk-table__cell">Carrots</td>
      <td class="govuk-table__cell">9.5t</td>
      <td class="govuk-table__cell">80kg</td>
      <td class="govuk-table__cell">350kg</td>
      <td class="govuk-table__cell">1,750kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Long field</td>
      <td class="govuk-table__cell">6ha</td>
      <td class="govuk-table__cell">Carrots</td>
      <td class="govuk-table__cell">8t</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">220kg</td>
      <td class="govuk-table__cell">1,320kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">High paddocks</td>
      <td class="govuk-table__cell">7.5ha</td>
      <td class="govuk-table__cell">Swedes</td>
      <td class="govuk-table__cell">10t</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">260kg</td>
      <td class="govuk-table__cell">1,950kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">55ha</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="govuk-table__header">13,830kg</th>
    </tr>
  </tbody>
</table>