{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_manner.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How estimating nutrient supply from organic materials works using MANNER-NPK
    </h1>

    <p>
      MANNER-NPK (Manure Nitrogen Evaluation Routine) estimates the nutrient supply from applications of organic materials.
    </p>

    <!-- <p>
      This lets you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>compare different organic material applications to see how nutrient supply could be affected (scenario planning)</li>
      <li>see the financial value of these applications - how much you would save compared to buying inorganic fertiliser</li>
    </ul> -->

    <p>
      The estimate will show you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>total nitrogen (N)</li>
      <li>nitrogen (N) losses</li>
      <li>crop available nitrogen (N)</li>
      <li>total and crop available phosphate (P2O5), potash (K2O), sulphur (SO3) and magnesium (MgO)</li>
    </ul>

    <h2 class="govuk-heading-m">
      What you'll need
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>farm and field details, you can use any previously entered</li>
      <li>manure type and nutrient content (laboratory analysis results or you can use default nutrient content)</li>
      <li>manure application details, including application rate, application method and soil incorporation</li>
    </ul>

    <h2 class="govuk-heading-m">
      Economic value of organic materials
    </h2>

    <p>
      You can calculate the potential financial value of your manure application(s) based on fertiliser prices. You will be able to input your prices for inorganic fertilisers.
    </p>

    <p>
      This will help you understand the cost savings you could make by using manure instead of buying inorganic fertilisers.
    </p>

    <h2 class="govuk-heading-m">
      Saving and printing
    </h2>

    <p>
      You can save your estimates as a PDF and print them.
    </p>

    <form class="form margin-top-forty" action="manner_setup_handler" method="post">
            <div class="govuk-form-group margin-bottom-forty">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                Don't show this information again
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>


{% endblock %}
