{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
     How estimating nutrient supply from organic materials (MANNER-NPK ) works
    </h1>
    
    <p class="govuk-body">
      How estimating nutrient supply from organic materials works using MANNER-NPK
    </p>

    <p>
      MANNER-NPK (Manure Nitrogen Evaluation Routine) estimates the nutrient supply from applications of organic materials.
    </p>
    <p>
      This lets you:
      <ul class="govuk-list govuk-list--bullet">
        <li>compare different organic material applications to see how nutrient supply could be affected (scenario planning)</li>
        <li>see the financial value of these applications - how much you would save compared to buying inorganic fertiliser</li>
      </ul>
    </p>
    <p>
      The MANNER-NPK software will estimate:
      <ul class="govuk-list govuk-list--bullet">
        <li>total nitrogen (N)</li>
        <li>nitrogen (N) losses</li>
        <li>crop available nitrogen (N)</li>
        <li>total and crop available phosphate (P2O5), potash (K2O), sulphur (SO3) and magnesium (MgO)</li>
      </ul>
    </p>
    <p>
      What you'll need
    </p>
    <p>
      You will need to enter a few simple inputs to use MANNER-NPK:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li></li>farm and field details (you may already have these set up in NMPT-GB)</li>
      <li>manure type and nutrient content (laboratory analysis results or default nutrient content)</li>
      <li>manure application details (including application rate, application method and soil incorporation)</li>
      <li>Economic value of organic materials</li>
    </ul>
    <p>
      You can calculate the potential financial value of your manure application(s) based on fertiliser prices. You will be able to input your prices for inorganic fertilisers, allowing you to directly compare them with the nutrient value of your organic materials.
    </p>
    <p>
      This comparison will help you understand the cost savings you could achieve by using manure instead of buying inorganic fertilisers.
    </p>
    <p>
      Saving and printing
    </p>
    <p>
      You can save your estimates as a PDF and print them if you wish.
    </p>

    <form class="form margin-top-forty" action="fields" method="post">
            <div class="govuk-form-group margin-bottom-forty">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                Don't show this information again
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>


{% endblock %}
