{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Estimate nutrient supply from organic materials (MANNER-NPK) -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_manner.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you want to copy an application?
      </h1>

      <p class="govuk-body">You can change any of the values in the copied application later.</p>

      <form class="form" action="manner_copy_router" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

            {% set count = 0 %}

           {% for item in data.manner_applications %}
            {% set count = count+1 %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="{{count}}" name="copy_manner" type="radio" value="{{count}}">
                <label class="govuk-label govuk-radios__label" for="{{count}}">
                  Yes, copy application {{count}}    
                </label>
              </div>
            {% endfor %} 
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="copy_manner" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No, start with new organic material details
              </label>
            </div>

          </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}