{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_manner.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Which farm details do you want to use?
    </h1>

    <!-- <p class="govuk-hint">
      You can start with rainfall, field and soil details from an existing farm and one of it's fields. You can change any of these details just for this estimate.
    </p> -->

    <form class="form" action="fields" method="post">
    
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="use_existing_farm-hint">
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="1" name="use_existing_farm" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="1">
                Oaktree Lane Farm
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="2" name="use_existing_farm" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="2">
                Dusty Farm
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="3" name="use_existing_farm" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="3">
                Hopper's Farm
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}