{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Estimate nutrient supply from organic materials (MANNER-NPK) -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- <span class="govuk-caption-l">
        Nutrient application plan 2023 to {{data.oaktree_farm.planning_year}}
      </span> -->


      <!-- go through the crop cropGroups
      go throuhg their fields
      if they havent been listed list them -->

      <h1 class="govuk-heading-l">
        Which field would you like use?
      </h1>

      <form class="form" action="manner_change_handler" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">

            {% for field in data.all_fields %}
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id={{field.field_id}} name="chosen_field" type="radio" value={{field.field_id}}>
                <label class="govuk-label govuk-radios__label" for={{field.field_id}}>
                    {{field.field_name}} 
                </label>
            </div>
            {% endfor %} 
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="create_new" name="chosen_field" type="radio" value="create_new">
              <label class="govuk-label govuk-radios__label" for="create_new">
                Add a temporary field
              </label>
            </div>

            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>    

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
