{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Estimate nutrient supply from organic materials (MANNER-NPK) -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_manner.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How would you like to enter the application rate for your {{data.manure_type.name}}?
      </h1>

      <form class="form" action="v2_quantity_handler" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rate" name="quantity_type" type="radio" autocomplete="off" value="rate">
                <label class="govuk-label govuk-radios__label" for="rate">
                  Enter an application rate in 
                  {% if data.manure_type.liquid == true %}
                    cubic metres per hectare
                  {% else %}
                    Tonnes per hectare
                  {% endif %}
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area" name="quantity_type" type="radio" autocomplete="off" value="area">
                <label class="govuk-label govuk-radios__label" for="area">
                  Calculate based on the area and quantity you are spreading            
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="default" name="quantity_type" type="radio" autocomplete="off" value="default">
                <label class="govuk-label govuk-radios__label" for="default">
                  Use a typical application rate of 
                  {% if data.manure_type.liquid == true %}
                    30 cubic metres per hectare
                  {% else %}
                    20 Tonnes per hectare
                  {% endif %}
                </label>
              </div>

          </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}