{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block content %}

{% set plan_2025 = false %}
{% set plan_2026 = false %}
{% set plan_2027 = false %}
{% for x in data.oaktree_farm.years_planned %}
  {% if x == 2025 %}
    {% set plan_2025 = true %}
  {% elif x == 2026 %}
    {% set plan_2026 = true %}
  {% elif x == 2027 %}
    {% set plan_2027 = true %}
  {% endif %}
{% endfor %}

<div class="govuk-grid-row">
  <div id="all-plans-table" class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">Estimates of nutrient supply from organic materials</h1>   

  </div>
</div>

<div class="govuk-grid-row">
  <div id="all-plans-table" class="govuk-grid-column-full">

    <form class="form" action="copy_estimate" method="post">
      {{ govukButton({
        text: "Create a new estimate"
      }) }}
    </form>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Estimate number</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
          <th scope="col" class="govuk-table__header">Farm</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">View or change this estimate</span></th>
          <!-- <th scope="col" class="govuk-table__header "><span class="govuk-visually-hidden">Start with a copy of this estimate</th></th> -->
        </tr>
      </thead>
      <tbody class="govuk-table__body">  
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">01 December 2025</td>
            <td class="govuk-table__cell">Oaktree Lane Farm</td>
            <td class="govuk-table__cell"><a href="manner_results_reset">View or change</a> </td>
            <!-- <td class="govuk-table__cell"><a href="manner_results_reset">Start with a copy</a> </td> -->
        </tr>
      </tbody>
    </table>     

  </div>
</div>

{% endblock %}