{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_signed_in_first.html" ignore missing %}
{% endblock %}

{% block content %}

{% set plan_2025 = false %}
{% set plan_2026 = false %}
{% set plan_2027 = false %}
{% for x in data.oaktree_farm.years_planned %}
  {% if x == 2025 %}
    {% set plan_2025 = true %}
  {% elif x == 2026 %}
    {% set plan_2026 = true %}
  {% elif x == 2027 %}
    {% set plan_2027 = true %}
  {% endif %}
{% endfor %}

<div class="govuk-grid-row">
  <div id="all-plans-table" class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Nutrient supply estimates (MANNER-NPK)</h1>   
  </div>
</div>

<div class="govuk-grid-row">
  <div id="all-plans-table" class="govuk-grid-column-two-thirds">

    <form class="form" action="copy_estimate" method="post">
      {{ govukButton({
        text: "Create a new estimate"
      }) }}
    </form>

    <p class="govuk-body margin-bottom-thirty">You can also <a href="remove_estimates_list">remove an estimate</a></p>

    <h2 class="govuk-heading-s">Previous estimates</h2>   

    <table class="govuk-table data-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Farm</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Update or make a copy</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">  
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Oaktree Lane Farm</td>
            <td class="govuk-table__cell">01 December 2025</td>
            <td class="govuk-table__cell"><a href="manner_results_reset">View or change</a> </td>
        </tr>
      </tbody>
    </table>     
  </div>
</div>

{% endblock %}