{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_manner.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Update weather conditions for this organic material application
      </h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About these values
          </span>
        </summary>
        <div class="govuk-details__text explanations">

          <p class="govuk-body">
            These values are used to estimate nitrogen losses and the crop available nitrogen (N) supply from this application.      
          </p>

          <p govuk-body>
            They are calculated using MANNER-NPK (Nutrient Calculation Engine).
          </p>

          <h3 class="govuk-heading-s">Autumn crop nitrogen (N) uptake</h3>
          <p class="govuk-body">Amount of N from the application taken up by the crop in the autumn.</p>

          <h3 class="govuk-heading-s">End of soil drainage</h3>
          <p class="govuk-body">Date when soil drainage ends and the soil begins to dry out.</p>
              
          <h3 class="govuk-heading-s">Rainfall within 6 hours of application</h3>
          <p class="govuk-body">Amount of rain that falls in the 6 hours after the material is applied.</p>

          <h3 class="govuk-heading-s">Rainfall between application date and end of soil drainage</h3>
          <p class="govuk-body">Average rainfall between manure application and end of soil drainage.</p>

          <h3 class="govuk-heading-s">Wind speed during application</h3>
          <p class="govuk-body">Wind speed when the material is applied.</p>

          <h3 class="govuk-heading-s">Topsoil moisture</h3>
          <p class="govuk-body">How moist the topsoil is when the material is applied.</p>

        </div>
      </details>

      <h3 class="govuk-heading-s">Typical conditions for organic material application</h3>
      <table id="conditions_table" class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Rainfall within 6 hours of application</th>
            <td class="govuk-table__cell">0 mm</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">End of soil drainage</th>
            <td class="govuk-table__cell">31 March {{data.oaktree_farm.planning_year}}</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Rainfall between application date and end of soil drainage</th>
            <td class="govuk-table__cell">0 mm</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Wind speed during application</th>
            <td class="govuk-table__cell">Calm/gentle (0 - 3 Beaufort scale)</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Topsoil moisture</th>
            <td class="govuk-table__cell">Moist</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Autumn crop nitrogen (N) uptake</th>
            <td class="govuk-table__cell">10kg per per hectare</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>

        </tbody>
      </table>

      <form action="rain_defaults_v2" method="post" novalidate="">
        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body cancel-link"><a href="/farm/farms">Cancel</a></p>

  </div>
</div>

{% endblock %}