<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    {% if data.successMessage == 1 %}
      <h3 class="govuk-notification-banner__heading">
        Nutrient supply estimated
      </h3>
      <p class="">Select the application details tab to change any of the information entered.</p>
      <p class="">Select the organic material value tab for the financial value of the organic material nutrients.</p>

      {% elif data.successMessage == 2 %}
        <h3 class="govuk-notification-banner__heading">
          Organic material value updated
        </h3>
      {% elif data.successMessage == 4 %}
      <h3 class="govuk-notification-banner__heading">
        Manure application removed
      </h3>
      {% elif data.successMessage == 5 %}
      <h3 class="govuk-notification-banner__heading">
        Manure application added
      </h3>
      <p class="">Select an application's details to change any of the entered information.</p>
      <p class="">Select the organic material value tab to adjust your nutrient prices.</p>
    {% else %}
    <h3 class="govuk-notification-banner__heading">
      Nutrient supply and value updated
    </h3>
  {% endif %}
  <!-- <p class="govuk-body"><a class="govuk-notification-banner__link" href="../outputs/export">Save or print a report</a></p>   -->
  </div>
</div>
