{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farm name"
      },
      value: {
        text: data.farm_name
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm address"
      },
      value: {
        text: "South Road, Hexham, Northumberland " + data.farm_postcode
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Average annual rainfall"
      },
      value: {
        text: "600mm"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "How many fields at Oaktree Lane Farm are in a Nitrate Vulnerable Zone (NVZ)?"
      },
      value: {
        text: data.farm_nvz | convert_all_some_none + " of the fields are in an NVZ"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "How many fields at Oaktree Lane Farm are above 300 metres?"
      },
      value: {
        text: data.farm_elevation | convert_all_some_none + " of the fields are above 300m"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Are you a registered organic producer?"
      },
      value: {
        text: data.organic_producer | convert_true_false
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}