<h2 class="govuk-heading-l">Grass fields</h2>
<h3 class="govuk-heading-m">N-max limit for Grass fields</h3>

<p>Nitrogen applications to Grass <span class="strong">do not comply</span> with the N-max limit, based on field records.</p>

<p class="govuk-body">N-max limit for Grass before adjustments: 300kg per hectare.</p>

<table class="new_nmax_table new_nmax_table_grass govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop area</th>
      <th scope="col" class="govuk-table__header">Adjustment for 3 or more cuts<br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Paper crumble or straw mulch<br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="nrate_limit_grass_td govuk-table__header">Adjusted N-<br>max limit <br><span class="nonbold">N per ha</span></th>
      <th scope="col" class="govuk-table__header">Maximum limit for N applied</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="col_1 govuk-table__cell">Paddock</td>
      <td class="col_2 govuk-table__cell">4.1ha</td>
      <td class="col_4 govuk-table__cell">40kg</td>
      <td class="col_5 govuk-table__cell">-</td>
      <td class="col_6 govuk-table__cell">340kg</td>
      <td class="col_7 govuk-table__cell">1,394kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Red Hill</td>
      <td class="govuk-table__cell">9.2ha</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">300kg</td>
      <td class="govuk-table__cell">2,760kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Little Severals</td>
      <td class="govuk-table__cell">8ha</td>
      <td class="govuk-table__cell">40kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">340kg</td>
      <td class="govuk-table__cell">2,720kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Big Severals</td>
      <td class="govuk-table__cell">4.5ha</td>
      <td class="govuk-table__cell">40kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">340kg</td>
      <td class="govuk-table__cell">1,530kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Back ground</td>
      <td class="govuk-table__cell">6ha</td>
      <td class="govuk-table__cell">40kg</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">340kg</td>
      <td class="govuk-table__cell">2,040kg</td>
    </tr>
    <tr class="govuk-table__row total_row">
      <th scope="col" class="govuk-table__header">Total</th>
      <th scope="col" class="govuk-table__header">31.8ha</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nonbold govuk-table__header">-</th>
      <th scope="col" class="nrate_td nonbold govuk-table__header">-</th>
      <th scope="col" class="govuk-table__header">10,444kg</th>
    </tr>
  </tbody>
</table>