{% extends "layouts/main.html" %}

{% block pageTitle %}
Excess winter rainfall – {{ serviceName }}
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Break even ratio figures 2026
      </h1> 

      <div class="margin-bottom-thirty">
        <h2 class="govuk-heading-m">
            Wheat (milling)  <span class="govuk-body nonbold">- Expected price: £120 per tonne. Break even ratio: 5.</span>
        </h2> 
        <p><a href="">Change</a></p> 
      </div>

      <!-- <div class="tab-right">
        <form class="update-button" action="crop_update_router?groupref={{group.group_id}}" method="post" novalidate="">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Update this group
          </button>
        </form>
      </div>
    -->
      
      <table class="govuk-table data-table">
        <caption class="govuk-table__caption master-table-caption">Nutrient prices</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Nutrient</th>
            <th scope="col" class="govuk-table__header">Product</th>
            <th scope="col" class="govuk-table__header">Product cost</th>
            <th scope="col" class="govuk-table__header">Nutrient cost</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Nitrogen</td>
            <td class="govuk-table__cell">Ammonium Nitrate 34.5% nitrogen (N)</td>
            <td class="govuk-table__cell">£311 per tonne</td>
            <td class="govuk-table__cell">9p per tonne</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Phosphate</td>
            <td class="govuk-table__cell">Triple superphosphate (46% phosphate P2O5)</td>
            <td class="govuk-table__cell">£311 per tonne</td>
            <td class="govuk-table__cell">9p per kg</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Potash</td>
            <td class="govuk-table__cell">Muriate of potash (60% potash K2O)</td>
            <td class="govuk-table__cell">£311 per tonne</td>
            <td class="govuk-table__cell">9p per tonne</td>
            <td class="govuk-table__cell"><a href="">Change</a></td>
          </tr>
        </tbody>
      </table>

  </div>
</div>

{% endblock %}

<!-- products
Nitrogen product
cost per tonne
£311

Nitrogen
Cost per p/kg 

TSP 46% P205. 

Phosphate
Cost per p/kg 

MoP 60% K20
Cost per £/ tonne

Potash
cost p/kg -->