<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="manures">

  <h2 class="govuk-heading-m non-standard">{{data.content.organic_term}} applications</h2>
  {% if organics == true %}
    <p class="govuk-body">These are the organic material applications for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}</p>
    <p class="govuk-body"><a href="plan_manure_application_handler?manurejourney=single">Add an {{data.content.organic_term | lower}} application for {{data.chosen_field.name}}</a></p>
    <p class="govuk-body-s">All amounts are per hectare.</p>
    {% include "./templates/applications.html" ignore missing %}
  {% else %}
    <p class="govuk-body">You have no {{data.content.organic_term | lower}} applications planned for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}.</p>
    <p class="govuk-body"><a href="plan_manure_application_handler?manurejourney=single">Add an {{data.content.organic_term | lower}} application for {{data.chosen_field.name}}</a></p>
    <hr class="seperator_five">
  {% endif %}

  <h2 class="govuk-heading-m non-standard">{{data.content.non_organic_term}} applications</h2>
  {% if inorganics == true %}
    <p class="govuk-body">These are the {{data.content.non_organic_term | lower}} applications for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}.</p>
    <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=single">Add an {{data.content.non_organic_term | lower}} application for {{data.chosen_field.name}}</a></p>
    <p class="govuk-body-s">All amounts are per hectare.</p>
    {% include "./templates/fertiliser_applications.html" ignore missing %}
  {% else %}
    <p class="govuk-body">You have no {{data.content.non_organic_term | lower}} applications planned for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}.</p>
    <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=single">Add {{data.content.non_organic_term | lower}} applications for {{data.chosen_field.name}}</a></p>
  {% endif %}

</div>


    <!-- <form class="add-button" action="plan_manure_application_handler?manurejourney=single" method="post" novalidate="">    
      <button class="govuk-button" data-module="govuk-button">
        Add an {{data.content.organic_term | lower}} application to this field
      </button>
    </form> -->

        <!-- <form class="" action="v2fertiliser_handler?fertiliserjourney=single" method="post" novalidate="">    
      <button class="govuk-button" data-module="govuk-button">
        Add an {{data.content.non_organic_term | lower}} application to this field
      </button>
    </form> -->
