{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
    {
      text: "Plans and records",
      href: "../plans_records"
    },
    {
      text: "Crop plan for 2023 to 2024",
      href: "../crop_plan/plan_view"
    },
    {
      text: "Field plan for " + data.chosenField.name
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div class="status-header margin-bottom-forty">
      <h1 class="govuk-heading-l">{{data.chosenField.name}} plan for harvest year 2023 to 2024</h1>
    </div>  
  </div>

  <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-s">Contents</h2>
      <p class="govuk-body"><span class="dash"> — </span><a href="recommendations">View nutrient recommendations and guidance for {{data.chosenField.name}}</a></p>
      <p class="govuk-body"><span class="dash"> — </span>Manage organic and inorganic material applications for {{data.chosenField.name}}</p>
      <p class="govuk-body margin-bottom-forty"><span class="dash"> — </span><a href="crop">Manage crop details for {{data.chosenField.name}}</a></p>
      <hr class="margin-bottom-forty">
  </div>

  <div class="govuk-grid-column-full">
    <div class="status-header margin-bottom-forty">
      <h2 class="govuk-heading-m">Organic and inorganic material applications for {{data.chosenField.name}}</h2>
    </div>  
  </div>

  <!-- manures -->
  <div class="govuk-grid-column-full margin-bottom-forty">
    <h2 class="govuk-heading-s">{{data.content.organic_term}} applications</h2>
    {% if data.multi_manures == false and data.single_manures == false %}
      <p class="govuk-body">You have no {{data.content.organic_term | lower}} applications planned for this field.</p>
      <p class="govuk-body"><a href="v2manure_handler?manurejourney=single">Add {{data.content.organic_term | lower}} applications for {{data.chosenField.name}}</a></p>
    {% else %}
      <p class="govuk-body"><a href="">Add another {{data.content.organic_term | lower}} application for {{data.chosenField.name}}</a></p>
      {% include "./templates/applications.html" ignore missing %}
    {% endif %}
  </div>

  <!-- fertiliser -->
  <div class="govuk-grid-column-full margin-bottom-forty">
    <h2 class="govuk-heading-s">{{data.content.non_organic_term}} applications</h2>
    {% if data.multi_fertiliser == false and data.single_fertiliser == false %}
      <p class="govuk-body">You have no {{data.content.non_organic_term | lower}} applications planned for this field.</p>
      <p class="govuk-body"><a href="">Add {{data.content.non_organic_term | lower}} applications for {{data.chosenField.name}}</a></p>
    {% else %}
      <p class="govuk-body"><a href="">Add another {{data.content.non_organic_term | lower}} application for {{data.chosenField.name}}</a></p>
      {% include "./templates/fertiliser_applications.html" ignore missing %}
    {% endif %}
  </div>
  
</div>


{% endblock %}