{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
    {
      text: "Plans and records",
      href: "../plans_records"
    },
    {
      text: "Crop plan for 2023 to 2024",
      href: "../crop_plan/plan_view"
    },
    {
      text: "Field plan for " + data.chosenField.name
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div class="status-header margin-bottom-forty">
      <h1 class="govuk-heading-l">{{data.chosenField.name}} plan for harvest year 2023 to 2024</h1>
    </div>  
  </div>

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s">Contents</h2>
    <p class="govuk-body"><span class="dash"> — </span>View nutrient recommendations and guidance for {{data.chosenField.name}}</p>
    <p class="govuk-body"><span class="dash"> — </span><a href="manures">Manage organic and inorganic material applications for {{data.chosenField.name}}</a></p>
    <p class="govuk-body margin-bottom-forty"><span class="dash"> — </span><a href="crop">Manage crop details for {{data.chosenField.name}}</a></p>
    <hr class="margin-bottom-forty">
  </div>

  <div class="govuk-grid-column-full">
    <div class="status-header margin-bottom-forty">
      <h2 class="govuk-heading-m">Nutrient recommendations</h2>
      <p class="govuk-body margin-bottom-forty">These recommendations are per hectare for {{data.chosen_crop | nameconverter}} in {{data.chosenField.name}}, 2023 to 2024</p>
      {% if data.chosenField.mManureApps == 0 %}
        {% include "./templates/new_nutrients_empty.html" ignore missing %}
      {% else %}
        {% include "./templates/new_nutrients_completed.html" ignore missing %}
      {% endif %}
    </div>  
  </div>

  <div class="govuk-grid-column-two-thirds margin-bottom-forty">
    <h2 class="govuk-heading-m">Guidance</h2>
    <p class="govuk-body">Apply no more than 100 kg N/ha at sowing or transplanting then apply <br>
      N according to crop growth, e.g. up to 60 kg N/ha per month in the south-west and 20 kg N/ha in the north. 
      Where seedbed SNS exceeds 4 and crops are likely to be harvested in April or later, top-dress N at the start of spring growth allowing for any over-winter losses of N.</p>
  </div>

</div>


{% endblock %}