{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a livestock manure nitrogen (N) farm limit report {{data.oaktree_farm.planning_year}}
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       {% include "./message.html" %}

      <h1 class="govuk-heading-l">
        Create a livestock manure nitrogen (N) farm limit report {{data.oaktree_farm.planning_year}}
      </h1>

      <p class="govuk-hint">
        Complete each section to create the report. You can complete the sections in any order.
      </p>

      <div class="check-answers margin-bottom-forty">
        {% include "./templates/check_content.html" %}
      </div>

      <form class="form" action="n_loading_submit_router" method="post">
        {{ govukButton({
          text: "Create report"
        }) }}
      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
