{% extends "layouts/main.html" %}

{% set bodyClasses = "landscape" %}

{% block pageTitle %}
  Oaktree lane farm - N-max limits 2025
{% endblock %}
{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

<a href="hub_reset_router" class="noprint govuk-back-link">{{data.oaktree_farm.name}}</a>

{% endblock %}

{% block content %}

<!-- SAVE -->
{% include "./templates/save.html" ignore missing %}

<!-- TITLE -->
{% set report_derogation = true %}
{% include "./templates/title.html" ignore missing %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full margin-bottom-ten">
    <h2 class="govuk-heading-m">
      Compliance with NVZ livestock manure nitrogen (N) farm limit
    </h2>
    <h3 class="govuk-heading-s">
      The information you entered does not indicate compliance. You must plan so that you do not exceed the limit.
    </h3>
    <p class="govuk-body-s">
      This assessment is based on the derogated NVZ livestock manure nitrogen (N) farm limit of 250kg of nitrogen (N) per hectare for grazing livestock, 
      170kg of nitrogen (N) per hectare for non-grazing livestock and best practice guidance of 250kg of nitrogen (N) per hectare for land outside of an NVZ.
    </p>
    <!-- <h2 class="govuk-heading-m">
      Farm area
    </h2> -->
    {% include "./templates/compliance_derogation.html" ignore missing %}
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-ten">

      <h2 class="govuk-heading-m">
        Farm area
      </h2>
      {% include "./templates/farm_area_derogation.html" ignore missing %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-ten">

      <h2 class="govuk-heading-m">
        Livestock manure total nitrogen (N) and phosphate (P2O5) loading
      </h2>
      {% include "./templates/livestock_manure_derogation.html" ignore missing %}

    </div>
  </div>

  <div id="printbreak"></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-ten">

      <h2 class="govuk-heading-m">
        Grazing livestock manure total nitrogen (N) and phosphate (P2O5) production
      </h2>
        <p class="govuk-body-s">
          Home-produced manures from any cattle (excluding veal calves), sheep, deer, goats, or horses, regardless of whether the animals are housed or not.
        </p>
      <!-- <p>Total livestock manure nitrogen (N) production: 3,944kg</p> -->
      {% include "./templates/grazing_livestock_derogation.html" ignore missing %}

    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full margin-bottom-ten">
        <h2 class="govuk-heading-m">
          Non-grazing livestock manure total nitrogen (N) and phosphate (P2O5) production
        </h2>
        <p class="govuk-body-s">
          Home-produced manures from any pigs, poultry, or veal calves, regardless of whether the animals are housed or not.
        </p>
        {% include "./templates/pigs_derogation.html" ignore missing %}
      </div>
    </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-ten">

      <h2 class="govuk-heading-m">
        Imports and exports of livestock manure
      </h2>
      <p class="govuk-body">
        Livestock manure imports and exports net total: <span class="">+90,000kg of nitrogen (N)</span>
      </p>

      <h3 class="govuk-heading-s">
        Imports of livestock manure 
      </h3>

      {% include "./templates/imports_derogation.html" ignore missing %}
      <h3 class="govuk-heading-s">
        There are no exports of livestock manure
      </h3>
    </div>
  </div>
  
  <!-- <div id="printbreak"></div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="margin-bottom-forty">
      <h2 class="govuk-heading-s">
        About farm area
      </h2>
      <p class="govuk-body-s">
        The farm area does not include surface waters, areas of hardstanding, buildings or woodland (unless the woodland is used for grazing), and any land covered by a greenhouse.
      </p>
      <h2 class="govuk-heading-s">
        About recommendations, guidance, and advice
      </h2>
      {% include "/templates/recommendations.html" ignore missing %}

  </div>
</div>
  


{% endblock %}
