{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Add a farm</h1>

      <h2 class="govuk-heading-m">About the business</h2>

      <form action="/add-farm-check" method="post" novalidate="">
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">Farmer's name (optional)</label>
          <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">Business name (optional)</label>
          <input class="govuk-input govuk-input" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
        </div>
                
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">Single Business Identifier (optional)</label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">County Parish Holding (CPH) Number (optional)</label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            Total farm area (optional)
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
          </div>
        </div>

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            Average altitude (optional)
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">Meters</div>
          </div>
        </div> -->
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <br>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </fieldset>
        </div>

          </div>
      </div>
    </form>
  </div>

{% endblock %}