{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Last harvest year</h1>

      <p class="govuk-body">To create plans and give recommendations we need information about your last harvest year.</p>
      <p class="govuk-body">If you have harvested most of your 2024 crops you can set 2024 as your last harvest year.</p>
            <form action="set_farm_defaults" method="post" novalidate="">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              What is your last harvest year?
            </legend>        
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="harvestyear" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">
                  2023
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="harvestyear" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                  2024
                </label>
              </div>
            </div>
          </fieldset>
        </div>        

        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="farms">Cancel</a></p>

    </div>
  </div>

{% endblock %}
