{% extends "layouts/main.html" %}

{% block pageTitle %}

  Check your answers template – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Add 2024 crop history to {{data.chosen_field.field_name}}
    </h1>

    <h2 class="govuk-heading-m">
      Check your answers
    </h2>

    <div class="check-answers margin-bottom-forty">
      <dl class="govuk-summary-list">
        {% include "./templates/check_history.html" ignore missing %}
      </dl>
    </div>

    <form action="" method="post" novalidate>
      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Add crop history
      </button>
    </form>

    <p class="govuk-body cancel-link"><a href="">Cancel</a></p>

  </div>
</div>

{% endblock %}