{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Was New Field used for grass in the last three harvest years?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 1"
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "When was New Field last ploughed?"
      },
      value: {
        text: "Between November 2022 and October 2023"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 2"
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "How many years was New Field previously fallow?"
      },
      value: {
        text: "1 - 2 years"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    },
    {
      key: {
        text: "How was New Field's grass managed in the last (x) years??"
      },
      value: {
        text: "Both grazed and cut"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "How many times was New Field cut in the last (x) years?"
      },
      value: {
        text: "More than 2 cuts"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "How much nitrogen has been applied in the last (x) years?"
      },
      value: {
        text: "Up to 250kg per hectare"
      },
      actions: {
        items: [
          {
            href: "add-field",
            text: "Change",
            visuallyHiddenText: "Question 3"
          }
        ]
      }
    }
  ]
}) }}