2nd yr grass or older, over 250kg N/ha

2nd yr grass or older, 100-250kg N/ha

2nd yr grass or older, up to 100kg N/ha

2nd yr grass or older, grass/clover sward

1st yr reseed after grass or 1 yr arable, over 250kg N/ha

1st yr reseed after grass or 1 yr arable, 100-250kg N/ha

1st yr reseed after grass or 1 yr arable, up to 100kg N/ha

1st yr reseed after 2 or more years arable, not light sand soil (last crop potatoes, oilseed rape, peas, beans)

1st yr reseed after 2 or more years arable (last crop cereal, sugar beet, linseed)

1st yr reseed after 2 or more years arable (light sand soil)
