{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How was the grass typically managed each year?
    </h1>

    <form class="form" action="previous_clover" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cut" name="previous_management" type="radio" value="cut">
              <label class="govuk-label govuk-radios__label" for="cut">
                Cut only
              </label>
            </div>    

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="grazed" name="previous_management" type="radio" value="grazed">
              <label class="govuk-label govuk-radios__label" for="grazed">
                Grazed only
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="both" name="previous_management" type="radio" value="both">
              <label class="govuk-label govuk-radios__label" for="both">
                Grazed and cut
              </label>
            </div>

          </div>
        </fieldset> 
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}