{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – Add a field -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Do you have a soil mineral nitrogen analysis result for the current crop in {{data.temp_field_name}}?</h1>

    <form action="sns_v3_router" method="post" novalidate="">

      <!-- <label class="govuk-label" for="nitrate">How would you like to enter your values?</label> -->
       
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="sns_method" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="sns_method" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>
    
    <p class="govuk-body cancel-link"><a href="/mvp/field/field-details">Cancel</a></p>

  </div>
</div>

{% endblock %}