{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is the soil type in {{data.temp_field_name}}?</h1>

      <form action="soil-two" method="post" novalidate="">
                
        <div class="govuk-form-group margin-bottom-forty">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              
              <div id="contact-hint" class="govuk-hint">
                These soil types are from RB209. Select one option.
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="clay" name="soiltype" type="radio" value="Deep clay">
                <label class="govuk-label govuk-radios__label" for="clay">Deep clay</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="silt" name="soiltype" type="radio" value="Deep silt">
                <label class="govuk-label govuk-radios__label" for="silt">Deep silt</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="light" name="soiltype" type="radio" value="Light Sand">
                <label class="govuk-label govuk-radios__label" for="light">Light Sand</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="medium" name="soiltype" type="radio" value="Medium">
                <label class="govuk-label govuk-radios__label" for="medium">Medium</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organic" name="soiltype" type="radio" value="Organic">
                <label class="govuk-label govuk-radios__label" for="organic">Organic</label>
              </div>              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="peat" name="soiltype" type="radio" value="Peat">
                <label class="govuk-label govuk-radios__label" for="peat">Peat</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="shallow" name="soiltype" type="radio" value="Shallow">
                <label class="govuk-label govuk-radios__label" for="shallow">Shallow</label>
              </div>

            </div>
          </fieldset>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
