{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Add soil analysis for {{data.temp_field_name}}</h1>

    <p class="govuk-hint">Enter the values of your soil analysis. You must enter at least one value.</p>
    <p class="govuk-hint">If your soil analysis does not include results for a particular nutrient, leave it blank.</p>

    <!-- <div class="govuk-inset-text">
      Enter your soil nutrient values. As your soil sample is more than five years old, your crop need recommendations will be based on standard figures for your soil type. 
    </div> -->

    <form action="previous_use" method="post" novalidate="">

      <div class="govuk-form-group">
        <label class="govuk-label" for="ph">pH value (optional)</label>
        <input class="govuk-input govuk-input--width-5" id="ph" name="ph_value" type="text" autocomplete="off">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="phosphorus_index">
          Phosphorus (P) index (optional)
        </label>
        <input class="govuk-input govuk-input--width-5" id="phosphorus_index" name="phosphorus_index" type="text" autocomplete="off" spellcheck="false">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="potassium_index">
          Potassium (K) index (optional)
        </label>
        <input class="govuk-input govuk-input--width-5" id="potassium_index" name="potassium_index" type="text" autocomplete="off" spellcheck="false">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="magnesium_index">
          Magnesium (Mg) index (optional)
        </label>
        <input class="govuk-input govuk-input--width-5" id="magnesium_index" name="magnesium_index" type="text" autocomplete="off" spellcheck="false">
      </div>
      
      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/mvp/field/field-details">Cancel</a></p>

  </div>
</div>

{% endblock %}