{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Update an organic material application for harvest year 2025
    </h1>

    <!-- <div class="govuk-inset-text margin-bottom-forty">
      <p class="govuk-body">
        Changes here will be applied to this organic material application for all of these fields. 
      </p>
    </div> -->
    
  {{ localmanuretype }}
  {% set localmanuretype = 'Cattle farmyard manure - old' %}

    <div id="manure_cya" class="check-answers">
      <dl class="govuk-summary-list margin-bottom-twenty">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Which fields do you want to update this organic manure application for?
          </dt>
          <dd class="govuk-summary-list__value">
            Poplar
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of organic material are you using in this application?
          </dt>
          <dd class="govuk-summary-list__value">
            {{localmanuretype}}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">When are you applying {{localmanuretype}}?</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
                {{data.manure_date_day}}
                {{data.manure_date_month | convertmonth}}
                {{data.manure_date_year}} 
            </p>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you want to use the nutrient values from RB209 for {{localmanuretype}}?</dt>
          <dd class="govuk-summary-list__value">
            Yes, use the standard nutrient values<br>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Nutrient values for {{localmanuretype}}</dt>
          <dd id="nutrient_list" class="govuk-summary-list__value">
            <span class="nutrient_row">Dry matter content <span class="figure">25.0%</span></span>
            <span class="nutrient_row">Nitrogen (N) <span class="figure">6.0kg/t</span></span>
            <span class="nutrient_row">Ammonium-N <span class="figure">1.2kg/t</span></span>
            <span class="nutrient_row">Phosphate (P2O5) <span class="figure">3.2kg/t</span></span>
            <span class="nutrient_row">Potash (K2O) <span class="figure">9.4kg/t</span></span>
            <span class="nutrient_row">Sulphur (SO3) <span class="figure">2.4kg/t</span></span>
            <span class="nutrient_row">Magnesium (MgO) <span class="figure">1.8kg/t</span></span>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How would you like to enter the application rate?</dt>
          <dd class="govuk-summary-list__value">Use the standard application rate of 30 tonnes per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the incorporation method?</dt>
          <dd class="govuk-summary-list__value">Discs</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How long is the gap between application and incorporation?</dt>
          <dd class="govuk-summary-list__value">1 to 2 days</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Autumn crop nitrogen (N) uptake</dt>
          <dd class="govuk-summary-list__value">10kg per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">End of soil drainage</dt>
          <dd class="govuk-summary-list__value">31 March 2025</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Rainfall within 6 hours of application</dt>
          <dd class="govuk-summary-list__value">0</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Total rainfall since application</dt>
          <dd class="govuk-summary-list__value">328mm</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Windspeed at application</dt>
          <dd class="govuk-summary-list__value">Calm/gentle (0 - 3 Beaufort scale)</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Topsoil moisture</dt>
          <dd class="govuk-summary-list__value">Moist</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
      </dl>    
    </div>

      <p class="gov-body margin-bottom-forty">You can also <a href="">remove this application</a> from these fields.</p>

    <form action="manure_update_v6_handler" method="post" novalidate>
      {{ govukButton({
        text: "Update"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
