{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How many of each cattle type are using areas that are manually washed in October 2025?
    </h1>

    <p class="govuk-hint">
      These are the numbers you entered when you added this cattle type.
    </p>

    <form action="water_days" method="post" novalidate="">
      <div class="margin-bottom-forty">
        {% for livestock_type in data.livestock_record_2025 %}
          {% if livestock_type.type == 'cattle' %}
            <div class="govuk-form-group">
              <label class="govuk-label" for="total_area">
                Number of {{ livestock_type.name | capitalize }}
              </label>
              <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="total_area" name="total_area" type="text" value="100" spellcheck="false" autocomplete="off">
                <div class="govuk-input__suffix" aria-hidden="true">cattle</div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}