{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Total wash water for October 2025
    </h1>
    
    <form action="change_copy_months" method="post" novalidate="">

      <div class="govuk-form-group margin-bottom-forty">
        <!-- <label class="govuk-label strong" for="total_area">
          Total wash water for October
        </label> -->
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="total_area" name="total_area" type="text" value="600" spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">litres</div>
        </div>
      </div>

      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>
    </form>

    <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}