{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a farm - farm name – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">What do you want to call this washed area?</h1>

    <!-- <p class="govuk-hint">Enter a name for this area.</p> -->
    
    <form action="volume_question" method="post" novalidate="" autocomplete="off">      

      <div class="govuk-form-group">
        <!-- <label class="govuk-label" for="event-name">
          What do you want to call this wash area?
        </label> -->
        <input class="govuk-input" id="water_name" name="water_name" type="text" autocomplete="">
      </div>

      <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>
        
    </form>

    <p class="govuk-body cancel-link"><a href="/farm/farms">Cancel</a></p>

  </div>
</div>

{% endblock %}