{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Where does the water drain to from Milk Parlour?
    </h1>

    <!-- <p class="govuk-body">
    </p> -->

    <form class="form" action="volume_question" method="post">
    
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="store-hint">
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dirty" name="store" type="radio" value="dirty">
              <label class="govuk-label govuk-radios__label" for="dirty">
                Dirty water store
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cattle" name="store" type="radio" value="cattle">
              <label class="govuk-label govuk-radios__label" for="cattle">
                Cattle slurry store
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pig" name="store" type="radio" value="pig">
              <label class="govuk-label govuk-radios__label" for="pig">
                Pig slurry store
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}