{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

{% macro monthitem(name, year) %}
  <h2 class="govuk-heading-s">{{ name }} {{ year }}</h2>
  <div class="govuk-form-group">
    <label class="govuk-label" for="total_area">
      What is the volume of water used each wash day in {{ name }}?
    </label>
    <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="total_area" name="total_area" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">litres</div>
    </div>
  </div>
  <div class="govuk-form-group margin-bottom-forty">
    <label class="govuk-label" for="total_area">
      What is the number of wash days in {{ name }}?
    </label>
    <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="total_area" name="total_area" type="text" spellcheck="false" autocomplete="off">
      <div class="govuk-input__suffix" aria-hidden="true">litres</div>
    </div>
  </div>
{% endmacro %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Volume of water used on {{data.wash_area_name}}
    </h1>
    
    <form action="check" method="post" novalidate="">
              
      {{ monthitem ("October", "2024") }}
      {{ monthitem ("November", "2024") }}
      {{ monthitem ("December", "2024") }}
      {{ monthitem ("January", "2025") }}
      {{ monthitem ("February", "2025") }}
      {{ monthitem ("March", "2025") }}
      {{ monthitem ("April", "2025") }}
      {{ monthitem ("May", "2025") }}
      {{ monthitem ("June", "2025") }}
      {{ monthitem ("July", "2025") }}
      {{ monthitem ("August", "2025") }}
      {{ monthitem ("September", "2025") }}

      <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

  </div>
</div>

{% endblock %}