{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Total daily volume of water and number of wash days in October {{data.oaktree_farm.planning_year}}
      </h1>

      <form action="copy" method="post" novalidate="">

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            Total daily volume of water for all cattle types using {{data.wash_area_name}} in October {{data.oaktree_farm.planning_year}}
          </label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" value="20" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">Litres</div>
          </div>
        </div>

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            How many days is {{data.wash_area_name}} washed in October?
          </label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-3" id="livestock_number" name="livestock_number" value="31" type="text" aria-valuemin="31" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">Days</div>
          </div>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
