{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <form action="farm_area_handler" method="post" novalidate="">

        <h1 class="govuk-heading-l">Farm area</h1>

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            What is the total farm area?
          </label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
          </div>
        </div>

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            What is the total area in an NVZ?
          </label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
          </div>
        </div>

        <div class="margin-bottom-forty">
          <p></p>
        </div>

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
