{% extends "layouts/main.html" %}

{% set bodyClasses = "landscape" %}

{% block pageTitle %}
  Oaktree lane farm - N-max limits 2025
{% endblock %}
{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

<a href="hub_reset_router" class="noprint govuk-back-link">{{data.oaktree_farm.name}}</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row noprint">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Print or save as a PDF</h2>
      <ol class="govuk-list govuk-list--number">
        <li>To save as a PDF choose 'Print or save as a PDF',</li>
        <li>Select, 'Save as PDF', where you are asked to select a printer,</li>
        <li>Select, 'Print', then choose where to save the PDF.</li>
      </ol>
      <form class="" action="" method="post" novalidate="">    
        <button onclick="window.print()" class="govuk-button" data-module="govuk-button">
          Print or save as a PDF
        </button>
      </form>

    </div>
  </div>

  <div class="govuk-grid-row noprint margin-bottom-thirty">
    <div class="govuk-grid-column-full">

      <hr>

    </div>
  </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span>
      <h1 class="govuk-heading-xl margin-bottom-twenty">{{data.content.n_loading_title}} {{ data.oaktree_farm.planning_year }}</h1>
      <p class="govuk-body">Created on {{data.content.todays_date}}</p>
    </div>
  </div>

  <div class="govuk-grid-row margin-bottom-twenty">
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">Oaktree Lane Farm, <br>
        24 South Road<br> 
        Hexham<br>  
        Northumberland<br> 
        NE46 7LQ</p>
    </div>
      
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">CPH number: 123456789<br>
        Single Business Identifier: 123456789<br>
      </p>
          
    </div>

  </div>

  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Private beta disclaimer</h2>
      {% include "/templates/beta_disclaimer.html" ignore missing %} 
      <hr class="seperator_forty">

    </div>
  </div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-thirty">

      <h2 class="govuk-heading-m margin-bottom-thirty">This is a derogated farm.</h2>

      <h2 class="govuk-heading-m">
        Compliance with NVZ derogation
      </h2>
      <p class="govuk-body">
        The information entered indicates compliance with the NVZ derogation, and best practice for land outside an NVZ.
      </p>
      {% include "./templates/compliance_derogation.html" ignore missing %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-thirty">

      <h2 class="govuk-heading-m">
        Farm area
      </h2>
      {% include "./templates/farm_area_derogation.html" ignore missing %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-thirty">

      <h2 class="govuk-heading-m">
        Livestock manure total nitrogen (N) and phosphate (P2O5) loading
      </h2>
      {% include "./templates/livestock_manure_derogation.html" ignore missing %}

    </div>
  </div>

  <div id="printbreak"></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-thirty">

      <h2 class="govuk-heading-m">
        Grazing livestock manure total nitrogen (N) and phosphate (P2O5) production
      </h2>
      <p class="govuk-body">Home-produced manures from any cattle, sheep, deer, goats, or horses</p>
      <!-- <p>Total livestock manure nitrogen (N) production: 3,944kg</p> -->
      {% include "./templates/grazing_livestock_derogation.html" ignore missing %}

    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full margin-bottom-thirty">
        <h2 class="govuk-heading-m">
          Non-grazing livestock manure total nitrogen (N) and phosphate (P2O5) production
        </h2>
        <p class="govuk-body">Home-produced manures from any pigs, poultry or veal calves, whether they are housed or not.</p>
        {% include "./templates/pigs_derogation.html" ignore missing %}
      </div>
    </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-ten">

      <h2 class="govuk-heading-m">
        Imports of livestock manure
      </h2>
        {% include "./templates/imports_derogation.html" ignore missing %}
        <!-- <p class="govuk-body">None</p> -->
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full margin-bottom-ten">

      <h2 class="govuk-heading-m">
        Exports of livestock manure
      </h2>
        <p class="govuk-body">None</p>
      <h2 class="govuk-heading-s">
        Livestock manure imports and exports net total: +15,000 tonnes
      </h2>
    </div>
  </div>

    <hr class="seperator_twenty">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full margin-bottom-ten">
        <h2 class="govuk-heading-m">
          Notes
        </h2>
        <p class="govuk-body">None entered</p>    
      </div>
  </div>
  
  <!-- <div id="printbreak"></div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="margin-bottom-forty">
      <h2 class="govuk-heading-s">
        About recommendations, guidance, and advice
      </h2>
      {% include "/templates/recommendations.html" ignore missing %}

  </div>
</div>
  


{% endblock %}
