{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}

<a href="table.html" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Oak Field</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="feild-detail">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">National Grid number</dt>
        <dd class="govuk-summary-list__value">NZ101508</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Other reference</dt>
        <dd class="govuk-summary-list__value">None</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Field area</dt>
        <dd class="govuk-summary-list__value">10 hectares</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Cropped area</dt>
        <dd class="govuk-summary-list__value">6 hectares</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Manure non-spreading area</dt>
        <dd class="govuk-summary-list__value">4 hectares</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Soil type</dt>
        <dd class="govuk-summary-list__value">Medium</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Potassium releasing clay</dt>
        <dd class="govuk-summary-list__value">No</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Nitrate Vulnerable Zone</dt>
        <dd class="govuk-summary-list__value">No</dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd> -->
      </div>
    </dl>

    <div>
      <form action="add-field" method="post" novalidate="">
        <button class="govuk-button" data-module="govuk-button">Update</button>
      </form>
    </div>
    
  </div>
</div>
{% endblock %}