{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which years was {{data.temp_field_name}} used for grass? 
      </h1>

      <form class="form" action="previous_use_router" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              How was it used in 2023?
            </legend>
            <!-- <div id="defoliation_order-hint" class="govuk-hint">
              This includes changing your last name or spelling your name differently.
            </div> -->
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previously_grass-1" name="previously_grass" type="radio" value="arable">
                <label class="govuk-label govuk-radios__label" for="previously_grass-1">
                  Arable crops
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previously_grass-2" name="previously_grass" type="radio" value="grass">
                <label class="govuk-label govuk-radios__label" for="previously_grass-2">
                  Grass
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previously_grass-3" name="previously_grass" type="radio" value="fallow">
                <label class="govuk-label govuk-radios__label" for="previously_grass-3">
                  Fallow or any other use
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              How was it used in 2022?
            </legend>

            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="use_2022-1" name="use_2022" type="radio" value="arable">
                <label class="govuk-label govuk-radios__label" for="use_2022-1">
                  Arable crops
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="use_2022-2" name="use_2022" type="radio" value="grass">
                <label class="govuk-label govuk-radios__label" for="use_2022-2">
                  Grass
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="use_2022-3" name="use_2022" type="radio" value="fallow">
                <label class="govuk-label govuk-radios__label" for="use_2022-3">
                  Fallow or any other use
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              How was it used in 2021?
            </legend>

            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="use_2021-1" name="use_2021" type="radio" value="arable">
                <label class="govuk-label govuk-radios__label" for="use_2021-1">
                  Arable crops
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="use_2021-2" name="use_2021" type="radio" value="grass">
                <label class="govuk-label govuk-radios__label" for="use_2021-2">
                  Grass
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="use_2021-3" name="use_2021" type="radio" value="fallow">
                <label class="govuk-label govuk-radios__label" for="use_2021-3">
                  Fallow or any other use
                </label>
              </div>
            </div>

          </fieldset>
        </div>
                    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
