{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span>
      <h1 class="govuk-heading-l">
       First {{data.content.non_organic_term | lower}} application for  Long Field
      </h1>
    </div>

    <div class="govuk-grid-column-full">

      <div id="rec_review">
        <h2 class="govuk-heading-s">
          {{data.content.non_organic_term}} recommendations
        </h2>
        {% include "templates/recs_template" %}
      </div>
    </div>

    <div id="recs_header"class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        How much of each nutrient do you plan to include in this first application?
      </h2>  

      <form class="form" action="create/check" method="post">

        {% if data.chosen_nitrogen == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Nitrogen (N)</strong><br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
      {% endif %}

      {% if data.chosen_phosphate == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Phosphate (P2O5)</strong>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {% if data.chosen_potash == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Potash (K2O)</strong><br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {% if data.chosen_sulphur == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Sulphur (SO3)	</strong>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {% if data.chosen_lime == true %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            <strong>Lime</strong><br>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kg per hectare</div>
          </div>
        </div>
        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a href="fields.html">Cancel</a>
      </p>
    
      </div>
  </div>


{% endblock %}
