{{ govukSummaryList({
rows: [
{
  key: {
    text: "What is the established date?"
  },
  value: {
    text: "No"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: "Question 1"
      }
    ]
  }
}
, {
    key: {
      text: "What is the current sward?"
    },
    value: {
      text: "Arable"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 1"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "How was the field used last year?"
    },
    value: {
      text: "Arable cereals"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 2"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Which livestock system will you use?"
    },
    value: {
      text: "Wheat, Winter"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "When will you sow?"
    },
    value: {
      text: "1 October 2024"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What is the expected milk yield?"
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What is the concentrate use?"
    },
    value: {
      text: "Milling"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "What is the stocking rate?"
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "How will you manage the grass in " + data.chosenfield.name
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "How many defoliations will you have in " + data.chosenfield.name
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Defoliations for " + data.chosenfield.name
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "Has the grass be ploughed or will the grass be ploughed in " + data.chosenfield.name + " this harvest year"
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "When was grass the grass ploughed or when will it be ploughed?"
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
]
}) }}