{{ govukSummaryList({
rows: [
{
  key: {
    text: "What is the established date?"
  },
  value: {
    text: "1 May 2023"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: "Question 1"
      }
    ]
  }
}
, {
    key: {
      text: "What is the current sward?"
    },
    value: {
      text: "Spring sown"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 1"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "How was the field used last year?"
    },
    value: {
      text: "Arable crops"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 2"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Which livestock system will you use?"
    },
    value: {
      text: "Dairy"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What is the expected milk yield?"
    },
    value: {
      text: " litres per cow per year"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What is the concentrate use?"
    },
    value: {
      text: "t DM / animal per year"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "What is the stocking rate?"
    },
    value: {
      text: "1"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "How will you manage the grass in " + data.chosenfield.name
    },
    value: {
      text: "Silage and grazing"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "How many defoliations will you have in " + data.chosenfield.name
    },
    value: {
      text: "Six"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Defoliations for " + data.chosenfield.name
    },
    value: {
      text: "Grazing. Silage. Grazing. Grazing. Grazing. Grazing."
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "Has the grass be ploughed or will the grass be ploughed in " + data.chosenfield.name + " this harvest year"
    },
    value: {
      text: "Yes"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "When was grass the grass ploughed or when will it be ploughed?"
    },
    value: {
      text: "5 April 2023"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
]
}) }}