  {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Do you plan to spread " + data.non_organic_term | lower + "?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "When do you first plan to spread " + data.non_organic_term | lower + "?"
      },
      value: {
        text: "29 April 2024"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "How much of each nutrient do you plan to include?"
      },
      value: {
        text: "40 kg Nitrogen(N)" 
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Do you plan to spread more " + data.non_organic_term | lower + "?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "When do you next plan to spread " + data.non_organic_term | lower + "?"
      },
      value: {
        text: "15 May 2024"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "How much of each nutrient do you plan to include?"
      },
      value: {
        text: "70 kg Nitrogen (N) 40 kg Sulphur (SO3)"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Do you plan to spread more " + data.non_organic_term | lower + "?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
  }) }}