{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "templates/title_span.html" %}
      <h1 class="govuk-heading-l">
        Which type of manure will you use in this application?
      </h1>

      <h2 class="govuk-heading-s">
        Select from commonly used types
      </h2>

      <form class="form" action="manure_type_specific" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cattle_fym" name="manure_type" type="radio" value="cattle_fym">
                <label class="govuk-label govuk-radios__label" for="cattle_fym">
                  Cattle farmyard manure (FYM)
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="treatment_cake" name="manure_type" type="radio" value="treatment_cake">
                <label class="govuk-label govuk-radios__label" for="treatment_cake">
                  Water treatment cake
                </label>
              </div>

              <h2 class="govuk-heading-s">
                Or
              </h2>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="treatment_cake" name="manure_type" type="radio" value="treatment_cake">
                <label class="govuk-label govuk-radios__label" for="treatment_cake">
                  Select from all manure type
                </label>
              </div>

            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}







<!-- Cattle farmyard manure (FYM)
  Cattle FYM - fresh
  Cattle FYM - old	

Pig farmyard manure (FYM)
  Pig FYM - fresh	
  Pig FYM - old	

Sheep farmyard manure (FYM)
  Sheep FYM - fresh	
  Sheep FYM - old

Duck farmyard manure (FYM)
  Duck FYM - fresh	
  Duck FYM - old	

Layer manure	

Broiler / Turkey litter	

Horse Farmyard manure (FYM)	

Goat Farmyard manure (FYM)	

Cattle slurry	
  Cattle slurry, strainer box liquid
  Cattle slurry, weeping wall liquid
  Cattle slurry, mechanically separated liquid
  Cattle slurry, separated solids

Pig slurry	
  Pig slurry, separated solids
  Pig slurry, separated liquid

Dirty water	

Biosolids
  Biosolids liquid digested	
  Brosolids, digested cake	
  Biosolids, thermally dried	
  Brosolids, lime stabilised	
  Biosolids, composted	

Green
Green compost	
Green / Food compost	

Digestate
  Digestate (whole), food-based
  Digestate (whole), pig slurry-based
  Digestate (whole), cattle slurry-based

Paper crumble
  Paper crumble, chemically / physically treated
  Paper crumble, biologically treated

Waste food
  Waste food, general	
  Waste food, dairy	
  Waste food, soft drinks	
  Waste food, brewing	

Mushroom compost	

Water treatment cake

Straw mulch	 -->


