{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% include "templates/title_span.html" %}
    <h1 class="govuk-heading-l">
      {{data.non_organic_term }} recommendations<br> for {{data.chosenfield.name}}
    </h1>
    
    {% if data.field_use == 'arable' %}
      <p class="govuk-body">Crop type: {{data.chosen_crop}}</p>
    {% else %}
      <p class="govuk-body">Crop type: Grass</p>
    {% endif %}

<table class="govuk-table recomendation-table data-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Big Field</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Index / pH</th>
      <th scope="col" class="govuk-table__header">Crop need<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Manure<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Fertiliser or Lime<br><span class="hint">per hectare</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Nitrogen (N)</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">150 kg</td>
      <td class="govuk-table__cell">38 kg</td>
      <td class="govuk-table__cell">112 kg</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Phosphate (P2O5)</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">65 kg</td>
      <td class="govuk-table__cell">48 kg</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Potash (K2O)</td>
      <td class="govuk-table__cell">2-</td>
      <td class="govuk-table__cell">85 kg</td>
      <td class="govuk-table__cell">128 kg</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Sulphur (SO3)</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">40 kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">40 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Lime</td>
      <td class="govuk-table__cell">6.5</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
  </tbody>
</table>

<!-- <form action="fertiliser_if" method="post" novalidate>
  <div class="button">
    {{ govukButton({
      text: "Add " + data.non_organic_term | lower + " details"
    }) }}
  </div>

</form> -->

<p class="govuk-body">
  <a href="fertiliser_if">Continue to {{data.non_organic_term | lower}} plan</a>
</p>

<p class="govuk-body">
  <a href="check_one">Edit {{data.organic_term | lower}} plan</a>
</p>

<p class="govuk-body">
  <a href="fields.html">Save recommendations and view all fields</a>
</p>

</div>
</div>
{% endblock %}
