{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What type of {{ data.manure_group_id | convert_manure_group_id }} would you like use?
      </h1>

      <p class="govuk-hint">Select one option. These options come from the AHDB Nutrient Management Guide (RB209).</p>

      <form class="form" action="manuretype_update_handler" method="post">

        <div class="govuk-form-group">

          <div class="govuk-radios" data-module="govuk-radios">
            
              {% for x in data.manure_types %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{x.name}}" name="manure_type" type="radio" value="{{x.name}}">
                  <label class="govuk-label govuk-radios__label" for="{{x.name}}">
                    {{x.display_name}}
                  </label>
                </div>
            {% endfor %}

          </div>

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}