

<!-- {% macro values(value_1, value_2, value_3, total) %}
    {% if total == null%}
        {% set total = value_1 + value_2 + value_3 %}
    {% endif %}
    {% if data.manner_application_three == true %}
        <td class="govuk-table__cell">£{{value_1}}</td>
        <td class="govuk-table__cell">£{{value_2}}</td>
        <td class="govuk-table__cell">£{{value_3}}</td>
        <th scope="col" class="govuk-table__header">£{{total}}</th>
    {% elif data.manner_application_two == true  %}
        <td class="govuk-table__cell">£{{value_1}}</td>
        <td class="govuk-table__cell">£{{value_2}}</td>
        <th scope="col" class="govuk-table__header">£{{total}}</th>
    {% else %}
        <td class="govuk-table__cell">£{{total}}</td>
    {% endif %}
{% endmacro %} -->

{% macro values(value_1, value_2, value_3, measurement, total) %}
{% set count = 0 %}
    {% if (data.manner_applications | length) >= 1 %}
        <td class="govuk-table__cell">£{{value_1}}</td>
        {% set count = count + value_1 %}
    {% endif %}
    {% if (data.manner_applications | length) >= 2 %}
        <td class="govuk-table__cell">£{{value_2}}</td>
        {% set count = count + value_2 %}
    {% endif %}
    {% if (data.manner_applications | length) == 3 %}
        <td class="govuk-table__cell">£{{value_3}}</td>
        {% set count = count + value_3 %}
    {% endif %}
    {% if total == null %}
        {% set total = count %}
    {% endif %}
    {% if (data.manner_applications | length) >= 2 %}
        <td class="govuk-table__cell">£{{total}}</td>
    {% endif %}
{% endmacro %}


<h2 class="govuk-heading-l">Manure value</h2>
<div class="margin-bottom-forty">
    <table class="govuk-table margin-bottom-forty">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                {% if (data.manner_applications | length) >= 1 %}
                    <th scope="col" class="govuk-table__header">Application 1</th>
                {% endif %}
                {% if (data.manner_applications | length) >= 2 %}
                    <th scope="col" class="govuk-table__header">Application 2</th>
                {% endif %}
                {% if (data.manner_applications | length) == 3 %}
                    <th scope="col" class="govuk-table__header">Application 3</th>
                {% endif %}
                {% if (data.manner_applications | length) >= 2 %}
                    <th scope="col" class="govuk-table__header">Total</th>
                {% endif %}
        </thead>    
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Crop available N (per hectare)</th>
                 {{ values(13, 13, 13 ) }}
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total P2O5 (per hectare)</th>
                 {{ values(92, 92, 92 ) }}
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total K20 (per hectare)</th>
                 {{ values(138, 138, 138 ) }}
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Potential financial value of manure application(s)</th>
                 {{ values(138, 138, 138, 729 ) }}
            </tr>
        </tbody>
    </table>
</div>
