<h2 class="govuk-heading-l">Manure Value</h2>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"> </th>
          <th scope="col" class="govuk-table__header">Application 1</th>
          <th scope="col" class="govuk-table__header">Total</th>
        </tr>
      </thead>    
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row"></tr>
            <th scope="row" class="govuk-table__header">Crop available N (£/ha)</th>
            <td class="govuk-table__cell">£13</td>
            <td class="govuk-table__cell">£13</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total P,05 (£/ha)</th>
            <td class="govuk-table__cell">£92</td>
            <td class="govuk-table__cell">£92</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total K20 (£/ha)</th>
            <td class="govuk-table__cell">£138</td>
            <td class="govuk-table__cell">£138</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Potential financial value of manure application(s)</th>
            <th scope="row" class="govuk-table__header">£138</th>
            <th scope="row" class="govuk-table__header">£138</th>
        </tr>
    </tbody>
</table>