<h2 class="govuk-heading-l">Manure value</h2>
<div class="margin-bottom-forty">
	<table class="govuk-table margin-bottom-forty data-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header">Crop available N</th>
				<th scope="row" class="govuk-table__header">Total P2O5</th>
				<th scope="row" class="govuk-table__header">Total K2O</th>
				<th scope="row" class="govuk-table__header">Potential financial value</th>
			</tr>
		</thead>
		<tbody>
			{% for item in data.manner_applications %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Cattle Farmyard manure - Fresh</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">£13</td>
					<td class="govuk-table__cell">£92</td>
					<td class="govuk-table__cell">£138</td>
					<td class="govuk-table__cell">£138</td>
				</tr>
			{% endfor %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<td class="govuk-table__cell">Totals</td>
					<td class="govuk-table__cell">-</td>
					<td class="govuk-table__cell">£13</td>
					<td class="govuk-table__cell">£92</td>
					<td class="govuk-table__cell">£138</td>
					<td class="govuk-table__cell">£138</td>
				</tr>
			{% endif %}
		</tbody>
  </table>
</div>
