
<div class="two_thirds">
    <div class="margin-bottom-forty">
        <h2 class="govuk-heading-m">Nitrogen</h2>
        <table class="govuk-table manner_table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row"></tr>
                    <th scope="row" class="govuk-table__header">Total nitrogen (N)</th>
                    <td class="govuk-table__cell">125 kg per hectare</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Mineralised nitrogen (N)</th>
                    <td class="govuk-table__cell">1 kg per hectare</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="margin-bottom-forty">
        <h2 class="govuk-heading-m">Nitrogen losses</h2>
        <table class="govuk-table manner_table ">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row"></tr>
                    <th scope="row" class="govuk-table__header">Nitrate-N</th>
                    <td class="govuk-table__cell">2</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Ammonia-N</th>
                    <td class="govuk-table__cell">22 kg per hectare</td>
                </tr>
                <tr class="govuk-table__row"></tr>
                    <th scope="row" class="govuk-table__header">Denitrified-N</th>
                    <td class="govuk-table__cell">1 kg per hectare</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="margin-bottom-forty">
        <h2 class="govuk-heading-m">Crop available nitrogen (N)</h2>
        <table class="govuk-table manner_table">
            <tbody class="govuk-table__body">    
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Current grass crop</th>
                    <td class="govuk-table__cell">8 kg per hectare</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Next grass crop - current year</th>
                    <td class="govuk-table__cell">6 kg per hectare</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Following crop - year 2</th>
                    <td class="govuk-table__cell">3 kg per hectare</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
