<p class="govuk-body">All values are per hectare</p>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Nitrogen (N)</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header number-three">Total nitrogen (N)</th>
				<th scope="row" class="govuk-table__header">Mineralised nitrogen (N)</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% set application_count = 0 %}
			{% for item in data.manner_applications %}
				{% set application_count = application_count + 1 %}
				<tr>
					<td class="govuk-table__cell">{{application_count}}</td>
					<td class="govuk-table__cell">{{item.manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">125kg</td>
					<td class="govuk-table__cell">1kg</td>
				</tr>
			{% endfor %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<td class="govuk-table__cell">125kg</td>
					<td class="govuk-table__cell">1kg</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Nitrogen (N) losses</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header number-three">Nitrate-N</th>
				<th scope="row" class="govuk-table__header">Ammonia-N</th>
				<th scope="row" class="govuk-table__header">Denitrified-N</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% set application_count = 0 %}
			{% for item in data.manner_applications %}
				{% set application_count = application_count + 1 %}
				<tr>
					<td class="govuk-table__cell">{{application_count}}</td>
					<td class="govuk-table__cell">{{item.manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">2kg</td>
					<td class="govuk-table__cell">22kg</td>
					<td class="govuk-table__cell">1kg</td>
				</tr>
			{% endfor %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<td class="govuk-table__cell">2kg</td>
					<td class="govuk-table__cell">22kg</td>
					<td class="govuk-table__cell">1kg</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Crop available nitrogen (N)</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header">Current grass crop</th>
				<th scope="row" class="govuk-table__header">Next grass crop - current year</th>
				<th scope="row" class="govuk-table__header">Following crop - year 2</th>
				<th scope="row" class="govuk-table__header">Nitrogen efficiency</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% set application_count = 0 %}
			{% for item in data.manner_applications %}
				{% set application_count = application_count + 1 %}
				<tr>
					<td class="govuk-table__cell">{{application_count}}</td>
					<td class="govuk-table__cell">{{item.manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">8kg</td>
					<td class="govuk-table__cell">6kg</td>
					<td class="govuk-table__cell">3kg</td>
					<td class="govuk-table__cell">29%</td>
				</tr>
			{% endfor %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<td class="govuk-table__cell">8kg</td>
					<td class="govuk-table__cell">6kg</td>
					<td class="govuk-table__cell">3kg</td>
					<td class="govuk-table__cell">29%</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Phosphate, Potash, Sulphur and Magnesium</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header">Total P2O5</th>
				<th scope="row" class="govuk-table__header">Crop available P2O5</th>
				<th scope="row" class="govuk-table__header">Total K2O</th>
				<th scope="row" class="govuk-table__header">Crop available K2O</th>
				<th scope="row" class="govuk-table__header">Crop available SO3</th>
				<th scope="row" class="govuk-table__header">Total SO3</th>
				<th scope="row" class="govuk-table__header">Total MgO</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% set application_count = 0 %}
			{% for item in data.manner_applications %}
				{% set application_count = application_count + 1 %}
				<tr>
					<td class="govuk-table__cell">{{application_count}}</td>
					<td class="govuk-table__cell">{{item.manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">115kg</td>
					<td class="govuk-table__cell">57kg</td>
					<td class="govuk-table__cell">55kg</td>
					<td class="govuk-table__cell">50kg</td>
					<td class="govuk-table__cell">50kg</td>
					<td class="govuk-table__cell">0</td>
					<td class="govuk-table__cell">0</td>
				</tr>
			{% endfor %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">115kg</th>
					<th scope="row" class="govuk-table__header">57kg</th>
					<th scope="row" class="govuk-table__header">55kg</th>
					<th scope="row" class="govuk-table__header">50kg</th>
					<th scope="row" class="govuk-table__header">50kg</th>
					<th scope="row" class="govuk-table__header">0</th>
					<th scope="row" class="govuk-table__header">0</th>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>
