<p class="govuk-body">All values are per hectare</p>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Nitrogen (N)</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header number-three">Total nitrogen (N)</th>
				<th scope="row" class="govuk-table__header">Mineralised nitrogen (N)</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr>
				<td class="govuk-table__cell">1</td>
				<td class="govuk-table__cell">{{data.manner_applications[0].manuretype.name}}</td>
				<td class="govuk-table__cell">21/06/2025</td>
				<td class="govuk-table__cell">52kg</td>
				<td class="govuk-table__cell">1kg</td>
			</tr>
			{% if (data.manner_applications | length) == 2 %}
			<tr>
				<td class="govuk-table__cell">2</td>
				<td class="govuk-table__cell">{{data.manner_applications[1].manuretype.name}}</td>
				<td class="govuk-table__cell">21/06/2025</td>
				<td class="govuk-table__cell">180kg</td>
				<td class="govuk-table__cell">7kg</td>
			</tr>
			{% endif %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<td class="govuk-table__cell">232kg</td>
					<td class="govuk-table__cell">8kg</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Nitrogen (N) losses</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header number-three">Nitrate-N</th>
				<th scope="row" class="govuk-table__header">Ammonia-N</th>
				<th scope="row" class="govuk-table__header">Denitrified-N</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
				<tr>
					<td class="govuk-table__cell">1</td>
					<td class="govuk-table__cell">{{data.manner_applications[0].manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">10kg</td>
					<td class="govuk-table__cell">2kg</td>
					<td class="govuk-table__cell">2kg</td>
				</tr>
			{% if (data.manner_applications | length) == 2 %}
				<tr>
				<td class="govuk-table__cell">2</td>
				<td class="govuk-table__cell">{{data.manner_applications[1].manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">31kg</td>
					<td class="govuk-table__cell">3kg</td>
					<td class="govuk-table__cell">9kg</td>
				</tr>
			{% endif %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<td class="govuk-table__cell">41kg</td>
					<td class="govuk-table__cell">5kg</td>
					<td class="govuk-table__cell">11kg</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Crop available nitrogen (N)</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header">Current crop</th>
				<th scope="row" class="govuk-table__header">Following crop - year 2</th>
				<th scope="row" class="govuk-table__header">Nitrogen efficiency</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr>
				<td class="govuk-table__cell">1</td>
				<td class="govuk-table__cell">{{data.manner_applications[0].manuretype.name}}</td>
				<td class="govuk-table__cell">21/06/2025</td>
				<td class="govuk-table__cell">11kg</td>
				<td class="govuk-table__cell">1kg</td>
				<td class="govuk-table__cell">22%</td>
			</tr>
			{% if (data.manner_applications | length) == 2 %}
				<tr>
				<td class="govuk-table__cell">2</td>
				<td class="govuk-table__cell">{{data.manner_applications[1].manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">88kg</td>
					<td class="govuk-table__cell">2kg</td>
					<td class="govuk-table__cell">49%</td>
				</tr>
			{% endif %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<td class="govuk-table__cell">99kg</td>
					<td class="govuk-table__cell">3kg</td>
					<td class="govuk-table__cell">49%</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>

<div class="margin-bottom-fifty">
	<h2 class="govuk-heading-m">Phosphate, Potash, Sulphur and Magnesium</h2>
	<table class="govuk-table manner_table-v2">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Application</th>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header">Total P2O5</th>
				<th scope="row" class="govuk-table__header">Crop available P2O5</th>
				<th scope="row" class="govuk-table__header">Total K2O</th>
				<th scope="row" class="govuk-table__header">Crop available K2O</th>
				<th scope="row" class="govuk-table__header">Total SO3</th>
				<th scope="row" class="govuk-table__header">Crop available SO3</th>
				<th scope="row" class="govuk-table__header">Total MgO</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr>
				<td class="govuk-table__cell">1</td>
				<td class="govuk-table__cell">{{data.manner_applications[0].manuretype.name}}</td>
				<td class="govuk-table__cell">21/06/2025</td>
				<td class="govuk-table__cell">24kg</td>
				<td class="govuk-table__cell">12kg</td>
				<td class="govuk-table__cell">64kg</td>
				<td class="govuk-table__cell">58kg</td>
				<td class="govuk-table__cell">14kg</td>
				<td class="govuk-table__cell">14kg</td>
				<td class="govuk-table__cell">12kg</td>
			</tr>
			{% if (data.manner_applications | length) == 2 %}
				<tr>
				<td class="govuk-table__cell">2</td>
				<td class="govuk-table__cell">{{data.manner_applications[1].manuretype.name}}</td>
					<td class="govuk-table__cell">21/06/2025</td>
					<td class="govuk-table__cell">90kg</td>
					<td class="govuk-table__cell">45kg</td>
					<td class="govuk-table__cell">120kg</td>
					<td class="govuk-table__cell">108kg</td>
					<td class="govuk-table__cell">50kg</td>
					<td class="govuk-table__cell">50kg</td>
					<td class="govuk-table__cell">35kg</td>
				</tr>
			{% endif %}
			{% if (data.manner_applications | length) >= 2 %}
				<tr class="total_row">
					<th scope="row" class="govuk-table__header">Totals</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">-</th>
					<th scope="row" class="govuk-table__header">114kg</th>
					<th scope="row" class="govuk-table__header">57kg</th>
					<th scope="row" class="govuk-table__header">184kg</th>
					<th scope="row" class="govuk-table__header">166kg</th>
					<th scope="row" class="govuk-table__header">64kg</th>
					<th scope="row" class="govuk-table__header">64kg</th>
					<th scope="row" class="govuk-table__header">47kg</th>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>
