<h2 class="govuk-heading-m">Phosphate, Potash, Sulphur and Magnesium</h2>
<div class="two_thirds">
  <table class="govuk-table manner_table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"> </th>
        <th scope="col" class="govuk-table__header">Total</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row"></tr>
        <th scope="row" class="govuk-table__header">Total P2O5</th>
        <td class="govuk-table__cell">0 kg per hectare</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Crop available P2O5</th>
        <td class="govuk-table__cell">0 kg per hectare</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total K2O</th>
        <td class="govuk-table__cell">0 kg per hectare</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Crop available K2O</th>
        <td class="govuk-table__cell">0 kg per hectare</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total SO5</th>
        <td class="govuk-table__cell">0 kg per hectare</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total MgO</th>
        <td class="govuk-table__cell">0 kg per hectare</td>
      </tr>
    </tbody>
  </table>
</div>