<h2 class="govuk-heading-l">Phosphate, Potash, Sulphur and Magnesium</h2>

<table class="govuk-table manner_table">
  <!-- <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead> -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row"></tr>
      <th scope="row" class="govuk-table__header">Total P₂O₅</th>
      <td class="govuk-table__cell">0 kg per hectare</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Crop available P₂O₅</th>
      <td class="govuk-table__cell">0 kg per hectare</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total K₂O</th>
      <td class="govuk-table__cell">0 kg per hectare</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Crop available K₂O</th>
      <td class="govuk-table__cell">0 kg per hectare</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total SO₃</th>
      <td class="govuk-table__cell">0 kg per hectare</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total MgO</th>
      <td class="govuk-table__cell">0 kg per hectare</td>
    </tr>
  </tbody>
</table>
