<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How would you like to enter the application rate for your {{data.manure_type.name}}?</dt>
    {% if data.manure_type.liquid == true %}
    <dd class="govuk-summary-list__value">Use a typical application rate of 20 tonnes per hectare</dd>
    {% else %}
    <dd class="govuk-summary-list__value">Use a typical application rate of 20 tonnes per hectare</dd>
    {% endif %}
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>
