{% extends "layouts/main.html" %}

{% block pageTitle %}
View or update a group's crop information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <h1 class="govuk-heading-l">
      Update the {{data.chosen_group.crop_reference}} details for {{data.chosen_field.name}} 
    </h1>

    <!-- <div class="govuk-inset-text margin-bottom-forty">
      <p class="govuk-body">
        Changes here will be applied to all of these fields. To change a single field select it from your crop plan. <a href="../../plan_view">View the 2025 crop plan</a>.
      </p>
    </div> -->

    <div class="govuk-inset-text margin-bottom-forty">
      <p class="govuk-body">
        Changes here will be applied to {{data.chosen_field.name}} only. To change multiple fields at once you can <a href="../../../crop_plan/update/grass/change_crop">update this crop group</a>.
      </p>
    </div>

    <div class="check-answers">

      <dl class="govuk-summary-list">     
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the crop group?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.chosen_crop_group == "arable-other" %}
            Arable, other
            {% else %}
            {{data.chosen_crop_group | capitalize}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the crop type?</dt>
          <dd class="govuk-summary-list__value">{{data.chosen_group.crop_reference | nameconverter}}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which fields do you plan to grow {{data.chosen_group.crop_reference | nameconverter}} in?</dt>
          <dd class="govuk-summary-list__value">

            {% for field in data.chosen_group.fields %}
            {{field.name}}<br>
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div> -->

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What would you like to call this crop group (optional)?</dt>
          <dd class="govuk-summary-list__value">Crop group {{data.chosen_group.reference}}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div> -->
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you have a date for when you planted your {{data.chosen_group.crop_reference | nameconverter}}, or when you will plant it?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.new_planting_date_day == '' or data.new_planting_date_day == null %}
              {% if data.chosen_group.planting_date == '' or data.chosen_group.planting_date == null %}
                No, I'll enter the date later
              {% else %}
                {{data.chosen_group.planting_date}}            
              {% endif %}            
            {% else %}
              {{data.new_planting_date_day}}/{{data.new_planting_date_month}}/{{data.new_planting_date_year}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="./date/change_date_value">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What will you be growing on the sward?</dt>
          <dd class="govuk-summary-list__value">Grass</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How will these fields be managed?</dt>
          <dd class="govuk-summary-list__value">Grazing and hay</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How many cuts and grazings will you have in these fields?</dt>
          <dd class="govuk-summary-list__value">Four</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the cut and grazing order in these fields?</dt>
          <dd class="govuk-summary-list__value">Cut, graze, graze, graze</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How do you want to enter your target yield for these fields?</dt>
          <dd class="govuk-summary-list__value">Dry weight</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the total target dry matter yield for each of these fields?</dt>
          <dd class="govuk-summary-list__value">10 to 13 tonnes per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

      </dl>    
    </div>
    
    {% if data.plan_type == 'previous' %}
    <br>
    <h2 class="govuk-heading-m">
      {{data.content.organic_term | capitalize }}
    </h2>
    <div class="check-answers">
      {% include "./add_manure/check_manure.html" %}
    </div>
    {% endif %}

    <p class="govuk-body margin-bottom-forty">You can also <a href="">remove {{data.chosen_group.crop_reference | nameconverter}} from {{data.chosen_field.name}} in 2025</a>.</p>

    <form action="crop_group_update_v7_handler" method="post" novalidate>
      {{ govukButton({
        text: "Update this crop group"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
