<ul class="govuk-task-list">

  <!-- <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="derogation" aria-describedby="company-details-1-status">
        Derogation
      </a>
    </div>
    {% if data.oaktree_farm.derogation != null %}
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li> -->

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="separator" aria-describedby="company-details-1-status">
        Mechanical separation
      </a>
    </div>
    {% if data.oaktree_farm.separation != null %}
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li>

  <!-- AREA -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.area_added == true %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="area" aria-describedby="company-details-1-status">
          Farm area
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="area" aria-describedby="company-details-1-status">
          Farm area
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li>


  <!-- RAINWATER COLLECTION AREA -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.rainwater_area_added == true %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="rainwater" aria-describedby="company-details-1-status">
          Rainwater collection areas
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="rainwater" aria-describedby="company-details-1-status">
          Rainwater collection areas
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li>


    <!-- LOW RISK LAND -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.low_risk_land_added == 'added' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../../add_land/check" aria-describedby="company-details-1-status">
          Low run-off risk land
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../../add_land/land_options" aria-describedby="company-details-1-status">
          Low run-off risk land
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li>


  <!-- LIVESTOCK -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.livestock_inventory == 'not_answered' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="livestock_inventory_handler" aria-describedby="company-details-1-status">
          Livestock details
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% else %}
      {% if data.oaktree_farm.livestock_inventory == 'none' %}
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/add_livestock_inventory/livestock_none" aria-describedby="company-details-1-status">
            Livestock details
          </a>
        </div>
      {% else %}
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/farm/livestock/manage_livestock" aria-describedby="company-details-1-status">
            Livestock details
          </a>
        </div>
      {% endif %}
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% endif %}
  </li>


  <!-- MANURE SYSTEM -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.livestock_inventory == 'not_answered' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../../add_livestock_loading/livestock_none" aria-describedby="company-details-1-status">
          Manure systems
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% else %}
      {% if data.oaktree_farm.livestock_inventory == 'none' %}
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../../add_livestock_loading/livestock_none" aria-describedby="company-details-1-status">
            Manure systems
          </a>
        </div>
      {% else %}
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="system_list" aria-describedby="company-details-1-status">
            Manure systems
          </a>
        </div>
      {% endif %}
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% endif %}
  </li>


  <!-- WASH WATER -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.washwater_added == true or data.oaktree_farm.livestock_loading == 'none' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="" aria-describedby="company-details-1-status">
          Wash Water
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="" aria-describedby="company-details-1-status">
          Wash Water
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
    </li>

  
  <!-- MANURE STORAGE -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.storage_added == true %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="reset_manage_storage_message_handler" aria-describedby="company-details-1-status">
          Manure storage
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../../add_storage/material_type" aria-describedby="company-details-1-status">
          Manure storage
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
  </li>  


  <!-- IMPORTS AND EXPORTS -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.imports_exports == 'not_answered' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="export_none" aria-describedby="company-details-1-status">
          Imports and exports of manure
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        {% if data.oaktree_farm.imports_exports == 'none' %}
          <a class="govuk-link govuk-task-list__link" href="export_none" aria-describedby="company-details-1-status">
            Imports and exports of manure
          </a>
        {% else %}
          <a class="govuk-link govuk-task-list__link" href="reset_manage_exports_message_handler" aria-describedby="company-details-1-status">
            Imports and exports of manure
          </a>
        {% endif %}
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
    {% endif %}
  </li>


  <!-- NUTRIENT VALUES -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <!-- <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../../add_export/export_type_none" aria-describedby="company-details-1-status">
          Nutrient prices
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div> -->
      <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="nutrients" aria-describedby="company-details-1-status">
            Nutrient prices
          </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        Completed
      </div>
  </li>

</ul>