<ul class="govuk-task-list">

  <!-- Separation -->
  <!-- <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="separator">
        Mechanical separation
      </a>
    </div>
      <div class="govuk-task-list__status">
        Completed
      </div>
  </li> -->

  
  <!-- Area -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="area">
        Farm area
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.oaktree_farm.area_added == true %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
    </div>
  </li>

  
  <!-- Rainwater collection -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="rainwater">
        Rainwater collection areas
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.oaktree_farm.rainwater_area_added == 'added' or data.oaktree_farm.rainwater_area_added == true %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
    </div>
  </li>


    <!-- Livestock  -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="livestock_inventory_handler">
        Livestock details
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.oaktree_farm.livestock_inventory >= 3 %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
    </div>
  </li>


  <!-- Wash Water -->
  <!-- <li class="govuk-task-list__item govuk-task-list__item--with-link">
    {% if data.oaktree_farm.wash_water_details == true or data.oaktree_farm.livestock_loading == 'none' or data.oaktree_farm.livestock_loading == 4 or data.oaktree_farm.manure_system == 'none' %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="manage_water/index">
          Wash Water 
        </a>
      </div>
      <div class="govuk-task-list__status">
        Completed
      </div>
    {% else %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="water_inventory_handler">
          Wash Water
        </a>
      </div>
      <div class="govuk-task-list__status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    {% endif %}
    </li> -->


  <!-- Wash Water -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="water_inventory_handler">
        Wash water from areas used by livestock
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.oaktree_farm.wash_water == true or data.oaktree_farm.livestock_inventory == 4 %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
    </div>
  </li>  


  <!-- Imports and exports -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="inventory_importexport_handler">
        Imports and exports of organic material
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.oaktree_farm.imports_exports != null %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
    </div>
  </li>


  <!-- Low risk land -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="lowrisk_land_handler">
        Low run-off risk land
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.oaktree_farm.low_risk_land_added != null %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
    </div>
  </li>


  <!-- Manure storage -->
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="storage_totals_handler">
        Manure storage
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.oaktree_farm.storage_figures == true %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
    </div>
  </li>  

</ul>