{% macro yearitem(name) %}
<table class="govuk-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Month</th>
      <th scope="col" class="govuk-table__header">Cattle</th>
      <th scope="col" class="govuk-table__header">Pigs</th>
      <th scope="col" class="govuk-table__header">Poultry</th>
      <th scope="col" class="govuk-table__header">Sheep</th>
      <th scope="col" class="govuk-table__header">Other</th>
      <th scope="col" class="govuk-table__header">Imports</th>
      <th scope="col" class="govuk-table__header">Exports</th>
      <th scope="col" class="govuk-table__header">Clean rainfall</th>
      <th scope="col" class="govuk-table__header">Dirty rainfall</th>
      <th scope="col" class="govuk-table__header">Net total</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {{ monthitem('October', 12, 68, 40) }}
    {{ monthitem('November', 11, 97, 40) }}
    {{ monthitem('December', 11, 96, 40) }}
    {{ monthitem('January', 11, 96, 40) }}
    {{ monthitem('February', 8, 93, 40) }}
    {{ monthitem('March', 9, 94, 40) }}
    {{ monthitem('April', 9, 94, 40) }}
    {{ monthitem('May', 8, 94, 40) }}
    {{ monthitem('June', 11, 95, 40) }}
    {{ monthitem('July', 9, 98, 40) }}
    {{ monthitem('August', 10, 98, 40) }}
    {{ monthitem('September', 10, 98, 40) }}
      <tr class="govuk-table__row total_row">
        <td class="govuk-table__cell">Total</td>
        <td class="govuk-table__cell">977</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">118</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">1,112</td>
      </tr>
  </tbody>
</table>
{% endmacro %}

{% macro yearitem_blank(name) %}
<table class="govuk-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Month</th>
      <th scope="col" class="govuk-table__header">Cattle</th>
      <th scope="col" class="govuk-table__header">Pigs</th>
      <th scope="col" class="govuk-table__header">Poultry</th>
      <th scope="col" class="govuk-table__header">Sheep</th>
      <th scope="col" class="govuk-table__header">Other</th>
      <th scope="col" class="govuk-table__header">Imports</th>
      <th scope="col" class="govuk-table__header">Exports</th>
      <th scope="col" class="govuk-table__header">Clean rainfall</th>
      <th scope="col" class="govuk-table__header">Dirty rainfall</th>
      <th scope="col" class="govuk-table__header">Net total</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {{ monthitem('October', 12, 68, 0) }}
    {{ monthitem('November', 11, 97, 0) }}
    {{ monthitem('December', 11, 96, 0) }}
    {{ monthitem('January', 11, 96, 0) }}
    {{ monthitem('February', 8, 93, 0) }}
    {{ monthitem('March', 9, 94, 0) }}
    {{ monthitem('April', 9, 94, 0) }}
    {{ monthitem('May', 8, 94, 0) }}
    {{ monthitem('June', 11, 95, 0) }}
    {{ monthitem('July', 9, 98, 0) }}
    {{ monthitem('August', 10, 98, 0) }}
    {{ monthitem('September', 10, 98, 0) }}
      <tr class="govuk-table__row total_row">
        <td class="govuk-table__cell">Total</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">118</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">1,112</td>
      </tr>
  </tbody>
</table>
{% endmacro %}


{% macro monthitem(name, rainfall, total, value) %}
<tr class="govuk-table__row">
  <td class="govuk-table__cell">{{name}}</td>
  <td class="govuk-table__cell">{{value}}</td>
  <td class="govuk-table__cell">0</td>
  <td class="govuk-table__cell">0</td>
  <td class="govuk-table__cell">0</td>
  <td class="govuk-table__cell">0</td>
  <td class="govuk-table__cell">0</td>
  <td class="govuk-table__cell">0</td>
  <td class="govuk-table__cell">{{rainfall}}</td>
  <td class="govuk-table__cell">0</td>
  <td class="govuk-table__cell">{{total}}</td>
</tr>
{% endmacro %}

<div class="govuk-tabs" data-module="govuk-tabs">
<h2 class="govuk-tabs__title">
  Contents
</h2>
<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab" href="#slurry">
      Slurry
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#dirty-water">
      Dirty water
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#poultry-manure">
      Poultry layer manure
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#poultry-litter">
      Poultry litter
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#other-manures">
      Other solid manures
    </a>
  </li>
</ul>
<div class="govuk-tabs__panel" id="slurry">
  <h2 class="govuk-heading-m">Slurry</h2>
  <p class="govuk-body">These values are metres cubed</p>
  {{ yearitem () }}
</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dirty-water">
  <h2 class="govuk-heading-m">Dirty water</h2>
  <p class="govuk-body">These values are metres cubed</p>
  {{ yearitem_blank () }}
</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="poultry-manure">
  <h2 class="govuk-heading-m">Poultry layer manure</h2>
  <p class="govuk-body">These values are tonnes</p>
  {{ yearitem_blank () }}
</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="poultry-litter">
  <h2 class="govuk-heading-m">Poultry litter</h2>
  <p class="govuk-body">These values are tonnes</p>
  {{ yearitem_blank () }}
</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other-manures">
  <h2 class="govuk-heading-m">Other solid manures</h2>
  <p class="govuk-body">These values are tonnes</p>
  {{ yearitem_blank () }}

</div>
</div>
