<!-- Quantity -->
 <table id="this-one" class="govuk-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Cattle</th>
      <th scope="col" class="govuk-table__header">Pigs</th>
      <th scope="col" class="govuk-table__header">Poultry</th>
      <th scope="col" class="govuk-table__header">Sheep</th>
      <th scope="col" class="govuk-table__header">Other</th>
      <th scope="col" class="govuk-table__header">Imports</th>
      <th scope="col" class="govuk-table__header">Exports</th>
      <th class="govuk-table__cell">Net total retained on farm</th>
    </tr>
  </thead>
  <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Readily available nitrogen (N)</td>
      <td class="govuk-table__cell">382kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">135kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell strong">517kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total Phosphate (P2O5)</td>
      <td class="govuk-table__cell">2039kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">375kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell strong">2414kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total Potash (K2O)</td>
      <td class="govuk-table__cell">5098kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">270kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell">0kg</td>
      <td class="govuk-table__cell strong">5368kg</td>
    </tr>
  </tbody>
</table>


<!-- Financial Value -->
 <table class="govuk-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Cattle</th>
      <th scope="col" class="govuk-table__header">Pigs</th>
      <th scope="col" class="govuk-table__header">Poultry</th>
      <th scope="col" class="govuk-table__header">Sheep</th>
      <th scope="col" class="govuk-table__header">Other</th>
      <th scope="col" class="govuk-table__header">Imports</th>
      <th scope="col" class="govuk-table__header">Exports</th>
      <th class="govuk-table__cell">Net total retained on farm</th>
    </tr>
  </thead>
  <tbody>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Readily available nitrogen (N) </td>
    <td class="govuk-table__cell">£344</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£122</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell strong">£466</td>
</tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Total Phosphate (P2O5)</td>
    <td class="govuk-table__cell">£1631</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£300</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell strong">£1931</td>
</tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Total Potash (K2O)</td>
    <td class="govuk-table__cell">£3059</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£162</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell">£0</td>
    <td class="govuk-table__cell strong">£3221</td>
  </tr>
  </tbody>
</table>
