<h2 class="govuk-heading-s">NVZ requirements</h2>
<table class="govuk-table data-table margin-bottom-forty">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Area of farm in an nvz</td>
    <td class="govuk-table__cell">100%</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Total NVZ minimum slurry storage requirement</td>
    <td class="govuk-table__cell">1,219 metres cubed</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Total NVZ minimum poultry manure storage requirement</td>
    <td class="govuk-table__cell">0 tonnes</td>
  </tr>
</table>


<h2 class="govuk-heading-s">Monthly breakdown</h2>
<table class="govuk-table data-table margin-bottom-forty">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Month</th>
      <th scope="col" class="govuk-table__header">Cattle or other slurry (meters cubed)</th>
      <th scope="col" class="govuk-table__header">Pig slurry (meters cubed)</th>
      <th scope="col" class="govuk-table__header">Rainfall to slurry stores (meters cubed)</th>
      <th scope="col" class="govuk-table__header">Poultry layer manure (meters cubed)</th>
      <th scope="col" class="govuk-table__header">Poultry litter (meters cubed)</th>
    </tr>
  </thead>
    <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">October</td>
      <td class="govuk-table__cell">189</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0 </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">November</td>
      <td class="govuk-table__cell">252</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">December</td>
      <td class="govuk-table__cell">221</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">January</td>
      <td class="govuk-table__cell">254</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">February</td>
      <td class="govuk-table__cell">248</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">March</td>
      <td class="govuk-table__cell">248</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Applied to low run-off risk land</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Additional 1 weeks capacity</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Total</th>
      <td class="govuk-table__cell">1,164</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Total for farm area in NVZ</th>
      <td class="govuk-table__cell">1,219</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
</tbody>
</table>