<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Has New Field #1 been used for grass in any of thelast 3 years?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    What is the previous crop type?
  </dt>
  <dd class="govuk-summary-list__value">
    Winter Wheat
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>