{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to all fields",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    {% if data.show_success_message == true %}
      {% include "./templates/success_messages" ignore missing %}
    {% endif %}

    <h1 class="govuk-heading-l">
      {{data.chosen_field}}
    </h1>

    <!-- <div class="govuk-inset-text">
      This field was merged with Short Field on 3 February 2025
    </div> -->

    <!-- <table class="govuk-table recomendation-table data-table data-table">
      <tbody class="govuk-table__body">
        {% for field in data.all_fields %}
          {% if field.name == data.chosen_field %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Name</td>
              <td class="govuk-table__cell">{{field.name}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Date added</td>
              <td class="govuk-table__cell">1 August 2025</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Field area</td>
              <td class="govuk-table__cell">{{field.area}}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table> -->

    <table class="govuk-table recomendation-table data-table data-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Date added</td>
          <td class="govuk-table__cell">1 August 2025</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Field area</td>
          <td class="govuk-table__cell">19 hectares</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cropped area</td>
          <td class="govuk-table__cell">17 hectares</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Manure non spreading area</td>
          <td class="govuk-table__cell">2 hectares</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Soil type</td>
          <td class="govuk-table__cell">Medium</td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">Soil contains potash releasing clay</td>
          <td class="govuk-table__cell">No</td>
        </tr> -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Within an NVZ</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Above 300 metres</td>
          <td class="govuk-table__cell">No</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Used for grass in the last 3 years</td>
          <td class="govuk-table__cell">2023<br>2022</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Crop in 2024</td>
          <td class="govuk-table__cell">Winter Wheat</td>
        </tr>
      </tbody>
    </table>   

    <p class="govuk-body"><a href="update">Change field details</a></p>      
    <p class="govuk-body"><a href="">Split this field or merge it with another</a></p>
    <p class="govuk-body margin-bottom-forty"><a href="remove">Remove {{data.chosen_field}}</a></p>

    <hr class="big_separator">

    <h2 class="govuk-heading-m">Soil analysis</h2>

    <p class="govuk-body margin"><a href="">Add new soil analysis</a></p>
    <!-- <p class="govuk-hint margin-bottom-forty">Soil mineral nitrogen analysis results can be added for a crop under individual plans.</p> -->

      <table class="govuk-table field-table">
        <thead class="govuk-table__head">
          
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date sample taken</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row right-last">
            <td class="govuk-table__cell">13 March 2023</td>
            <td class="govuk-table__cell">
              <a href="change_soil">View or Change</a>
            </td>
          </tr>
        </tbody>
      </table>    

  </div> 

</div> 

{% endblock %}