{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span>
      <h1 class="govuk-heading-l">
        Will you use these fields for arable crops or grass?
      </h1>

      <form class="form" action="crop_type_handler" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="arable" name="field_use" type="radio" value="arable">
                <label class="govuk-label govuk-radios__label" for="arable">
                  Arable crops
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="grass" name="field_use" type="radio" value="grass">
                <label class="govuk-label govuk-radios__label" for="grass">
                  Grass
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
