<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You have added a washed livestock area
    </h3>
    <p class="govuk-body">
      To create an organic manures inventory and NVZ organic material storage report, 
      enter the details of all areas that are used by livestock and then washed, between October {{data.oaktree_farm.harvest_year}}and September {{data.oaktree_farm.harvest_year + 1}}.
    </p>
    <p class="govuk-body"><a class="govuk-notification-banner__link" href="/add_wash_area/name">Add another washed livestock area</a></p>  
    <p class="govuk-body"><a class="govuk-notification-banner__link" href="reset_inventory_checklist_message_handler">Continue to create the organic manure inventory and NVZ storage requirement report</a></p>  
  </div>
</div>