<!-- <h2 class="govuk-heading-m non-standard">Wash water areas</h2> -->
<table class="govuk-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Annual volume of water used</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
    <tbody class="govuk-table__body">
      <tr>
        <td scope="col" class="govuk-table__cell">Milk Parlour</td>
        <td scope="col" class="govuk-table__cell">730 metres cubed</td>
        <td scope="col" class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="total_row">
        <th scope="col" class="govuk-table__header">Total</th>
        <th scope="col" class="govuk-table__header">730 metres cubed</th>
        <td scope="col" class="govuk-table__cell"> </td>
      </tr>
    </tbody>
</table>