<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Default nutrient values for {{data.chosen_manure | lower}}</caption> -->
  <tdead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value per tonne</th>
    </tr>
  </tdead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Dry matter content</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25% (total)</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total Nitrogen</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">6kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Ammonium-N</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0.5kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Uric acid N</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Nitrate-N </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0.1kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total phosphate (P2O5)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">3.2kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total potassium (K2O)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">8kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total sulphur (SO3)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2.4kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total magnesium oxide (MgO)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">1.8kg</td>
    </tr>
  </tbody>
</table>

<!-- <p class="govuk-body strong margin-bottom-forty">Dry matter content: 25%</p> -->
