{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Defoliations
      </h1>

      <form class="form" action="yield_question_one" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              First defoliation
            </legend>
            <!-- <div id="defoliation_order-hint" class="govuk-hint">
              This includes changing your last name or spelling your name differently.
            </div> -->
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_one-1" name="defoliation_one" type="radio" value="grazing">
                <label class="govuk-label govuk-radios__label" for="defoliation_one-1">
                  Grazing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_one-2" name="defoliation_one" type="radio" value="Hay">
                <label class="govuk-label govuk-radios__label" for="defoliation_one-2">
                  Hay
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              Second defoliation
            </legend>
            <!-- <div id="defoliation_order-hint" class="govuk-hint">
              This includes changing your last name or spelling your name differently.
            </div> -->
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_two-1" name="defoliation_two" type="radio" value="grazing">
                <label class="govuk-label govuk-radios__label" for="defoliation_two-1">
                  Grazing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_two-2" name="defoliation_two" type="radio" value="Hay">
                <label class="govuk-label govuk-radios__label" for="defoliation_two-2">
                  Hay
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              Third defoliation
            </legend>

            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_three-1" name="defoliation_three" type="radio" value="grazing">
                <label class="govuk-label govuk-radios__label" for="defoliation_three-1">
                  Grazing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_three-2" name="defoliation_three" type="radio" value="Hay">
                <label class="govuk-label govuk-radios__label" for="defoliation_three-2">
                  Hay
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              Fourth defoliation
            </legend>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_four-1" name="defoliation_four" type="radio" value="grazing">
                <label class="govuk-label govuk-radios__label" for="defoliation_four-1">
                  Grazing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_four-2" name="defoliation_four" type="radio" value="Hay">
                <label class="govuk-label govuk-radios__label" for="defoliation_four-2">
                  Hay
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              Fifth defoliation
            </legend>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_five-1" name="defoliation_five" type="radio" value="grazing">
                <label class="govuk-label govuk-radios__label" for="defoliation_five-1">
                  Grazing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_five-2" name="defoliation_five" type="radio" value="Hay">
                <label class="govuk-label govuk-radios__label" for="defoliation_five-2">
                  Hay
                </label>
              </div>
            </div>
          </fieldset>
        </div> -->

       <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="defoliation_order-hint">
            <legend class="govuk-fieldset__legend">
              Sixth defoliation
            </legend>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_six-1" name="defoliation_six" type="radio" value="grazing">
                <label class="govuk-label govuk-radios__label" for="defoliation_six-1">
                  Grazing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="defoliation_six-2" name="defoliation_six" type="radio" value="Hay">
                <label class="govuk-label govuk-radios__label" for="defoliation_six-2">
                  Hay
                </label>
              </div>
            </div>
          </fieldset>
        </div> 
 -->
                    
        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
