  {{ govukSummaryList({
  rows: [ 
  {
    key: {
      text: "Which fields would you like to add organic material applications to?"
    },
    value: {
      text: "All fields in the 2024 plan"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },{
    key: {
      text: "When do you first plan to spread " + data.content.non_organic_term | lower + "?"
    },
    value: {
      text: "29 April 2024"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }, {
      key: {
        text: "Which nutrients do you plan to include in this application?"
      },
      value: {
        text: "Nitrogen(N)" 
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }, {
      key: {
        text: "How much of each nutrient do you plan to include in this application?"
      },
      value: {
        text: "40 kg Nitrogen(N)" 
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Do you plan to spread more " + data.content.non_organic_term | lower + "?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
  }) }}