{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add inorganic fertiliser -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Which nutrients do you plan to include in this application?
    </h1>

    <form class="form" action="fertiliser_amount" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div id="waste-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nitrogen" name="chosen_nutrients" type="checkbox" value="nitrogen">
              <label class="govuk-label govuk-checkboxes__label" for="nitrogen">
                Nitrogen (N)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="phosphate" name="chosen_nutrients" type="checkbox" value="phosphate">
              <label class="govuk-label govuk-checkboxes__label" for="phosphate">
                Phosphate (P2O5)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="potash" name="chosen_nutrients" type="checkbox" value="potash">
              <label class="govuk-label govuk-checkboxes__label" for="potash">
                Potash (K2O)
              </label>
            </div> 
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sulphur" name="chosen_nutrients" type="checkbox" value="sulphur">
              <label class="govuk-label govuk-checkboxes__label" for="sulphur">
                Sulphur (SO3)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lime" name="chosen_nutrients" type="checkbox" value="lime">
              <label class="govuk-label govuk-checkboxes__label" for="lime">
                Lime
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>


{% endblock %}