{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% if data.manure_spreads == 0 %}
    {% set manure_count = "first" %}
  {% else %}
    {% set manure_count = "Continue" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- {% include "templates/title_span.html" %} -->

      <h1 class="govuk-heading-l">
        When are you applying {{data.content.non_organic_term | lower}}
        {% if data.fertiliser_journey == "multi" %}
          on the Winter Wheat Fields?
        {% else %}
          on {{data.chosen_field.name}}?
        {% endif %}
      </h1>

      <!-- <p>Enter the estimated date you first plan to apply organic material to the Winter Wheat fields, you can change the date for individual fields later.</p> -->

      <form class="form" action="fertiliser_amount" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="august" name="fertiliser_date" type="radio" value="August to September">
                <label class="govuk-label govuk-radios__label" for="august">
                  August to September
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="october" name="fertiliser_date" type="radio" value="October to December">
                <label class="govuk-label govuk-radios__label" for="october">
                  October to December
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="january" name="fertiliser_date" type="radio" value="January to mid February">
                <label class="govuk-label govuk-radios__label" for="january">
                  January to mid February
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="February" name="fertiliser_date" type="radio" value=" Mid February to early March">
                <label class="govuk-label govuk-radios__label" for="February">
                  Mid February to early March
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="march" name="fertiliser_date" type="radio" value="Mid March to early April">
                <label class="govuk-label govuk-radios__label" for="march">
                  Mid March to early April
                </label>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="april" name="fertiliser_date" type="radio" value="Mid April to early May">
              <label class="govuk-label govuk-radios__label" for="april">
                Mid April to early May
              </label>
            </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="may" name="fertiliser_date" type="radio" value="Mid May to early June">
            <label class="govuk-label govuk-radios__label" for="may">
              Mid May to early June
            </label>
          </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="june" name="fertiliser_date" type="radio" value="Mid June to July">
          <label class="govuk-label govuk-radios__label" for="june">
            Mid June to July
          </label>
        </div>


          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
