{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add inorganic fertiliser -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How much of each nutrient are you using in this application?
    </h1>

  </div>
</div>

{% if data.fertiliser_journey != "multi" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show recommendations for {{data.chosen_field.field_name}}
          </span>
        </summary>
        <div class="govuk-details__text">
          {% include "/farm/field_plan/templates/v4_nutrients_one_organic.html" ignore missing %}
        </div>
      </details>
    </div>
  </div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="check" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="nitrogen">
          <strong>Nitrogen (N)</strong><br>
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="nitrogen" name="nitrogen" type="text" autocomplete="off" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Kg per hectare</div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="phosphate">
          <strong>Phosphate (P2O5)</strong>
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="phosphate" name="phosphate" type="text" autocomplete="off" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Kg per hectare</div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="potash">
          <strong>Potash (K2O)</strong><br>
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="potash" name="potash" type="text" autocomplete="off" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Kg per hectare</div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sulphur">
          <strong>Sulphur (SO3)	</strong>
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="sulphur" name="sulphur" type="text" autocomplete="off" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Kg per hectare</div>
        </div>
      </div>

      <div class="govuk-form-group margin-bottom-forty">
        <label class="govuk-label" for="lime">
          <strong>Lime</strong><br>
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="lime" name="lime" type="text" autocomplete="off" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Tonnes per hectare</div>
        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="fields.html">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}