{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Field"
      },
      value: {
        text: "Big Field"
      }
    },
    {
      key: {
        text: "Date"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "pH"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "Phosphorus (P) per litre of soil"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "Phosphorus (P) analysis type"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Phosphorus (P) index"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Potassium (K) per litre of soil"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Magnesium (Mg) per litre of soil"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Soil Nitrogen Supply (SNS) Index"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Is the soil Sulfur (S) deficient?"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}