{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How much of each nutrient are you using in this application?
      </h1>
    </div>
  </div>

  {% if data.fertiliser_journey != "multi" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show recommendations for {{data.chosen_field.name}}
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "/version_3/farm/field_plan/templates/v4_nutrients_one_organic.html" ignore missing %}
          </div>
        </details>
      </div>
    </div>
  {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <form class="form" action="fertiliser_again" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              <strong>Nitrogen (N)</strong><br>
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">kg/ha</div>
            </div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              <strong>Phosphate (P2O5)</strong>
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">kg/ha</div>
            </div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              <strong>Potash (K2O)</strong><br>
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">kg/ha</div>
            </div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              <strong>Sulphur (SO3)	</strong>
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">kg/ha</div>
            </div>
          </div>

          <div class="govuk-form-group margin-bottom-forty">
            <label class="govuk-label" for="weight">
              <strong>Lime</strong><br>
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">kg/ha</div>
            </div>
          </div>

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

        <p class="govuk-body">
          <a href="fields.html">Cancel</a>
        </p>

      </div>
    </div>
  


{% endblock %}
