<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Field name
  </dt>
  <dd class="govuk-summary-list__value">
    Long Field
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Land parcel identification number (LPID)
  </dt>
  <dd class="govuk-summary-list__value">
    Not entered
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Total field area
  </dt>
  <dd class="govuk-summary-list__value">
    10 hectares
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Cropped area
  </dt>
  <dd class="govuk-summary-list__value">
    8 hectares
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Manure non-spreading area
  </dt>
  <dd class="govuk-summary-list__value">
    Not entered
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Is this field in a nitrate vulnerable zone (NVZ)?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes 
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which nitrate vulnerable zone (NVZ) is the field in?
  </dt>
  <dd class="govuk-summary-list__value">
    <ul class="govuk-list margin-bottom-ten">
      <li>Lower Nithsdale</li>
      <li>Strathmore and Fife (including Finavon)</li>
    </ul>
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Is this field above 300 metres?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Soil type
  </dt>
  <dd class="govuk-summary-list__value">
    Medium
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Phosphorus sorption capacity (PSC)
  </dt>
  <dd class="govuk-summary-list__value">
    status 1
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you want to add a soil analysis for Long Field?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you expect sulphur (S) deficiency in crops grown in the field?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Soil analysis method
  </dt>
  <dd class="govuk-summary-list__value">
    SAC (Modified Morgan's extraction)
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    When was the soil analysis sample taken?
  </dt>
  <dd class="govuk-summary-list__value">
    1 May 2025
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How would you like to enter your values?
  </dt>
  <dd class="govuk-summary-list__value">
    Status values
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    pH value
  </dt>
  <dd class="govuk-summary-list__value">
    1
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Phosphorus (P) status
  </dt>
  <dd class="govuk-summary-list__value">
    Moderate minus (M-)
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Potassium (K) status
  </dt>
  <dd class="govuk-summary-list__value">
    High (H)
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Magnesium (Mg) status
  </dt>
  <dd class="govuk-summary-list__value">
    High (H)
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Organic matter
  </dt>
  <dd class="govuk-summary-list__value">
    70%
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Crop group in 2025
  </dt>
  <dd class="govuk-summary-list__value">
    Cereals
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Crop type in 2025
  </dt>
  <dd class="govuk-summary-list__value">
    Winter Wheat
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>