{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "All farms",
          href: "farmsview_reset_handler" 
        },
        {
          text: "Oaktree Lane Farm"
        }
      ]
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.show_success_message == true %}
        {% include "./templates/success_messages" ignore missing %}
      {% endif %}

      <div id="farm-title">
        <h1 class="govuk-heading-xl">{{data.oaktree_farm.name}}</h1>
        <p class="govuk-body address">South Road, Hexham, Northumberland NE46 7LQ</p>
    
        {% if data.oaktree_farm.fields_added == true %}
          <p class="govuk-body">{{data.all_fields.length}} fields, 40 hectares in total.</p>
        {% endif %}
        
      </div>

      <hr class="seperator_thirty">

      <div>
        {% if data.oaktree_farm.fields_added == true  %}
        <h2 class="govuk-heading-m">Planning and recording</h2>
        <ul class="menu-list govuk-list">
          <li>
            <a class="govuk-link" href="plans_records">View, create or update a plan</a>
          </li>
          <li>
            <a class="govuk-link" href="../manner/fields">Calculate manure application cost and losses</a> (MANNER-NPK)
          </li>
        </ul>
        {% else %}
          <p>To start creating plans and records, <a href="field_add_reset_handler">add your fields</a></p>
        {% endif %}
      </div>

      <hr class="seperator_thirty">
      <div>

      <h2 class="govuk-heading-m">Reports and outputs</h2>
      <ul class="menu-list govuk-list">
        <li>
          <a class="govuk-link" href="outputs/years">Save or print a report</a>
        </li>
      </ul>
    </div>

    <hr class="seperator_thirty">


      <div>
        <h2 class="govuk-heading-m">Farm and field details</h2>
          <ul class="menu-list govuk-list">
            <li>
              <a class="govuk-link" href="farm-details">Update farm details</a>
            </li>
            {% if data.oaktree_farm.fields_added == true %}
            <li>
              <a class="govuk-link" href="field_reset_handler">Update fields or soil analysis</a>
            </li>
          {% endif %}
          <!-- manure -->
          <!-- <li>
            <a class="govuk-link" href="manure_reset_handler">Manage manures</a>
          </li> -->
        </uli>
      </div>

      <hr class="seperator_thirty">

    <div>
      <h2 class="govuk-heading-m">Livestock and manure details</h2>
      <ul class="menu-list govuk-list">
        <li>
          <a class="govuk-link" href="livestock/livestock_years">
            {% if data.oaktree_farm.livestock_added == true %}
              Update 
            {% else %}
              Add
            {% endif %}
            livestock numbers
          </a>
        </li> 
        <li>
          <a class="govuk-link" href="exports/export_years">
            {% if data.oaktree_farm.exports_added == true %}
              Update 
            {% else %}
                Add
            {% endif %}
            livestock manure imports and exports
          </a>
        </li>
      </ul>
      <hr class="seperator_thirty">
      
      <p><a href="">Download all {{data.oaktree_farm.name}}'s data as a csv file</a> </p>

    </div>
  </div>

{% endblock %}