{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "All farms", href: "../farms" 
      },
      {
        text: "Oaktree Lane Farm", href: "hub_message_reset"
      },
      {
        text: "Livestock numbers", href: "livestock_years"
      },
      {
        text: "Livestock numbers for 2005"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
{{ plan_status }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- {% if data.show_success_message == true %}
        {% include "./success_message.html" ignore missing %}
      {% endif %} -->
    </div>
  </div>
      
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <span class="name govuk-caption-l">{{ data.oaktree_farm.name }}</span>
      <h1 class="govuk-heading-l" id="header">Livestock numbers and manure collection {{ data.oaktree_farm.planning_year }}</h1>
                
      {% if data.oaktree_farm.livestock_loading == 'added' %}
        <form class="margin-bottom-ten" action="/add_livestock/livestock_group" method="post" novalidate="">    
          <button class="govuk-button" data-module="govuk-button">
            Add livestock
          </button>
        </form>
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% if data.oaktree_farm.livestock_loading == 'added' %}
        <hr class="separator_zero">
        {% include "./templates/summary_for_year.html" ignore missing %}
    {% else %}
      <p class="govuk-body">You have not added any livestock information.</p>
      <form class="" action="/add_livestock/livestock_group" method="post" novalidate="">    
        <button class="govuk-button" data-module="govuk-button">
          Add livestock
        </button>
      </form>
    {% endif %}
      
    </div>
  </div>

{% endblock %}