{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a farm - farm name – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <div id="error" data-module="auto-track-event ga4-auto-tracker govuk-error-summary" data-track-category="userAlerts: local_transaction" data-track-action="postcodeErrorShown: fullPostcodeNoLocationsApiMatch" data-track-label="We couldn't find this postcode." data-ga4-auto="{&quot;event_name&quot;:&quot;form_error&quot;,&quot;action&quot;:&quot;error&quot;,&quot;type&quot;:&quot;local transaction&quot;,&quot;text&quot;:&quot;We couldn't find this postcode.&quot;,&quot;section&quot;:&quot;Enter a postcode&quot;,&quot;tool_name&quot;:&quot;Report a noise nuisance to your council&quot;}" class="gem-c-error-summary govuk-error-summary" data-auto-track-event-module-started="true" data-ga4-auto-tracker-module-started="true" data-govuk-error-summary-module-started="true">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
          <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                  <li class="gem-c-error-summary__list-item">
                      <a href="#postcode">We couldn't find this postcode.</a>
                  </li>
              </ul>
          </div>
      </div>
      </div>
 -->
      <h1 class="govuk-heading-l">What is the farm name?</h1>

      <p class="govuk-body">If you have more than one holding, it's best to add a separate farm for each.</p>
      
      <form action="country" method="post" novalidate="" autocomplete="off">      

        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="farm_name">What is the farm name?</label> -->
          <input class="govuk-input" id="farm_name" name="farm_name" type="text" autocomplete="">
        </div>

        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
          
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

      </div>
  </div>

{% endblock %}
