<!-- <h2 class="govuk-heading-m">Exports</h2> -->
<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Manure type</th>
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <!-- <th scope="col" class="govuk-table__header">Total nitrogen (N) content</th>
      <th scope="col" class="govuk-table__header">Total nitrogen (N)</th> -->
      <th scope="col" class="govuk-table__header">Receiver</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Pig slurry - whole</td>
      <td class="govuk-table__cell">16 March {{data.oaktree_farm.planning_year}}</td>
      <td class="govuk-table__cell">30 cubic metres</td>
      <!-- <td class="govuk-table__cell">3kg per cubic metre</td>
      <td class="govuk-table__cell">90</td> -->
      <td class="govuk-table__cell">Mr Smith</td>
      <td class="govuk-table__cell"><a href="change_export_handler?export_type=export">Change</a></td>
    </tr>
  </tbody>
</table>