<div class="govuk-inset-text margin-bottom-forty">
  {% if data.export_type == 4 %}
    <p class="govuk-body">
      To create a Livestock manure nitrogen (N) farm limit report, enter the imports and exports of livestock manure on {{data.oaktree_farm.name}} in {{data.oaktree_farm.planning_year}}.
    </p>
    <p class="govuk-body">
      <a class="govuk-notification-banner__link" href="reset_nloading_checklist_message_handler">Continue to create a Livestock manure nitrogen (N) farm limit report for {{data.oaktree_farm.planning_year}}</a>
    </p>  
  {% else %}
    <p class="govuk-body">
      To create an organic manures inventory and NVZ organic material storage report, enter the imports and exports of organic materials on {{data.oaktree_farm.name}} between October {{data.oaktree_farm.planning_year}} and September {{data.oaktree_farm.planning_year+1}}.
    </p>
    <p class="govuk-body">
      <a class="govuk-notification-banner__link" href="reset_inventory_checklist_message_handler">Continue to create an organic manure inventory and NVZ storage requirement report {{data.oaktree_farm.planning_year}}</a>
    </p>  
  {% endif %}
</div>
