<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About occupancy
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
        These animals are counted by the number of places for them on the farm. 
    </p>
    <p class="govuk-body">
        Occupancy means the proportion of the year that these places are occupied by animals. 
    </p>
    <p class="govuk-body">
        For example, if your production cycle lasts 42 days, and the empty period is 7 days (total 49 days), then your occupancy is 86%.
    </p>

    <p class="govuk-body">
        If the occupancy on your farm is different to the value shown here, you can change it.
    </p>
  </div>
</details>