{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          Manure collection details for October {{data.oaktree_farm.planning_year}}
      </h1>

      <p class="govuk-body">
        Selected livestock type: {{data.chosen_livestock.name | capitalize}}
      </p>

      <form action="add_manure_system_handler" method="post" novalidate="">

      <div class="govuk-form-group margin-bottom-thirty">
        <label class="govuk-label" for="livestock_occupancy">
          What percentage of time are these 
          {{data.chosen_livestock.shortname}}{% if data.chosen_livestock.shortname == 'pig' %}s {% endif %} 
          housed during October?
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" value ="80" id="livestock_occupancy" name="livestock_occupancy" type="text" spellcheck="false" autocomplete="off">
          <div class="govuk-input__suffix" aria-hidden="true">%</div>
        </div>
      </div>

        <div class="govuk-form-group margin-bottom-thirty">
          <label class="govuk-label" for="livestock_number">
            How much of this livestock's manure is collected as slurry in October?
          </label>
          <p class="govuk-hint">
            This includes liquids draining from manure stored on an impermeable surface. This manure will be mixed with bedding and handled as solid manure.
          </p>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-3" id="livestock_number" name="livestock_number" type="text" value="30" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
          </div>
        </div>

        {% if data.livestock_group != 'poultry' %}
          <div class="govuk-form-group">
            <label class="govuk-label" for="livestock_number">
              What is the bedding factor?
            </label>
            <p class="govuk-hint">
              This factor is used to calculate the quantity of solid manure produced from the slurry and bedding combined. The amount of slurry is multiplied by the bedding factor to calculate the solid amount. You can change this value if you wish.            
            </p>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="livestock_number" name="livestock_number" type="text" value="1.30" spellcheck="false" autocomplete="off">
              <!-- <div class="govuk-input__suffix" aria-hidden="true">Tonnes</div> -->
            </div>
          </div>

          <!-- <div class="govuk-form-group margin-bottom-thirty">
            <label class="govuk-label" for="livestock_number">
              Bedding per month
            </label>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
              <div class="govuk-input__suffix" aria-hidden="true">Tonnes</div>
            </div>
          </div> -->
        {% endif %}

        {% include "/templates/reuse_figures_radio.html" ignore missing %}

        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
