<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    What is the previous crop type?
  </dt>
  <dd class="govuk-summary-list__value">
    Winter Wheat
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you have a recent soil mineral nitrogen analysis result for New Field?
  </dt>
  <dd class="govuk-summary-list__value">
    {{data.sns_method | capitalize}}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>