<div class="govuk-radios" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="cereals" name="crop_group" type="radio" value="cereals">
    <label class="govuk-label govuk-radios__label" for="cereals">
      Arable cereals
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="forage" name="crop_group" type="radio" value="forage">
    <label class="govuk-label govuk-radios__label" for="forage">
      Arable, forage crops
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="arable-other" name="crop_group" type="radio" value="arable-other">
    <label class="govuk-label govuk-radios__label" for="arable-other">
      Arable, other
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="potatoes" name="crop_group" type="radio" value="potatoes">
    <label class="govuk-label govuk-radios__label" for="potatoes">
      Arable, potatoes
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="biomass" name="crop_group" type="radio" value="biomass">
    <label class="govuk-label govuk-radios__label" for="biomass">
      Biomass crops
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="fruit" name="crop_group" type="radio" value="fruit">
    <label class="govuk-label govuk-radios__label" for="fruit">
      Fruit vines and hops
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="grass" name="crop_group" type="radio" value="grass">
    <label class="govuk-label govuk-radios__label" for="grass">
      Grass
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="leafy" name="crop_group" type="radio" value="leafy">
    <label class="govuk-label govuk-radios__label" for="leafy">
      Vegetables leafy
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="root" name="crop_group" type="radio" value="root">
    <label class="govuk-label govuk-radios__label" for="root">
      Vegetables root
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="other" name="crop_group" type="radio" value="other">
    <label class="govuk-label govuk-radios__label" for="other">
      Other crops
    </label>
  </div>
</div>