{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       How many cuts typically each year?
      </h1>

      <form class="form" action="previous_nitrogen" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cut" name="grass_management" type="radio" value="cut">
                <label class="govuk-label govuk-radios__label" for="cut">
                  One
                </label>
              </div>    

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="grazed" name="grass_management" type="radio" value="grazed">
                <label class="govuk-label govuk-radios__label" for="grazed">
                  Two or more
                </label>
              </div>

          </fieldset> 
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
