{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How many fields at Oaktree Lane Farm are above 300 metres?</h1>

      <form action="organic" method="post" novalidate="">

        <div class="govuk-form-group margin-bottom-forty">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="all">
                <label class="govuk-label govuk-radios__label" for="changedName">
                  All of the fields are above 300m
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="some">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  Some of the fields are above 300m
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-3" name="changedName" type="radio" value="none">
                <label class="govuk-label govuk-radios__label" for="changedName-3">
                  None of the fields are above 300m
                </label>
              </div>
            </div>
          </fieldset>
        </div>        

        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Next
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

    </div>

  </div>

{% endblock %}
