{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <span class="govuk-caption-l">Nutrient application plan for 2024</span>
    <h1 class="govuk-heading-l">
      Check crop details for multiple fields
    </h1>
    
    <div class="check-answers">
      
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Which crop do you plan to use?
    </dt>
    <dd class="govuk-summary-list__value">
      Winter Wheat
    </dd>
      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
          Change<span class="govuk-visually-hidden"> Question 1</span>
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Which fields do you plan to grow Winter Wheat in?
    </dt>
    <dd class="govuk-summary-list__value">
      Small Field <br>
      Big Field  <br>
      Long Field
    </dd>
      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
          Change<span class="govuk-visually-hidden"> Question 1</span>
          </a>
      </dd>
  </div>
</dl>
    </div>

    <form action="add_multi_handler" method="post" novalidate>
      {{ govukButton({
        text: "Add to application plan"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
