
{% set crop_name = "nul" %}
{% for crop in data.crop_types %}
  {% if crop.reference == data.chosen_crop %}
    {% set crop_name = crop.prettyname %}
  {% endif %}
{% endfor %}

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Which crop do you plan to use?
    </dt>
    <dd class="govuk-summary-list__value">
      {{crop_name}}
    </dd>
      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
          Change<span class="govuk-visually-hidden"> Question 1</span>
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Which fields do you plan to grow {{crop_name}} in?
    </dt>
    <dd class="govuk-summary-list__value">
      {% set field_details = ['Long field', 'Short field', 'Big field'] %}
      {% for field in field_details %}
          <p>{{field}}</p>
      {% endfor %}
      <br>
    </dd>
      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
          Change<span class="govuk-visually-hidden"> Question 1</span>
          </a>
      </dd>
  </div>
</dl>