<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m margin-bottom-ten">Total nutrients planned for all crops</h3>
    <p class="govuk-body-s">These are the combined totals for all crops. Values are per hectare.</p>
    <table class="govuk-table data-table margin-bottom-fifty">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Total cropped area</th>
          <th scope="col" class="govuk-table__header">Nitrogen (N)</th>
          <th scope="col" class="govuk-table__header">Phosphate (P2o5)</th>
          <th scope="col" class="govuk-table__header">Potash (K2O)</th>
          <th scope="col" class="govuk-table__header">Sulphur (SO3)</th>
          <th scope="col" class="govuk-table__header">Magnesium (MgO)</th>
          <th scope="col" class="govuk-table__header">Lime</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row total_row">
          <td class="govuk-table__cell ">67.5 hectares</td>
          <td class="govuk-table__cell ">740kg</td>
          <td class="govuk-table__cell ">334kg</td>
          <td class="govuk-table__cell ">334kg</td>
          <td class="govuk-table__cell ">40kg</td>
          <td class="govuk-table__cell ">0</td>
          <td class="govuk-table__cell ">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>