{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <!-- {% if data.show_manure_notification == true %}
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            The date you entered is inside the closed spreading period of 1 October to 31 January.
          </p>
          <p class="govuk-body"><a class="govuk-notification-banner__link" target="_blank" href="https://www.gov.uk/guidance/using-nitrogen-fertilisers-in-nitrate-vulnerable-zones#:~:text=If%20the%20land%20is%20irrigated,500kg%20of%20nitrogen%20per%20hectare.">Find out more (opens in a  new window)</a></p>
        </p>
        </div>
      </div>
      {% endif %} -->

    <h1 class="govuk-heading-l">
      Check your answers
    </h1>

    <div class="check-answers">
      {% if data.manure_type.liquid == true %}
        {% include "./templates/check_manure_liquid.html" ignore missing %}
      {% else %}
        {% include "./templates/check_manure_solid.html" ignore missing %}
      {% endif %}
    </div>

    <form action="add_manure_handler" method="post" novalidate>

      {{ govukButton({
        text: "Add to plan"
      }) }}
    </form>

    <p class="govuk-body">
      <a href="cancel">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}