<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">What type of organic material do you plan to use in this application?</dt>
  <dd class="govuk-summary-list__value">{{data.manure_type.name}}</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row display-none">
  <dt class="govuk-summary-list__key">Is this organic material application for the same cut or grazing in all the selected grass fields?</dt>
  <dd class="govuk-summary-list__value">Yes</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row display-none">
  <dt class="govuk-summary-list__key">Which cut or grazing is this organic material application for in the selected grass fields?</dt>
  <dd class="govuk-summary-list__value">One</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Which crop is this organic material application for in Long Field?</dt>
  <dd class="govuk-summary-list__value">Crop 1 (Carrots)</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Which crop is this organic material application for in Short Field?</dt>
  <dd class="govuk-summary-list__value">Crop 2 (Beetroot)</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">When are you applying your{{data.manure_group.name}}?</dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">
        {{data.manure_date_day}}
        {{data.manure_date_month | convertmonth}}
        {{data.manure_date_year}} 
    </p>
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Organic material nutrient values</dt>
    <dd class="govuk-summary-list__value nutrient_values">
      <ul class="nutrient_values">
        <li>Dry Matter content: <span>25%</span></li>
        <li>Total Nitrogen: <span>6kg</span></li>
        <li>Ammonium-N:	<span>0.5kg</span></li>
        <li>Uric acid N:	<span>0kg</span></li>
        <li>Nitrate-N:	<span>0.1kg</span></li>
        <li>Total phosphate (P2O5):	<span>3.2kg</span></li>
        <li>Total potassium (K2O):	<span>8kg</span></li>
        <li>Total sulphur (SO3):	<span>2.4kg</span></li>
        <li>Total magnesium oxide (MgO):	<span>1.8kg</span></li>
      </ul>  
  </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How would you like to calculate the amount of manure used?</dt>
  <dd class="govuk-summary-list__value">Use the standard application rate of 30 tonnes per hectare</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How will the manure be incorporated?</dt>
  <dd class="govuk-summary-list__value">Discs</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">How many days will there be before the manure is incorporated?</dt>
  <dd class="govuk-summary-list__value">1 to 2 days</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Autumn crop nitrogen (N) uptake</dt>
  <dd class="govuk-summary-list__value">10kg per hectare</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">End of soil drainage</dt>
  <dd class="govuk-summary-list__value">31 March 2025</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Rainfall within 6 hours of application</dt>
  <dd class="govuk-summary-list__value">0</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Total rainfall since application</dt>
  <dd class="govuk-summary-list__value">328mm</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Windspeed at application</dt>
  <dd class="govuk-summary-list__value">Calm/gentle (0 - 3 Beaufort scale)</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Topsoil moisture</dt>
  <dd class="govuk-summary-list__value">Moist</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>