<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields would you like to plan organic material applications for?</dt>
    <dd class="govuk-summary-list__value">All the fields in the 2024 plan</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">When do you first plan to spread organic material on the fields?</dt>
    <dd class="govuk-summary-list__value">01 Feb 2025</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What type of organic material do you plan to use in this application?</dt>
    <dd class="govuk-summary-list__value">Pig Slury, seperated solids</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you plan to spread more organic material on the Winter Wheat fields?</dt>
    <dd class="govuk-summary-list__value">No</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

</dl>