<dl class="govuk-summary-list margin-bottom-forty">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields would you like to plan organic material applications for?</dt>
    {% if data.manure_journey == 'multi' %}
      <dd class="govuk-summary-list__value">All the fields in the 2024 plan</dd>
    {% else %}
      <dd class="govuk-summary-list__value">{{data.chosenField.name}}</dd>
    {% endif %}
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">When do you first plan to spread organic material on the fields?</dt>
  <dd class="govuk-summary-list__value">01 Feb 2025</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

  {% include "./check_manure_values.html" %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you want to add this {{data.content.organic_term | lower}} to 
      {% if data.manure_journey == 'multi' %}
        these fields
      {% else %}
        {{data.chosenField.name}}
      {% endif %}
      again, in the same way? 
    </dt>

    {% if data.manure_count == 0 %}
      <dd class="govuk-summary-list__value">No</dd>
    {% else %}
      <dd class="govuk-summary-list__value">Yes</dd>
    {% endif %}

    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  {% if data.manure_count != 0 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">When will you next apply {{data.chosen_manure}} to these fields?</dt>
      <dd class="govuk-summary-list__value">01 Feb 2025</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
    {% endif %}

</dl>