{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set manureName = '' %}

      {% for x in data.manure_types_livestock_groups %}
        {% if x.type == data.manure_type %}
          {% set manureName = x.name %}
        {% endif %}
      {% endfor %}

      <h1 class="govuk-heading-l">
        What type of {{ manureName }} are you using in this application?
      </h1>

        <form class="form" action="livestock_type_v7_handler" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              {% for x in data.manure_types %}
                {% if x.type == data.manure_type %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{x.name}}" name="manure_type" type="radio" value="{{x.name}}">
                  <label class="govuk-label govuk-radios__label" for="{{x.name}}">
                    {{x.display_name}}
                  </label>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
  </div>
</div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}