{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What type of {{data.content.organic_term | lower}} are you using in this application?
      </h1>

      <form class="form" action="manuregroup_handler" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

              {% for group in data.manure_groups %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{group.groupname}}" name="manure_group" type="radio" value="{{group.groupname}}">
                  <label class="govuk-label govuk-radios__label" for="{{group.groupname}}">
                    {{group.name}}
                  </label>
                </div>
              {% endfor %}

          </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}




<!-- 
New group Cattle FYM
Cattle FYM - Old
Cattle FYM - Fresh

New group Pig FYM
Pig FYM - Old
Pig FYM - Fresh

New group Sheep FYM
Sheep FYM - Old
Sheep FYM - Fresh

New group Duck FYM
Duck FYM - Old
Duck FYM - Fresh

Horse FYM
Goat FYM

Poultry manure
Dirty water

New group Pig slurry
Pig slurry (add complete)
Separated Pig Slurry - Liquid Portion
Separated Pig Slurry - Solid Portion

New group Cattle slurry
Cattle slurry (add complete)
Separated Cattle Slurry - Strainer Box
Separated Cattle Slurry - Weeping Wall
Separated Cattle Slurry - Mechanical Separator
Separated Cattle Slurry - Solid Portion

New group Biosolids
Biosolids - Digested Cake
Biosolids - Thermally hydrolysed
Biosolids - Thermally Dried
Biosolids - Lime Stabilised
Biosolids - Composted

Green Compost
Green/Food Compost

New group Digestate
Digestate - Whole Food Based
Digestate - Separated Liquor Food Based
Digestate - Separated Fibre Food Based
Digestate - Whole Farm Sourced
Digestate - Seperated Liquor Farm Sourced
Digestate - Seperated Fibre Farm Sourced

New group Paper Crumble
Paper Crumble - Chemically/Physcially Treated
Paper Crumble - Biologically Treated

Spent Mushroom Compost
Water Treatment Cake

New group Food Waste
Food Waste - Dairy
Food Waste - Soft Drinks
Food Waste - Brewing
Food Waste - General

Distillery pot ale
Distillery effluent/sludge
Brewery wash water
Straw mulch

New group Other
Other - Solid materials
Other - Liquid materials 
-->


<!-- 
Cattle FYM
Pig FYM
Sheep FYM
Duck FYM
Horse FYM
Goat FYM
Poultry manure
Dirty water
Pig slurry
Cattle slurry
Biosolids
Green Compost
Green/Food Compost
Digestate
Paper Crumble
Spent Mushroom Compost
Water Treatment Cake
Food Waste
Distillery pot ale
Distillery effluent/sludge
Brewery wash water
Straw mulch
Other
-->

<!-- 
Animal manures
Dirty water
Biosolids
Compost and food waste
Digestate
Paper Crumble
Water Treatment Cake
Straw mulch
Other
-->