<table class="govuk-table margin-bottom-forty">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Default nutrient values for {{data.chosen_manure | lower}}</caption> -->
  <tdead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value per tonne</th>
    </tr>
  </tdead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Dry Matter</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total Nitrogen</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">3.6kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Ammonium (N)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2.5kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Uric Acid (N)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Nitrate (N) </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total phosphate (P205)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">1.8kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total potassium (K20)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2.4kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total Sulphur (SO3)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">1kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Total magnesium oxide (Mg0)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0.7kg</td>
    </tr>
  </tbody>
</table>