{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">
      {% if data.quantity_type == "area"  %}
        Enter the area and quantity for Long field
      {% else %}
        Enter the application rate
      {% endif %}
    </h1>

    {% if data.quantity_type == "area"  %}
      <table class="govuk-table margin-bottom-forty">
        <caption class="govuk-table__caption govuk-table__caption--m">Sizes entered at set up</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total field area</th>
            <td class="govuk-table__cell">77 hectares</td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Manure non-spreading area (optional)</th>
            <td class="govuk-table__cell">20 hectares</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total spreading area</th>
            <td class="govuk-table__cell">57 hectares</td>
          </tr>
        </tbody>
      </table>
    {% endif %}

    <form class="form" action="manure_incorporation_method" method="post">
      {% if data.quantity_type == "area"  %}
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Spreading area
          </label>
          <div class="govuk-input__wrapper"><input value="57" class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Quantity
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">
              {% if data.manure_type.liquid == true %}
                cubic metres
              {% else %}
                tonnes
              {% endif %}
            </div>
          </div>
        </div>

        {% else %}

        <div class="govuk-form-group">
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">
              {% if data.manure_type.liquid == true %}
                cubic metres per hectare
              {% else %}
                tonnes per hectare
              {% endif %}
            </div>
          </div>
        </div>

      {% endif %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}