{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What is the incorporation method for your {{data.manure_type.name}}?
    </h1>

    <form class="form" action="incorporation_handler" method="post">

      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="discs" name="incorporation_method" type="radio" value="Discs">
            <label class="govuk-label govuk-radios__label" for="discs">
              Discs            
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="plough" name="incorporation_method" type="radio" value="Plough">
            <label class="govuk-label govuk-radios__label" for="plough">
              Plough
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="rotary" name="incorporation_method" type="radio" value="Rotary cultivator">
            <label class="govuk-label govuk-radios__label" for="rotary">
              Rotary cultivator
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="tine" name="incorporation_method" type="radio" value="Tine cultivator">
            <label class="govuk-label govuk-radios__label" for="tine">
              Tine cultivator
            </label>
          </div>

          <div class="govuk-radios__divider">or</div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="none" name="incorporation_method" type="radio" value="not_incorporated">
            <label class="govuk-label govuk-radios__label" for="none">
              It's not incorporated
            </label>
          </div>

        </div>

      </div>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}