{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you want to use these typical nutrient values for {{data.chosen_manure | lower}}?
      </h1>

      <table class="govuk-table margin-bottom-forty">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Default nutrient values for {{data.chosen_manure | lower}}</caption> -->
        <tdead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Nutrient</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value (Kilograms per tonne)</th>
          </tr>
        </tdead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Dry Matter</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">25</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Total Nitrogen</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Ammonium (N)</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0.5</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Uric Acid (N)</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Nitrate (N) </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0.1</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Total phosphate (P205)</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3.2</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Total potassium (K20)</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Total Sulphur (SO3)</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2.4</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Total magnesium oxide (Mg0)</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1.8</td>
          </tr>
        </tbody>
      </table>

      <form class="form" action="manure_quantity" method="post">

        <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ig_solids" name="manure_type" type="radio" value="pig_solids">
                <label class="govuk-label govuk-radios__label" for="ig_solids">
                  Yes              
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pig_liquid" name="manure_type" type="radio" value="pig_liquid">
                <label class="govuk-label govuk-radios__label" for="pig_liquid">
                  No, I want to enter a recent manure analysis
                </label>
              </div>

          </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}