{% extends "layouts/main.html" %}

{% block pageTitle %}
   Question – Add organic material -  {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What is the Autumn crop nitrogen (N) uptake for Field #1?
    </h1>

    <!-- <p>This is the amount of Nitrogen (N) from the application taken up by the crop in the autumn.</p> -->
      {% if data.manure_journey == 'multi' %}
        <form class="form" action="manure_uptake_total" method="post">
      {% else %}
        <form class="form" action="rain_defaults" method="post">
      {% endif %}

      <div class="govuk-form-group">
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">Kg per hectare</div>
        </div>
      </div>

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

    <p class="govuk-body">
      <a href="fields.html">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}