{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Conditions at the time of application
      </h1>

      <p class="govuk-body">Here are some suggestions based on your previous answers. You can change any that do not look right. You can also change them later.</p>

      <div class="text-group">
        <h3 class="govuk-heading-s">Autumn crop Nitrogen uptake</h3>
        <p class="govuk-body">10kg per hectare</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group">
        <h3 class="govuk-heading-s">End of soil drainage</h3>
        <p class="govuk-body">31 March 2024</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group">
        <h3 class="govuk-heading-s">Rainfall within 6 hours of application</h3>
        <p class="govuk-body">0mm</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group">
        <h3 class="govuk-heading-s">Total rainfall since application</h3>
        <p class="govuk-body">328mm</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group">
        <h3 class="govuk-heading-s">Windspeed at application</h3>
        <p class="govuk-body">Calm/gentile (0 - 3 Beaufort scale)</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group margin-bottom-forty">
        <h3 class="govuk-heading-s">Topsoil moisture</h3>
        <p class="govuk-body">Moist</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <form action="check" method="post" novalidate="">
        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

  </div>

</div>

{% endblock %}
