{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Default values
      </h1>

      <p class="govuk-body">Description</p>

      <div class="text-group margin-bottom-forty">
        <h3 class="govuk-heading-s">End of drainage</h3>
        <p class="govuk-body">Date</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group margin-bottom-forty">
        <h3 class="govuk-heading-s">Rainfall since application</h3>
        <p class="govuk-body">0 mm</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group margin-bottom-forty">
        <h3 class="govuk-heading-s">Wind speed at application</h3>
        <p class="govuk-body">0 knots</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <div class="text-group margin-bottom-forty">
        <h3 class="govuk-heading-s">Topsoil moisture</h3>
        <p class="govuk-body">Dry</p>
        <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
      </div>

      <form action="manure_again" method="post" novalidate="">
        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

  </div>

</div>

{% endblock %}
