{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Conditions affecting the loss of nutrients from your organic materials
      </h1>

      <p class="govuk-body">
        The effectiveness of your organic material application, 
        and the amount of inorganic fertiliser you need, will vary 
        depending on the weather conditions. 
      </p>

      <p class="govuk-body">
        You can change these now or later.
      </p>

      <table class="govuk-table">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <!-- <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead> -->
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Autumn crop Nitrogen uptake</th>
            <td class="govuk-table__cell">10kg per hectare</td>
            <td class="govuk-table__cell"><a href="manure_nitrogen">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">End of soil drainage</th>
            <td class="govuk-table__cell">31 March 2024</td>
            <td class="govuk-table__cell"><a href="manure_drainage">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Rainfall within 6 hours of application</th>
            <td class="govuk-table__cell">0mm</td>
            <td class="govuk-table__cell"><a href="manure_rain_six">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total rainfall since application</th>
            <td class="govuk-table__cell">328mm</td>
            <td class="govuk-table__cell"><a href="manure_rain_total">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Windspeed at application</th>
            <td class="govuk-table__cell">Calm/gentile (0 - 3 Beaufort scale)</td>
            <td class="govuk-table__cell"><a href="manure_wind">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Topsoil moisture</th>
            <td class="govuk-table__cell">Moist</td>
            <td class="govuk-table__cell"><a href="manure_moisture">Change</a></td>
          </tr>
        </tbody>
      </table>

      <form action="check" method="post" novalidate="">
        <button type="submit" class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

  </div>

</div>

{% endblock %}