{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.oaktree_farm.planning_year
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Carrots fields 2025</h1>

      <div class="crop_plan_title">
        <h2 class="govuk-heading-s">Options</h2>
        <p class="govuk-body"><a href="addcrops_handler">Add or remove fields to this group</a></p>
        <p class="govuk-body"><a href="">Add organic or inorganic material applications to fields in this group</a></p>

      </div>

      <hr class="seperator_forty">
      <h2 class="govuk-heading-m">Fields in this group</h2>

          <table class="govuk-table big_crop_table_version_three">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Field</th>
                <th scope="col" class="govuk-table__header">Organic applications</th>
                <th scope="col" class="govuk-table__header">Inorganic applications</th>
                <th scope="col" class="govuk-table__header">Alerts</th>
                <th scope="col" class="govuk-table__header"> </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Long Field</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell">None</td>
                <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop={{data.plan_2024.firstCropReference}}&chosen_field=LongField">View field plan</a></td>
              </tr>      
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Barn Field</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell">None</td>
                <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop={{data.plan_2024.firstCropReference}}&chosen_field=LongField">View field plan</a></td>
              </tr>           
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Orchard</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell">None</td>
                <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop={{data.plan_2024.firstCropReference}}&chosen_field=LongField">View field plan</a></td>
              </tr>  
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Valley</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell">None</td>
                <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop={{data.plan_2024.firstCropReference}}&chosen_field=LongField">View field plan</a></td>
              </tr>   
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Poplar</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell" class="govuk-table__header">None</td>
                <td class="govuk-table__cell">None</td>
                <td class="govuk-table__cell"><a href="field_level_plan_handler?chosencrop={{data.plan_2024.firstCropReference}}&chosen_field=LongField">View field plan</a></td>
              </tr>                                     
            </tbody>
          </table>

          <h2 class="govuk-heading-m">Organic Material Applications</h2>
          <p class="govuk-body">There are no organic material applications planned for any of the fields in this group.</p>
          <p class="govuk-body"><a href="">Add organic or inorganic material applications</a></p>

          <hr class="seperator_forty">

          <h2 class="govuk-heading-m">Inorganic Fertiliser Applications</h2>
          <p class="govuk-body">There are no inorganic fertiliser applications planned for any of the fields in this group.</p>
          <p class="govuk-body"><a href="">Add inorganic or inorganic fertiliser applications</a></p>

  


  </div>

</div>

{% endblock %}