{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Oaktree Lane Farm",
        href: "../hub"
      },
      {
        text: "Plans and records",
        href: "../plans_records"
      },
      {
        text: "Harvest year " + data.oaktree_farm.planning_year
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  {% set totalFields = 0 %}

  <div class="govuk-grid-column-two-thirds">
    {% if data.show_success_message == true %}
        {% include "./templates/success_message.html" ignore missing %}
      {% endif %}

      {% for group in data.currentCropGroups %}
        {% for field in group.fields %}
        {% set totalFields = totalFields + 1 %}
        {% endfor %}
      {% endfor %}
    </div>

    <div class="govuk-grid-column-full">

      <h1 id="main-title" class="govuk-heading-l">{{data.oaktree_farm.name}} plan {{data.oaktree_farm.planning_year}}</h1>
      <div class="margin-bottom-forty">
        <p class="govuk-body">Last updated: {{data.content.todays_date}}, there are {{totalFields}} fields in this plan</p>
        <p class="govuk-body"><a href="">Save or print a report from this plan</a></p>
      </div>

      <div class="govuk-tabs" data-module="govuk-tabs">

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#crops">
              Crops and fields
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#organic">
              Organic material applications
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#inorganic">
              Inorganic fertiliser applications
            </a>
          </li>
        </ul>

        {% set organics = false %}
        {% for group in data.allManureApplications %}
          {% if group.organic == true %}
            {% set organics = true %}
          {% endif %}
        {% endfor %}

        {% set inorganics = false %}
        {% for group in data.allManureApplications %}
          {% if group.organic == false %}
            {% set inorganics = true %}
          {% endif %}
        {% endfor %}

      <!-- crops -->
      <div class="govuk-tabs__panel" id="crops">
        <h2 class="govuk-heading-m non-standard">Crops and fields</h2>
        <p class="govuk-body"><a href="../../add_crops/crop_group">Add a crop</a></p>
        <!-- <p class="govuk-body"><a href="">Enter excess rainfall for {{data.oaktree_farm.planning_year}}</a></p> -->
        <hr class="seperator_forty">
          {% for group in data.currentCropGroups %}
            {% include "./templates/2024_crop_groups.html" ignore missing %}
          {% endfor %}  
      </div>

      <!-- manures -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="organic">
        <div class="margin-bottom-forty">
          <h2 class="govuk-heading-m non-standard">Organic material applications</h2>
          {% if organics == false %}
            <p class="govuk-body">You have no organic material applications planned.</p>
          {% endif %}
            <p class="govuk-body"><a href="plan_manure_application_router?manurejourney=multi">Add an organic material application to one or more fields</a></p>
        </div>
        {% if organics == true %}
          <hr class="seperator_forty">
        {% endif %}
        <!-- manures -->
        <div class="margin-bottom-forty">
          {% if organics == true %}
            {% include "./templates/applications_tabs.html" ignore missing %}
          {% endif %}
        </div>
      </div>

      <!-- inorganics -->        
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="inorganic">
        <div class="margin-bottom-forty">
          <h2 class="govuk-heading-m non-standard">Inorganic fertiliser applications</h2>
          {% if inorganics == false %}
            <p class="govuk-body">You have no inorganic fertiliser applications planned.</p>
          {% endif %}
          <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=multi">Add an inorganic fertiliser application to one or more fields</a></p>
        </div>
      
        {% if inorganics == true %}
          <p class="govuk-body">All amounts are per hectare.</p>
          <hr class="seperator_forty">
        {% endif %}
      
        <div class="margin-bottom-forty">
          {% if inorganics == true %}
            <h2 class="govuk-heading-m">Nutrient totals</h2>
            <div class="margin-bottom-forty">
              {% include "./templates/2024_fertiliser_totals_v7.html" ignore missing %}
            </div>
            <h2 class="govuk-heading-m">Applications</h2>
            <!-- <p class="govuk-body"><a href="#">Sort by field name</a> <span>&nbsp;</span> or <span>&nbsp;</span> <a href="#">sort by application date</a></p> -->
            {% include "./templates/2024_fertiliser_table_v7.html" ignore missing %}
          {% endif %}
        </div>       
      </div>

    </div>

</div>

{% endblock %}