{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="area_two" method="post" novalidate="" autocomplete="off">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">What is the second field's name?</h1>
        </legend>
        
        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="temp_field_name">Field name</label> -->
          <input class="govuk-input" id="temp_field_name" name="temp_field_name" type="text">
        </div>

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">National Grid Reference (optional)</label>
          <input class="govuk-input govuk-input--width-10" id="address-line-1" name="addressLine1" type="text">
        </div> -->

        <!-- <div class="govuk-form-group margin-bottom-forty">
          <label class="govuk-label" for="address-line-1">Land Parcel ID (optional)</label>
          <input class="govuk-input govuk-input--width-10" id="address-line-1" name="addressLine1" type="text">
        </div> -->

        <!-- <div class="govuk-form-group margin-bottom-forty">
          <label class="govuk-label" for="address-line-1">Other reference (optional)</label>
          <input class="govuk-input govuk-input--width-10" id="address-line-1" name="addressLine1" type="text">
        </div> -->
      
        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

    </form>

    <p class="govuk-body cancel-link"><a href="/mvp/hub">Cancel</a></p>

  </div>
  
</div>

{% endblock %}
