<dl class="govuk-summary-list margin-bottom-forty">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields would you like to add an {{data.content.non_organic_term | lower}} application to?</dt>
    <dd class="govuk-summary-list__value">

      {% if data.fertiliser_journey == "multi" %}
        {% if data.fertiliser_fields == "all" %}
          All fields in the 2024 plan
        {% else %} 
          {% for x in data.cropGroupsV5 %}
            {% if x.reference == data.fertiliser_fields %}
              The {{x.crop_reference | nameconverter}} fields
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
      

    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How much of each nutrient do you plan to include in this application?</dt>
    <dd class="govuk-summary-list__value">40kg Nitrogen(N) per hectare</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">When do you plan to spread inorganic fertiliser?</dt>
    <dd class="govuk-summary-list__value">1 March 2024</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <!-- <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you plan to spread more inorganic fertiliser on
      {% if data.fertiliser_journey == "multi" %}
        The Winter Wheat fields?
      {% else %}
        {{data.chosen_field.name}}?
      {% endif %}
    </dt>
      {% if data.fertiliser_count != 0 %}
        <dd class="govuk-summary-list__value">Yes</dd>
      {% else %}
        <dd class="govuk-summary-list__value">No</dd>
      {% endif %}
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div> -->

  <!-- {% if data.fertiliser_count != 0 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">When do you plan to spread inorganic fertiliser?</dt>
      <dd class="govuk-summary-list__value">Mid April to early May</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">How much of each nutrient do you plan to include in this application?</dt>
      <dd class="govuk-summary-list__value">10kg Nitrogen(N)	</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you plan to spread more inorganic fertiliser on
        {% if data.fertiliser_journey == "multi" %}
          The Winter Wheat fields?
        {% else %}
          {{data.chosen_field.name}}?
        {% endif %}
      </dt>
      <dd class="govuk-summary-list__value">No</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>  

  {% endif %} -->

</dl>