{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "templates/title_span.html" %} -->
      <h1 class="govuk-heading-l">
        Which fields will you include in this {{data.content.non_organic_term | lower}} application?
      </h1>

      <form class="form" action="v5_fertiliser_handler" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="all" name="fertiliser_fields" type="radio" value="all">
                <label class="govuk-label govuk-radios__label" for="all">
                  All fields in the 2024 plan
                </label>
              </div>
              {% for group in data.cropGroupsV5 %}
              <!-- {{group.crop_reference}} 
              {% if group.variety %}
                ({{group.variety}}) 
              {% endif %}
              {{group.groupname}} 
              {{group.reference}}  -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id={{group.reference}} name="fertiliser_fields" type="radio" value={{group.reference}}>
                <label class="govuk-label govuk-radios__label" for={{group.reference}}>
                  The 
                    {{group.crop_reference | nameconverter}}
                  fields  
                    ({{group.groupname | lower}})
                </label>
              </div>
            {% endfor %} 
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specific" name="fertiliser_fields" type="radio" value="specific">
                <label class="govuk-label govuk-radios__label" for="specific">
                 Select specific fields
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="#">Cancel</a>
  </p>

{% endblock %}
