
<div class="">

    <p class="govuk-body">
        Selected livestock type: {{data.chosen_livestock.name | capitalize}}
    </p>

    <div class="margin-bottom-thirty">
        <h2 class="govuk-heading-m">
        Number of places
        </h2>

        <div class="govuk-form-group">
        <label class="govuk-label strong" for="livestock_number">
            What is the average number of places for this {{data.livestock_group}} type in 2025?
        </label>
        <p class="govuk-hint">For example, for 10,000 places enter 10</p>
        <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="livestock_number" name="livestock_number" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">
                thousand places
            </div>
        </div>
    </div>

    <h2 class="govuk-heading-m">
       Occupancy
    </h2>
    <p>
        These animals are counted by the number of places for them on the farm. Occupancy means the proportion of the year that these places are occupied by animals. For example, if your production cycle lasts 42 days, and the empty period is 7 days (total 49 days), then your occupancy is 86%.
If the occupancy on your farm is different to the value shown here, you can change it.
    </p>

    <table class="govuk-table margin-bottom-forty">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Occupancy</th>
            <td class="govuk-table__cell">86% of the year</td>
            <td class="govuk-table__cell"><a href="occupancy">Change</a></td>
            </tr>
        </tbody>
    </table>


    <h2 class="govuk-heading-m">
       Nitrogen (N) standard
    </h2>

    <p>
       The nitrogen (N) standard figure is the average nitrogen (N) produced by this type of animal.
If you change this value, you must keep the occupancy value the same.
    </p>


    <table class="govuk-table margin-bottom-forty">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Nitrogen (N) standard</th>
            <td class="govuk-table__cell">83kg per 1000 places, per year</td>
            <td class="govuk-table__cell"><a href="n_standard">Change</a></td>
            </tr>
        </tbody>
    </table>


        <!-- <h3 class="govuk-heading-s">Occupancy and nitrogen (N) standard</h3> -->

        <!-- <p class="govuk-body">You can update the default occupancy, or nitrogen (N) standard. Do not Change both figures.</p> -->

        <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="livestock_occupancy">
                How much of the year is each animal place occupied?
            </label>
            <div class="govuk-hint">Do not include cleaning time etc.</div>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" value ="100" id="livestock_occupancy" name="livestock_occupancy" type="text" spellcheck="false" autocomplete="off">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
            </div>
        </div> -->

        <!-- <div class="govuk-form-group margin-bottom-thirty">
            <label class="govuk-label" for="nitrogen_standard">
                What is the nitrogen (N) standard per 1000 places, per year?
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="nitrogen_standard" name="nitrogen_standard" value="83" type="text" spellcheck="false" autocomplete="off">
                <div class="govuk-input__suffix" aria-hidden="true">Kg</div>
            </div>
        </div> -->

</div>