<table class="govuk-table data-table store-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Name</th>
    <th scope="col" class="govuk-table__header">Storage type</th>
    <!-- <th scope="col" class="govuk-table__header">Length</th>
    <th scope="col" class="govuk-table__header">Width</th>
    <th scope="col" class="govuk-table__header">Depth</th>
    <th scope="col" class="govuk-table__header">Circumference</th> -->
    <!-- <th scope="col" class="govuk-table__header">Bank slope</th> -->
    <th scope="col" class="govuk-table__header">Total capacity</th>
    <th scope="col" class="govuk-table__header"> </th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">{{data.storage_name}}</td>
    <td class="govuk-table__cell">Square or rectangular store</td>
    <!-- <td class="govuk-table__cell">8 metres</td>
    <td class="govuk-table__cell">8 metres</td>
    <td class="govuk-table__cell">4 metres</td>
    <td class="govuk-table__cell">-</td> -->
    <!-- <td class="govuk-table__cell">1:1 (45 degrees)</td> -->
    <td class="govuk-table__cell">256 cubic metres</td>
    <td class="govuk-table__cell"><a href="./change">Change</a></td>
  </tr>
</tbody>
</table>
