{% extends "layouts/main.html" %}

{% block pageTitle %}
Excess winter rainfall – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          What is the excess winter rainfall for {{data.oaktree_farm.name}} in 2025?
        </h1>

        <p class="govuk-body">
          AHDB provide a map showing the difference between the current season and long-term average rainfall in your area.
        </p>

        <p class="govuk-body margin-bottom-forty">
          <a target="_blank" href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications">View the AHDB excess winter rainfall map</a> (Opens in a new window)
        </p>

        <!-- <p class="govuk-body">Select the excess winter rainfall band for {{data.oaktree_farm.name}} in for 2025, or enter the excess value.</p> -->

        <!-- <p><a target='_blank' href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications"> Link</a></p> -->
      
        <form action="check_rain" method="post" novalidate="">    
          
          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              Excess winter rainfall
            </label> 
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="grass_total_yield_figure" name="grass_total_yield_figure" type="text" value="0" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">mm</div>
            </div>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <button class="govuk-button" data-module="govuk-button">Continue</button>
            </fieldset>
          </div>

          <p class="govuk-body cancel-link"><a href="/farm/farms">Cancel</a></p>

          </div>
        </div>
      </form>
  </div>
</div>

{% endblock %}
