{% extends "layouts/main.html" %}

{% block pageTitle %}
Excess winter rainfall – {{ serviceName }}
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Excess winter rainfall for {{data.oaktree_farm.name}} {{data.oaktree_farm.planning_year}}
        </h1>

        <p class="govuk-body">
          <a target="_blank" href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications">View the AHDB excess winter rainfall map</a> (Opens in a new window)
        </p>

        <!-- <p class="govuk-body"><a target="_blank" href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications">View AHDB's maps showing excess winter rainfall in the UK</a>. (Opens in a new window)</p> -->
        <p class="govuk-body">Select the excess winter rainfall range for {{data.oaktree_farm.name}} in {{data.oaktree_farm.planning_year}}, or enter the excess winter rainfall value.</p>

        <!-- <p><a target='_blank' href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications"> Link</a></p> -->
      
      <form action="check_rain" method="post" novalidate="">      

        <div class="govuk-form-group">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ten" name="grass_total_yield" type="radio" value="10 - 13">
              <label class="govuk-label govuk-radios__label" for="ten">
                More than 250mm (high)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nine" name="grass_total_yield" type="radio" value="9 - 12">
              <label class="govuk-label govuk-radios__label" for="nine">
                150mm to 250mm (moderate)
              </label>
            </div>            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="seven" name="grass_total_yield" type="radio" value="7 - 9">
              <label class="govuk-label govuk-radios__label" for="seven">
                Less than 150mm (low)
              </label>
            </div>
           
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="value" name="grass_total_yield" type="radio" value="value" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="value">
                Enter a value
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="weight">
                  Excess winter rainfall
                </label>
                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="grass_total_yield_figure" name="grass_total_yield_figure" type="text" spellcheck="false">
                  <div class="govuk-input__suffix" aria-hidden="true">mm</div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              What is the total rainfall for {{data.oaktree_farm.name}} in 2024?
            </label>        
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="rainfall" value="554" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">mm</div>
            </div>
          </div> -->

        <!-- <div class="govuk-form-group margin-bottom-forty">
          <label class="govuk-label" for="event-name">
            What is the excess winter rainfall for {{data.oaktree_farm.planning_year}}?
          </label>        
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="rainfall" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">mm</div>
          </div>
        </div>
 -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </fieldset>
        </div>

        <p class="govuk-body cancel-link"><a href="/farm/farms">Cancel</a></p>

          </div>
      </div>
    </form>
  </div>

{% endblock %}
