{% extends "layouts/main.html" %}

{% block pageTitle %}
Excess winter rainfall – {{ serviceName }}
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Was the winter rainfall (1 October 2025 to 1 March 2026) at {{data.oaktree_farm.name}} 450mm or more?
        </h1>
        
        <form action="check_rain_sc" method="post" novalidate="">    
          <div class="govuk-form-group">
  
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="high" name="excess_rain" type="radio" value="high">
                <label class="govuk-label govuk-radios__label" for="high">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="moderate" name="excess_rain" type="radio" value="moderate">
                <label class="govuk-label govuk-radios__label" for="moderate">
                  No
                </label>
              </div>            
            </div>
          </div>

          <div class="govuk-form-group margin-bottom-ten">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </div>
    
        </form>

     <p class="govuk-body cancel-link"><a href="/farm/farms">Cancel</a></p>

    </div>
  </div>

{% endblock %}
