{% extends "layouts/main.html" %}

{% block pageTitle %}
Excess winter rainfall – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          What is the excess winter rainfall for {{data.oaktree_farm.name}} in 2025?
        </h1>

        <!-- <p class="govuk-body">
          Rainfall is used to estimate soil nitrogen supply. Your rainfall category has been estimated from your average annual rainfall.
        </p>

        <p class="govuk-body">
          If rainfall on {{data.oaktree_farm.name}} has been higher or lower than normal, you can update it for the current year. 
        </p>

        <p class="govuk-body">
          AHDB publish excess winter rainfall data each season. <a target="_blank" href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications">View the AHDB excess winter rainfall data.</a> (Opens in a new window) 
        </p>

        <div class="text-group">
          <h3 class="govuk-heading-s">Average annual rainfall for {{data.oaktree_farm.postcode}}</h3>
          <p class="govuk-body">600mm</p>
          <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
        </div>

        <div class="text-group">
          <h3 class="govuk-heading-s">Excess winter rainfall</h3>
          <p class="govuk-body">0mm</p>
          <p class="govuk-body"><a href="rainfall-manual">Change</a></p>
        </div>

        <div class="text-group">
          <h3 class="govuk-heading-s">Rainfall category</h3>
          <p class="govuk-body">Moderate</p>
        </div> -->
  

        <!-- <p class="govuk-body">
          Rainfall is used to estimate soil nitrogen supply. Your rainfall range has been estimated from your average annual rainfall of 600mm. 
        </p> -->

        <!-- <p class="govuk-body">
          <a target="_blank" href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications">View the AHDB excess winter rainfall map</a> (Opens in a new window)
        </p> -->


        <!-- <p class="govuk-body"><a target="_blank" href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications">View AHDB's maps showing excess winter rainfall in the UK</a>. (Opens in a new window)</p> -->
        <!-- <p class="govuk-body">Select the excess winter rainfall range for {{data.oaktree_farm.name}} in 2025, or enter the excess winter rainfall value.</p> -->

        <!-- <p><a target='_blank' href="https://ahdb.org.uk/knowledge-library/how-to-use-excess-winter-rainfall-data-to-plan-nitrogen-applications"> Link</a></p> -->
      
      <form action="check_rain" method="post" novalidate="">      
        <!-- <p>
          What is the excess winter rainfall for {{data.oaktree_farm.name}}?
        </p> -->

        <div class="govuk-form-group">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ten" name="grass_total_yield" type="radio" value="10 - 13">
              <label class="govuk-label govuk-radios__label" for="ten">
                More than 250mm
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nine" name="grass_total_yield" type="radio" value="9 - 12">
              <label class="govuk-label govuk-radios__label" for="nine">
                150mm to 250mm
              </label>
            </div>            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="seven" name="grass_total_yield" type="radio" value="7 - 9">
              <label class="govuk-label govuk-radios__label" for="seven">
               Less than 150mm
              </label>           
            </div>
          </div>
        </div>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              What is the total rainfall for {{data.oaktree_farm.name}} in 2024?
            </label>        
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="rainfall" value="554" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">mm</div>
            </div>
          </div> -->

        <!-- <div class="govuk-form-group margin-bottom-forty">
          <label class="govuk-label" for="event-name">
            What is the excess winter rainfall for 2025?
          </label>        
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="rainfall" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">mm</div>
          </div>
        </div>
 -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </fieldset>
        </div>

        <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>

          </div>
      </div>
    </form>
  </div>

{% endblock %}
