{% extends "layouts/main.html" %}

{% block pageTitle %}
Excess winter rainfall – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Rainfall category for {{data.oaktree_farm.name}}
        </h1>  

        <p class="govuk-body">Rainfall categories are estimated from the average annual rainfall, or excess winter rainfall when entered.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <!-- <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Month you apply</th>
              <th scope="col" class="govuk-table__header">Rate for vehicles</th>
            </tr> -->
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Average annual rainfall</th>
              <td class="govuk-table__cell">600mm</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Excess winter rainfall</th>
              <td class="govuk-table__cell">
                {% if data.oaktree_farm.ewr == null %}
                Not entered
                {% else %}
                  {% if data.excess_rain == 'high' %}
                    High (250mm or more)
                  {% elif data.excess_rain == 'moderate' %}
                    Moderate (150mm to 250mm)
                  {% elif data.excess_rain == 'low' %}
                    Low (less than 150mm)
                  {% endif %}
              {% endif %}
      
              </td>
            </tr>
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Rainfall category</th>
              <td class="govuk-table__header">Moderate</td>
            </tr> -->
          </tbody>
        </table>

        <form action="rainfall_update" method="post" novalidate="">      
            <fieldset class="govuk-fieldset">
              <button class="govuk-button" data-module="govuk-button">Update excess winter rainfall</button>
            </fieldset>
      </form>

      <p class="govuk-body cancel-link"><a href="/mvp/farms">Cancel</a></p>


  </div>
</div>

{% endblock %}
