{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Displaying and editing basic data</h2>

    <ul class="govuk-list">
      <li><a href="/field/table">Table examples</a></li>
      <li><a href="/field/add-field">Add a field example</a></li>
    </ul>

    <h2 class="govuk-heading-m">Generating recommendations</h2>

    <ul class="govuk-list">
      <li><a href="./tests/old/plan/table.html">Nutrient recommendation table examples</a></li>
      <li><a href="./tests/old/plan/add-nitrogen.html">Update plan data example</a></li>
    </ul>

  </div>

</div>

{% endblock %}
