<div class="margin-bottom-forty">
	<h3 class="govuk-heading-s margin-bottom-ten">Manure type and date of application</h3>
	<table class="govuk-table data-table width-66">
		<thead class="govuk-table__head">
			<tr>
				<th scope="row" class="govuk-table__header">Manure type</th>
				<th scope="row" class="govuk-table__header">Date</th>
				<th scope="row" class="govuk-table__header">Field</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr>
				<td class="govuk-table__cell">{{data.chosen_application}} </td>
				<td class="govuk-table__cell">{{data.chosen_field_id | fieldnameconverter}}</td>
        <td class="govuk-table__cell">10 September 2026</td>
			</tr>
		</tbody>
	</table>
</div>

    <!-- <p class="govuk-body">Application of {{data.chosen_application}} on {{data.chosen_field_id | fieldnameconverter}}, 10 September 2026</p> -->
