<h3 class="govuk-heading-s">Value breakdown</h3>	
<div class="margin-bottom-forty">
	<table class="govuk-table margin-bottom-forty data-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">Crop available <br>nitrogen (N)</th>
				<th scope="row" class="govuk-table__header">Total phosphate (P2O5)</th>
				<th scope="row" class="govuk-table__header">Total potash (K2O)</th>
				<th scope="row" class="govuk-table__header">Total value</th>
			</tr>
		</thead>
		<tbody>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">£10</td>
				<td class="govuk-table__cell">£79</td>
				<td class="govuk-table__cell">£36</td>
				<td class="govuk-table__cell">£125</td>
			</tr>
		</tbody>
  </table>
</div>