{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Change an organic manure application
    </h1>

    <div class="check-answers">
      <dl class="govuk-summary-list margin-bottom-forty">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fields included in this application</dt>
          <dd class="govuk-summary-list__value">
            Long Field<br>
            Barn Field<br>
            Orchard<br>
            Valley<br>
            Poplar<br>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Organic material</dt>
          <dd class="govuk-summary-list__value">{{data.manure_type.name}}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">When do you plan to spread organic manure</dt>
          <dd class="govuk-summary-list__value">
          <p class="govuk-body">30 August 2025</p>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you want to use the default nutrient values for {{data.manure_group.name}}?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How would you like to calculate the amount of manure used?</dt>
          <dd class="govuk-summary-list__value">Use the standard application rate of 40 tonnes per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Incorporation method</dt>
          <dd class="govuk-summary-list__value">Discs</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Number of days before incorporation</dt>
          <dd class="govuk-summary-list__value">1 to 2 days</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Autumn crop Nitrogen uptake</dt>
          <dd class="govuk-summary-list__value">10kg per hectare</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">End of soil drainage</dt>
          <dd class="govuk-summary-list__value">31 March 2025</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Rainfall within 6 hours of application</dt>
          <dd class="govuk-summary-list__value">0</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Total rainfall since application</dt>
          <dd class="govuk-summary-list__value">328mm</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Windspeed at application</dt>
          <dd class="govuk-summary-list__value">Calm/gentle (0 - 3 Beaufort scale)</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Topsoil moisture</dt>
          <dd class="govuk-summary-list__value">Moist</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>      
      
      </dl>    
    </div>

    <form action="version5_manure_update_handler" method="post" novalidate>
      {{ govukButton({
        text: "Update"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
