<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="inorganic">
  <div class="margin-bottom-forty">
    <h2 class="govuk-heading-m non-standard">Inorganic fertiliser applications</h2>
    {% if inorganics == false %}
      <p class="govuk-body">You have no {{data.content.non_organic_term | lower}} applications planned.</p>
    {% endif %}
    <p class="govuk-body"><a href="v2fertiliser_handler?fertiliserjourney=multi">Add an {{data.content.non_organic_term | lower}} application to one or more fields</a></p>
  </div>


  {% if inorganics == true %}
    <hr class="seperator_five">
  {% endif %}

  <div class="margin-bottom-forty">
    {% if inorganics == true %}
      {% include "./templates/fertiliser_applications_tabs.html" ignore missing %}
    {% endif %}
  </div>       
</div>

   <!-- {% for group in data.fertiliserGroupsV5 %}
    <p>reference {{group.reference}}</p>
    <p>year {{group.year}}</p>
    <p>
      {% for field in group.fields %}
        {{field}} ,
      {% endfor %}  
    </p>
    <p>fields.length {{group.fields.length}}</p>
    <p>organic {{group.organic}}</p>
    <p>manure_type {{group.manure_type}}</p>
    <p>single_application {{group.single_application}}</p>
    <p>application_date {{group.application_date}}</p>
  {% endfor %}  
  -->