<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="organic">
  <div class="margin-bottom-forty">
    <h2 class="govuk-heading-m non-standard">Organic material applications</h2>
    {% if data.plan_2024.multipleManuresApplied == false and data.plan_2024.singleManuresApplied == false %}
      <p class="govuk-body">You have no {{data.content.organic_term | lower}} applications planned.</p>
    {% endif %}
    <p class="govuk-body"><a href="v2manure_handler?manurejourney=multi">Add an {{data.content.organic_term | lower}} application to one or more fields</a></p>
  </div>

  {% if data.plan_2024.multipleManuresApplied == true or data.plan_2024.singleManuresApplied == true %}
    <hr class="seperator_five">
  {% endif %}
<!-- manures -->
<div class="margin-bottom-forty">
  {% if data.plan_2024.multipleManuresApplied != false or data.plan_2024.singleManuresApplied != false %}
    {% include "./templates/applications_tabs.html" ignore missing %}
  {% endif %}
</div>
</div>