<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--s">{{data.chosen_crop | nameconverter}}</caption> -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell strong">Variety</td>
      {% if data.chosen_group.variety.length > 0 %}
        <td class="govuk-table__cell">{{data.chosen_group.variety}}</td>
      {% else %}
        <td class="govuk-table__cell">Not entered</td>
      {% endif %}
    </tr>         
    <tr class="govuk-table__row">
      <td class="govuk-table__cell strong">Group</td>
      <td class="govuk-table__cell">Crop group {{data.chosen_group.reference}}</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell strong">Planting date</td>
      <td class="govuk-table__cell">
        {% if data.chosen_group.planting_date == null %}
            Not entered
          {% else %}
            {{data.chosen_group.planting_date}}
        {% endif %}
      </td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell strong">Estimated yield</td>
      <td class="govuk-table__cell">8 tonnes per hectare</td>
    </tr>
    {% if data.chosen_group.crop_reference == 'Wheat-Winter' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell strong">Crop use</td>
        <td class="govuk-table__cell">Milling</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell strong">Straw use</td>
        <td class="govuk-table__cell">Incorporated</td>
      </tr>
    {% endif %}
  </tbody>
</table>  