<div class="margin-bottom-forty">
  <h2 class="govuk-heading-m non-standard">Inorganic fertiliser applications</h2>
  {% if inorganics == false %}
    <p class="govuk-body">You have no inorganic fertiliser applications planned.</p>
  {% endif %}
  <form class="add-button" action="v2fertiliser_handler?fertiliserjourney=multi" method="post" novalidate="">    
    <button class="govuk-button" data-module="govuk-button">
      Add an inorganic fertiliser application
    </button>
  </form>
</div>
<hr class="separator_forty">
{% if inorganics == true %}
  <div class="margin-bottom-forty">
    <h2 class="govuk-heading-m">All inorganic fertiliser applications for harvest year {{data.oaktree_farm.planning_year}}</h2>
    <p class="govuk-body-s">All amounts are per hectare</p>
  <p class="govuk-body"><a href="#">Sort by field name</a> <span>&nbsp; </span> | <span> &nbsp;</span> <a href="#">sort by date</a><span> &nbsp;</span> | <span>&nbsp; </span> <a href="#">sort by crop</a></p>
    {% include "./fertiliser_applications_table.html" ignore missing %}
  </div>
{% endif %}
