<div class="govuk-tabs__panel" id="recs">

  <h2 id="cropone" class="govuk-heading-m">
    Nutrient and Lime recommendations for 
    {{data.chosen_group.crop_reference | nameconverter}} 
    {% if data.chosen_group.variety.length > 0 %}
      ({{data.chosen_group.variety}}) 
    {% endif %}
    in
    {{data.chosen_field.field_name}}
  </h2>

  {% if data.chosen_group.crop_reference == 'grass' %}
    <p>There are four cuts and grazings in {{data.oaktree_farm.planning_year}}, with nutrient and lime recommendations for each one.</p>
    <hr class="separator_forty">
  {% endif %}
  
  {% if data.chosen_group.crop_id == 'grass' %}
    {% if organics == true %}
      {% include "../v5_grass_one_application.html" ignore missing %}
    {% else %}
      {% include "../v5_grass_empty.html" ignore missing %}
    {% endif %}
  {% endif %}

  {% if data.oaktree_farm.planning_year == 2025 %}
    {% include "./v5_nutrients_empty_v2.html" ignore missing %}
  {% else %}
    {% if organics == true and inorganics == true %}
      {% include "../v4_nutrients_both.html" ignore missing %}
    {% elif organics == true and inorganics == false %}
      {% include "../v4_nutrients_one_organic.html" ignore missing %}
    {% elif organics == false and inorganics == true %}
      {% include "../v5_nutrients_one_fertiliser.html" ignore missing %}
    {% else %}
      {% include "../v5_nutrients_empty.html" ignore missing %}
    {% endif %}
  {% endif %}
  <p class="govuk-body-s margin-bottom-forty">Crop need is calculated using AHDB Nutrient Management Guide (RB209). Supply from manures calculated using<br> MANNER-NPK (Nutrient Calculation Engine).</p>

  {% include "../v5_rolling_balance.html" ignore missing %}

  {% if data.chosen_crop != 'Grass' and data.chosen_crop != 'grass' and data.oaktree_farm.planning_year != 2025 %}
    {% include "../v5_guidance.html" ignore missing %}
  {% endif %}

    <p class="govuk-body-s">Amounts are per hectare.</p>
  
    {% if data.chosen_crop == 'Grass' or data.chosen_crop == 'grass' %}
      <p class="govuk-body-s">These recommendations are for {{data.chosen_field.field_name}}, harvest year {{data.oaktree_farm.planning_year}}</p>
      {% include ".//v4_grass_empty.html" ignore missing %}
    {% else %}
      {% if organics == true and inorganics == true %}
        {% include "../v4_nutrients_both.html" ignore missing %}
      {% elif organics == true and inorganics == false %}
        {% include "../v4_nutrients_one_organic.html" ignore missing %}
      {% elif organics == false and inorganics == true %}
        {% include "../v5_nutrients_one_fertiliser.html" ignore missing %}
      {% else %}
        {% include "./v5_nutrients_empty.html" ignore missing %}
      {% endif %}
    {% endif %}
  <p class="govuk-body-s margin-bottom-forty">Crop need is calculated using AHDB Nutrient Management Guide (RB209). Supply from manures calculated using<br> MANNER-NPK (Nutrient Calculation Engine).</p>

  <!-- rolling_balance -->
  {% include "../v5_rolling_balance.html" ignore missing %}
  
  <!-- guidance -->
  {% include "../v5_guidance.html" ignore missing %}

  <hr class="separator_forty">

  <div class="margin-bottom-forty">
    <h2 class="govuk-heading-s">About recommendations, guidance, and advice</h2>
    {% include "/templates/recommendations.html" ignore missing %}
  </div>

  {% if data.chosen_group.crop_id == 'grass' %}
  <p class="govuk-body"><a class="govuk-link" href="#">Back to the top</a></p>
{% endif %}


</div>

<!-- TESTS IMPORTANT
<p>group = {{data.chosen_group.reference}}</p>
<p>field = {{data.chosen_field.field_name}}</p>

<p>appears_in_other_groups? = {{appears_in_other_groups}}</p>
<p>reference? = {{second_crop_id}}</p> -->
