{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{data.oaktree_farm.planning_year}} Nutrient applications
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to " + data.oaktree_farm.name ,
    href: "hub_message_reset"
  }) }}
{% endblock %}

{% block content %}

  {% include "./templates/print.html" ignore missing %}
  {% include "./templates/farm.html" ignore missing %}

  {% include "./templates/nutrients_table.html" ignore missing %}
  {% include "./templates/totals.html" ignore missing %}

  <hr class="margin-bottom-forty">
  <h2 class="govuk-heading-s">About recommendations, guidance, and advice</h2>
  {% include "/templates/recommendations.html" ignore missing %}

{% endblock %}
