{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span> -->

      <h1 class="govuk-heading-l">
        Which fields would you like to update this organic material application for?
      </h1>

      <p>These fields all have an application of Cattle farm yard manure - old on 9 February 2025.</p>

      <form class="form" action="update" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div id="waste-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="field_one" name="field" type="checkbox" value="field_one">
                <label class="govuk-label govuk-checkboxes__label" for=field_one>
                  Long Field
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="field_two" name="field" type="checkbox" value="field_two" >
                <label class="govuk-label govuk-checkboxes__label" for="field_two">
                  Short Field
                </label>
              </div>
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="field_three" name="field" type="checkbox" value="field_three">
                <label class="govuk-label govuk-checkboxes__label" for="field_three">
                  Update all these fields
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>    

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
