{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {% if data.manure_journey == 'single' %}
    {{ govukBackLink({
      text: "Back to " + data.chosen_field.field_name + " plan",
      href: "/management/farm/field_plan/index#manures"
    }) }}
  {% else %}
    {{ govukBackLink({
      text: "Back to crop and nutrient plan " + data.farm.planning_year,
      href: "/management/farm/crop_plan/plan_view#organic"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

<!-- set content for application rate -->
{% set quantity_content = 'Enter an application rate' %}
{% if data.quantity_type == 'area' %}
  {% set quantity_content = 'Calculate based on the area and quantity you are spreading' %}
{% elif data.quantity_type == 'default' %}
  {% set quantity_content = 'Use a typical application rate' %}
{% endif %}

<!-- set field name -->
{% set field = null %}
{% for x in data.all_fields %}
  {% if x.field_id == data.chosen_field_id %}
    {% set field = x %}
    {% endif %}
{% endfor %} 

<!-- set date -->
{% set application_date = data.manure_date_day + " " + data.manure_date_month | convertmonth + " " + data.manure_date_year%}

<!-- set manure type -->
{% set localmanuretype = data.chosen_application %}

{% macro row_item(key, value, url) %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    {{key}}
  </dt>
  <dd class="govuk-summary-list__value">
    {{value}}
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href={{url}}>Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>
{% endmacro %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% if data.show_manure_notification == true or data.application_rate >= 250 %}
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This application will take you over the organic manure nitrogen field limit
          </p>
          <!-- <p class="govuk-body">
            The Nitrate Vulnerable Zone (NVZ) rules state that the total amount of nitrogen from all organic manures you apply in any 12 month period on any single hectare of your land must not exceed 250kg.
          </p>
          <p class="govuk-body">
            It is an offence to breach the Nitrate Vulnerable Zone rules, and you should consider reducing the amount of nitrogen from organic manures.
          </p> -->
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Update an organic material application for harvest year {{data.farm.planning_year}}
    </h1>

    <p class="gov-body margin-bottom-thirty">You can also <a href="">remove this application</a> from these fields.</p>

    <!-- <div class="govuk-inset-text margin-bottom-forty">
      <p class="govuk-body">
        Changes here will be applied to this organic material application for all of these fields. 
      </p>
    </div> -->
    
    <div id="manure_cya" class="check-answers">
      <dl class="govuk-summary-list margin-bottom-twenty">

        {% if data.manure_journey == 'multi' %}
          {{ row_item('Which field do you want to update this organic manure application for?', field.field_name, null ) }}
        {% endif %}
        {{ row_item('What type of organic material are you using in this application?', localmanuretype, null ) }}
        {{ row_item('When are you applying ' +  localmanuretype + '?', application_date, null ) }}
        {{ row_item('How are you going to apply the ' + localmanuretype + '?', 'Band spreader', null ) }}
        {{ row_item('Do you want to use typical nutrient values for ' + localmanuretype + '?', 'Yes, use typical nutrient values', null ) }}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Typical nutrient values for {{localmanuretype}}</dt>
          <dd id="nutrient_list" class="govuk-summary-list__value">
            <span class="nutrient_row">Dry matter content <span class="figure">25.0%</span></span>
            <span class="nutrient_row">Nitrogen (N) <span class="figure">6.0kg/t</span></span>
            <span class="nutrient_row">Ammonium-N <span class="figure">1.2kg/t</span></span>
            <span class="nutrient_row">Phosphate (P2O5) <span class="figure">3.2kg/t</span></span>
            <span class="nutrient_row">Potash (K2O) <span class="figure">9.4kg/t</span></span>
            <span class="nutrient_row">Sulphur (SO3) <span class="figure">2.4kg/t</span></span>
            <span class="nutrient_row">Magnesium (MgO) <span class="figure">1.8kg/t</span></span>
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        {{ row_item('How would you like to enter the application rate for your ' + localmanuretype + '?', quantity_content, null ) }}

        {% if data.quantity_type == 'rate' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">What is the application rate?</dt>
            <dd class="govuk-summary-list__value">
              {{data.application_rate}} tonnes per hectare
              {% if data.show_manure_notification == true or data.application_rate >= 250 %}
                <br>
                <span>This application will take you over the organic manure nitrogen field limit</span>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="manure_rate">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
          </div>
        {% endif %}

        {% if data.quantity_type == 'area' %}
          {{ row_item('Spreading area', '57 hectares', null ) }}
          {{ row_item('Quantity', '1140 tonnes', null ) }}
        {% endif %}

        {% if data.quantity_type == 'default' %}
          {{ row_item('What is the application rate?', '20 tonnes per hectare', null ) }}
        {% endif %}
        
        {{ row_item('What is the incorporation method?', 'Discs', null ) }}
        {{ row_item('How long is the gap between application and incorporation?', '1 to 2 days', null ) }}
        {{ row_item('Autumn crop nitrogen (N) uptake', '10kg per hectare', null ) }}
        {{ row_item('End of soil drainage', '31 March' + data.farm.planning_year, null ) }}
        {{ row_item('Rainfall within 6 hours of application', 0, null ) }}
        {{ row_item('Total rainfall since application', '328mm', null ) }}
        {{ row_item('Windspeed at application', 'Calm/gentle (0 - 3 Beaufort scale)', null ) }}
        {{ row_item('Topsoil moisture', 'Moist', null ) }}
        
      </dl>    
    </div>

    <form action="manure_update_handler" method="post" novalidate>
      {{ govukButton({
        text: "Update"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
