{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      
      <form action="/version_7/farm/outputs/inventory/system_list" method="post" novalidate="">

        <h1 class="govuk-heading-l">
            Manure system
        </h1>

        <p class="govuk-body">
          Selected livestock type: {{data.chosen_livestock.name | capitalize}}
        </p>

        <h2 class="govuk-heading-m">
          Default values
        </h2>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              About the default values
              </span>
          </summary>
          <div class="govuk-details__text">
              <!-- <p class="govuk-body">
                  Occupancy is the proportion of the year that the animal place is occupied by animals.
              </p>
              <p class="govuk-body">
                  The remaining time will be for cleaning etc. 
              </p>
              <p class="govuk-body">
                  If the occupancy on your farm is different to the occupancy values shown here, you should enter the actual occupancy figures for your farm.
              </p>
              <p class="govuk-body">
                  If you enter your own nitrogen (N) standard figure, do not change the occupancy value.
              </p> -->
          </div>
        </details>

        {% include "./templates/table.html" ignore missing %}
        
        <button class="govuk-button margin-bottom-forty" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body cancel-link"><a href="/version_7/farm/hub">Cancel</a></p>

    </div>

  </div>

{% endblock %}
