{% extends "layouts/main.html" %}
{% from "./templates/macros.html" import navCard %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_signed_in_start.html" ignore missing %}
{% endblock %}

{% block content %}

<!-- set the URL for the farm card -->
{% set farmsUrl = 'about_nmpt' %}
{% if data.farm.setup == true %}
  {% set farmsUrl = 'farms_only' %}
{% endif %}


<!-- set the URL for the manner card -->
{% set mannerUrl = '/manner/previous_calculations' %}
{% if data.manner_applications.length == 0 %}
  {% set mannerUrl = '/manner/about_manner' %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% if data.show_success_message == true %}
      {% include "./templates/success_messages" ignore missing %}
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">        
      Plan and manage nutrient applications
    </h1>

    <hr class="margin-bottom-thirty">

    <div class="govuk-width-container">
      <ul class="govuk-grid-row card-group">

        {{ navCard(
          "Nutrient management planning", 
          "Create nutrient management plans and Nitrate Vulnerable Zone (NVZ) reports for a farm.", 
          farmsUrl
        )}}

        {{ navCard(
          "Nutrient supply estimates", 
          "Estimate nutrient supply, and potential financial value, of organic manure applications.", 
          mannerUrl
        )}}

      </ul>
    </div>

  </div>
</div>

{% endblock %}