  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Length<br>
      <dd class="govuk-summary-list__value">
      20 metres
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Width<br>
      <dd class="govuk-summary-list__value">
        20 metres
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Depth<br>
      <dd class="govuk-summary-list__value">
        20 metres
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Does {{data.storage_name}} have sloped edges?<br>
      <dd class="govuk-summary-list__value">
        Yes
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the estimated angle of the bank slope?<br>
      <dd class="govuk-summary-list__value">
        1:1 (45 degrees)
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Capacity volume</dt>
      <dd class="govuk-summary-list__value">60 metres cubed</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Surface area</dt>
      <dd class="govuk-summary-list__value">60 metres squared</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
