<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Do you want to enter the circumference or the diameter?<br>
    <dd class="govuk-summary-list__value">
      Circumference
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">What is the circumference?</dt>
    <dd class="govuk-summary-list__value">
      5 metres
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Total depth (including the freeboard)</dt>
    <dd class="govuk-summary-list__value">
      10 metres
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

  {% if data.material_type != 'solid manure' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Is {{data.storage_name}} covered?
        <dd class="govuk-summary-list__value">
          No
      </dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>
  {% endif %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Total capacity (without the freeboard)</dt>
    <dd class="govuk-summary-list__value">10 cubic metres</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Surface area</dt>
    <dd class="govuk-summary-list__value">5 metres squared</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>
