<dl class="govuk-summary-list nutrient_list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What type of manure storage do you want to add?</dt>
    <dd class="govuk-summary-list__value">{{data.material_type | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What do you want to call this manure store?</dt>
      <dd class="govuk-summary-list__value">{{data.storage_name}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What type of storage is {{data.storage_name}}?</dt>
      <dd class="govuk-summary-list__value">{{data.storage_type | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <!-- circular dimensions -->
  {% if data.storage_type == 'circular' %}
    {% include "./check_circle.html" ignore missing %}
  
  <!-- capacity -->
  {% elif data.storage_type == 'storage bag' %}
    {% include "./check_capacity.html" ignore missing %}

  <!-- sloped sides -->
  {% elif data.storage_type == 'earth banked' %}
    {% include "./check_slope.html" ignore missing %}
  
  <!-- everything else = rectangle -->
  {% else %}
    {% include "./check_rectangle.html" ignore missing %}
  {% endif %}

</dl>