<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Do you want to enter the Circumference or the Diameter?<br>
    <dd class="govuk-summary-list__value">
      Circumference
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">What is the circumference?<br>
    <dd class="govuk-summary-list__value">
      5 metres
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Depth<br>
    <dd class="govuk-summary-list__value">
      20 metres
  </dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Total capacity</dt>
    <dd class="govuk-summary-list__value">60 metres cubed</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Surface area</dt>
    <dd class="govuk-summary-list__value">60 metres squared</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link" href=""> <span class="govuk-visually-hidden"> Question 1</span></a></dd>
</div>
