{% if data.material_type != 'solid manure' %}
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        About freeboard
      </span>
    </summary>
    <div class="govuk-details__text">

      <p class="govuk-body">Freeboard is the distance between the top of the store and the level of the slurry inside. You must always keep this distance clear.</p>
      
      <p class="govuk-body">
        {% if data.storage_type == 'earth banked' %}
            For earth-banked lagoons, you must keep a minimum of 75cm of freeboard.
        {% else %}
            For a steel or concrete store, you must keep a minimum of 30cm of freeboard.
        {% endif %}
      </p>

    </div>
  </details>
{% endif %}
