<div class="govuk-form-group">
  <label class="govuk-label" for="lenght">
  What is the length?
  </label>
  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="length" name="size" type="text" spellcheck="false" autocomplete="off">
    <div class="govuk-input__suffix" aria-hidden="true">metres</div>
  </div>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="width">
    What is the width?
  </label>
  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="width" name="size" type="text" spellcheck="false" autocomplete="off">
    <div class="govuk-input__suffix" aria-hidden="true">metres</div>
  </div>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="depth">
    What is the depth, without the freeboard?
  </label>
  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="depth" name="size" type="text" spellcheck="false" autocomplete="off">
    <div class="govuk-input__suffix" aria-hidden="true">metres</div>
  </div>
</div>