{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farm name"
      },
      value: {
        text: "Oaktree Lane Farm"
      }
    },
    {
      key: {
        text: "Farm address"
      },
      value: {
        text: "South Road, Hexham, Northumberland"
      }
    },
    {
      key: {
        text: "Post code"
      },
      value: {
        text: "NE46 7LQ"
      }
    },
    {
      key: {
        text: "OPH Number"
      },
      value: {
        text: " "
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm STD code"
      },
      value: {
        text: "01954"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farm average annual rainfall"
      },
      value: {
        text: "40 mm"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Total farm area"
      },
      value: {
        text: "60 hectares"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Farmer's name"
      },
      value: {
        text: "Mr Smith"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Business name"
      },
      value: {
        text: "Smith and Sons"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Single Business Identifier (SBI)"
      },
      value: {
        text: "0"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Average altitude (metres)"
      },
      value: {
        text: "1.2"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    },
    {
      key: {
        text: "Registered organic producer"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}