{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">My farms</h1>
<!-- <h1 class="govuk-heading-xl">{{data.farm_details.plan_status}}</h1> -->

<!-- <div class="status-header">
  <p class="govuk-table__body">Planning status</p>
  {% if data.farm_details.plan_status == "none" %}
  <h2 class="govuk-heading-m">No nutrient application plan for {{data.harvest_year}}</h2>
  <p class="govuk-body">
    <a href="./create/fields.html" class="govuk-link">Create a nutrient application plan</a>
  </p>
{% else %}
  <h2 class="govuk-heading-m">Plan started for {{data.harvest_year}}</h2>
  <p class="govuk-body">
    <a href="./create/fields.html" class="govuk-link">View or edit nutrient application plan</a>
  </p>
{% endif %}
</div>  

<hr class="medium_seperator"> -->

<div>
  <!-- <h2 class="govuk-heading-m">Update farm data</h2> -->
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="hub">Oaktree Lane Farm</a>
      </li>
  </uli>
</div>

<hr class="medium_seperator">

<div>
  <h2 class="govuk-heading-m">Add a new farm</h2>
  <p class="govuk-body">
    <a class="govuk-link" href="#">Create a new farm manually</a>
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="./choose_file">Upload farm data from PLANET</a>
  </p>
</div>

{% endblock %}