{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      About this service
    </h1>

    <p class="gov-body">
      The first step is to set up your farm. The farm will contain your fields, and the fields will have the crops and nutrients applied to them. If you have more than one holding, it's best to add a separate farm for each one.
    </p>

    <p class="gov-body">
      The service will warn you of possible breaches of the Nitrate Vulnerable Zone (NVZ) rules as you make your plans.
    </p>

    <p class="gov-body">
      The service also accounts for Soil Nitrogen Supply (SNS). You can add SNS data for a field at the end of the planning process.
    </p>

    <h2 class="govuk-heading-s">
      Saving your data
    </h2>
    <p class="gov-body">
      The service will save the data you input regularly. There will be a Check Your Answers page at the end of each section, and when you select Submit here, your data will be saved up to this point. You will then be able to leave and resume here.
    </p>

    <h2 class="govuk-heading-s">
      Soil analysis
    </h2>
    <p class="gov-body">
      You will get better recommendations if you have a recent soil analysis. You will be asked to enter the data from the analysis as you progress through the service, in order to create your nutrient management plan.
    </p>
    <p class="gov-body">
      You should sample the soil from your fields every 3 to 4 years and get it tested for pH, phosphorus, potassium and magnesium.
    </p>
    <p class="gov-body">
      If you do not enter a soil analysis, or if your most recent soil analysis is more than 5 years old, any recommendations we give will be based on the target soil pH and nutrient indices for your crop, which may not be accurate for your soil or crop.
    </p>

    <form class="form margin-top-forty" action="farm/farms" method="post">
      <div class="govuk-form-group margin-bottom-forty">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                Don't show this information again
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
