{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Alpha prototypes and tests</h1>
    
    <h2 class="govuk-heading-s">Tests v1</h2>
    <ul class="govuk-list govuk-list--spaced margin-bottom-forty">
      <li><a href="/alpha/plan/table">Table examples</a></li>
      <li><a href="/alpha/prototype_1/hub">Hub example</a></li>
    </ul>

    <h2 class="govuk-heading-s">Tests v2</h2>
    <ul class="govuk-list govuk-list--spaced margin-bottom-forty">
      <li><a href="/alpha/prototype_2/hub">Version 2</a></li>
    </ul>



    <h2 class="govuk-heading-s">Prototype 4</h2>
    <ul class="govuk-list govuk-list--spaced margin-bottom-forty">
      <li><a href="/alpha/v2/hub">Version 4</a></li>
    </ul>


    <!-- <h2 class="govuk-heading-m">Prototype V2</h2>
    <p class="govuk-body"><a href="v2/hub" class="govuk-link">Latest prototype (Including manures and fertilisers)</a> (version 2.1)</p>

    <p class="govuk-body">What's included:</p>
    <ul class="govuk-list ">
      <li>new structure with planning focused on crop first</li>
      <li>clear separation between plans and records</li>
      <li>potential forecasting / multiple plans for a given year</li>
      <li>using 'favourites' for crops and manures</li>
    </ul>	

    <hr> 
    <br>
    <h2 class="govuk-heading-m">Previous prototypes (V1)</h2>

    <p class="govuk-body"><span class="strong">Create a plan</span></p>
    <p class="govuk-body">(Version 1.3) - Last updated: Mid December 2023</p>

    <p class="govuk-body">What's included</p>
    <ul class="govuk-list ">
      <li>latest Grass planning</li>
      <li>latest Arable planning</li>
      <li>adding a crop from 'favourites' to multiple fields</li>
      <li>using a manure from 'favourites' (grass planning)</li>
      <li>add a field</li>
    </ul>	

    <p class="govuk-body"><a href="/alpha/prototype_2/hub" class="govuk-link">Create a plan</a> (version 1.3)</p>

    <hr> 
    <br>
    <p class="govuk-body"><span class="strong">Add a farm (data upload or manual entry)</span></p>
    <p class="govuk-body">Last updated: December 2023</p>
  
    <p class="govuk-body">
      <a href="old/prototype_3/farms" class="govuk-link">View prototype</a>
      (version 1.3)
    </p>

    <hr> 
    <br>
  <p class="govuk-body"><span class="strong">View a plan </span> </p>
  <p class="govuk-body">Created end October 2023</p>

	<p class="govuk-body">
		<a href="/alpha/prototype_1/hub.html" class="govuk-link">View plan</a>
    (version 1.2)
	</p>	

  <p class="govuk-body">
		<a href="/alpha/prototype_1/plan_2.html" class="govuk-link">View plan </a>
    (version 1.1)
	</p>	 -->

  <!-- <div id="move-text">
    <p class="govuk-body-s">
      <a href="/alpha/prototype_2/hub.html" class="govuk-link">Manage this Prototype</a>
    </p>	
  </div> -->
  
<!-- 
  <h2 class="govuk-heading-m">Tests</h2>
  <p class="govuk-body">October 2023</p>

  <p class="govuk-body">
		<a href="tests" class="govuk-link">Tests</a>
	</p>	 -->


    <!-- <h2 class="govuk-heading-m">Displaying and editing basic data</h2>

    <ul class="govuk-list">
      <li><a href="/field/table">Table examples</a></li>
      <li><a href="/field/add-field">Add a field example</a></li>
    </ul>

    <h2 class="govuk-heading-m">Generating recommendations</h2>

    <ul class="govuk-list">
      <li><a href="/alpha/plan/table">Nutrient recommendation table examples</a></li>
      <li><a href="/alpha/plan/add-nitrogen">Update plan data example</a></li>
    </ul>
 -->
  </div>

</div>

{% endblock %}