{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Alpha prototypes and tests</h1>
    
    <h2 class="govuk-heading-s">Version 3 - December 2023</h2>
    <ul class="govuk-list margin-bottom-forty">
      <li>updated Grass planning</li>
      <li>updated Arable planning</li>
      <li>adding a crop from 'favourites' to multiple fields</li>
      <li>using a manure from 'favourites' (grass planning)</li>
      <li>add a field</li>
      <li><a href="/alpha/prototype_3/hub">View version 3</a></li>
    </ul>

    <h2 class="govuk-heading-s">Version 2 - November 2023</h2>
    <ul class="govuk-list margin-bottom-forty">
      <li>End-to-end test with basic journey. Has little detail, intended to show an overall journey idea. Introduced planning by group.</li>
      <li><a href="/alpha/prototype_2/hub">View version 2</a></li>
    </ul>

    <h2 class="govuk-heading-s">Version 1 - November 2023</h2>
    <ul class="govuk-list margin-bottom-forty">
      <li>Added some different plan views</li>
      <li><a href="/alpha/prototype_1/hub">View version 1</a></li>
    </ul>
    <h2 class="govuk-heading-s">Tests - October 2023</h2>
    <ul class="govuk-list margin-bottom-forty">
      <li>Table examples plus a basic hub setup to show the design components.</li>
      <li><a href="/alpha/plan/table">Table example</a></li>
      <li><a href="/alpha/tests_v1/hub">Hub example</a></li>
    </ul>
  
  </div>

</div>

{% endblock %}