{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% set headerServiceHref = "/start" %}
  {% set headerNavItems = [{ text: "Sign out", href: "/management/feedback" }] %}
  {% include "/templates/headers/header.html" ignore missing %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Terms of use
    </h1>

    <h2 class="govuk-heading-m">About recommendations, guidance, and advice</h2>

    <p class="govuk-body">
      Plan and manage nutrient applications ('this tool) was developed by Department for Environment, Food & Rural Affairs (Defra), RSK ADAS Ltd and RSK Business Solutions Ltd.('Defra and partners').
    </p>

    <p class="govuk-body">
      Nutrient recommendations are derived from RB209 Application Programming Interface (API); the Nutrient Management Guide (RB209) is the intellectual property of the Agriculture and Horticulture Development Board (AHDB).
    </p>

    <p class="govuk-body">
      While Defra and partners seek to ensure that the information provided by this tool is accurate at the time of use, Defra and partners accept no liability for loss, damage, injury, or liabilities howsoever caused (including that caused by negligence) or suffered directly or indirectly in relation to this tool, including the information contained in or omitted from this tool.
    </p>

    <p class="govuk-body">
      Users are responsible for the accuracy of their own data and the application of guidance provided. This tool, including the information contained in or omitted from it, should not be relied upon as the sole source of nutrient management guidance. Always consider local conditions and take appropriate measures to mitigate run-off and nutrient leaching. Where necessary consult a FACTS Qualified Adviser before making nutrient management decisions.
    </p>

    <!-- <form class="form margin-top-forty" action="management/farm/farms" method="post"> -->
    <form class="form margin-top-forty" action="/options" method="post">
      <div class="govuk-form-group margin-bottom-forty">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                I agree to the terms of use
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}