{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <ul>
      <li><a href="/test/table">Table examples</a></li>
      <li><a href="/test/add-field">Add a field example</a></li>
    </ul>
  </div>

</div>

{% endblock %}
