{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
  </div>

  <!-- MVP -->
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Beta version 1</h2>
    <p class="govuk-body">MVP version.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Proof of concept prototypes
        </span>
      </summary>
        <div class="detail_list">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              <a href="mvp/start" class="govuk-link">No farm set up</a>
            </li>
            <li>
              <a href="farm_setup_handler" class="govuk-link">Farm added without fields</a>
            </li>
            <li>
              <a href="fields_mvp_setup_handler" class="govuk-link">Farm and fields added</a>
            </li>
            <li>
              <a href="one_crop_handler" class="govuk-link">2024 crops added</a>
            </li>
          </ul>
        </div>
        <hr>
      </details> 
    </div>
    
    <!-- v2 -->
    <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Beta version 2</h2>
    <p class="govuk-body">{{data.content.organic_term}} and {{data.content.non_organic_term | lower}} functionality added, plus notification examples.</p>
     <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 2 prototypes
        </span>
      </summary>
      <div class="detail_list">
        <h3 class="govuk-heading-s">Organic Material and Inorganic fertiliser applications</h3>

        <p class="govuk-body start-link">
          <a href="version2_cropsetup_handler" class="govuk-link">2024 crops added</a>
        </p>

        <p class="govuk-body start-link">
          <a href="version2_manuresetup_handler" class="govuk-link">{{data.content.organic_term}} added</a>
        </p>

        <p class="govuk-body strong">Notifications</p>

        <p class="govuk-body start-link">
          <a href="manuredate_handler?notification=false" class="govuk-link">Date notification</a>
        </p>
        
        <p class="govuk-body start-link">http://localhost:3000/v4_setup_handler
          <a href="manurecheck_handler?notification=true" class="govuk-link">Check your answers notification</a>
        </p>
        <hr>
      </details>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Beta version 3</h2>
      <p class="govuk-body">Research version to test onboarding journey.</p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 3 prototypes
          </span>
        </summary>
          <div class="detail_list">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                <a href="v4_setup_handler" class="govuk-link">No farm set up</a>
              </li>
              <li>
                <a href="v4_farmsetup_handler" class="govuk-link">Farm added without fields</a>
              </li>
              <li>
                <a href="version4_fieldetup_handler" class="govuk-link">Farm and fields added</a>
              </li>
              <li>
                <a href="version4_cropsetup_handler" class="govuk-link">2024 crops added</a>
              </li>
              <li>
                <a href="version4_manuresetup_handler" class="govuk-link">{{data.content.organic_term}} added</a>
              </li>
            </ul>
          </div>
          <hr>
        </details>
        </div>

        <!-- <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Beta version 4</h2>
          <p class="govuk-body">Future version to test plan view.</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Version 4 prototypes
              </span>
            </summary>
              <div class="detail_list">
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>
                    <a href="v5_setup_handler" class="govuk-link">No farm set up</a>
                  </li>
                  <li>
                    <a href="v5_farmsetup_handler" class="govuk-link">Farm added without fields</a>
                  </li>
                  <li>
                    <a href="version5_fieldetup_handler" class="govuk-link">Farm and fields added</a>
                  </li>
                  <li>
                    <a href="version5_cropsetup_handler" class="govuk-link">2024 crops added</a>
                  </li>
                  <li>
                    <a href="version5_manuresetup_handler" class="govuk-link">{{data.content.organic_term}} added</a>
                  </li>
                </ul>
              </div>
              <hr>
            </details>
            </div> -->
    
        <div class="govuk-grid-column-two-thirds">
        <hr>
        <br>
        <p class="govuk-body-s">
          <a href="prototypes">Alpha prototypes and more information</a>
        </p>
      </div>

{% endblock %}