{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
  </div>

  <!-- div class="govuk-grid-column-two-thirds">
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Proof of concept prototypes
        </span>
      </summary>
      <div class="detail_list">
        <h2 class="govuk-heading-m">Proof of concept - add farm, field and crops</h2>
        <p class="govuk-body-s">Last updated: early May 2024</p>
    
        <p class="govuk-body start-link">
          <a href="mvp/start" class="govuk-link">No farm set up</a>
        </p>
        
        <p class="govuk-body start-link">
          <a href="farm_setup_handler" class="govuk-link">Farm without fields</a>
        </p>
    
        <p class="govuk-body start-link">
          <a href="fields_mvp_setup_handler" class="govuk-link">Farm with fields</a>
        </p>
    
        <p class="govuk-body start-link">
          <a href="one_crop_handler" class="govuk-link">Plan with one crop</a>
        </p>
    
        <p class="govuk-body start-link">
          <a href="plans_mvp_setup_handler" class="govuk-link">Plan with two crops</a>
        </p>
        </div>
      </details> 
    </div>-->
    
    <!-- v2 -->
    <!-- <div class="govuk-grid-column-two-thirds">

     <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 2
        </span>
      </summary>
      <div class="detail_list">
        <h3 class="govuk-heading-s">Organic Material and Inorganic fertiliser applications</h3>

        <p class="govuk-body start-link">
          <a href="one_manure_handler" class="govuk-link">Plan with no {{data.content.organic_term | lower}} added</a>
        </p>

        <p class="govuk-body strong">Notifications</p>

        <p class="govuk-body start-link">
          <a href="manuredate_handler?notification=false" class="govuk-link">Date notification</a>
        </p>
        
        <p class="govuk-body start-link">
          <a href="manurecheck_handler?notification=true" class="govuk-link">Check your answers notification</a>
        </p>
    </div> -->

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Version 3, July 2024</h2>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
          <a href="v4_setup_handler" class="govuk-link">No farm set up</a>
        </li>
        <li>
          <a href="v4_farmsetup_handler" class="govuk-link">Farm added</a>
        </li>
        <li>
          <a href="version4_fieldetup_handler" class="govuk-link">Farm and fields added</a>
        </li>
        <li>
          <a href="version4_cropsetup_handler" class="govuk-link">2024 crops added</a>
        </li>
        <li>
          <a href="version4_manuresetup_handler" class="govuk-link">{{data.content.organic_term}} added</a>
        </li>
      </ul>
      <hr>
      <br>
      <p class="govuk-body-s">
        <a href="prototypes">Previous prototypes and more information</a>
      </p>
     </div>

{% endblock %}