{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="gov-body">
      This is a free tool, provided by Defra, to help farmers, land managers and advisers plan 
      and record nutrient use on their land. It gives you guidance only - there is no legal requirement to use it.   
    </p>
    
    <p class="gov-body">
      This service will:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>save you time and money</li>
      <li>help you comply with environmental regulations</li> 
      <li>help protect the environment</li>   
    </ul>

    <p class="gov-body">
      You must follow the appropriate regulations, depending on where your farm is.
    </p>

    <!-- <h3 class="govuk-heading-s">England:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Farming rules for water</a>. (opens in a new window)</li>
      <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrogen vulnerable zones (NVZs)</a>. (opens in a new window)</li>
    </ul>

    <h3 class="govuk-heading-s">Wales:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.wales/water-resources-control-agricultural-pollution-wales-regulations-2021-guidance-farmers-and-land">The Water Resources (Control of Agricultural Pollution) (Wales) Regulations 2021</a>. (opens in a new window)</li>
    </ul>
    
    <h3 class="govuk-heading-s">Scotland:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.scot/policies/agriculture-and-the-environment/nvz/">The Action Programme for Nitrate Vulnerable Zones (Scotland) Regulations 2008</a>. (opens in a new window)</li>
    </ul> -->

    <h2 class="govuk-heading-m">
      How it works
    </h2>

    <p class="gov-body">
      The recommendations from this service come from <a href="https://ahdb.org.uk/nutrient-management-guide-rb209">RB209 Nutrient Management Guide.</a> (opens in a new window). 
    </p>

    <p class="gov-body">
      It gives fertiliser recommendations for all major nutrients and lime, and for most agricultural and horticultural crops.
    </p>

    <p class="gov-body">
      Your plan will be based on:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the crops you grow and their nutrient requirements</li> 
      <li>the nutrients available, soil nitrogen supply and other soil analysis results</li>
      <li>the organic materials and inorganic fertilisers you use and how you apply them</li>
    </ul>

    <p class="gov-body">
      You can develop a nutrient application plan during the season. This tool will keep detailed records of cropping, soil analyses, and each fertiliser and manure application.
    </p>

    <p class="gov-body">
      It creates downloadable plans in PDF.
    </p>

    <p class="gov-body">
      It replaces earlier tools such as PLANET and MANNER. The tool will allow you to import your data from PLANET.
    </p>
 
    <h2 class="govuk-heading-m">Your data</h2>

    <p class="gov-body">
      We only gather the data required to provide you with the appropriate recommendations.
    </p>

    <p class="gov-body">
      This tool will never share your data with any other organisations.
    </p>

    <p class="gov-body">
      In particular, please note that this tool does not share data with the Rural Payments Agency (RPA).
    </p>

    <p class="gov-body">
      This service was developed in conjunction with ADAS, AHDB and RSK.
    </p>

    <h2 class="govuk-heading-m">
      Release schedule
    </h2>

    <p class="gov-body margin-bottom-forty">
      <a href="">Read the release schedule for testing and new features</a>
    </p>

    <form class="form margin-top-forty" action="start_router" method="post">

    {{ govukButton({
      text: "Start now"
    }) }}

  </form>

  </div>
</div>

{% endblock %}