{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="gov-body">
      This is a free tool provided by Defra to help farmers, land managers and advisers plan 
      and record nutrient use on their land. It gives you guidance only - there is no legal requirement to use it.   
    </p>
    
    <p class="gov-body">
      This service will:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>save you time and money</li>
      <li>help you comply with environmental regulations</li> 
      <li>help protect the environment</li>   
    </ul>

    <p class="gov-body">
      This service was developed in conjunction with ADAS, AHDB and RSK-BSL.
    </p>

    <!-- <p class="gov-body">
      You must follow the appropriate regulations, depending on where your farm is.
    </p> -->

    <!-- <h3 class="govuk-heading-s">England:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Farming rules for water</a>. (opens in a new window)</li>
      <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrogen vulnerable zones (NVZs)</a>. (opens in a new window)</li>
    </ul>

    <h3 class="govuk-heading-s">Wales:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.wales/water-resources-control-agricultural-pollution-wales-regulations-2021-guidance-farmers-and-land">The Water Resources (Control of Agricultural Pollution) (Wales) Regulations 2021</a>. (opens in a new window)</li>
    </ul>
    
    <h3 class="govuk-heading-s">Scotland:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.scot/policies/agriculture-and-the-environment/nvz/">The Action Programme for Nitrate Vulnerable Zones (Scotland) Regulations 2008</a>. (opens in a new window)</li>
    </ul> -->

    <h2 class="govuk-heading-l">
      How it works
    </h2>

    <p class="gov-body">
      The recommendations from this service come from <a href="https://ahdb.org.uk/nutrient-management-guide-rb209">RB209 Nutrient Management Guide.</a> (opens in a new window). 
    </p>

    <p class="gov-body">
      It gives fertiliser recommendations for all major nutrients and lime, and for most agricultural and horticultural crops.
    </p>

    <p class="gov-body">
      Your plan will be based on:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the crops you grow and their nutrient requirements</li> 
      <li>the nutrients available, soil nitrogen supply and other soil analysis results</li>
      <li>the organic materials and inorganic fertilisers you use and how you apply them</li>
    </ul>

    <p class="gov-body">
      You can develop a nutrient application plan during the season. This tool will keep detailed records of cropping, soil analyses, and each fertiliser and manure application.
    </p>

    <p class="gov-body">
      It creates downloadable plans as PDF files.
    </p>

    <p class="gov-body">
      It replaces earlier tools such as PLANET and MANNER. The tool will allow you to import your data from PLANET.
    </p>
 
    <h2 class="govuk-heading-l">Your data</h2>

    <p class="gov-body">
      This tool only gathers the data required to provide you with nutrient recommendations.
    </p>

    <p class="gov-body">
      This tool will never share your data with any other organisations.
      In particular, please note that this tool does not share data with the Rural Payments Agency (RPA).
    </p>

    <form class="form margin-top-forty margin-bottom-twenty" action="start_router" method="post">
      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}
    </form>    

    <h2 class="govuk-heading-l">
      Before you start
    </h2>

    <h2 class="govuk-heading-m">
      Creating a DEFRA account
    </h2>

    <p class="gov-body">
      You need to create a DEFRA account to use this service. This allows you to save your plans and return to them later.
    </p>   

    <p class="gov-body">
      If you want to give someone else access to work on your plans with you, for example an agronomist, you should create an organisational account when you sign up.
    </p> 

    <p class="gov-body">
      You can also create a personal account, if you do not need anyone else to work on your plans in the tool, either now or later.
    </p> 
          
    <p>
      <a href="https://your-account.defra.gov.uk/content/help" target="_blank">View a guide on how to create a DEFRA account.</a> (opens in a new window)
    </p>

    <h2 class="govuk-heading-m">
      Release schedule
    </h2>

    <p class="gov-body">
      Our release schedule shows you when new features will be added and when the tool is updated.
    </p>

    <p class="gov-body margin-bottom-forty">
      <a href="releases" target="_blank">Read the release schedule</a> (opens in a new window)
    </p>

  </div>
</div>

{% endblock %}