{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "templates/title_span.html" %} -->
      <h1 class="govuk-heading-l">
        How would you like to change your plan for Harvest Year {{data.chosen_plan.harvest_date}}?
      </h1>

      <form class="form" action="#" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add_crop" name="change_type" type="radio" value="add_crop">
                <label class="govuk-label govuk-radios__label" for="add_crop">
                  Add another crop
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="plan_org" name="change_type" type="radio" value="plan_org">
                <label class="govuk-label govuk-radios__label" for="plan_org">
                  Plan an organic material application for multiple fields
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="plan_inoranic" name="change_type" type="radio" value="plan_inoranic">
                <label class="govuk-label govuk-radios__label" for="plan_inoranic">
                  Plan an inorganic material application for multiple fields
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="new" name="change_type" type="radio" value="new">
                <label class="govuk-label govuk-radios__label" for="new">
                  Create a record from this plan
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="copy" name="change_type" type="radio" value="copy">
                <label class="govuk-label govuk-radios__label" for="copy">
                  Make a copy of this plan
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="print" name="change_type" type="radio" value="print">
                <label class="govuk-label govuk-radios__label" for="print">
                  Print or share this plan
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="delete" name="change_type" type="radio" value="delete">
                <label class="govuk-label govuk-radios__label" for="delete">
                  Delete this plan
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="#">Cancel</a>
  </p>

{% endblock %}
