{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/header_signed_in.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Which fields would you like to create a {{data.oaktree_farm.planning_year}} {{data.export_type | convert_export_type}} for?
      </h1>

        <form class="form" action="export_fields_handler" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              {% for field in data.all_fields %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id={{field.field_id}} name="fertiliser_fields" type="checkbox" value={{field.field_id}}>
                <label class="govuk-label govuk-checkboxes__label" for={{field.field_id}}>
                  {{field.field_name}} 
                </label>
              </div>
              {% endfor %} 
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="">
                  Select all
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>    

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
