{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          An N-max report is not available
        </h1>
        
        <p class="govuk-body">
          N-max reports are only available for farms that are in a nitrate vulnerable zone (NVZ).
        </p>

        <p class="govuk-body margin-bottom-thirty">
          You can check the farm set-up and change whether your whole farm, or some fields, are in an NVZ.
        </p>
        
        <form class="form" action="../../add-crop/crop_group" method="post">
          {{ govukButton({
            text: "Check the farm set-up"
          }) }}
        </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}

