{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "/templates/signed-in.html" ignore missing %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which year would you like to create an {{data.export_type | convert_export_type}} report for?
      </h1>

      <p class="govuk-hint">
        Select one option.
      </p>

      {% if data.export_type == 8 %}
        {% set timeframeA = "October" %}
        {% set timeframeB = "September" %}
      {% else %}
        {% set timeframeA = "January" %}
        {% set timeframeB = "December" %}
      {% endif %}

      {% macro monthitem(year_one, year_two) %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id={{year_two}} name="output_year" type="radio" value={{year_two}}>
          {% if data.export_type == 8 %}
              <label class="govuk-label govuk-radios__label" for={{year_two}}>
                  September {{year_one}} to October {{year_two}}
              </label>
          {% else %}
              <label class="govuk-label govuk-radios__label" for={{year_two}}>
               {{year_two}}
              </label>

          {% endif %}
        </div>
      {% endmacro %}


      <form class="form" action="output_router" method="post">
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="output_year-hint">
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">

              {{ monthitem(2025, 2026)}}
              {{ monthitem(2024, 2025)}}
              {{ monthitem(2023, 2024)}}
              {{ monthitem(2022, 2023)}}
              {{ monthitem(2021, 2022)}}
              {{ monthitem(2020, 2021)}}

            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}