{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which year would you like to create an {{data.export_type | convert_export_type}} report for?
      </h1>

      {% if data.export_type == 8 %}
        <p class="govuk-body">
          These reports are from October to September.
        </p>
      {% endif %}

      <p class="govuk-hint">
        Select one option.
      </p>

      {% macro monthitem(year_one, year_two) %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id={{year_two}} name="output_year" type="radio" value={{year_two}}>
          {% if data.export_type == 8 %}
              <label class="govuk-label govuk-radios__label" for={{year_two}}>
                  {{year_one}} to {{year_two}}
              </label>
          {% else %}
              <label class="govuk-label govuk-radios__label" for={{year_two}}>
               {{year_two}}
              </label>

          {% endif %}
        </div>
      {% endmacro %}

      <form class="form" action="output_router" method="post">
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="output_year-hint">
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">

              <!-- {{ monthitem(2027, 2028)}}
              {{ monthitem(data.oaktree_farm.planning_year+1, 2027)}} -->
              {{ monthitem(data.oaktree_farm.planning_year, data.oaktree_farm.planning_year +1) }}
              {{ monthitem(data.oaktree_farm.planning_year-1, data.oaktree_farm.planning_year) }}
              {{ monthitem(data.oaktree_farm.planning_year-2, data.oaktree_farm.planning_year-1) }}
              {{ monthitem(data.oaktree_farm.planning_year-3, data.oaktree_farm.planning_year-2) }}
              {{ monthitem(data.oaktree_farm.planning_year-4, data.oaktree_farm.planning_year-3) }}
              {{ monthitem(data.oaktree_farm.planning_year-5, data.oaktree_farm.planning_year-4) }}

            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}