{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  {% include "/templates/headers/header_farm.html" ignore missing %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Check your answers
    </h1>

    <h2 class="govuk-heading-m">Livestock type</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">{{data.chosen_livestock.name | capitalize}}</dd>
        <dd class="govuk-summary-list__actions">
          <a href="livestock_type">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Separator</dt>
        <dd class="govuk-summary-list__value">
          {% if data.mostly_manure == 'slurry' %}Yes{% else %}No{% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="annual_separator">Change</a>
        </dd>
      </div>
      {% if data.mostly_manure == 'slurry' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Separator percentage</dt>
        <dd class="govuk-summary-list__value">{{data.separator_percentage}}%</dd>
        <dd class="govuk-summary-list__actions">
          <a href="separator_numbers">Change</a>
        </dd>
      </div>
      {% endif %}
    </dl>

    {% macro housingrows(month) %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{month}} time housed</dt>
        <dd class="govuk-summary-list__value">50%</dd>
        <dd class="govuk-summary-list__actions"><a href="annual_housing_single">Change</a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{month}} slurry collected</dt>
        <dd class="govuk-summary-list__value">50%</dd>
        <dd class="govuk-summary-list__actions"><a href="annual_housing_single">Change</a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{month}} bedding factor</dt>
        <dd class="govuk-summary-list__value">1.3</dd>
        <dd class="govuk-summary-list__actions"><a href="annual_housing_single">Change</a></dd>
      </div>
    {% endmacro %}

    <h2 class="govuk-heading-m">Housing and slurry</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {{ housingrows("October") }}
      {{ housingrows("November") }}
      {{ housingrows("December") }}
      {{ housingrows("January") }}
      {{ housingrows("February") }}
      {{ housingrows("March") }}
      {{ housingrows("April") }}
      {{ housingrows("May") }}
      {{ housingrows("June") }}
      {{ housingrows("July") }}
      {{ housingrows("August") }}
      {{ housingrows("September") }}
    </dl>

    <form action="ltest_check_handler" method="post" novalidate>
      {{ govukButton({
        text: "Add this livestock"
      }) }}
    </form>

    <p class="govuk-body">
      <a href="livestock_question">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
