{% extends "layouts/main.html" %}

{% block pageTitle %}
View or update a group's crop information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "/templates/signed-in.html" ignore missing %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <h1 class="govuk-heading-l">
      Update crop group {{data.chosen_group.reference}} for harvest year 2025
    </h1>

    <div class="govuk-inset-text margin-bottom-forty">
      <p class="govuk-body">
        Changes here will be applied to all of these fields. To change a single field select it from your crop plan. <a href="plan_view">View the 2025 crop plan</a>.
      </p>
    </div>

    <div class="check-answers">

      <dl class="govuk-summary-list">     
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the crop group?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.chosen_crop_group == "arable-other" %}
            Arable, other
            {% else %}
            {{data.chosen_crop_group | capitalize}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the crop type?</dt>
          <dd class="govuk-summary-list__value">{{data.chosen_group.crop | nameconverter}}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is the variety name (optional)?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.new_variety == '' or data.new_variety == null %}
              {% if data.chosen_group.variety == '' or data.chosen_group.variety == null %}
                Not entered
              {% else %}
                {{data.chosen_group.variety}}            
              {% endif %}            
            {% else %}
              {{data.new_variety}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="update_question_handler?update_type=variety">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which fields do you plan to grow {{data.chosen_group.crop | nameconverter}} in?</dt>
          <dd class="govuk-summary-list__value">
            {% for fieldref in data.chosen_group.fields %}
              {% for field in data.chosen_farm_fields %}
                {% if fieldref == field.reference %}
                  {{field.name}}<br>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What would you like to call this crop group (optional)?</dt>
          <dd class="govuk-summary-list__value">Crop group {{data.chosen_group.reference}}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Do you have a date for when you planted your {{data.chosen_group.crop | nameconverter}}, or when you will plant it?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.new_planting_date_day == '' or data.new_planting_date_day == null %}
              {% if data.chosen_group.planting_date == '' or data.chosen_group.planting_date == null %}
                No, I'll enter the date later
              {% else %}
                {{data.chosen_group.planting_date}}            
              {% endif %}            
            {% else %}
              {{data.new_planting_date_day}}/{{data.new_planting_date_month}}/{{data.new_planting_date_year}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="update_question_handler?update_type=date">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How do you want to enter the expected yield?</dt>
          <dd class="govuk-summary-list__value">Use the RB209 figure of 8 tonnes per hectare for all these fields</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How do you plan to use the crop?</dt>
          <dd class="govuk-summary-list__value">Milling</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How do you plan to use the straw?</dt>
          <dd class="govuk-summary-list__value">Baled</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
        </div>

      </dl>    
    </div>
    
    {% if data.plan_type == 'previous' %}
    <br>
    <h2 class="govuk-heading-m">
      {{data.content.organic_term | capitalize }}
    </h2>
    <div class="check-answers">
      {% include "./add_manure/check_manure.html" %}
    </div>
    {% endif %}

    <p class="govuk-body margin-bottom-forty">You can also <a href="">remove this crop group</a>.</p>


    <form action="crop_group_update_v6_handler" method="post" novalidate>
      {{ govukButton({
        text: "Update this crop group"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="field_plan">Cancel</a>
    </p>
  </div>
</div>
{% endblock %}
