{{ govukSummaryList({
rows: [
{
  key: {
    text: "Do you have new soil sample results to add for Small Field?"
  },
  value: {
    text: "No"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: "Question 1"
      }
    ]
  }
}
, {
    key: {
      text: "Will you grow arable crops or grass?"
    },
    value: {
      text: "Arable"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 1"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Which crop type will you plant?"
    },
    value: {
      text: "Arable, other"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 2"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Which crop type will you plant?"
    },
    value: {
      text: "Wheat, Winter"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "When will you sow?"
    },
    value: {
      text: "1 October 2024"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "How will you use the crop?"
    },
    value: {
      text: "Feed"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
]
}) }}