{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span>
      <h1 class="govuk-heading-l">
        Which crop group will you use in {{data.chosenfield.name}}?
      </h1>

      <form class="form" action="crop_variation_handler" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="arable" name="crop_group" type="radio" value="arable">
                <label class="govuk-label govuk-radios__label" for="arable">
                  Arable cereals
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="forage" name="crop_group" type="radio" value="forage">
                <label class="govuk-label govuk-radios__label" for="forage">
                  Arable, forage crops
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="other" name="crop_group" type="radio" value="other">
                <label class="govuk-label govuk-radios__label" for="other">
                  Arable, other
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="potatoes" name="crop_group" type="radio" value="potatoes">
                <label class="govuk-label govuk-radios__label" for="potatoes">
                  Arable, potatoes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="biomass" name="crop_group" type="radio" value="biomass">
                <label class="govuk-label govuk-radios__label" for="biomass">
                  Biomass crops
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fruit" name="crop_group" type="radio" value="fruit">
                <label class="govuk-label govuk-radios__label" for="fruit">
                  Fruit vines and hops
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crops" name="crop_group" type="radio" value="crops">
                <label class="govuk-label govuk-radios__label" for="crops">
                  Other crops
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="leafy" name="crop_group" type="radio" value="leafy">
                <label class="govuk-label govuk-radios__label" for="leafy">
                  Vegetables leafy
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="root" name="crop_group" type="radio" value="root">
                <label class="govuk-label govuk-radios__label" for="root">
                  Vegetables root
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
  </div>
  
  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}
