{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a 2023 nutrient application plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/prototype_2/hub"
      },
      {
        text: "Create a " + data.harvest_year + " nutrient application plan"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
{{ plan_status }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create a nutrient application plan for {{data.harvest_year}}
      </h1>

      <p class="govuk-body">
        <a href="./multi-add/fields">Add crops to multiple fields</a>
      </p>

      <!-- <p class="govuk-body">
        <a href="">Add manure types to multiple fields</a>
      </p>
      <hr> -->

      <form class="form" action="hub" method="post">

        <div class="govuk-form-group">
          <table class="govuk-table">
            <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Field name</th>
                <th scope="col" class="govuk-table__header">Planning status</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for field in data.field_details %}
                {% if field.planStatus == false %}
                  {% set plan_status = "No plan" %}
                {% elif field.planStatus == "recommendations" %}
                  {% set plan_status = "recommendations created" %}
                  {% elif field.planStatus == "crop_added" %}
                  {% set plan_status = "Crop added" %}
                {% else %}
                  {% set plan_status = "Application plan created" %}
                {% endif %}

                <tr class="govuk-table__row">
                  <!-- <td class="govuk-table__cell"><a href="start_plan">{{field.name}}</a></td> -->
                  <td class="govuk-table__cell">{{field.name}}</td>
                  <!-- "contact-change-handler/?contactType=daytimeTelephone" -->
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-prototype-kit-manage-prototype-govuk-tag govuk-prototype-kit-manage-prototype-task-list__tag">
                      {{plan_status}}
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  {% if field.planStatus == false %}
                    <a href="create_plan_handler?chosenfield={{field.reference}}">Create plan</a>
                  {% elif field.planStatus == "recommendations" %}
                    <a href="recs">View recommendations</a>
                  {% elif field.planStatus == "crop_added" %}
                    <a href="create_plan_handler?chosenfield={{field.reference}}">Continue planning</a>
                  {% else %}
                    <a href="plan">View or update plan</a>
                {% endif %}
                </td>
              </tr>
              {% endfor %}   
            </tbody>
          </table>        
        </div>

      </form>
    </div>
  </div>

{% endblock %}


