{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span>
      <h1 class="govuk-heading-l">
        Which crop type will you plant in {{data.chosenfield.name}}?
      </h1>

      <form class="form" action="q3_yield" method="post">

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="spring_beans" name="crop_type" type="radio" value="spring_beans">
                <label class="govuk-label govuk-radios__label" for="spring_beans">
                  Beans, spring
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="spring_winter" name="crop_type" type="radio" value="spring_winter">
                <label class="govuk-label govuk-radios__label" for="spring_winter">
                  Beans, winter
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="protein_grass" name="crop_type" type="radio" value="protein_grass">
                <label class="govuk-label govuk-radios__label" for="protein_grass">
                  Grass for protein
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="linseed" name="crop_type" type="radio" value="linseed">
                <label class="govuk-label govuk-radios__label" for="linseed">
                  Linseed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="oilseed_spring" name="crop_type" type="radio" value="oilseed_spring">
                <label class="govuk-label govuk-radios__label" for="oilseed_spring">
                  Oilseed rape spring
                </label>
              </div>              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="oilseed_winter" name="crop_type" type="radio" value="oilseed_winter">
                <label class="govuk-label govuk-radios__label" for="oilseed_winter">
                  Oilseed rape winter
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="peas" name="crop_type" type="radio" value="peas">
                <label class="govuk-label govuk-radios__label" for="peas">
                  Peas
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ryegrass" name="crop_type" type="radio" value="ryegrass">
                <label class="govuk-label govuk-radios__label" for="ryegrass">
                  Ryegrass for seed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sugar-beet" name="crop_type" type="radio" value="sugar-beet">
                <label class="govuk-label govuk-radios__label" for="sugar-beet">
                  Sugar beet
                </label>
              </div><div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fallow" name="crop_type" type="radio" value="fallow">
                <label class="govuk-label govuk-radios__label" for="fallow">
                  Un-cropped/fallow
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}










