{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <span class="govuk-caption-l">
      Nutrient application plan 2023 to 2024
    </span>

    <h1 class="govuk-heading-l">
      {{data.non_organic_term }} recommendations<br> for {{data.chosenfield.name}}
    </h1>
    
    <p class="govuk-body">Wheat, Winter</p>

<table class="govuk-table recomendation-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Big Field</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Index / <br> pH</th>
      <th scope="col" class="govuk-table__header">Crop <br>need</th>
      <th scope="col" class="govuk-table__header">Manure</th>
      <th scope="col" class="govuk-table__header">Fertiliser<br> or Lime</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Nitrogen (N)</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">180</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">180</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Phosphate (P205)</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">95</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">95</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Potash (K20)</td>
      <td class="govuk-table__cell">2+</td>
      <td class="govuk-table__cell">55</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">55</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Sulphur (SO3)</td>
      <td class="govuk-table__cell">3</td>
      <td class="govuk-table__cell">40</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">40</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Lime</td>
      <td class="govuk-table__cell">5.8</td>
      <td class="govuk-table__cell">7</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">7</td>
    </tr>
  </tbody>
</table>

<!-- <form action="q7_fertiliser_if" method="post" novalidate>
  <div class="button">
    {{ govukButton({
      text: "Add " + data.non_organic_term | lower + " details"
    }) }}
  </div>

</form> -->

<p class="govuk-body">
  <a href="q7_fertiliser_if">Add {{data.non_organic_term | lower}} plan</a>
</p>

<p class="govuk-body">
  <a href="check_one">Edit {{data.organic_term | lower}} plan</a>
</p>

<p class="govuk-body">
  <a href="fields.html">Save recommendations and view all fields</a>
</p>

</div>
</div>
{% endblock %}
