<!-- <div class="margin-bottom-thirty">   

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{livestock_type | capitalize }} type</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% set animal_total = 0 %}

      {% set total_n = 0 %}

      {% for animal in data.livestock_record_2025 %}
        {% if animal.type == livestock_type %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{animal.name | capitalize}}</td>
            <td class="govuk-table__cell">
              <a href="">Change</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  
</div> -->

<div class="check-answers margin-bottom-forty">
  <ul class="govuk-task-list">
    {% for animal in data.livestock_record_2025 %}
      {% if animal.type == livestock_type %}
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="manure_numbers_handler?reference={{animal.reference}}" aria-describedby="company-details-1-status">
            {{animal.name | capitalize}}
          </a>
        </div>
        {% if data.oaktree_farm.manure_system_details == true %}
          <div class="govuk-task-list__status" id="company-details-1-status">
            Completed
          </div>
        {% else %}
          <div class="govuk-task-list__status" id="company-details-4-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not entered
            </strong>
          </div>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</div>
