<table class="govuk-table recomendation-table data-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Nutrient recommendations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application date</th>
      <th scope="col" class="govuk-table__header">Rate</th>
      <th scope="col" class="govuk-table__header">Nutrients</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for fertapp in data.allFertiliserApplications %}
      {% if fertapp.fieldref == data.fieldref %}
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">{{fertapp.date}}</td>
          
          <td class="govuk-table__cell">
            {% if fertapp.rate != "0" and fertapp.rate != "" and fertapp.rate != nan %}
              {{fertapp.rate}} kg
            {% else %} 
              Not entered
            {% endif %} 
          </td>
          <td class="govuk-table__cell">
            {% if fertapp.nitrogen != "0" %}
              <span class="nutrient-list">{{fertapp.nitrogen}} kg Nitrogen (N)</span>
            {% endif %}

            {% if fertapp.P2O5 != "0" %}
              <span class="nutrient-list">{{fertapp.P2O5}} kg Phosphate (P2O5)</span>
            {% endif %}

            {% if fertapp.K2O != "0" %}
              <span class="nutrient-list">{{fertapp.K2O}} kg Potash (K2O)</span>
            {% endif %}

            {% if fertapp.MgO != "0" %}
              <span class="nutrient-list">{{fertapp.MgO}} kg Magnesium (MgO)</span>
            {% endif %}

            {% if fertapp.SO3 != "0" %}
              <span class="nutrient-list">{{fertapp.SO3}} kg Sulphur (SO3)</span>
            {% endif %}

            {% if fertapp.Na2O != "0" %}
              <span class="nutrient-list">{{fertapp.Na2O}} kg Sodium (Na2O)</span>
            {% endif %}

            {% if fertapp.Lime != "0" %}
              <span class="nutrient-list">{{fertapp.Na2O}} kg Lime</span>
            {% endif %}
          </td>

          <td class="govuk-table__cell"><a href="../../farm/crop_plan/update/fertiliser/update">Change</a></td>
        </tr>
      {% endif %} 
    {% endfor %}
  </tbody>
</table>


    <!-- {% for group in data.allManureApplications %}
      {% if group.organic == true %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{group.application_date}}</td>
          <td class="govuk-table__cell">{{group.manure_type}}</td>
          <td class="govuk-table__cell">Broadcast spreader</td>
          <td class="govuk-table__cell">40 tonnes per hectare</td>
            <td class="govuk-table__cell"><a href="#">Change</a></td>
        </tr>      
    {% endif %} 
  {% endfor %}  -->