<h2 class="govuk-heading-m">Guidance</h2>
<h3 class="govuk-heading-s">Nitrogen</h3>
<div class="guidance margin-bottom-forty">
  <p class="govuk-body">
    Apply no more than 100kg N/ha at sowing or transplanting then apply
    N according to crop growth, e.g. up to 60kg N/ha per month in the south-west and 20kg N/ha in the north. 
    Where seedbed SNS exceeds 4 and crops are likely to be harvested in April or later, top-dress N at the start of spring growth allowing for any over-winter losses of N.
  </p>
</div>
