<table class="govuk-table sortable-table recomendation-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date &#9660;</th>
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop</th>
      <th scope="col" class="govuk-table__header">Type</th>
        <!-- <th scope="col" class="govuk-table__header">Rate</th> -->
        <th scope="col" class="govuk-table__header">NVZ Issues</th>
        <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    {% set issuecounter = 1 %}
    {% set field = null %}

    {% for application in data.manureApplications %}
      {% for x in data.all_fields %}
        {% if x.field_id == application.field_id %}
          {% set field = x %}
        {% endif %}
      {% endfor %} 

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> {{application.application_date}}</td>
          <td class="govuk-table__cell field-name">{{field.field_name}}</td>
          <td class="govuk-table__cell"> 
            {{field.crop_id | nameconverter}}
          </td>
          <td class="govuk-table__cell">{{application.manure_id}}</td>
          <!-- <td class="govuk-table__cell">
            {% if application.rate != "0" and application.rate != "" and application.rate != nan %}
              {{application.rate}} tonnes
            {% else %}
              Not entered
            {% endif %}
          </td> -->
          {% if issuecounter == 1 %}
            <td class="govuk-table__cell">{{issuecounter}}</td>
          {% else %}
            <td class="govuk-table__cell">0</td>
          {% endif %}
          {% set issuecounter = issuecounter + 1 %}
          <td class="govuk-table__cell"><a href="manure_update_handler?application={{application.application.manure_id}}&field={{field.field_id}}">Change</a></td>
        </tr>     
      {% endfor %} 
  </tbody>
</table>