<table class="govuk-table sortable-table recomendation-table data-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date &#9660;</th>
      <th scope="col" class="govuk-table__header">Field</th>
      <th scope="col" class="govuk-table__header">Crop</th>
      <th scope="col" class="govuk-table__header">Type</th>
        <!-- <th scope="col" class="govuk-table__header">Rate</th> -->
        <th scope="col" class="govuk-table__header">NVZ Issues</th>
        <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    {% set issuecounter = 1 %}
    {% for application in data.allManureApplications_v2 %}        
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> {{application.date}}</td>
        <td class="govuk-table__cell field-name">{{application.field}}</td>
        <td class="govuk-table__cell"> {{application.Crop | nameconverter}}</td>
        <td class="govuk-table__cell">{{application.type}}</td>

        <!-- <td class="govuk-table__cell">
          {% if application.rate != "0" and application.rate != "" and application.rate != nan %}
            {{application.rate}} tonnes
          {% else %}
            Not entered
          {% endif %}
        </td> -->

        {% if issuecounter == 1 %}
          <td class="govuk-table__cell">{{issuecounter}}</td>
        {% else  %}
          <td class="govuk-table__cell">0</td>
        {% endif %}
        {% set issuecounter = issuecounter + 1 %}

        <td class="govuk-table__cell"><a href="manure_update_handler">Change</a></td>
      </tr>     
    {% endfor %} 
  </tbody>
</table>