<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Crop group</dt>
    <dd class="govuk-summary-list__value">{{data.crop_group | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Crop type</dt>
    <dd class="govuk-summary-list__value">{{data.chosen_crop | nameconverter}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the variety name (optional)?</dt>
    <dd class="govuk-summary-list__value">
      {% if data.variety != '' %}
        {{data.variety}}
      {% else %}
        Not entered
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which fields do you plan to grow {{data.chosen_crop | nameconverter}} in?</dt>
    <dd class="govuk-summary-list__value">
      <ul class="govuk-list">
        {% for field in data.crop_fields %}
          <li>{{field | fieldnameconverter}}</li>
          {% endfor %}   
      </ul>
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What would you like to call this crop group (optional)?</dt>
    <dd class="govuk-summary-list__value">{{data.groupname}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Do you have a date for when you planted your {{data.chosen_crop | nameconverter}}, or when you will plant it?</dt>

    <dd class="govuk-summary-list__value">
      {% if data.sow_option_one == 'single' %}
        Yes, I have a single date for all these fields
      {% elif data.sow_option_one == 'different'  %}
        Yes, I have different dates for each of these fields
      {% else %}
        No, I'll enter the date later
      {% endif %}
    </dd>

    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  {% if data.sow_option_one != 'no' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What is the Planting date for {{data.chosen_crop | nameconverter}} in these fields?</dt>
      <dd class="govuk-summary-list__value">15 September {{data.oaktree_farm.planning_year}}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>      
  {% endif %}
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you want to enter the expected yield?</dt>

    <dd class="govuk-summary-list__value">
      {% if data.yield_option_one == 'single' %}
        Enter a single figure for all these fields
      {% elif data.yield_option_one == 'different'  %}
        Enter different figures for each field
      {% else %}
        Use the RB209 figure of 8 Tonnes per hectare for all these fields
      {% endif %}
    </dd>

    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  {% if data.yield_option_one != 'rb209' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What is the expected yield for {{data.chosen_crop | nameconverter}} per hectare in these fields?</dt>
      <dd class="govuk-summary-list__value">8.5 Tonnes per hectare</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
    </div>      
  {% endif %}
  
  {% if data.crop_group == 'cereals' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you plan to use the crop?</dt>
    <dd class="govuk-summary-list__value">Milling</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you plan to use the straw?</dt>
    <dd class="govuk-summary-list__value">Incorporated</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
  {% endif %}


</dl>