<h2 class="govuk-heading-m">Field details</h2>

<dl class="govuk-summary-list">

<!-- Name -->
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Field name
  </dt>
  <dd class="govuk-summary-list__value">
    {{data.temp_field_name}}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<!-- Area -->
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Field area
  </dt>
  <dd class="govuk-summary-list__value">
    19.5 hectares
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Cropped area
  </dt>
  <dd class="govuk-summary-list__value">
    19 hectares
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Manure non-spreading area
  </dt>
  <dd class="govuk-summary-list__value">
    0.5 hectares
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Is this field within an NVZ?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Is this field above 300 metres?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<!-- Soil -->
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Soil type
  </dt>
  <dd class="govuk-summary-list__value">
    Medium
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Does {{data.temp_field_name}} contain potash releasing clay?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>
  
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    When was the soil analysis sample taken?
  </dt>
  <dd class="govuk-summary-list__value">
    11 February 2023
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How would you like to enter your values?
  </dt>
  <dd class="govuk-summary-list__value">
    Index values
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Phosphorus (P) per litre
  </dt>
  <dd class="govuk-summary-list__value">
    2
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Potassium (K) per litre
  </dt>
  <dd class="govuk-summary-list__value">
    1
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Magnesium (Mg) per litre
  </dt>
  <dd class="govuk-summary-list__value">
    2
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Has {{data.temp_field_name}} been used for grass in any of the last 3 years?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    In which years was {{data.temp_field_name}} used for grass?
  </dt>
  <dd class="govuk-summary-list__value">
    2024<br>
    2023<br>
    2022<br>
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How was the grass typically managed each year?
  </dt>
  <dd class="govuk-summary-list__value">
    Grazed and cut
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How many cuts typically each year?
  </dt>
  <dd class="govuk-summary-list__value">
    One
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Does {{data.temp_field_name}} typically have more than 30% clover (as an average across the growing season)?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How much nitrogen (N) has been applied to {{data.temp_field_name}} each year on average?
  </dt>
  <dd class="govuk-summary-list__value">
    Up to 100kg
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>

<!-- <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Did {{data.temp_field_name}} have a high Clover content in 2023?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div> -->

</dl>