<table class="govuk-table recomendation-table data-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Nutrient recommendations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Application method</span></th>
      <th scope="col" class="govuk-table__header">Application rate</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    {% for group in data.fertiliserGroupsV5 %}
      {% if group.organic == true %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{group.application_date}}</td>
          <td class="govuk-table__cell">{{group.manure_type}}</td>
          <td class="govuk-table__cell">Broadcast spreader</td>
          <td class="govuk-table__cell">40 tonnes per hectare</td>
          <td class="govuk-table__cell"><a href="#">Change</a></td>
        </tr>      
    {% endif %} 
  {% endfor %} 

  </tbody>
</table>