{{ govukSummaryList({
rows: [
 {
    key: {
      text: "Do you plan to use this field for arable crops or grass?"
    },
    value: {
      text: "Arable"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 1"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Which crop group do you plan to use?"
    },
    value: {
      text: data.crop_group | capitalize
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 2"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Which crop type do you plan to use?"
    },
    value: {
      text: data.chosen_crop | nameconverter
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "When do you plan to sow?"
    },
    value: {
      text: "1 October 2024"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What is the expected yield?"
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "How will the crop be used?"
    },
    value: {
      text: "Milling"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "How will you use the straw?"
    },
    value: {
      text: "-"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
]
}) }}

<!-- <dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the estimated Planting date?</dt>
    <dd class="govuk-summary-list__value">01 November 2025</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the expected yield for Winter Wheat per hectare?</dt>
    <dd class="govuk-summary-list__value">xx tonne</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you plan to use the crop?</dt>
    <dd class="govuk-summary-list__value">Feed</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">How do you plan to use the straw?</dt>
    <dd class="govuk-summary-list__value">Incorporated</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

</dl> -->