<table class="govuk-table recomendation-table data-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Nutrient recommendations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Nitrogen (N)</th>
      <th scope="col" class="govuk-table__header">Phosphate (P2O5)</th>
      <th scope="col" class="govuk-table__header">Potash (K2O)</th>
      <th scope="col" class="govuk-table__header">Sulphur (SO3)</th>
      <th scope="col" class="govuk-table__header">Lime</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for group in data.fertiliserGroupsV5 %}
      {% if group.organic == false %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{group.application_date}}</td>
        <td class="govuk-table__cell">40 kg</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      {% endif %} 
    {% endfor %}
  </tbody>
</table>


    <!-- {% for group in data.fertiliserGroupsV5 %}
      {% if group.organic == true %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{group.application_date}}</td>
          <td class="govuk-table__cell">{{group.manure_type}}</td>
          <td class="govuk-table__cell">Broadcast spreader</td>
          <td class="govuk-table__cell">40 tonnes per hectare</td>
            <td class="govuk-table__cell"><a href="#">Change</a></td>
        </tr>      
    {% endif %} 
  {% endfor %}  -->