    <p class="govuk-body">
      The N rate may be adjusted based on the grain N% of previous crops over several years. Grain N% at the economic optimum N rate is about 1.9% for feed wheat and 2.1%for breadmaking wheat. 
    </p>
    <p class="govuk-body">
      The N application rate may be adjusted down or up by 30kg/ha per 0.1% difference in grain N% from these values.
    </p>
    <p class="govuk-body">
      Phosphate may be applied when convenient (see the Fertiliser Manual).
    </p>
    <p class="govuk-body">
      Apply 25-40kg SO3/ha as a sulphate containing fertiliser applied in early spring before the start of stem extension. Deficiency is likely if whole plant shoots sampled at stemextension stage contain less than 0.2% S in dry matter.
    </p>
    <p class="govuk-body">
      Organic manures can supply some sulphur for crop uptake but probably insufficient to meet a significant crop sulphur requirement.
    </p>
    <p class="govuk-body">
      Lime may not be fully effective for some months. Apply well before growing sensitive crops.
    </p>
    <p class="govuk-body">
      The lime recommendation may be different in mixed grass/arable rotations (see the Fertiliser Manual).
    </p>
    <p class="govuk-body strong">
      There are no NVZ warning messages for this field
    </p>
