<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--s">{{data.chosen_crop | nameconverter}}</caption> -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Variety</td>
      {% if  data.chosen_group.variety == null %}
        <td class="govuk-table__cell">Not entered</td>
      {% else %}
        <td class="govuk-table__cell">{{data.chosen_group.variety}}</td>
      {% endif %}
    </tr>         
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sowing date</td>
      <td class="govuk-table__cell">Not entered</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Estimated yield</td>
      <td class="govuk-table__cell">8 tonnes per hectare</td>
    </tr>
  </tbody>
</table>  