<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="crops">
  <h2 class="govuk-heading-m non-standard">Crop details for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}</h2>
    <!-- <p class="govuk-body">These are are the planned crops for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}.</p> -->
 
  <hr class="seperator_five">

  <div class="tabs-thirds margin-bottom-forty">
    <h2 class="govuk-heading-m">{{data.chosen_group.crop_reference | nameconverter}} details</h2>
    {% if data.chosen_group.crop_reference != 'Grass' and data.chosen_group.crop_reference != 'grass' %}
      {% include "./templates/other-crop-details.html" ignore missing %}
    {% else %}
      {% include "./templates/grass-details.html" ignore missing %}
    {% endif %}
    <p class="govuk-body"><a href="#">Change the {{data.chosen_group.crop_reference | nameconverter}} details for {{data.chosen_field.name}} </a></p>
  </div>

  <!-- second crop -->
  {% set appears_in_other_groups = false %}
  {% set second_crop_reference = null %}

  {% for group in data.cropGroupsV5 %}
    {% if group.reference != data.chosen_group.reference %}
      {% for field in group.fields %}
        {% if field.reference == data.chosen_field.reference %}
          {% set appears_in_other_groups = true %}
          {% set second_crop_reference = group.crop_reference %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% if appears_in_other_groups == true and second_crop_reference != data.chosen_group.crop_reference %}
    <hr class="seperator_five">
    <div class="tabs-thirds margin-bottom-forty">
      <h2 class="govuk-heading-m">{{second_crop_reference | nameconverter}} details</h2>
      {% if data.second_crop_reference != 'Grass' and data.second_crop_reference != 'grass' %}
        {% include "./templates/other-crop-details.html" ignore missing %}
      {% else %}
        {% include "./templates/grass-details.html" ignore missing %}
      {% endif %}
      <p class="govuk-body"><a href="#">Change the {{second_crop_reference | nameconverter}} details for {{data.chosen_field.name}} </a></p>
    </div>
{% endif %}

</div>

  <!-- TESTS IMPORTANT
  <p>group = {{data.chosen_group.reference}}</p>
  <p>field = {{data.chosen_field.name}}</p>

  <p>appears_in_other_groups? = {{appears_in_other_groups}}</p>
  <p>reference? = {{second_crop_reference}}</p> -->