{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
    {
      text: "Plans and records",
      href: "../plans_records"
    },
    {
      text: "Harvest year " + data.oaktree_farm.planning_year,
      href: "planview_reset_handler"
    },
    {
      text: data.chosen_field.name
    }
  ]
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}
      {% include "./templates/success_message.html.html" ignore missing %}
    {% endif %}

    <h1 class="govuk-heading-l">{{data.chosen_field.name}} plan for harvest year {{data.oaktree_farm.planning_year}}</h1>

    <h2 class="govuk-heading-s">Contents</h2>
    <p class="govuk-body"><span class="dash"> — </span><a href="index">View nutrient recommendations and guidance for {{data.chosen_field.name}}</a></p>
    <p class="govuk-body"><span class="dash"> — </span><a href="manures">Manage organic and inorganic material applications for {{data.chosen_field.name}}</a></p>
    <p class="govuk-body margin-bottom-forty"><span class="dash"> — </span>Manage crop details for {{data.chosen_field.name}}</p>
    <hr class="margin-bottom-forty">

    <div class="status-header">
      <h2 class="govuk-heading-m">Crop details</h2>
      {% include "./templates/other-crop-details.html" ignore missing %}
      <p class="govuk-body"><a href="">Change the {{data.chosen_crop | nameconverter}} details for this field</a></p>
      <p class="govuk-body"><a href="">Add a second crop to this field for harvest year {{data.oaktree_farm.planning_year}}</a></p>
    </div>

  </div>
</div>

{% endblock %}