{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "//old/prototype_2/hub.html"
      },
      {
        text: "Nutrient Application Plan"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="status-header">
  <h1 class="govuk-heading-l">Field 1 plan and recommendations</h1>
  <p class="govuk-body">Harvest year: 2024</p>
</div>  

<hr class="medium_seperator">

<h2 class="govuk-heading-m">Crop plan</h2>
<p class="govuk-body">Crop type: Grass</p>
<p class="govuk-body"><a href="">View crop details</a></p>

<hr class="medium_seperator">

<table class="govuk-table recomendation-table data-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Nutrient recommendations</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
      <th scope="col" class="govuk-table__header">Index / pH</th>
      <th scope="col" class="govuk-table__header">Crop need<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Manure<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Fertiliser or Lime<br><span class="hint">per hectare</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Nitrogen (N)</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">150 kg</td>
      <td class="govuk-table__cell">38 kg</td>
      <td class="govuk-table__cell">112 kg</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Phosphate (P2O5)</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">65 kg</td>
      <td class="govuk-table__cell">48 kg</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Potash (K2O)</td>
      <td class="govuk-table__cell">2-</td>
      <td class="govuk-table__cell">85 kg</td>
      <td class="govuk-table__cell">128 kg</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Sulphur (SO3)</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">40 kg</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">40 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Lime</td>
      <td class="govuk-table__cell">6.5</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
  </tbody>
</table>

<hr class="big_seperator">

    <table class="govuk-table recomendation-table data-table application-table data-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Organic material application plan</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Nutrient</th>
            <th scope="col" class="govuk-table__header">Estimated application date</th>
          <th scope="col" class="govuk-table__header">Amount<br><span class="hint">per hectare</span></th>
          <th scope="col" class="govuk-table__header">Total nutrient planned<br><span class="hint">per hectare</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-table__header">Pig Slurry</td>
          <td class="govuk-table__cell">3 March 2024</td>
          <td class="govuk-table__cell">40 kg</td>
          <td class="govuk-table__cell">-</td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-table__header">Pig Slurry</td>
          <td class="govuk-table__cell">2 April 2024</td>
          <td class="govuk-table__cell">75 kg</td>
          <td class="govuk-table__header">115 kg</td>
        </tr>
      </tbody>
    </table>    

    <p class="govuk-body">
      <a class="govuk-link" href="#">View or change {{data.content.organic_term | lower}} plan</a>
    </p>

  <hr class="medium_seperator">

<table class="govuk-table recomendation-table data-table application-table data-table">
  <caption class="govuk-table__caption govuk-table__caption--m">{{data.content.non_organic_term }} application plan</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Nutrient</th>
        <th scope="col" class="govuk-table__header">Estimated application date</th>
      <th scope="col" class="govuk-table__header">Amount<br><span class="hint">per hectare</span></th>
      <th scope="col" class="govuk-table__header">Total nutrient planned<br><span class="hint">per hectare</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Nitrogen (N)</td>
      <td class="govuk-table__cell">29 April 2024</td>
      <td class="govuk-table__cell">40 kg</td>
      <td class="govuk-table__cell">-</td>
    </tr>      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Nitrogen (N)</td>
      <td class="govuk-table__cell">15 May 2024</td>
      <td class="govuk-table__cell">75 kg</td>
      <td class="govuk-table__header">115 kg</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__header">Sulphur (SO3)</td>
      <td class="govuk-table__cell">15 May 2024</td>
      <td class="govuk-table__cell">40 kg</td>
      <td class="govuk-table__header">40 kg</td>
    </tr>
  </tbody>
</table>
<p class="govuk-body">
    <a class="govuk-link" href="check">View or change {{data.content.non_organic_term | lower}} plan</a>
</p>


{% endblock %}