{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
<!-- {{ govukBreadcrumbs({
  items: [
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
    {
      text: "Plans and records",
      href: "../plans_records"
    },
    {
      text: "Harvest year " + data.oaktree_farm.planning_year,
      href: "planview_reset_handler"
    },
    {
      text: data.chosen_field.name
    }
  ]
}) }} -->

{{ govukBackLink({
  text: "Back to 2025 farm plan",
  href: "../crop_plan/plan_view"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {% if data.show_success_message == true %}
      {% include "./templates/success_message.html.html" ignore missing %}
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="margin-bottom-forty">
      <h1 id="main-title" class="govuk-heading-l margin-bottom-forty">{{data.chosen_field.name}} plan 2025</h1>
      <p class="govuk-body">Last updated {{data.content.todays_date}}.</p>
    </div>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#recs">
            Nutrient and Lime recommendations
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#manures">
            Organic and inorganic material
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#crops">
            Crop details
          </a>
        </li>
      </ul>


      <!-- show the right table -->
      <!-- go throguh the manure applications -->
      <!-- if this field appears in them, set organic = true -->

      <!-- go throguh the fertiliser applications -->
      <!-- if this field appears in them, set inorganic = true -->

      {% set organics = false %}
      {% set inorganics = false %}

      {% for manureapp in data.allManureApplications_v2 %}
        {% if manureapp.fieldref == data.fieldref %}
          {% set organics = true %}
        {% endif %}
      {% endfor %}

      {% for fertapp in data.allFertiliserApplications %}
        {% if fertapp.fieldref == data.fieldref %}
          {% set inorganics = true %}
        {% endif %}
      {% endfor %}

      {% set appears_in_other_groups = false %}
      {% set second_crop_reference = null %}
      {% set second_group_variety = null %}
      {% set second_group_reference = null %}
      {% set second_group_name = null %}

      {% for group in data.cropGroupsV5 %}
        {% if group.reference != data.chosen_group.reference %}
          {% for field in group.fields %}
            {% if field.reference == data.chosen_field.reference %}
              {% set appears_in_other_groups = true %}
              {% set second_group_reference = group.reference %}
              {% set second_group_name = group.groupname %}
              {% set second_group_variety = group.variety %}
              {% set second_crop_reference = group.crop_reference %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <!-- recs -->
      {% include "./recommendations.html" ignore missing %}
      
      <!-- manures -->
      {% include "./manures.html" ignore missing %}

      <!-- crops -->
      {% include "./crops.html" ignore missing %}


    </div>

  </div>

</div>


{% endblock %}