{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nutrient Application Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/templates/signed-in.html" ignore missing %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Oaktree Lane Farm",
      href: "../hub"
    },
    {
      text: "Plans and records",
      href: "../plans_records"
    },
    {
      text: "Harvest year " + data.oaktree_farm.planning_year,
      href: "planview_reset_handler"
    },
    {
      text: data.chosen_field.name
    }
  ]
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.show_success_message == true %}
      {% include "./templates/success_message.html.html" ignore missing %}
    {% endif %}

    <h1 class="govuk-heading-l">{{data.chosen_field.name}} plan for harvest year {{data.oaktree_farm.planning_year}}</h1>

    <h2 class="govuk-heading-s">Contents</h2>
    <p class="govuk-body"><span class="dash"> — </span><a href="index">View nutrient recommendations and guidance for {{data.chosen_field.name}}</a></p>
    <p class="govuk-body"><span class="dash"> — </span>Manage organic and inorganic material applications for {{data.chosen_field.name}}</p>
    <p class="govuk-body margin-bottom-forty"><span class="dash"> — </span><a href="crops">Manage crop details for {{data.chosen_field.name}}</a></p>
    <hr class="margin-bottom-forty">
  
  </div>

    <div class="govuk-grid-column-full">
      <div class="status-header margin-bottom-forty">
        <h2 class="govuk-heading-m">Organic and inorganic material applications for {{data.chosen_field.name}}</h2>
      </div>  
    </div>
  
    <!-- manures -->
    <div class="govuk-grid-column-full margin-bottom-forty">
      <h2 class="govuk-heading-s">{{data.content.organic_term}} applications</h2>
      {% if data.plan_2023.multipleManureApplications == false and data.plan_2023.multipleManureApplications == false %}
        <p class="govuk-body">You have no {{data.content.organic_term | lower}} applications planned for this field.</p>
        <p class="govuk-body"><a href="">Add {{data.content.organic_term | lower}} applications for {{data.chosen_field.name}}</a></p>
      {% else %}
        <p class="govuk-body"><a href="">Add another {{data.content.organic_term | lower}} application for {{data.chosen_field.name}}</a></p>
        {% include "./templates/applications.html" ignore missing %}
      {% endif %}
    </div>
  
    <!-- fertiliser -->
    <div class="govuk-grid-column-full margin-bottom-forty">
      <h2 class="govuk-heading-s">{{data.content.non_organic_term}} applications</h2>
      {% if data.multi_fertiliser == false and data.single_fertiliser == false %}
        <p class="govuk-body">You have no {{data.content.non_organic_term | lower}} applications planned for this field.</p>
        <p class="govuk-body"><a href="">Add {{data.content.non_organic_term | lower}} applications for {{data.chosen_field.name}}</a></p>
      {% else %}
        <p class="govuk-body"><a href="">Add another {{data.content.non_organic_term | lower}} application for {{data.chosen_field.name}}</a></p>
        {% include "./templates/fertiliser_applications.html" ignore missing %}
      {% endif %}
    </div>
  
</div>


{% endblock %}