<div class="govuk-tabs__panel" id="recs">
  <h2 class="govuk-heading-m non-standard">Nutrient recommendations</h2>
  <p class="govuk-body">These recommendations are for {{data.chosen_field.name}} in {{data.oaktree_farm.planning_year}}. Amounts are per hectare.</p>
  <hr class="seperator_five">

  <h2 class="govuk-heading-m">{{data.chosen_crop | nameconverter}} nutrient recommendations</h2>
  {% if data.chosen_crop == 'Grass' or data.chosen_crop == 'grass' %}
    <p class="govuk-body-s">These recommendations are for {{data.chosen_field.name}}, harvest year {{data.oaktree_farm.planning_year}}</p>
    {% include "./templates/v4_grass_empty.html" ignore missing %}
  {% else %}
    {% if data.plan_2024.multipleFertilisersApplied == true or data.plan_2024.singleFertilisersApplied == true %}
      {% include "./templates/v4_nutrients_one_fertiliser.html" ignore missing %}
    {% elif data.plan_2024.multipleManuresApplied == true or data.plan_2024.singleManuresApplied == true %}
      {% include "./templates/v4_nutrients_one_organic.html" ignore missing %}
    {% else %}
      {% include "./templates/v4_nutrients_empty.html" ignore missing %}
    {% endif %}
  {% endif %}

  {% if data.chosen_crop != 'Grass' and data.chosen_crop != 'grass' %}
    <h2 class="govuk-heading-s">Guidance</h2>
    <div class="guidance">
      <p class="govuk-body">
        Apply no more than 100 kg N/ha at sowing or transplanting then apply
        N according to crop growth, e.g. up to 60 kg N/ha per month in the south-west and 20 kg N/ha in the north. 
        Where seedbed SNS exceeds 4 and crops are likely to be harvested in April or later, top-dress N at the start of spring growth allowing for any over-winter losses of N.
      </p>
    </div>
  {% endif %}

  {% if data.plan_2024.forageCrop == true %}
    <hr class="seperator_five">

    <h2 class="govuk-heading-m">Beetroot nutrient recommendations</h2>
    {% if data.chosen_crop == 'Grass' or data.chosen_crop == 'grass' %}
      <p class="govuk-body-s">These recommendations are for {{data.chosen_field.name}}, harvest year {{data.oaktree_farm.planning_year}}</p>
      {% include "./templates/v4_grass_empty.html" ignore missing %}
    {% else %}
      {% if data.plan_2024.multipleFertilisersApplied == true or data.plan_2024.singleFertilisersApplied == true %}
        {% include "./templates/v4_nutrients_one_fertiliser.html" ignore missing %}
      {% elif data.plan_2024.multipleManuresApplied == true or data.plan_2024.singleManuresApplied == true %}
        {% include "./templates/v4_nutrients_one_organic.html" ignore missing %}
      {% else %}
        {% include "./templates/v4_nutrients_empty.html" ignore missing %}
      {% endif %}
    {% endif %}

    {% if data.chosen_crop != 'Grass' and data.chosen_crop != 'grass' %}
      <h2 class="govuk-heading-s">Guidance</h2>
      <div class="guidance">
        <p class="govuk-body">
          Apply no more than 100 kg N/ha at sowing or transplanting then apply
          N according to crop growth, e.g. up to 60 kg N/ha per month in the south-west and 20 kg N/ha in the north. 
          Where seedbed SNS exceeds 4 and crops are likely to be harvested in April or later, top-dress N at the start of spring growth allowing for any over-winter losses of N.
        </p>
      </div>
    {% endif %}  
  {% endif %}

</div>