<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Manure type</th>
        <th scope="col" class="govuk-table__header">January</th>
        <th scope="col" class="govuk-table__header">February</th>
        <th scope="col" class="govuk-table__header">March</th>
        <th scope="col" class="govuk-table__header">Total</th>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Total poultry and layer manure</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <th scope="row" class="govuk-table__header">0</th>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Total poultry litter</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <th scope="row" class="govuk-table__header">0</th>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Total pig slurry</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <th scope="row" class="govuk-table__header">0</th>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Total Cattle or other livestock slurry</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <th scope="row" class="govuk-table__header">0</th>
    </tr>
    </tbody>
</table>    

