{% macro monthitem(name, year) %}
  <h3 class="govuk-heading-s margin-top-thirty">{{name}} {{year}}</h3>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">Number</dt>
      <dd class="govuk-summary-list__value">
        100 
        {% if data.chosen_livestock.shortname == 'pig' or data.chosen_livestock.shortname == 'poultry'  %}
          places
        {% else %}
          {{data.chosen_livestock.shortname}} 
        {% endif %}
      </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">Time housed
    </dt>
      <dd class="govuk-summary-list__value">
          80%
      </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">Main manure system in {{name}}
    </dt>
      <dd class="govuk-summary-list__value">
          Mainly slurry
      </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">How much of this livestock's manure is collected as slurry?
    </dt>
      <dd class="govuk-summary-list__value">
          80%
      </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">How much of this slurry goes through mechanical separation
    </dt>
      <dd class="govuk-summary-list__value">
          0%
      </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>
{% endmacro %}


<dl class="govuk-summary-list margin-bottom-forty">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What type of livestock would you like to add?</dt>
    <dd class="govuk-summary-list__value">{{data.livestock_group | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What type of {{data.livestock_group }} would you like to add?</dt>
    <dd class="govuk-summary-list__value">{{data.chosen_livestock.name | capitalize}}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Question 1</span></a></dd>
  </div>

        {{ monthitem ("October", data.oaktree_farm.planning_year) }}
        {{ monthitem ("November", data.oaktree_farm.planning_year) }}
        {{ monthitem ("December", data.oaktree_farm.planning_year) }}
        {{ monthitem ("January", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("February", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("March", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("April", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("May", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("June", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("July", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("August", data.oaktree_farm.planning_year + 1) }}
        {{ monthitem ("September", data.oaktree_farm.planning_year + 1) }}

</dl>
