{{ govukSummaryList({
rows: [
{
  key: {
    text: "Do you plan to spread organic material on Small Field?"
  },
  value: {
    text: "Yes"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: ""
      }
    ]
  }
},
{
  key: {
    text: "Will you apply organic manure after the graze?"
  },
  value: {
    text: "Yes"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: ""
      }
    ]
  }
},
{
  key: {
    text: "Will you apply organic manure after the silage cut?"
  },
  value: {
    text: "No"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: ""
      }
    ]
  }
},
{
  key: {
    text: "When do you plan to spread organic material on Small Field?"
  },
  value: {
    text: "1 May 2024"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: ""
      }
    ]
  }
},
{
  key: {
    text: "What type of organic material do you plan to spread in this application?"
  },
  value: {
    text: "Cattle farmyard manure (FYM)"
  },
  actions: {
    items: [
      {
        href: "",
        text: "Change",
        visuallyHiddenText: ""
      }
    ]
  }
}
]
}) }}