{{ govukSummaryList({
rows: [
{
    key: {
      text: "Will you use Small Field  for arable crops or grass?"
    },
    value: {
      text: "Grass"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 1"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "What is the current sward in Small Field?"
    },
    value: {
      text: "Autumn sown"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: "Question 2"
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "How was Small Field used last year?"
    },
    value: {
      text: "Arable crops"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "How long has Small Field been used for arable crops?"
    },
    value: {
      text: "More than one year"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
  ,
  {
    key: {
      text: "Was the previous crop Cereal, Sugar Beet or Linseed?"
    },
    value: {
      text: "Yes"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "How will you manage the grass in Small Field?"
    },
    value: {
      text: "Silage and grazing"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "How many defoliations will you have in Small Field?"
    },
    value: {
      text: "2"
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "Defoliations for " + data.chosenfield.name
    },
    value: {
      text: "First defoliation:	 Grazing
      \nSecond defoliation:	 Silage." | striptags(true) | escape | nl2br
    },
    actions: {
      items: [
        {
          href: "",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
]
}) }}