{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Nutrient application plan 2023 to 2024
      </span>
      <h1 class="govuk-heading-l">
        Which {{data.organic_term}} do you plan to use?
      </h1>

      <form class="form" action="check_five" method="post">

        <div class="govuk-form-group">
          <h3 class="govuk-heading-s">Select from your most {{data.organic_term | lower}} types</h3>
          <fieldset class="govuk-fieldset">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id=cfym name="manure_type" type="radio" value=cfym>
            <label class="govuk-label govuk-radios__label" for=cfym>
              Cattle farmyard manure (FYM)
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="treatment_cake" name="manure_type" type="radio" value="treatment_cake">
            <label class="govuk-label govuk-radios__label" for="treatment_cake">
              Water treatment cake
            </label>
          </div>

          </fieldset> 
          <br>
          <h3 class="govuk-heading-s">or</h3>
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="other" name="manure_type" type="radio" value="other">
              <label class="govuk-label govuk-radios__label" for="other">
                Select another {{data.organic_term | lower }}
              </label>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Next"
        }) }}

      </form>

    </div>
    
  </div>

  <p class="govuk-body">
    <a href="fields.html">Cancel</a>
  </p>

{% endblock %}










