<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Has {{data.temp_field_name}} been used for grass in any of the last 3 years?
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>
  
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    What was the crop type in 2024?
  </dt>
  <dd class="govuk-summary-list__value">
    Winter Wheat
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
  </dd>
</div>
