 <!-- Name -->
 <h2 class="govuk-heading-m">{{cropOne | cropNameConverter }}</h2>

 <!--show variety -->
 <!-- {% if data.crop_group_2024.firstCropVariety != null %}
   <p class="govuk-body">Variety: {{data.crop_group_2024.firstCropVariety}}</p>
 {% endif %} -->

 <p class="govuk-body"><a href="">Edit the {{cropOne | cropNameConverter }} plan for these fields</a></p>

 <table class="govuk-table margin-bottom-forty big_crop_table_version_two">
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
       <th scope="col" class="govuk-table__header">Field name</th>
       {% if data.plan_2024.secondCropReference != null %}
        <th scope="col" class="govuk-table__header">Second crop</th>
       {% endif %}
       <th scope="col" class="govuk-table__header">Organic applications</th>
       <th scope="col" class="govuk-table__header">Inorganic applications</th>
       <th scope="col" class="govuk-table__header">&nbsp;</th>
     </tr>
     </thead>
     <tbody class="govuk-table__body">
     {% for field in data.plan_2024.firstFields %}
       <tr class="govuk-table__row">    
         <td class="govuk-table__cell">{{field.name}}</td>
         {% if data.plan_2024.secondCropReference != null %}
          <td class="govuk-table__cell">{{field.secondcrop}}</td>
        {% endif %}
         <td class="govuk-table__cell">{{field.mManureApps | convert_zero}}</td>
         <td class="govuk-table__cell">{{field.mFertApps | convert_zero}}</td>
         <td class="govuk-table__cell">
           <a href="version_3_field_plan_handler?chosenfield={{field.reference}}">View field plan</a>
         </td>
       </tr>
     {% endfor %}
     </tbody>
 </table>