<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      {% if data.show_manure_notification == true %}
        {{data.content.organic_term}} applications added to all fields in this plan
      {% else %}
        {% if data.show_fertiliser_notification == true %}
          {{data.content.non_organic_term}} applications added to all fields in this plan
        {% else %}
          Plan created
        {% endif %}
      {% endif %}
    </h3>
  </div>
</div>
